In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
df = pd.read_csv("/Users/vs/Desktop/Project_3/global_competitiveness_index_data.csv")
df.head()

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017,2017-2018,2018
0,AGO,Angola,495,GDP (PPP) as % of world total,Value,NaN,NaN,NaN,0.153000,0.145000,NaN,0.154000,NaN,NaN,NaN,NaN,NaN,NaN
1,AGO,Angola,496,GDP (PPP) as % of world total,Rank,NaN,NaN,NaN,62.000000,63.000000,NaN,63.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,AGO,Angola,507,Imports as a percentage of GDP,Value,NaN,NaN,NaN,40.900000,54.127067,NaN,40.920500,38.903010,NaN,NaN,NaN,NaN,NaN
3,AGO,Angola,508,Imports as a percentage of GDP,Rank,NaN,NaN,NaN,66.000000,49.000000,NaN,87.000000,92.000000,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,509,"Domestic market size index, 1-7 (best)",Value,NaN,NaN,NaN,3.428947,3.582865,NaN,3.490087,3.502455,NaN,NaN,NaN,NaN,NaN

In [8]:
df = pd.read_csv("/Users/vs/Desktop/Project_3/EGOV_DATA_2018.csv")
df.head()

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2018,Iraq,155,0.3376,0.3371,0.3194,0.5094,0.1840
1,2018,Ireland,22,0.8287,0.9326,0.8264,0.9626,0.6970
2,2018,Israel,31,0.7998,0.8315,0.8264,0.8635,0.7095
3,2018,Italy,24,0.8209,0.9551,0.9514,0.8341,0.6771
4,2018,Jamaica,118,0.4697,0.3146,0.3194,0.6957,0.3941
5,2018,Japan,10,0.8783,0.9831,0.9514,0.8428,0.8406
6,2018,Jordan,98,0.5575,0.4831,0.4931,0.7387,0.4406
7,2018,Kazakhstan,39,0.7597,0.8371,0.8681,0.8388,0.5723
8,2018,Kenya,122,0.4541,0.5337,0.6250,0.5472,0.1901
9,2018,Kiribati,153,0.3450,0.2528,0.2986,0.6591,0.0773
10,2018,Kuwait,41,0.7388,0.6910,0.7917,0.6852,0.7394
11,2018,Kyrgyzstan,91,0.5835,0.6854,0.6458,0.7628,0.3418
12,2018,Lao People's Democratic Republic,162,0.3056,0.1742,0.1667,0.5254,0.2246
13,2018,Latvia,57,0.6996,0.6854,0.6667,0.8132,0.6188
14,2018,Lebanon,99,0.5530,0.4438,0.4722,0.6649,0.5219
15,2018,Lesotho,167,0.2968,0.0787,0.1111,0.5324,0.2468
16,2018,Liberia,173,0.2737,0.4270,0.3403,0.3772,0.1036
17,2018,Libya,140,0.3833,0.1236,0.0972,0.7173,0.3353
18,2018,Liechtenstein,25,0.8204,0.7472,0.7986,0.8237,0.8389
19,2018,Lithuania,40,0.7534,0.8034,0.7986,0.8323,0.6293
20,2018,Luxembourg,18,0.8334,0.9382,0.9236,0.7803,0.7964
21,2018,Madagascar,170,0.2792,0.3258,0.3056,0.4822,0.0499
22,2018,Malawi,175,0.2708,0.2022,0.2569,0.4720,0.0834
23,2018,Malaysia,48,0.7174,0.8876,0.8889,0.6987,0.5647
24,2018,Maldives,97,0.5615,0.4101,0.4931,0.6754,0.5159
25,2018,Mali,178,0.2424,0.2416,0.2639,0.2558,0.2074
26,2018,Malta,30,0.8011,0.8483,0.8403,0.7973,0.7657
27,2018,Marshall Islands,149,0.3543,0.1742,0.2292,0.7301,0.1037
28,2018,Mauritania,183,0.2314,0.1798,0.1597,0.3467,0.1878
29,2018,Afghanistan,177,0.2585,0.3202,0.3056,0.3562,0.1138
...,...,...,...,...,...,...,...,...
163,2018,Tonga,109,0.5237,0.4663,0.4722,0.8039,0.2951
164,2018,Trinidad and Tobago,78,0.6440,0.5787,0.6389,0.7195,0.5735
165,2018,Tunisia,80,0.6254,0.7978,0.8056,0.6640,0.4066
166,2018,Turkey,53,0.7112,0.8596,0.8889,0.8148,0.4298
167,2018,Turkmenistan,147,0.3652,0.1124,0.1319,0.6626,0.3011
168,2018,Tuvalu,144,0.3779,0.2191,0.2222,0.6422,0.2693
169,2018,Uganda,135,0.4055,0.6236,0.5694,0.4906,0.1566
170,2018,Ukraine,82,0.6165,0.6854,0.5694,0.8436,0.4364
171,2018,United Arab Emirates,21,0.8295,0.9438,0.9444,0.6877,0.8564
172,2018,United Kingdom of Great Britain and Northern I...,4,0.8999,0.9831,0.9792,0.9200,0.8004
173,2018,United Republic of Tanzania,139,0.3929,0.6180,0.5625,0.4759,0.1403
174,2018,United States of America,11,0.8769,0.9831,0.9861,0.8883,0.7564
175,2018,Uruguay,34,0.7858,0.9157,0.8889,0.7719,0.6967
176,2018,Yemen,186,0.2154,0.1180,0.0972,0.4037,0.1454
177,2018,Zambia,133,0.4111,0.3989,0.4792,0.5689,0.1853
178,2018,Zimbabwe,146,0.3692,0.2753,0.3264,0.5668,0.2144
179,2018,South Sudan,191,0.1214,0.0899,0.1111,0.2269,0.0262
180,2018,Rwanda,120,0.4590,0.7584,0.7222,0.4815,0.1733
181,2018,Saint Kitts and Nevis,71,0.6554,0.5843,0.5347,0.7491,0.6825
182,2018,Saint Lucia,119,0.4660,0.2191,0.2847,0.7022,0.4110
183,2018,Saint Vincent and the Grenadines,104,0.5306,0.5169,0.4514,0.6820,0.4583
184,2018,Samoa,128,0.4236,0.2640,0.3403,0.7241,0.2064
185,2018,San Marino,76,0.6471,0.2584,0.4236,0.8102,0.7075
186,2018,Sao Tome and Principe,154,0.3424,0.1573,0.1389,0.5830,0.3053
187,2018,Saudi Arabia,52,0.7119,0.7135,0.7917,0.8101,0.5339
188,2018,Senegal,150,0.3486,0.5056,0.4792,0.3427,0.2240
189,2018,Serbia,49,0.7155,0.8146,0.7361,0.7896,0.6208
190,2018,Seychelles,83,0.6163,0.6461,0.6181,0.7299,0.5008
191,2018,Singapore,7,0.8812,0.9663,0.9861,0.8557,0.8019
192,2018,Slovakia,49,0.7155,0.8090,0.7361,0.8141,0.5964

In [9]:
df.describe()

,Survey Year,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
count,193.0,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,2018.0,96.989637,0.549064,0.565438,0.569084,0.662653,0.415459
std,0.0,55.857425,0.212612,0.281593,0.268866,0.191503,0.237953
min,2018.0,1.000000,0.056600,0.000000,0.000000,0.000000,0.000000
25%,2018.0,49.000000,0.375300,0.320200,0.326400,0.539700,0.200900
50%,2018.0,97.000000,0.561500,0.606700,0.611100,0.702200,0.394100
75%,2018.0,145.000000,0.715500,0.814600,0.791700,0.810200,0.606600
max,2018.0,193.000000,0.915000,1.000000,1.000000,1.000000,1.000000