In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Resources/certified_denied.csv')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,NaN,25,A-14246-03533,2015-06-22,Certified,2014-12-19,185,0.506849,"CITRIX SYSTEMS, INC.",FORT LAUDERDALE,...,1973-03-30 00:00:00,CHINA,CHINA,H-1B,Master's,NaN,2015,6,2014.0,12.0
1,NaN,28,A-14198-89806,2015-04-06,Certified,2014-07-18,262,0.717808,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,...,75063,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2014.0,7.0
2,NaN,35,A-14222-96825,2015-06-24,Certified,2014-12-11,195,0.534247,SAT SOLUTIONS LLC,MONROE,...,75001,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,6,2014.0,12.0
3,NaN,61,A-13216-85505,2015-05-29,Certified,2013-08-05,662,1.813699,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,210001,CHINA,CHINA,NaN,Associate's,NaN,2015,5,2013.0,8.0
4,NaN,63,A-13179-76467,2015-04-20,Certified,2013-06-28,661,1.810959,FARROKH ERFAN,GAITHERSBURG,...,NaN,IRAN,IRAN,NaN,Bachelor's,NaN,2015,4,2013.0,6.0

In [4]:
data2 = data.loc[data['COUNTRY_OF_CITIZENSHIP'] == 'SWEDEN']

In [5]:
data2['COUNTRY_OF_CITIZENSHIP'].value_counts()

SWEDEN    278
Name: COUNTRY_OF_CITIZENSHIP, dtype: int64

In [6]:
data3 = data2.loc[data2['WAGE_OFFER_UNIT_OF_PAY_9089'] == 'Year']

In [7]:
data3['WAGE_OFFER_UNIT_OF_PAY_9089'].value_counts()

Year    274
Name: WAGE_OFFER_UNIT_OF_PAY_9089, dtype: int64

In [8]:
data3.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'CASE_NUMBER', 'DECISION_DATE',
       'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_ELAPSED_DAYS',
       'DECISION_ELAPSED_YEARS', 'EMPLOYER_NAME', 'EMPLOYER_CITY',
       'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_NUM_EMPLOYEES',
       'AGENT_FIRM_NAME', 'AGENT_CITY', 'AGENT_STATE', 'PW_SOC_CODE',
       'PW_SOC_TITLE', 'PW_AMOUNT_9089', 'WAGE_OFFER_FROM_9089',
       'WAGE_OFFER_UNIT_OF_PAY_9089', 'JOB_INFO_WORK_CITY',
       'JOB_INFO_WORK_STATE', 'JOB_INFO_WORK_POSTAL_CODE',
       'JOB_INFO_JOB_TITLE', 'JOB_INFO_EDUCATION', 'JOB_INFO_EDUCATION_OTHER',
       'FOREIGN_WORKER_INFO_CITY', 'FOREIGN_WORKER_INFO_STATE',
       'FW_INFO_POSTAL_CODE', 'COUNTRY_OF_CITIZENSHIP',
       'FW_INFO_BIRTH_COUNTRY', 'CLASS_OF_ADMISSION',
       'FOREIGN_WORKER_INFO_EDUCATION', 'FW_INFO_EDUCATION_OTHER',
       'DECISION_DATE_YEAR', 'DECISION_DATE_MONTH', 'CASE_RECEIVED_DATE_YEAR',
       'CASE_RECEIVED_DATE_MONTH'],
      dtype='object')

In [9]:
data4 = data3[[
    'CASE_STATUS',
    'DECISION_ELAPSED_DAYS',
    'EMPLOYER_POSTAL_CODE',
    'EMPLOYER_STATE',
    'EMPLOYER_NUM_EMPLOYEES',
    'WAGE_OFFER_FROM_9089',
    'COUNTRY_OF_CITIZENSHIP',
    'CLASS_OF_ADMISSION',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CASE_RECEIVED_DATE_MONTH'
]]

In [10]:
data4.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH
1227,Certified,219,91201,CALIFORNIA,1600.0,95943.67,SWEDEN,H-1B,Master's,9.0
1272,Certified,198,30188,GEORGIA,12.0,54700.00,SWEDEN,H-1B,Bachelor's,2.0
2876,Certified,166,94404,CALIFORNIA,225.0,140039.00,SWEDEN,H-1B,None,11.0
2998,Certified,507,92675,CALIFORNIA,140.0,172000.00,SWEDEN,H-1B,High School,3.0
3219,Certified,447,98052,WASHINGTON,58000.0,133604.00,SWEDEN,L-1,None,6.0

In [11]:
states = []

for row in data4['EMPLOYER_STATE']:
    if row == "ME":
        states.append("MAINE")
    elif row == "NH":
        states.append("NEW HAMPSHIRE")
    elif row == "VT":
        states.append("VERMONT")
    elif row == "MA":
        states.append("MASSACHUSETTS")
    elif row == "RI":
        states.append("RHODE ISLAND")
    elif row == "CT":
        states.append("CONNECTICUT")
    elif row == "NY":
        states.append("NEW YORK")
    elif row == "NJ":
        states.append("NEW JERSEY")
    elif row == "PA":
        states.append("PENNSYLVANIA")
    elif row == "DE":
        states.append("DELAWARE")
    elif row == "MD":
        states.append("MARYLAND")
    elif row == "DC":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VA":
        states.append("VIRGINIA")
    elif row == "WV":
        states.append("WEST VIRGINIA")
    elif row == "NC":
        states.append("NORTH CAROLINA")
    elif row == "SC":
        states.append("SOUTH CAROLINA")
    elif row == "GA":
        states.append("GEORGIA")
    elif row == "FL":
        states.append("FLORIDA")
    elif row == "AL":
        states.append("ALABAMA")
    elif row == "TN":
        states.append("TENNESSEE")
    elif row == "TENNESSE":
        states.append("TENNESSEE")
    elif row == "KY":
        states.append("KENTUCKY")
    elif row == "OH":
        states.append("OHIO")
    elif row == "MI":
        states.append("MICHIGAN")
    elif row == "IN":
        states.append("INDIANA")
    elif row == "MS":
        states.append("MISSISSIPPI")
    elif row == "IL":
        states.append("ILLINOIS")
    elif row == "WI":
        states.append("WISCONSIN")
    elif row == "MN":
        states.append("MINNESOTA")
    elif row == "IA":
        states.append("IOWA")
    elif row == "MO":
        states.append("MISSOURI")
    elif row == "AR":
        states.append("ARKANSAS")
    elif row == "LA":
        states.append("LOUISIANA")
    elif row == "ND":
        states.append("NORTH DAKOTA")
    elif row == "SD":
        states.append("SOUTH DAKOTA")
    elif row == "NE":
        states.append("NEBRASKA")
    elif row == "KS":
        states.append("KANSAS")
    elif row == "OK":
        states.append("OKLAHOMA")
    elif row == "TX":
        states.append("TEXAS")
    elif row == "MT":
        states.append("MONTANA")
    elif row == "WY":
        states.append("WYOMING")
    elif row == "CO":
        states.append("COLORADO")
    elif row == "NM":
        states.append("NEW MEXICO")
    elif row == "ID":
        states.append("IDAHO")
    elif row == "UT":
        states.append("UTAH")
    elif row == "AZ":
        states.append("ARIZONA")
    elif row == "WA":
        states.append("WASHINGTON")
    elif row == "OR":
        states.append("OREGON")
    elif row == "NV":
        states.append("NEVADA")
    elif row == "CA":
        states.append("CALIFORNIA")
    elif row == "AK":
        states.append("ALASKA")
    elif row == "HI":
        states.append("HAWAII")
    elif row == "PR":
        states.append("PUERTO RICO")
    elif row == "MP":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VI":
        states.append("VIRGIN ISLANDS")
    elif row == "GU":
        states.append("GUAM")
    elif row == "NEW HAMPSHIRE":
        states.append("NEW HAMPSHIRE")
    elif row == "VERMONT":
        states.append("VERMONT")
    elif row == "MASSACHUSETTS":
        states.append("MASSACHUSETTS")
    elif row == "RHODE ISLAND":
        states.append("RHODE ISLAND")
    elif row == "CONNECTICUT":
        states.append("CONNECTICUT")
    elif row == "NEW YORK":
        states.append("NEW YORK")
    elif row == "NEW JERSEY":
        states.append("NEW JERSEY")
    elif row == "PENNSYLVANIA":
        states.append("PENNSYLVANIA")
    elif row == "DELAWARE":
        states.append("DELAWARE")
    elif row == "MARYLAND":
        states.append("MARYLAND")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VIRGINIA":
        states.append("VIRGINIA")
    elif row == "WEST VIRGINIA":
        states.append("WEST VIRGINIA")
    elif row == "NORTH CAROLINA":
        states.append("NORTH CAROLINA")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH CAROLINA")
    elif row == "GEORGIA":
        states.append("GEORGIA")
    elif row == "FLORIDA":
        states.append("FLORIDA")
    elif row == "ALABAMA":
        states.append("ALABAMA")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "KENTUCKY":
        states.append("KENTUCKY")
    elif row == "OHIO":
        states.append("OHIO")
    elif row == "MICHIGAN":
        states.append("MICHIGAN")
    elif row == "INDIANA":
        states.append("INDIANA")
    elif row == "MISSISSIPPI":
        states.append("MISSISSIPPI")
    elif row == "ILLINOIS":
        states.append("ILLINOIS")
    elif row == "WISCONSIN":
        states.append("WISCONSIN")
    elif row == "MINNESOTA":
        states.append("MINNESOTA")
    elif row == "IOWA":
        states.append("IOWA")
    elif row == "MISSOURI":
        states.append("MISSOURI")
    elif row == "ARKANSAS":
        states.append("ARKANSAS")
    elif row == "LOUISIANA":
        states.append("LOUISIANA")
    elif row == "NORTH DAKOTA":
        states.append("NORTH DAKOTA")
    elif row == "SOUTH DAKOTA":
        states.append("SOUTH DAKOTA")
    elif row == "NEBRASKA":
        states.append("NEBRASKA")
    elif row == "KANSAS":
        states.append("KANSAS")
    elif row == "OKLAHOMA":
        states.append("OKLAHOMA")
    elif row == "TEXAS":
        states.append("TEXAS")
    elif row == "MONTANA":
        states.append("MONTANA")
    elif row == "WYOMING":
        states.append("WYOMING")
    elif row == "COLORADO":
        states.append("COLORADO")
    elif row == "NEW MEXICO":
        states.append("NEW MEXICO")
    elif row == "IDAHO":
        states.append("IDAHO")
    elif row == "UTAH":
        states.append("UTAH")
    elif row == "ARIZONA":
        states.append("ARIZONA")
    elif row == "WASHINGTON":
        states.append("WASHINGTON")
    elif row == "OREGON":
        states.append("OREGON")
    elif row == "NEVADA":
        states.append("NEVADA")
    elif row == "CALIFORNIA":
        states.append("CALIFORNIA")
    elif row == "ALASKA":
        states.append("ALASKA")
    elif row == "HAWAII":
        states.append("HAWAII")
    elif row == "PUERTO RICO":
        states.append("PUERTO RICO")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VIRGIN ISLANDS":
        states.append("VIRGIN ISLANDS")
    elif row == "GUAM":
        states.append("GUAM")
    else:
        states.append("UNKNOWN")
        
data4['EMPLOYER_STATES'] = states

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:229: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
data4['EMPLOYER_STATES'].value_counts()

CALIFORNIA              112
NEW YORK                 40
WASHINGTON               19
FLORIDA                  12
NEW JERSEY               11
MASSACHUSETTS            11
NORTH CAROLINA           11
TEXAS                    11
ILLINOIS                  7
CONNECTICUT               7
GEORGIA                   6
MICHIGAN                  4
PENNSYLVANIA              3
MINNESOTA                 2
WISCONSIN                 2
NEVADA                    2
UTAH                      2
RHODE ISLAND              1
MISSOURI                  1
ARIZONA                   1
OREGON                    1
ARKANSAS                  1
COLORADO                  1
MARYLAND                  1
KENTUCKY                  1
INDIANA                   1
TENNESSEE                 1
OHIO                      1
DISTRICT OF COLUMBIA      1
Name: EMPLOYER_STATES, dtype: int64

In [13]:
data5 = data4.dropna(how='any')

In [14]:
data5.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH,EMPLOYER_STATES
1227,Certified,219,91201,CALIFORNIA,1600.0,95943.67,SWEDEN,H-1B,Master's,9.0,CALIFORNIA
1272,Certified,198,30188,GEORGIA,12.0,54700.00,SWEDEN,H-1B,Bachelor's,2.0,GEORGIA
2876,Certified,166,94404,CALIFORNIA,225.0,140039.00,SWEDEN,H-1B,None,11.0,CALIFORNIA
2998,Certified,507,92675,CALIFORNIA,140.0,172000.00,SWEDEN,H-1B,High School,3.0,CALIFORNIA
3219,Certified,447,98052,WASHINGTON,58000.0,133604.00,SWEDEN,L-1,None,6.0,WASHINGTON

In [15]:
states = []

for row in data5['EMPLOYER_STATES']:
    if row == "MAINE":
        states.append("NORTHEAST")
    elif row == "NEW HAMPSHIRE":
        states.append("NORTHEAST")
    elif row == "VERMONT":
        states.append("NORTHEAST")
    elif row == "MASSACHUSETTS":
        states.append("NORTHEAST")
    elif row == "RHODE ISLAND":
        states.append("NORTHEAST")
    elif row == "CONNECTICUT":
        states.append("NORTHEAST")
    elif row == "NEW YORK":
        states.append("NORTHEAST")
    elif row == "NEW JERSEY":
        states.append("NORTHEAST")
    elif row == "PENNSYLVANIA":
        states.append("NORTHEAST")
    elif row == "DELAWARE":
        states.append("SOUTH")
    elif row == "MARYLAND":
        states.append("SOUTH")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("SOUTH")
    elif row == "VIRGINIA":
        states.append("SOUTH")
    elif row == "WEST VIRGINIA":
        states.append("SOUTH")
    elif row == "NORTH CAROLINA":
        states.append("SOUTH")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH")
    elif row == "GEORGIA":
        states.append("SOUTH")
    elif row == "FLORIDA":
        states.append("SOUTH")
    elif row == "ALABAMA":
        states.append("SOUTH")
    elif row == "TENNESSE":
        states.append("SOUTH")
    elif row == "KENTUCKY":
        states.append("SOUTH")
    elif row == "OHIO":
        states.append("MIDWEST")
    elif row == "MICHIGAN":
        states.append("MIDWEST")
    elif row == "INDIANA":
        states.append("MIDWEST")
    elif row == "MISSISSIPPI":
        states.append("SOUTH")
    elif row == "ILLINOIS":
        states.append("MIDWEST")
    elif row == "WISCONSIN":
        states.append("MIDWEST")
    elif row == "MINNESOTA":
        states.append("MIDWEST")
    elif row == "IOWA":
        states.append("MIDWEST")
    elif row == "MISSOURI":
        states.append("MIDWEST")
    elif row == "ARKANSAS":
        states.append("SOUTH")
    elif row == "LOUISIANA":
        states.append("SOUTH")
    elif row == "NORTH DAKOTA":
        states.append("MIDWEST")
    elif row == "SOUTH DAKOTA":
        states.append("MIDWEST")
    elif row == "NEBRASKA":
        states.append("MIDWEST")
    elif row == "KANSAS":
        states.append("MIDWEST")
    elif row == "OKLAHOMA":
        states.append("SOUTH")
    elif row == "TEXAS":
        states.append("SOUTH")
    elif row == "MONTANA":
        states.append("WEST")
    elif row == "WYOMING":
        states.append("WEST")
    elif row == "COLORADO":
        states.append("WEST")
    elif row == "NEW MEXICO":
        states.append("WEST")
    elif row == "IDAHO":
        states.append("WEST")
    elif row == "UTAH":
        states.append("WEST")
    elif row == "ARIZONA":
        states.append("WEST")
    elif row == "WASHINGTON":
        states.append("WEST")
    elif row == "OREGON":
        states.append("WEST")
    elif row == "NEVADA":
        states.append("WEST")
    elif row == "CALIFORNIA":
        states.append("WEST")
    elif row == "ALASKA":
        states.append("WEST")
    elif row == "HAWAII":
        states.append("WEST")
    elif row == "PUERTO RICO":
        states.append("OTHER")
    elif row == "TENNESSEE":
        states.append("SOUTH")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("OTHER")
    elif row == "VIRGIN ISLANDS":
        states.append("OTHER")
    elif row == "GUAM":
        states.append("OTHER")
    else:
        states.append("UNKNOWN")
        
data5['EMPLOYER_REGIONS'] = states

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
data5['EMPLOYER_REGIONS'].value_counts()

WEST         131
NORTHEAST     72
SOUTH         41
MIDWEST       16
Name: EMPLOYER_REGIONS, dtype: int64

In [17]:
data5.count()

CASE_STATUS                      260
DECISION_ELAPSED_DAYS            260
EMPLOYER_POSTAL_CODE             260
EMPLOYER_STATE                   260
EMPLOYER_NUM_EMPLOYEES           260
WAGE_OFFER_FROM_9089             260
COUNTRY_OF_CITIZENSHIP           260
CLASS_OF_ADMISSION               260
FOREIGN_WORKER_INFO_EDUCATION    260
CASE_RECEIVED_DATE_MONTH         260
EMPLOYER_STATES                  260
EMPLOYER_REGIONS                 260
dtype: int64

In [18]:
data5['DAY_BINS'] = pd.cut(x=data5['DECISION_ELAPSED_DAYS'], 
                             bins=[0, 90, 180, 365, 3600],
                           labels=['0-90', '91-180', '181-365', '366-3600'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
data5['DAY_BINS'].value_counts()

91-180      107
0-90         85
181-365      46
366-3600     21
Name: DAY_BINS, dtype: int64

In [20]:
data5['WAGE_BINS'] = pd.cut(x=data5['WAGE_OFFER_FROM_9089'], 
                             bins=[0, 25000, 50000, 75000, 100000, 500000],
                           labels=['0-25000', '25001-50000', '50001-75000', '75001-100000', '100000-500000'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
data5['WAGE_BINS'].value_counts()

100000-500000    187
75001-100000      39
50001-75000       21
25001-50000       13
0-25000            0
Name: WAGE_BINS, dtype: int64

In [22]:
data5['EMPLOYEE_BINS'] = pd.cut(x=data5['EMPLOYER_NUM_EMPLOYEES'], 
                             bins=[0, 50, 100, 500, 1000, 10000, 1000000000],
                           labels=['0-50', '51-100', '101-500', '501-1000', '1001-10000', '10001-1000000000'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
data5['EMPLOYEE_BINS'].value_counts()

10001-1000000000    92
1001-10000          52
0-50                50
101-500             29
51-100              19
501-1000            18
Name: EMPLOYEE_BINS, dtype: int64

In [24]:
data5.count()

CASE_STATUS                      260
DECISION_ELAPSED_DAYS            260
EMPLOYER_POSTAL_CODE             260
EMPLOYER_STATE                   260
EMPLOYER_NUM_EMPLOYEES           260
WAGE_OFFER_FROM_9089             260
COUNTRY_OF_CITIZENSHIP           260
CLASS_OF_ADMISSION               260
FOREIGN_WORKER_INFO_EDUCATION    260
CASE_RECEIVED_DATE_MONTH         260
EMPLOYER_STATES                  260
EMPLOYER_REGIONS                 260
DAY_BINS                         259
WAGE_BINS                        260
EMPLOYEE_BINS                    260
dtype: int64

In [25]:
data6 = data5[[
    'CASE_STATUS',
    'EMPLOYEE_BINS',
    'WAGE_BINS',
    'EMPLOYER_REGIONS',
    'CASE_RECEIVED_DATE_MONTH',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CLASS_OF_ADMISSION',
    'DAY_BINS'
]]

In [26]:
data6.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS
1227,Certified,1001-10000,75001-100000,WEST,9.0,Master's,H-1B,181-365
1272,Certified,0-50,50001-75000,SOUTH,2.0,Bachelor's,H-1B,181-365
2876,Certified,101-500,100000-500000,WEST,11.0,None,H-1B,91-180
2998,Certified,101-500,100000-500000,WEST,3.0,High School,H-1B,366-3600
3219,Certified,10001-1000000000,100000-500000,WEST,6.0,None,L-1,366-3600

In [27]:
data6.dtypes

CASE_STATUS                        object
EMPLOYEE_BINS                    category
WAGE_BINS                        category
EMPLOYER_REGIONS                   object
CASE_RECEIVED_DATE_MONTH          float64
FOREIGN_WORKER_INFO_EDUCATION      object
CLASS_OF_ADMISSION                 object
DAY_BINS                         category
dtype: object

In [28]:
from sklearn.preprocessing import LabelEncoder
num_encode = LabelEncoder()

In [29]:
data6['CLASS_OF_ADMISSION_CODE'] = num_encode.fit_transform(data6['CLASS_OF_ADMISSION'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
data6['FOREIGN_WORKER_INFO_EDUCATION_CODE'] = num_encode.fit_transform(data6['FOREIGN_WORKER_INFO_EDUCATION'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
data6['WAGE_BINS'] = data6['WAGE_BINS'].astype(str)

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
data6['WAGE_BINS_CODE'] = num_encode.fit_transform(data6['WAGE_BINS'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
data6['EMPLOYER_REGIONS_CODE'] = num_encode.fit_transform(data6['EMPLOYER_REGIONS'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
data6['DAY_BINS'] = data6['DAY_BINS'].astype(str)

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
data6['DAY_BINS_CODE'] = num_encode.fit_transform(data6['DAY_BINS'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
data6['EMPLOYEE_BINS'] = data6['EMPLOYEE_BINS'].astype(str)

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
data6['EMPLOYEE_BINS_CODE'] = num_encode.fit_transform(data6['EMPLOYEE_BINS'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
data6.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS,CLASS_OF_ADMISSION_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,WAGE_BINS_CODE,EMPLOYER_REGIONS_CODE,DAY_BINS_CODE,EMPLOYEE_BINS_CODE
1227,Certified,1001-10000,75001-100000,WEST,9.0,Master's,H-1B,181-365,3,4,3,3,1,2
1272,Certified,0-50,50001-75000,SOUTH,2.0,Bachelor's,H-1B,181-365,3,1,2,2,1,0
2876,Certified,101-500,100000-500000,WEST,11.0,None,H-1B,91-180,3,5,0,3,3,3
2998,Certified,101-500,100000-500000,WEST,3.0,High School,H-1B,366-3600,3,3,0,3,2,3
3219,Certified,10001-1000000000,100000-500000,WEST,6.0,None,L-1,366-3600,5,5,0,3,2,1

In [39]:
# data7.to_excel('../Resources/ML2_Philippenes.xlsx', index = False)

In [40]:
data6.count()

CASE_STATUS                           260
EMPLOYEE_BINS                         260
WAGE_BINS                             260
EMPLOYER_REGIONS                      260
CASE_RECEIVED_DATE_MONTH              260
FOREIGN_WORKER_INFO_EDUCATION         260
CLASS_OF_ADMISSION                    260
DAY_BINS                              260
CLASS_OF_ADMISSION_CODE               260
FOREIGN_WORKER_INFO_EDUCATION_CODE    260
WAGE_BINS_CODE                        260
EMPLOYER_REGIONS_CODE                 260
DAY_BINS_CODE                         260
EMPLOYEE_BINS_CODE                    260
dtype: int64

In [41]:
data7 = data6[[
    'CASE_STATUS',
    'EMPLOYEE_BINS_CODE',
    'WAGE_BINS_CODE',
    'DAY_BINS_CODE',
    'FOREIGN_WORKER_INFO_EDUCATION_CODE',
    'CLASS_OF_ADMISSION_CODE',
    'CASE_RECEIVED_DATE_MONTH',
    'EMPLOYER_REGIONS_CODE'
]]

In [42]:
data7.head()

,CASE_STATUS,EMPLOYEE_BINS_CODE,WAGE_BINS_CODE,DAY_BINS_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,CLASS_OF_ADMISSION_CODE,CASE_RECEIVED_DATE_MONTH,EMPLOYER_REGIONS_CODE
1227,Certified,2,3,1,4,3,9.0,3
1272,Certified,0,2,1,1,3,2.0,2
2876,Certified,3,0,3,5,3,11.0,3
2998,Certified,3,0,2,3,3,3.0,3
3219,Certified,1,0,2,5,5,6.0,3

In [43]:
data7.dtypes

CASE_STATUS                            object
EMPLOYEE_BINS_CODE                      int32
WAGE_BINS_CODE                          int32
DAY_BINS_CODE                           int32
FOREIGN_WORKER_INFO_EDUCATION_CODE      int32
CLASS_OF_ADMISSION_CODE                 int32
CASE_RECEIVED_DATE_MONTH              float64
EMPLOYER_REGIONS_CODE                   int32
dtype: object

In [44]:
X = data7.drop("CASE_STATUS", axis=1)
y = data7["CASE_STATUS"]
print(X.shape, y.shape)

(260, 7) (260,)

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [46]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42, stratify=y)

In [47]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int32, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [48]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [49]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [50]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [51]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=7))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

WARNING:tensorflow:From C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [52]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [53]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=500,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/500
 - 1s - loss: 0.6303 - acc: 0.7385
Epoch 2/500
 - 0s - loss: 0.4390 - acc: 0.9282
Epoch 3/500
 - 0s - loss: 0.3296 - acc: 0.9282
Epoch 4/500
 - 0s - loss: 0.2737 - acc: 0.9282
Epoch 5/500
 - 0s - loss: 0.2592 - acc: 0.9282
Epoch 6/500
 - 0s - loss: 0.2539 - acc: 0.9282
Epoch 7/500
 - 0s - loss: 0.2518 - acc: 0.9282
Epoch 8/500
 - 0s - loss: 0.2486 - acc: 0.9282
Epoch 9/500
 - 0s - loss: 0.2450 - acc: 0.9282
Epoch 10/500
 - 0s - loss: 0.2427 - acc: 0.9282
Epoch 11/500
 - 0s - loss: 0.2396 - acc: 0.9282
Epoch 12/500
 - 0s - loss: 0.2372 - acc: 0.9282
Epoch 13/500
 - 0s - loss: 0.2347 - acc: 0.9282
Epoch 14/500
 - 0s - loss: 0.2310 - acc: 0.9282
Epoch 15/500
 - 0s - loss: 0.2287 - acc: 0.9282
Epoch 16/500
 - 0s - loss: 0.2251 - acc: 0.9282
Epoch 17/500
 - 0s - loss: 0.2235 - acc: 0.9282
Epoch 18/500
 - 0s - loss: 0.2209 - acc: 0.9282
Epoch 19/500
 - 0s - loss: 0.2181 - acc: 0.9282
Epoch 20/500
 - 0s - loss: 0.2168 - acc: 0.9282
Epoch 21/500
 - 0s - loss: 0.2153 - acc: 0.9282
Epoch 22/500
 - 0s - loss: 0.2132 - acc: 0.9282
Epoch 23/500
 - 0s - loss: 0.2107 - acc: 0.9282
Epoch 24/500
 - 0s - loss: 0.2078 - acc: 0.9282
Epoch 25/500
 - 0s - loss: 0.2042 - acc: 0.9282
Epoch 26/500
 - 0s - loss: 0.2045 - acc: 0.9282
Epoch 27/500
 - 0s - loss: 0.2007 - acc: 0.9282
Epoch 28/500
 - 0s - loss: 0.1986 - acc: 0.9282
Epoch 29/500
 - 0s - loss: 0.1972 - acc: 0.9282
Epoch 30/500
 - 0s - loss: 0.1949 - acc: 0.9282
Epoch 31/500
 - 0s - loss: 0.1922 - acc: 0.9282
Epoch 32/500
 - 0s - loss: 0.1903 - acc: 0.9282
Epoch 33/500
 - 0s - loss: 0.1915 - acc: 0.9282
Epoch 34/500
 - 0s - loss: 0.1874 - acc: 0.9282
Epoch 35/500
 - 0s - loss: 0.1856 - acc: 0.9282
Epoch 36/500
 - 0s - loss: 0.1840 - acc: 0.9282
Epoch 37/500
 - 0s - loss: 0.1841 - acc: 0.9282
Epoch 38/500
 - 0s - loss: 0.1861 - acc: 0.9282
Epoch 39/500
 - 0s - loss: 0.1821 - acc: 0.9282
Epoch 40/500
 - 0s - loss: 0.1803 - acc: 0.9282
Epoch 41/500
 - 0s - loss: 0.1803 - acc: 0.9282
Epoch 42/500
 - 0s - loss: 0.1753 - acc: 0.9282
Epoch 43/500
 - 0s - loss: 0.1780 - acc: 0.9282
Epoch 44/500
 - 0s - loss: 0.1745 - acc: 0.9282
Epoch 45/500
 - 0s - loss: 0.1756 - acc: 0.9282
Epoch 46/500
 - 0s - loss: 0.1744 - acc: 0.9282
Epoch 47/500
 - 0s - loss: 0.1707 - acc: 0.9282
Epoch 48/500
 - 0s - loss: 0.1694 - acc: 0.9282
Epoch 49/500
 - 0s - loss: 0.1728 - acc: 0.9282
Epoch 50/500
 - 0s - loss: 0.1723 - acc: 0.9282
Epoch 51/500
 - 0s - loss: 0.1670 - acc: 0.9282
Epoch 52/500
 - 0s - loss: 0.1654 - acc: 0.9282
Epoch 53/500
 - 0s - loss: 0.1652 - acc: 0.9282
Epoch 54/500
 - 0s - loss: 0.1632 - acc: 0.9282
Epoch 55/500
 - 0s - loss: 0.1612 - acc: 0.9282
Epoch 56/500
 - 0s - loss: 0.1595 - acc: 0.9282
Epoch 57/500
 - 0s - loss: 0.1600 - acc: 0.9282
Epoch 58/500
 - 0s - loss: 0.1594 - acc: 0.9282
Epoch 59/500
 - 0s - loss: 0.1597 - acc: 0.9333
Epoch 60/500
 - 0s - loss: 0.1552 - acc: 0.9333
Epoch 61/500
 - 0s - loss: 0.1568 - acc: 0.9282
Epoch 62/500
 - 0s - loss: 0.1565 - acc: 0.9282
Epoch 63/500
 - 0s - loss: 0.1523 - acc: 0.9333
Epoch 64/500
 - 0s - loss: 0.1503 - acc: 0.9333
Epoch 65/500
 - 0s - loss: 0.1505 - acc: 0.9333
Epoch 66/500
 - 0s - loss: 0.1476 - acc: 0.9333
Epoch 67/500
 - 0s - loss: 0.1469 - acc: 0.9333
Epoch 68/500
 - 0s - loss: 0.1456 - acc: 0.9333
Epoch 69/500
 - 0s - loss: 0.1417 - acc: 0.9385
Epoch 70/500
 - 0s - loss: 0.1582 - acc: 0.9385
Epoch 71/500
 - 0s - loss: 0.1453 - acc: 0.9385
Epoch 72/500
 - 0s - loss: 0.1448 - acc: 0.9333
Epoch 73/500
 - 0s - loss: 0.1441 - acc: 0.9333
Epoch 74/500
 - 0s - loss: 0.1420 - acc: 0.9436
Epoch 75/500
 - 0s - loss: 0.1369 - acc: 0.9487
Epoch 76/500
 - 0s - loss: 0.1347 - acc: 0.9385
Epoch 77/500
 - 0s - loss: 0.1379 - acc: 0.9333
Epoch 78/500
 - 0s - loss: 0.1342 - acc: 0.9436
Epoch 79/500
 - 0s - loss: 0.1308 - acc: 0.9487
Epoch 80/500
 - 0s - loss: 0.1283 - acc: 0.9487
Epoch 81/500
 - 0s - loss: 0.1270 - acc: 0.9487
Epoch 82/500
 - 0s - loss: 0.1287 - acc: 0.9538
Epoch 83/500
 - 0s - loss: 0.1297 - acc: 0.9487
Epoch 84/500
 - 0s - loss: 0.1231 - acc: 0.9487
Epoch 85/500
 - 0s - loss: 0.1208 - acc: 0.9487
Epoch 86/500
 - 0s - loss: 0.1198 - acc: 0.9487
Epoch 87/500
 - 0s - loss: 0.1201 - acc: 0.9487
Epoch 88/500
 - 0s - loss: 0.1178 - acc: 0.9538
Epoch 89/500
 - 0s - loss: 0.1154 - acc: 0.9487
Epoch 90/500
 - 0s - loss: 0.1176 - acc: 0.9487
Epoch 91/500
 - 0s - loss: 0.1133 - acc: 0.9538
Epoch 92/500
 - 0s - loss: 0.1124 - acc: 0.9538
Epoch 93/500
 - 0s - loss: 0.1106 - acc: 0.9538
Epoch 94/500
 - 0s - loss: 0.1081 - acc: 0.9590
Epoch 95/500
 - 0s - loss: 0.1057 - acc: 0.9641
Epoch 96/500
 - 0s - loss: 0.1034 - acc: 0.9641
Epoch 97/500
 - 0s - loss: 0.1013 - acc: 0.9641
Epoch 98/500
 - 0s - loss: 0.1001 - acc: 0.9641
Epoch 99/500
 - 0s - loss: 0.1009 - acc: 0.9641
Epoch 100/500
 - 0s - loss: 0.1005 - acc: 0.9641
Epoch 101/500
 - 0s - loss: 0.0961 - acc: 0.9590
Epoch 102/500
 - 0s - loss: 0.0971 - acc: 0.9641
Epoch 103/500
 - 0s - loss: 0.0946 - acc: 0.9641
Epoch 104/500
 - 0s - loss: 0.0923 - acc: 0.9590
Epoch 105/500
 - 0s - loss: 0.0895 - acc: 0.9590
Epoch 106/500
 - 0s - loss: 0.0895 - acc: 0.9641
Epoch 107/500
 - 0s - loss: 0.0926 - acc: 0.9641
Epoch 108/500
 - 0s - loss: 0.1046 - acc: 0.9641
Epoch 109/500
 - 0s - loss: 0.1044 - acc: 0.9590
Epoch 110/500
 - 0s - loss: 0.0900 - acc: 0.9641
Epoch 111/500
 - 0s - loss: 0.0914 - acc: 0.9641
Epoch 112/500
 - 0s - loss: 0.0862 - acc: 0.9692
Epoch 113/500
 - 0s - loss: 0.0818 - acc: 0.9641
Epoch 114/500
 - 0s - loss: 0.0808 - acc: 0.9641
Epoch 115/500
 - 0s - loss: 0.0779 - acc: 0.9641
Epoch 116/500
 - 0s - loss: 0.0805 - acc: 0.9641
Epoch 117/500
 - 0s - loss: 0.0764 - acc: 0.9590
Epoch 118/500
 - 0s - loss: 0.0756 - acc: 0.9744
Epoch 119/500
 - 0s - loss: 0.0806 - acc: 0.9744
Epoch 120/500
 - 0s - loss: 0.0760 - acc: 0.9744
Epoch 121/500
 - 0s - loss: 0.0730 - acc: 0.9744
Epoch 122/500
 - 0s - loss: 0.0729 - acc: 0.9744
Epoch 123/500
 - 0s - loss: 0.0695 - acc: 0.9795
Epoch 124/500
 - 0s - loss: 0.0710 - acc: 0.9692
Epoch 125/500
 - 0s - loss: 0.0680 - acc: 0.9795
Epoch 126/500
 - 0s - loss: 0.0663 - acc: 0.9795
Epoch 127/500
 - 0s - loss: 0.0644 - acc: 0.9795
Epoch 128/500
 - 0s - loss: 0.0665 - acc: 0.9744
Epoch 129/500
 - 0s - loss: 0.0643 - acc: 0.9846
Epoch 130/500
 - 0s - loss: 0.0630 - acc: 0.9795
Epoch 131/500
 - 0s - loss: 0.0621 - acc: 0.9846
Epoch 132/500
 - 0s - loss: 0.0774 - acc: 0.9795
Epoch 133/500
 - 0s - loss: 0.0725 - acc: 0.9641
Epoch 134/500
 - 0s - loss: 0.0827 - acc: 0.9487
Epoch 135/500
 - 0s - loss: 0.0711 - acc: 0.9641
Epoch 136/500
 - 0s - loss: 0.0605 - acc: 0.9846
Epoch 137/500
 - 0s - loss: 0.0605 - acc: 0.9846
Epoch 138/500
 - 0s - loss: 0.0586 - acc: 0.9846
Epoch 139/500
 - 0s - loss: 0.0553 - acc: 0.9897
Epoch 140/500
 - 0s - loss: 0.0601 - acc: 0.9795
Epoch 141/500
 - 0s - loss: 0.0627 - acc: 0.9795
Epoch 142/500
 - 0s - loss: 0.0564 - acc: 0.9846
Epoch 143/500
 - 0s - loss: 0.0561 - acc: 0.9744
Epoch 144/500
 - 0s - loss: 0.0525 - acc: 0.9846
Epoch 145/500
 - 0s - loss: 0.0521 - acc: 0.9846
Epoch 146/500
 - 0s - loss: 0.0506 - acc: 0.9846
Epoch 147/500
 - 0s - loss: 0.0494 - acc: 0.9846
Epoch 148/500
 - 0s - loss: 0.0486 - acc: 0.9846
Epoch 149/500
 - 0s - loss: 0.0488 - acc: 0.9897
Epoch 150/500
 - 0s - loss: 0.0526 - acc: 0.9846
Epoch 151/500
 - 0s - loss: 0.0532 - acc: 0.9795
Epoch 152/500
 - 0s - loss: 0.0511 - acc: 0.9846
Epoch 153/500
 - 0s - loss: 0.0473 - acc: 0.9846
Epoch 154/500
 - 0s - loss: 0.0472 - acc: 0.9846
Epoch 155/500
 - 0s - loss: 0.0526 - acc: 0.9846
Epoch 156/500
 - 0s - loss: 0.0472 - acc: 0.9846
Epoch 157/500
 - 0s - loss: 0.0450 - acc: 0.9846
Epoch 158/500
 - 0s - loss: 0.0463 - acc: 0.9846
Epoch 159/500
 - 0s - loss: 0.0452 - acc: 0.9795
Epoch 160/500
 - 0s - loss: 0.0482 - acc: 0.9846
Epoch 161/500
 - 0s - loss: 0.0521 - acc: 0.9795
Epoch 162/500
 - 0s - loss: 0.0471 - acc: 0.9795
Epoch 163/500
 - 0s - loss: 0.0435 - acc: 0.9846
Epoch 164/500
 - 0s - loss: 0.0433 - acc: 0.9846

Epoch 165/500
 - 0s - loss: 0.0409 - acc: 0.9897
Epoch 166/500
 - 0s - loss: 0.0419 - acc: 0.9897
Epoch 167/500
 - 0s - loss: 0.0426 - acc: 0.9846
Epoch 168/500
 - 0s - loss: 0.0400 - acc: 0.9846
Epoch 169/500
 - 0s - loss: 0.0384 - acc: 0.9846
Epoch 170/500
 - 0s - loss: 0.0388 - acc: 0.9897
Epoch 171/500
 - 0s - loss: 0.0377 - acc: 0.9846
Epoch 172/500
 - 0s - loss: 0.0376 - acc: 0.9897
Epoch 173/500
 - 0s - loss: 0.0375 - acc: 0.9846
Epoch 174/500
 - 0s - loss: 0.0430 - acc: 0.9846
Epoch 175/500
 - 0s - loss: 0.0567 - acc: 0.9795
Epoch 176/500
 - 0s - loss: 0.0455 - acc: 0.9897
Epoch 177/500
 - 0s - loss: 0.0414 - acc: 0.9846
Epoch 178/500
 - 0s - loss: 0.0392 - acc: 0.9897
Epoch 179/500
 - 0s - loss: 0.0387 - acc: 0.9846
Epoch 180/500
 - 0s - loss: 0.0364 - acc: 0.9897
Epoch 181/500
 - 0s - loss: 0.0353 - acc: 0.9897
Epoch 182/500
 - 0s - loss: 0.0355 - acc: 0.9846
Epoch 183/500
 - 0s - loss: 0.0341 - acc: 0.9897
Epoch 184/500
 - 0s - loss: 0.0462 - acc: 0.9846
Epoch 185/500
 - 0s - loss: 0.0435 - acc: 0.9846
Epoch 186/500
 - 0s - loss: 0.0505 - acc: 0.9897
Epoch 187/500
 - 0s - loss: 0.0612 - acc: 0.9795
Epoch 188/500
 - 0s - loss: 0.0512 - acc: 0.9744
Epoch 189/500
 - 0s - loss: 0.0418 - acc: 0.9795
Epoch 190/500
 - 0s - loss: 0.0510 - acc: 0.9795
Epoch 191/500
 - 0s - loss: 0.0500 - acc: 0.9846
Epoch 192/500
 - 0s - loss: 0.0693 - acc: 0.9744
Epoch 193/500
 - 0s - loss: 0.0565 - acc: 0.9795
Epoch 194/500
 - 0s - loss: 0.0419 - acc: 0.9795
Epoch 195/500
 - 0s - loss: 0.0391 - acc: 0.9897
Epoch 196/500
 - 0s - loss: 0.0351 - acc: 0.9949
Epoch 197/500
 - 0s - loss: 0.0347 - acc: 0.9846
Epoch 198/500
 - 0s - loss: 0.0320 - acc: 0.9897
Epoch 199/500
 - 0s - loss: 0.0313 - acc: 0.9949
Epoch 200/500
 - 0s - loss: 0.0307 - acc: 0.9949
Epoch 201/500
 - 0s - loss: 0.0299 - acc: 0.9949
Epoch 202/500
 - 0s - loss: 0.0294 - acc: 0.9846
Epoch 203/500
 - 0s - loss: 0.0334 - acc: 0.9846
Epoch 204/500
 - 0s - loss: 0.0293 - acc: 0.9897
Epoch 205/500
 - 0s - loss: 0.0281 - acc: 0.9897
Epoch 206/500
 - 0s - loss: 0.0279 - acc: 0.9949
Epoch 207/500
 - 0s - loss: 0.0272 - acc: 0.9949
Epoch 208/500
 - 0s - loss: 0.0269 - acc: 0.9897
Epoch 209/500
 - 0s - loss: 0.0265 - acc: 0.9897
Epoch 210/500
 - 0s - loss: 0.0261 - acc: 0.9949
Epoch 211/500
 - 0s - loss: 0.0258 - acc: 0.9949
Epoch 212/500
 - 0s - loss: 0.0285 - acc: 0.9897
Epoch 213/500
 - 0s - loss: 0.0275 - acc: 0.9897
Epoch 214/500
 - 0s - loss: 0.0259 - acc: 0.9897
Epoch 215/500
 - 0s - loss: 0.0253 - acc: 0.9897
Epoch 216/500
 - 0s - loss: 0.0255 - acc: 0.9897
Epoch 217/500
 - 0s - loss: 0.0241 - acc: 0.9949
Epoch 218/500
 - 0s - loss: 0.0241 - acc: 0.9897
Epoch 219/500
 - 0s - loss: 0.0240 - acc: 0.9897
Epoch 220/500
 - 0s - loss: 0.0235 - acc: 0.9897
Epoch 221/500
 - 0s - loss: 0.0232 - acc: 0.9949
Epoch 222/500
 - 0s - loss: 0.0244 - acc: 0.9897
Epoch 223/500
 - 0s - loss: 0.0251 - acc: 0.9897
Epoch 224/500
 - 0s - loss: 0.0232 - acc: 0.9949
Epoch 225/500
 - 0s - loss: 0.0228 - acc: 0.9949
Epoch 226/500
 - 0s - loss: 0.0223 - acc: 0.9949
Epoch 227/500
 - 0s - loss: 0.0219 - acc: 0.9949
Epoch 228/500
 - 0s - loss: 0.0224 - acc: 0.9949
Epoch 229/500
 - 0s - loss: 0.0216 - acc: 0.9949
Epoch 230/500
 - 0s - loss: 0.0210 - acc: 0.9949
Epoch 231/500
 - 0s - loss: 0.0213 - acc: 1.0000
Epoch 232/500
 - 0s - loss: 0.0297 - acc: 0.9846
Epoch 233/500
 - 0s - loss: 0.0373 - acc: 0.9846
Epoch 234/500
 - 0s - loss: 0.0285 - acc: 0.9897
Epoch 235/500
 - 0s - loss: 0.0259 - acc: 0.9897
Epoch 236/500
 - 0s - loss: 0.0269 - acc: 1.0000
Epoch 237/500
 - 0s - loss: 0.0226 - acc: 0.9949
Epoch 238/500
 - 0s - loss: 0.0218 - acc: 0.9949
Epoch 239/500
 - 0s - loss: 0.0207 - acc: 0.9949
Epoch 240/500
 - 0s - loss: 0.0208 - acc: 0.9949
Epoch 241/500
 - 0s - loss: 0.0194 - acc: 0.9949
Epoch 242/500
 - 0s - loss: 0.0189 - acc: 1.0000
Epoch 243/500
 - 0s - loss: 0.0185 - acc: 1.0000
Epoch 244/500
 - 0s - loss: 0.0183 - acc: 1.0000
Epoch 245/500
 - 0s - loss: 0.0181 - acc: 1.0000
Epoch 246/500
 - 0s - loss: 0.0175 - acc: 1.0000
Epoch 247/500
 - 0s - loss: 0.0187 - acc: 0.9949
Epoch 248/500
 - 0s - loss: 0.0178 - acc: 0.9949
Epoch 249/500
 - 0s - loss: 0.0177 - acc: 1.0000
Epoch 250/500
 - 0s - loss: 0.0171 - acc: 1.0000
Epoch 251/500
 - 0s - loss: 0.0171 - acc: 1.0000
Epoch 252/500
 - 0s - loss: 0.0166 - acc: 1.0000
Epoch 253/500
 - 0s - loss: 0.0162 - acc: 1.0000
Epoch 254/500
 - 0s - loss: 0.0162 - acc: 1.0000
Epoch 255/500
 - 0s - loss: 0.0161 - acc: 1.0000
Epoch 256/500
 - 0s - loss: 0.0159 - acc: 1.0000
Epoch 257/500
 - 0s - loss: 0.0157 - acc: 1.0000
Epoch 258/500
 - 0s - loss: 0.0154 - acc: 1.0000
Epoch 259/500
 - 0s - loss: 0.0153 - acc: 1.0000
Epoch 260/500
 - 0s - loss: 0.0151 - acc: 1.0000
Epoch 261/500
 - 0s - loss: 0.0156 - acc: 1.0000
Epoch 262/500
 - 0s - loss: 0.0147 - acc: 1.0000
Epoch 263/500
 - 0s - loss: 0.0144 - acc: 1.0000
Epoch 264/500
 - 0s - loss: 0.0142 - acc: 1.0000
Epoch 265/500
 - 0s - loss: 0.0142 - acc: 1.0000
Epoch 266/500
 - 0s - loss: 0.0142 - acc: 1.0000
Epoch 267/500
 - 0s - loss: 0.0139 - acc: 1.0000
Epoch 268/500
 - 0s - loss: 0.0140 - acc: 1.0000
Epoch 269/500
 - 0s - loss: 0.0155 - acc: 1.0000
Epoch 270/500
 - 0s - loss: 0.0147 - acc: 1.0000
Epoch 271/500
 - 0s - loss: 0.0133 - acc: 1.0000
Epoch 272/500
 - 0s - loss: 0.0128 - acc: 1.0000
Epoch 273/500
 - 0s - loss: 0.0129 - acc: 1.0000
Epoch 274/500
 - 0s - loss: 0.0126 - acc: 1.0000
Epoch 275/500
 - 0s - loss: 0.0143 - acc: 1.0000
Epoch 276/500
 - 0s - loss: 0.0135 - acc: 1.0000
Epoch 277/500
 - 0s - loss: 0.0122 - acc: 1.0000
Epoch 278/500
 - 0s - loss: 0.0131 - acc: 1.0000
Epoch 279/500
 - 0s - loss: 0.0192 - acc: 0.9949
Epoch 280/500
 - 0s - loss: 0.0165 - acc: 0.9949
Epoch 281/500
 - 0s - loss: 0.0135 - acc: 0.9949
Epoch 282/500
 - 0s - loss: 0.0128 - acc: 1.0000
Epoch 283/500
 - 0s - loss: 0.0119 - acc: 1.0000
Epoch 284/500
 - 0s - loss: 0.0113 - acc: 1.0000
Epoch 285/500
 - 0s - loss: 0.0109 - acc: 1.0000
Epoch 286/500
 - 0s - loss: 0.0106 - acc: 1.0000
Epoch 287/500
 - 0s - loss: 0.0104 - acc: 1.0000
Epoch 288/500
 - 0s - loss: 0.0105 - acc: 1.0000
Epoch 289/500
 - 0s - loss: 0.0111 - acc: 1.0000
Epoch 290/500
 - 0s - loss: 0.0105 - acc: 1.0000
Epoch 291/500
 - 0s - loss: 0.0106 - acc: 1.0000
Epoch 292/500
 - 0s - loss: 0.0100 - acc: 1.0000
Epoch 293/500
 - 0s - loss: 0.0098 - acc: 1.0000
Epoch 294/500
 - 0s - loss: 0.0124 - acc: 1.0000
Epoch 295/500
 - 0s - loss: 0.0159 - acc: 1.0000
Epoch 296/500
 - 0s - loss: 0.0111 - acc: 1.0000
Epoch 297/500
 - 0s - loss: 0.0110 - acc: 1.0000
Epoch 298/500
 - 0s - loss: 0.0097 - acc: 1.0000
Epoch 299/500
 - 0s - loss: 0.0093 - acc: 1.0000
Epoch 300/500
 - 0s - loss: 0.0091 - acc: 1.0000
Epoch 301/500
 - 0s - loss: 0.0086 - acc: 1.0000
Epoch 302/500
 - 0s - loss: 0.0087 - acc: 1.0000
Epoch 303/500
 - 0s - loss: 0.0083 - acc: 1.0000
Epoch 304/500
 - 0s - loss: 0.0081 - acc: 1.0000
Epoch 305/500
 - 0s - loss: 0.0150 - acc: 0.9897
Epoch 306/500
 - 0s - loss: 0.0154 - acc: 0.9897
Epoch 307/500
 - 0s - loss: 0.0127 - acc: 1.0000
Epoch 308/500
 - 0s - loss: 0.0095 - acc: 1.0000
Epoch 309/500
 - 0s - loss: 0.0091 - acc: 1.0000
Epoch 310/500
 - 0s - loss: 0.0089 - acc: 1.0000
Epoch 311/500
 - 0s - loss: 0.0158 - acc: 0.9897
Epoch 312/500
 - 0s - loss: 0.0096 - acc: 1.0000
Epoch 313/500
 - 0s - loss: 0.0092 - acc: 1.0000
Epoch 314/500
 - 0s - loss: 0.0082 - acc: 1.0000
Epoch 315/500
 - 0s - loss: 0.0077 - acc: 1.0000
Epoch 316/500
 - 0s - loss: 0.0072 - acc: 1.0000
Epoch 317/500
 - 0s - loss: 0.0068 - acc: 1.0000
Epoch 318/500
 - 0s - loss: 0.0067 - acc: 1.0000
Epoch 319/500
 - 0s - loss: 0.0066 - acc: 1.0000
Epoch 320/500
 - 0s - loss: 0.0085 - acc: 1.0000
Epoch 321/500
 - 0s - loss: 0.0075 - acc: 1.0000
Epoch 322/500
 - 0s - loss: 0.0081 - acc: 1.0000
Epoch 323/500
 - 0s - loss: 0.0068 - acc: 1.0000
Epoch 324/500
 - 0s - loss: 0.0085 - acc: 1.0000
Epoch 325/500
 - 0s - loss: 0.0064 - acc: 1.0000
Epoch 326/500
 - 0s - loss: 0.0105 - acc: 1.0000
Epoch 327/500
 - 0s - loss: 0.0135 - acc: 0.9949
Epoch 328/500
 - 0s - loss: 0.0175 - acc: 0.9949
Epoch 329/500
 - 0s - loss: 0.0104 - acc: 1.0000
Epoch 330/500
 - 0s - loss: 0.0091 - acc: 1.0000
Epoch 331/500
 - 0s - loss: 0.0067 - acc: 1.0000
Epoch 332/500
 - 0s - loss: 0.0064 - acc: 1.0000

Epoch 333/500
 - 0s - loss: 0.0091 - acc: 1.0000
Epoch 334/500
 - 0s - loss: 0.0075 - acc: 1.0000
Epoch 335/500
 - 0s - loss: 0.0073 - acc: 1.0000
Epoch 336/500
 - 0s - loss: 0.0056 - acc: 1.0000
Epoch 337/500
 - 0s - loss: 0.0052 - acc: 1.0000
Epoch 338/500
 - 0s - loss: 0.0051 - acc: 1.0000
Epoch 339/500
 - 0s - loss: 0.0050 - acc: 1.0000
Epoch 340/500
 - 0s - loss: 0.0047 - acc: 1.0000
Epoch 341/500
 - 0s - loss: 0.0050 - acc: 1.0000
Epoch 342/500
 - 0s - loss: 0.0051 - acc: 1.0000
Epoch 343/500
 - 0s - loss: 0.0048 - acc: 1.0000
Epoch 344/500
 - 0s - loss: 0.0046 - acc: 1.0000
Epoch 345/500
 - 0s - loss: 0.0045 - acc: 1.0000
Epoch 346/500
 - 0s - loss: 0.0044 - acc: 1.0000
Epoch 347/500
 - 0s - loss: 0.0044 - acc: 1.0000
Epoch 348/500
 - 0s - loss: 0.0043 - acc: 1.0000
Epoch 349/500
 - 0s - loss: 0.0043 - acc: 1.0000
Epoch 350/500
 - 0s - loss: 0.0041 - acc: 1.0000
Epoch 351/500
 - 0s - loss: 0.0041 - acc: 1.0000
Epoch 352/500
 - 0s - loss: 0.0040 - acc: 1.0000
Epoch 353/500
 - 0s - loss: 0.0040 - acc: 1.0000
Epoch 354/500
 - 0s - loss: 0.0040 - acc: 1.0000
Epoch 355/500
 - 0s - loss: 0.0040 - acc: 1.0000
Epoch 356/500
 - 0s - loss: 0.0043 - acc: 1.0000
Epoch 357/500
 - 0s - loss: 0.0042 - acc: 1.0000
Epoch 358/500
 - 0s - loss: 0.0051 - acc: 1.0000
Epoch 359/500
 - 0s - loss: 0.0059 - acc: 1.0000
Epoch 360/500
 - 0s - loss: 0.0052 - acc: 1.0000
Epoch 361/500
 - 0s - loss: 0.0057 - acc: 1.0000
Epoch 362/500
 - 0s - loss: 0.0046 - acc: 1.0000
Epoch 363/500
 - 0s - loss: 0.0038 - acc: 1.0000
Epoch 364/500
 - 0s - loss: 0.0037 - acc: 1.0000
Epoch 365/500
 - 0s - loss: 0.0036 - acc: 1.0000
Epoch 366/500
 - 0s - loss: 0.0036 - acc: 1.0000
Epoch 367/500
 - 0s - loss: 0.0045 - acc: 1.0000
Epoch 368/500
 - 0s - loss: 0.0072 - acc: 1.0000
Epoch 369/500
 - 0s - loss: 0.0058 - acc: 1.0000
Epoch 370/500
 - 0s - loss: 0.0044 - acc: 1.0000
Epoch 371/500
 - 0s - loss: 0.0039 - acc: 1.0000
Epoch 372/500
 - 0s - loss: 0.0040 - acc: 1.0000
Epoch 373/500
 - 0s - loss: 0.0037 - acc: 1.0000
Epoch 374/500
 - 0s - loss: 0.0034 - acc: 1.0000
Epoch 375/500
 - 0s - loss: 0.0043 - acc: 1.0000
Epoch 376/500
 - 0s - loss: 0.0036 - acc: 1.0000
Epoch 377/500
 - 0s - loss: 0.0030 - acc: 1.0000
Epoch 378/500
 - 0s - loss: 0.0032 - acc: 1.0000
Epoch 379/500
 - 0s - loss: 0.0030 - acc: 1.0000
Epoch 380/500
 - 0s - loss: 0.0029 - acc: 1.0000
Epoch 381/500
 - 0s - loss: 0.0029 - acc: 1.0000
Epoch 382/500
 - 0s - loss: 0.0028 - acc: 1.0000
Epoch 383/500
 - 0s - loss: 0.0028 - acc: 1.0000
Epoch 384/500
 - 0s - loss: 0.0028 - acc: 1.0000
Epoch 385/500
 - 0s - loss: 0.0029 - acc: 1.0000
Epoch 386/500
 - 0s - loss: 0.0031 - acc: 1.0000
Epoch 387/500
 - 0s - loss: 0.0030 - acc: 1.0000
Epoch 388/500
 - 0s - loss: 0.0028 - acc: 1.0000
Epoch 389/500
 - 0s - loss: 0.0027 - acc: 1.0000
Epoch 390/500
 - 0s - loss: 0.0026 - acc: 1.0000
Epoch 391/500
 - 0s - loss: 0.0026 - acc: 1.0000
Epoch 392/500
 - 0s - loss: 0.0026 - acc: 1.0000
Epoch 393/500
 - 0s - loss: 0.0025 - acc: 1.0000
Epoch 394/500
 - 0s - loss: 0.0025 - acc: 1.0000
Epoch 395/500
 - 0s - loss: 0.0025 - acc: 1.0000
Epoch 396/500
 - 0s - loss: 0.0025 - acc: 1.0000
Epoch 397/500
 - 0s - loss: 0.0025 - acc: 1.0000
Epoch 398/500
 - 0s - loss: 0.0024 - acc: 1.0000
Epoch 399/500
 - 0s - loss: 0.0024 - acc: 1.0000
Epoch 400/500
 - 0s - loss: 0.0032 - acc: 1.0000
Epoch 401/500
 - 0s - loss: 0.0027 - acc: 1.0000
Epoch 402/500
 - 0s - loss: 0.0026 - acc: 1.0000
Epoch 403/500
 - 0s - loss: 0.0032 - acc: 1.0000
Epoch 404/500
 - 0s - loss: 0.0040 - acc: 1.0000
Epoch 405/500
 - 0s - loss: 0.0026 - acc: 1.0000
Epoch 406/500
 - 0s - loss: 0.0025 - acc: 1.0000
Epoch 407/500
 - 0s - loss: 0.0033 - acc: 1.0000
Epoch 408/500
 - 0s - loss: 0.0027 - acc: 1.0000
Epoch 409/500
 - 0s - loss: 0.0023 - acc: 1.0000
Epoch 410/500
 - 0s - loss: 0.0023 - acc: 1.0000
Epoch 411/500
 - 0s - loss: 0.0024 - acc: 1.0000
Epoch 412/500
 - 0s - loss: 0.0024 - acc: 1.0000
Epoch 413/500
 - 0s - loss: 0.0022 - acc: 1.0000
Epoch 414/500
 - 0s - loss: 0.0022 - acc: 1.0000
Epoch 415/500
 - 0s - loss: 0.0022 - acc: 1.0000
Epoch 416/500
 - 0s - loss: 0.0021 - acc: 1.0000
Epoch 417/500
 - 0s - loss: 0.0021 - acc: 1.0000
Epoch 418/500
 - 0s - loss: 0.0020 - acc: 1.0000
Epoch 419/500
 - 0s - loss: 0.0020 - acc: 1.0000
Epoch 420/500
 - 0s - loss: 0.0020 - acc: 1.0000
Epoch 421/500
 - 0s - loss: 0.0020 - acc: 1.0000
Epoch 422/500
 - 0s - loss: 0.0019 - acc: 1.0000
Epoch 423/500
 - 0s - loss: 0.0019 - acc: 1.0000
Epoch 424/500
 - 0s - loss: 0.0019 - acc: 1.0000
Epoch 425/500
 - 0s - loss: 0.0019 - acc: 1.0000
Epoch 426/500
 - 0s - loss: 0.0019 - acc: 1.0000
Epoch 427/500
 - 0s - loss: 0.0019 - acc: 1.0000
Epoch 428/500
 - 0s - loss: 0.0019 - acc: 1.0000
Epoch 429/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 430/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 431/500
 - 0s - loss: 0.0021 - acc: 1.0000
Epoch 432/500
 - 0s - loss: 0.0021 - acc: 1.0000
Epoch 433/500
 - 0s - loss: 0.0019 - acc: 1.0000
Epoch 434/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 435/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 436/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 437/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 438/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 439/500
 - 0s - loss: 0.0017 - acc: 1.0000
Epoch 440/500
 - 0s - loss: 0.0020 - acc: 1.0000
Epoch 441/500
 - 0s - loss: 0.0037 - acc: 1.0000
Epoch 442/500
 - 0s - loss: 0.0027 - acc: 1.0000
Epoch 443/500
 - 0s - loss: 0.0022 - acc: 1.0000
Epoch 444/500
 - 0s - loss: 0.0022 - acc: 1.0000
Epoch 445/500
 - 0s - loss: 0.0019 - acc: 1.0000
Epoch 446/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 447/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 448/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 449/500
 - 0s - loss: 0.0019 - acc: 1.0000
Epoch 450/500
 - 0s - loss: 0.0017 - acc: 1.0000
Epoch 451/500
 - 0s - loss: 0.0017 - acc: 1.0000
Epoch 452/500
 - 0s - loss: 0.0016 - acc: 1.0000
Epoch 453/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 454/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 455/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 456/500
 - 0s - loss: 0.0017 - acc: 1.0000
Epoch 457/500
 - 0s - loss: 0.0016 - acc: 1.0000
Epoch 458/500
 - 0s - loss: 0.0015 - acc: 1.0000
Epoch 459/500
 - 0s - loss: 0.0015 - acc: 1.0000
Epoch 460/500
 - 0s - loss: 0.0016 - acc: 1.0000
Epoch 461/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 462/500
 - 0s - loss: 0.0016 - acc: 1.0000
Epoch 463/500
 - 0s - loss: 0.0015 - acc: 1.0000
Epoch 464/500
 - 0s - loss: 0.0015 - acc: 1.0000
Epoch 465/500
 - 0s - loss: 0.0014 - acc: 1.0000
Epoch 466/500
 - 0s - loss: 0.0014 - acc: 1.0000
Epoch 467/500
 - 0s - loss: 0.0014 - acc: 1.0000
Epoch 468/500
 - 0s - loss: 0.0014 - acc: 1.0000
Epoch 469/500
 - 0s - loss: 0.0014 - acc: 1.0000
Epoch 470/500
 - 0s - loss: 0.0014 - acc: 1.0000
Epoch 471/500
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 472/500
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 473/500
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 474/500
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 475/500
 - 0s - loss: 0.0014 - acc: 1.0000
Epoch 476/500
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 477/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 478/500
 - 0s - loss: 0.0025 - acc: 1.0000
Epoch 479/500
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 480/500
 - 0s - loss: 0.0016 - acc: 1.0000
Epoch 481/500
 - 0s - loss: 0.0015 - acc: 1.0000
Epoch 482/500
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 483/500
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 484/500
 - 0s - loss: 0.0012 - acc: 1.0000
Epoch 485/500
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 486/500
 - 0s - loss: 0.0014 - acc: 1.0000
Epoch 487/500
 - 0s - loss: 0.0021 - acc: 1.0000
Epoch 488/500
 - 0s - loss: 0.0036 - acc: 1.0000
Epoch 489/500
 - 0s - loss: 0.0024 - acc: 1.0000
Epoch 490/500
 - 0s - loss: 0.0020 - acc: 1.0000
Epoch 491/500
 - 0s - loss: 0.0015 - acc: 1.0000
Epoch 492/500
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 493/500
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 494/500
 - 0s - loss: 0.0012 - acc: 1.0000
Epoch 495/500
 - 0s - loss: 0.0012 - acc: 1.0000
Epoch 496/500
 - 0s - loss: 0.0012 - acc: 1.0000
Epoch 497/500
 - 0s - loss: 0.0012 - acc: 1.0000
Epoch 498/500
 - 0s - loss: 0.0011 - acc: 1.0000
Epoch 499/500
 - 0s - loss: 0.0011 - acc: 1.0000
Epoch 500/500
 - 0s - loss: 0.0011 - acc: 1.0000

In [54]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 0.7263 - acc: 0.9385
Normal Neural Network - Loss: 0.726305121068932, Accuracy: 0.9384615421295166

In [55]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [56]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['Certified' 'Certified' 'Certified' 'Certified' 'Certified' 'Certified'
 'Certified' 'Certified' 'Certified' 'Certified']
Actual Labels: ['Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified']