In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('FY_CombinedData_Clean.xlsx')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,FY15,0,A-14220-96665,2015-02-03,Certified-Expired,2014-09-10,146,0.400000,UNION PACIFIC RAILROAD,OMAHA,...,68154,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,2,2014.0,9.0
1,NaN,1,A-14220-96720,2015-01-12,Certified-Expired,2014-08-08,157,0.430137,VST CONSULTING INC,ISELIN,...,19702,INDIA,INDIA,H-1B,Master's,NaN,2015,1,2014.0,8.0
2,NaN,2,A-14203-91167,2014-12-18,Certified-Expired,2014-07-28,143,0.391781,GOOGLE INC.,MOUNTAIN VIEW,...,94306,SOUTH KOREA,SOUTH KOREA,L-1,Master's,NaN,2014,12,2014.0,7.0
3,NaN,3,A-14206-92509,2015-03-10,Certified-Expired,2014-10-19,142,0.389041,INTEL CORPORATION,SANTA CLARA,...,95670,BANGLADESH,BANGLADESH,H-1B,Master's,NaN,2015,3,2014.0,10.0
4,NaN,4,A-14202-90786,2015-01-07,Certified-Expired,2014-08-25,135,0.369863,NET ESOLUTIONS CORPORATION,MCLEAN,...,2002-02-21 00:00:00,INDIA,INDIA,H-1B,Master's,NaN,2015,1,2014.0,8.0

In [4]:
data['CASE_STATUS'].value_counts()

Certified            214239
Certified-Expired    177790
Denied                24227
Withdrawn             16563
Name: CASE_STATUS, dtype: int64

In [5]:
data2 = data[data.CASE_STATUS != 'Certified-Expired']

In [6]:
data2.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
25,NaN,25,A-14246-03533,2015-06-22,Certified,2014-12-19,185,0.506849,"CITRIX SYSTEMS, INC.",FORT LAUDERDALE,...,1973-03-30 00:00:00,CHINA,CHINA,H-1B,Master's,NaN,2015,6,2014.0,12.0
28,NaN,28,A-14198-89806,2015-04-06,Certified,2014-07-18,262,0.717808,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,...,75063,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2014.0,7.0
35,NaN,35,A-14222-96825,2015-06-24,Certified,2014-12-11,195,0.534247,SAT SOLUTIONS LLC,MONROE,...,75001,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,6,2014.0,12.0
61,NaN,61,A-13216-85505,2015-05-29,Certified,2013-08-05,662,1.813699,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,210001,CHINA,CHINA,NaN,Associate's,NaN,2015,5,2013.0,8.0
63,NaN,63,A-13179-76467,2015-04-20,Certified,2013-06-28,661,1.810959,FARROKH ERFAN,GAITHERSBURG,...,NaN,IRAN,IRAN,NaN,Bachelor's,NaN,2015,4,2013.0,6.0

In [7]:
data2['CASE_STATUS'].value_counts()

Certified    214239
Denied        24227
Withdrawn     16563
Name: CASE_STATUS, dtype: int64

In [8]:
data3 = data2[data2.CASE_STATUS != 'Withdrawn']
data3.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
25,NaN,25,A-14246-03533,2015-06-22,Certified,2014-12-19,185,0.506849,"CITRIX SYSTEMS, INC.",FORT LAUDERDALE,...,1973-03-30 00:00:00,CHINA,CHINA,H-1B,Master's,NaN,2015,6,2014.0,12.0
28,NaN,28,A-14198-89806,2015-04-06,Certified,2014-07-18,262,0.717808,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,...,75063,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2014.0,7.0
35,NaN,35,A-14222-96825,2015-06-24,Certified,2014-12-11,195,0.534247,SAT SOLUTIONS LLC,MONROE,...,75001,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,6,2014.0,12.0
61,NaN,61,A-13216-85505,2015-05-29,Certified,2013-08-05,662,1.813699,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,210001,CHINA,CHINA,NaN,Associate's,NaN,2015,5,2013.0,8.0
63,NaN,63,A-13179-76467,2015-04-20,Certified,2013-06-28,661,1.810959,FARROKH ERFAN,GAITHERSBURG,...,NaN,IRAN,IRAN,NaN,Bachelor's,NaN,2015,4,2013.0,6.0

In [9]:
data3['CASE_STATUS'].value_counts()

Certified    214239
Denied        24227
Name: CASE_STATUS, dtype: int64

In [11]:
data3.count()

Unnamed: 0                            0
Unnamed: 1                       238466
CASE_NUMBER                      238466
DECISION_DATE                    238466
CASE_STATUS                      238466
CASE_RECEIVED_DATE               238466
DECISION_ELAPSED_DAYS            238466
DECISION_ELAPSED_YEARS           238466
EMPLOYER_NAME                    238461
EMPLOYER_CITY                    238458
EMPLOYER_STATE                   238432
EMPLOYER_POSTAL_CODE             238449
EMPLOYER_NUM_EMPLOYEES           238332
AGENT_FIRM_NAME                  209345
AGENT_CITY                       214166
AGENT_STATE                      209032
PW_SOC_CODE                      237971
PW_SOC_TITLE                     237971
PW_AMOUNT_9089                   238262
WAGE_OFFER_FROM_9089             238346
WAGE_OFFER_UNIT_OF_PAY_9089      237539
JOB_INFO_WORK_CITY               238386
JOB_INFO_WORK_STATE              238384
JOB_INFO_WORK_POSTAL_CODE        238350
JOB_INFO_JOB_TITLE               238375
JOB_INFO_EDUCATION               238448
JOB_INFO_EDUCATION_OTHER           7082
FOREIGN_WORKER_INFO_CITY         238119
FOREIGN_WORKER_INFO_STATE        218873
FW_INFO_POSTAL_CODE              235238
COUNTRY_OF_CITIZENSHIP           238407
FW_INFO_BIRTH_COUNTRY            238122
CLASS_OF_ADMISSION               220452
FOREIGN_WORKER_INFO_EDUCATION    238107
FW_INFO_EDUCATION_OTHER            9604
DECISION_DATE_YEAR               238466
DECISION_DATE_MONTH              238466
CASE_RECEIVED_DATE_YEAR          238466
CASE_RECEIVED_DATE_MONTH         238466
dtype: int64

In [13]:
data3.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1)

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
25,A-14246-03533,2015-06-22,Certified,2014-12-19,185,0.506849,"CITRIX SYSTEMS, INC.",FORT LAUDERDALE,FLORIDA,33309,...,1973-03-30 00:00:00,CHINA,CHINA,H-1B,Master's,NaN,2015,6,2014.0,12.0
28,A-14198-89806,2015-04-06,Certified,2014-07-18,262,0.717808,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,TEXAS,77845,...,75063,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2014.0,7.0
35,A-14222-96825,2015-06-24,Certified,2014-12-11,195,0.534247,SAT SOLUTIONS LLC,MONROE,NEW JERSEY,08831,...,75001,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,6,2014.0,12.0
61,A-13216-85505,2015-05-29,Certified,2013-08-05,662,1.813699,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,ALABAMA,36108,...,210001,CHINA,CHINA,NaN,Associate's,NaN,2015,5,2013.0,8.0
63,A-13179-76467,2015-04-20,Certified,2013-06-28,661,1.810959,FARROKH ERFAN,GAITHERSBURG,MARYLAND,20877,...,NaN,IRAN,IRAN,NaN,Bachelor's,NaN,2015,4,2013.0,6.0
64,A-13213-84798,2015-04-06,Certified,2013-08-12,602,1.649315,"MERRICK SYSTEMS, INC.",HOUSTON,TEXAS,77007,...,77479,INDIA,INDIA,NaN,Bachelor's,NaN,2015,4,2013.0,8.0
67,A-13305-09666,2015-06-25,Certified,2014-02-09,501,1.372603,WATAMI USA GUAM,TAMUNING,GUAM,96931,...,96913,PHILIPPINES,PHILIPPINES,H-1B,Associate's,NaN,2015,6,2014.0,2.0
68,A-13304-09638,2015-05-06,Certified,2013-11-15,537,1.471233,HEWLETT-PACKARD COMPANY,PALO ALTO,CALIFORNIA,94304,...,77070,CHINA,CHINA,H-1B,Master's,NaN,2015,5,2013.0,11.0
69,A-13304-09632,2015-06-08,Certified,2013-12-09,546,1.495890,FRONTIER TECHNOLOGIES LLC,NAPERVILLE,ILLINOIS,60563,...,60089,INDIA,INDIA,H-1B,Master's,NaN,2015,6,2013.0,12.0
70,A-13305-09848,2015-06-11,Certified,2013-12-09,549,1.504110,CONCORDIA WIRELESS INC,CAROL STREAM,ILLINOIS,60188,...,1934-06-06 00:00:00,POLAND,POLAND,H-1B,Master's,NaN,2015,6,2013.0,12.0
73,A-13305-09963,2015-05-14,Certified,2013-11-15,545,1.493151,MOTOROLA SOLUTIONS INC.,SCHAUMBURG,ILLINOIS,60196,...,1995-06-01 00:00:00,INDIA,INDIA,H-1B,Master's,NaN,2015,5,2013.0,11.0
74,A-10180-06157,2015-09-02,Certified,2015-02-13,201,0.550685,"LEE-PARK ENTERPRISES, LLC DBA GREATREE",MERIDEN,CONNECTICUT,06450,...,NaN,SOUTH KOREA,SOUTH KOREA,Not in USA,Bachelor's,NaN,2015,9,2015.0,2.0
75,A-10302-28853,2015-05-29,Certified,2010-10-29,1673,4.583562,INFOSYS TECHNOLOGIES LIMITED,PLANO,TEXAS,75024,...,1943-02-20 00:00:00,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,5,2010.0,10.0
96,A-13305-09876,2015-05-13,Certified,2013-11-22,537,1.471233,"GROUPON, INC.",CHICAGO,ILLINOIS,60654,...,2010-06-06 00:00:00,MALAYSIA,MALAYSIA,H-1B,Master's,NaN,2015,5,2013.0,11.0
98,A-12168-72757,2015-08-19,Certified,2012-06-16,1159,3.175342,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,TEXAS,77845,...,6040,INDIA,INDIA,H-1B,Master's,NaN,2015,8,2012.0,6.0
130,A-12362-25997,2015-08-11,Certified,2012-12-27,957,2.621918,BAC FLORIDA BANK,MIAMI,FLORIDA,33134,...,1931-03-31 00:00:00,NICARAGUA,NICARAGUA,H-1B,Bachelor's,NaN,2015,8,2012.0,12.0
143,A-13023-33552,2015-04-10,Certified,2013-01-22,808,2.213699,"GOLDMAN, SACHS & CO.",NEW YORK,NEW YORK,10282,...,10023,MEXICO,MEXICO,H-1B,Master's,NaN,2015,4,2013.0,1.0
157,A-13105-55974,2015-08-24,Certified,2013-04-19,857,2.347945,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,ALABAMA,36108,...,641705,SOUTH KOREA,SOUTH KOREA,NaN,Bachelor's,NaN,2015,8,2013.0,4.0
162,A-13133-63139,2015-04-09,Certified,2013-09-11,575,1.575342,"DVR SOFTEK INC.,",EDISON,NEW JERSEY,08817,...,8830,INDIA,INDIA,H-1B,None,NaN,2015,4,2013.0,9.0
168,A-13154-68182,2015-08-31,Certified,2013-06-03,819,2.243836,DIBE YAZHI HABITIIN OLTA INC. D/B/A BORREGO PA...,CROWNPOINT,NEW MEXICO,87313,...,87313,PHILIPPINES,PHILIPPINES,H-1B,Bachelor's,NaN,2015,8,2013.0,6.0
170,A-13137-64776,2015-04-08,Certified,2013-09-06,579,1.586301,CARRIER IQ,SUNNYVALE,CALIFORNIA,94086,...,1824,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2013.0,9.0
171,A-13123-61367,2015-09-03,Certified,2013-05-03,853,2.336986,SONY COMPUTER ENTERTAINMENT AMERICA LLC,FOSTER CITY,CALIFORNIA,94404,...,98004,CZECH REPUBLIC,CZECH REPUBLIC,H-1B,Master's,NaN,2015,9,2013.0,5.0
179,A-13114-58881,2015-06-04,Certified,2013-12-09,542,1.484932,"RADIANT LOGIC, INC.",NOVATO,CALIFORNIA,94945,...,94123,FRANCE,FRANCE,H-1B,Master's,NaN,2015,6,2013.0,12.0
190,A-13072-47736,2015-09-18,Certified,2014-06-16,459,1.257534,UNITED STATES CHINA EXCHANGE COUNCIL,UNION CITY,CALIFORNIA,94587,...,94568,CHINA,CHINA,F-1,Master's,NaN,2015,9,2014.0,6.0
191,A-13274-01890,2015-05-28,Certified,2013-11-02,572,1.567123,AVANI TECHNOLOGY SOLUTIONS INC.,ROCHESTER,NEW YORK,14606,...,14616,INDIA,INDIA,H-1B,Master's,NaN,2015,5,2013.0,11.0
193,A-13105-56029,2015-08-24,Certified,2013-04-19,857,2.347945,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,ALABAMA,36108,...,1931-10-08 00:00:00,SOUTH KOREA,SOUTH KOREA,NaN,High School,NaN,2015,8,2013.0,4.0
198,A-13266-99344,2015-05-05,Certified,2013-10-31,551,1.509589,SIMPSON THACHER & BARTLETT LLP,NEW YORK,NEW YORK,10017,...,1983-01-05 00:00:00,BRAZIL,BRAZIL,H-1B,Master's,NaN,2015,5,2013.0,10.0
199,A-13274-01952,2015-05-04,Certified,2013-10-31,550,1.506849,CCC INFORMATION SERVICES INC.,CHICAGO,ILLINOIS,60654,...,600016,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,5,2013.0,10.0
200,A-13254-96007,2015-04-27,Certified,2013-09-12,592,1.621918,"INSURANCE AUTO AUCTIONS, INC",WESTCHESTER,ILLINOIS,60154,...,1959-06-05 00:00:00,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2013.0,9.0
201,A-13269-00825,2015-04-29,Certified,2013-10-28,548,1.501370,JP MORGAN CHASE & CO,CHICAGO,ILLINOIS,60603,...,43230,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2013.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432784,A-18062-49218,2018-09-28,Denied,2018-03-03,209,0.572603,"PLATINUM CARE GROUP, INC.",CAROL STREAM,IL,60188,...,3017,PHILIPPINES,PHILIPPINES,Not in USA,Bachelor's,NaN,2018,9,2018.0,3.0
432785,A-18038-41113,2018-09-28,Certified,2018-03-02,210,0.575342,"ITS EXPRESS USA, INC.",NEW YORK,NY,10001,...,11373,SOUTH KOREA,SOUTH KOREA,F-1,High School,NaN,2018,9,2018.0,3.0
432786,A-17311-07771,2018-09-28,Certified,2018-03-02,210,0.575342,GANSETT RESTAURANT CORP,AMAGANSETT,NY,11930,...,11937,ECUADOR,ECUADOR,NaN,None,NaN,2018,9,2018.0,3.0
432787,A-18061-49045,2018-09-28,Certified,2018-03-02,210,0.575342,Jacqueline Amezcua,Canyon Country,CA,91387,...,00965,PHILIPPINES,PHILIPPINES,NaN,None,NaN,2018,9,2018.0,3.0
432788,A-18046-43947,2018-09-28,Certified,2018-02-28,212,0.580822,"Nishimura U.S.A., Inc.",Gardena,CA,90247,...,515-0804,JAPAN,JAPAN,Not in USA,High School,NaN,2018,9,2018.0,2.0
432789,A-18059-48308,2018-09-28,Certified,2018-02-28,212,0.580822,UNIVERSITY OF MICHIGAN,ANN ARBOR,MI,48109,...,48105,INDIA,INDIA,H-1B,Doctorate,NaN,2018,9,2018.0,2.0
432790,A-18058-47576,2018-09-28,Certified,2018-02-26,214,0.586301,"VENCOL DENTAL LABORATORY, INC.",TAMARAC,FL,33321,...,33326,BRAZIL,BRAZIL,H-1B,High School,NaN,2018,9,2018.0,2.0
432791,A-18044-43151,2018-09-28,Certified,2018-02-23,217,0.594521,Winston-Salem/Forsyth County Schools,Winston-Salem,NC,27105,...,27040,COLOMBIA,COLOMBIA,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
432792,A-18054-46508,2018-09-28,Certified,2018-02-23,217,0.594521,Winston-Salem/Forsyth County Schools,Winston-Salem,NC,27105,...,27012,COLOMBIA,COLOMBIA,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
432793,A-18051-45194,2018-09-28,Certified,2018-02-20,220,0.602740,HORIZON SCIENCE ACADEMY-TOLEDO,TOLEDO,OH,43613,...,43623,TURKEY,TURKEY,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
432794,A-18044-43078,2018-09-28,Denied,2018-02-20,220,0.602740,RGV Best Burger LLC,Brownsville,TX,78526,...,78521,MEXICO,MEXICO,E-2,High School,NaN,2018,9,2018.0,2.0
432795,A-18030-37105,2018-09-28,Certified,2018-02-19,221,0.605479,GOOGLE LLC,MOUNTAIN VIEW,CA,94043,...,95051,CHINA,CHINA,H-1B,Master's,NaN,2018,9,2018.0,2.0
432796,A-18049-44845,2018-09-28,Certified,2018-02-18,222,0.608219,"TURKISH AMERICAN COMMUNITY CENTER, INC",LANHAM,MD,20706,...,21076,TURKEY,TURKEY,F-1,High School,NaN,2018,9,2018.0,2.0
432797,A-18047-44681,2018-09-28,Certified,2018-02-17,223,0.610959,US SOFTWARE PROFESSIONALS INC,CHICAGO,IL,60611-1962,...,07093,INDIA,INDIA,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
432798,A-18037-40571,2018-09-28,Certified,2018-02-16,224,0.613699,Vescom Systems LLC,Kearny,NJ,07032,...,07950,INDIA,INDIA,H-1B,Master's,NaN,2018,9,2018.0,2.0
432799,A-18044-42982,2018-09-28,Certified,2018-02-15,225,0.616438,"ORACLE AMERICA, INC.",REDWOOD SHORES,CA,94065,...,32822,INDIA,INDIA,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
432800,A-18040-41994,2018-09-28,Certified,2018-02-14,226,0.619178,VENTURESOFT GLOBAL INC.,PLEASANTON,CA,94588,...,85308,INDIA,INDIA,H-4,Bachelor's,NaN,2018,9,2018.0,2.0
432801,A-18040-42000,2018-09-28,Certified,2018-02-14,226,0.619178,VENTURESOFT GLOBAL INC.,PLEASANTON,CA,94588,...,19114,INDIA,INDIA,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
432802,A-18038-41050,2018-09-28,Certified,2018-02-14,226,0.619178,"RIVERWALK EDUCATION FOUNDATION, INC.",SAN ANTONIO,TX,78209,...,75081,TURKEY,TURKEY,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
432803,A-18045-43424,2018-09-28,Certified,2018-02-13,227,0.621918,"THE FRENCH BREAD FACTORY, INC.",STERLING,VA,20166,...,20164,EL SALVADOR,EL SALVADOR,EWI,None,NaN,2018,9,2018.0,2.0
432804,A-18003-27317,2018-09-28,Certified,2018-02-13,227,0.621918,URBAN LIVING INTERNATIONAL LLC,BROOKLYN,NY,11215,...,11216,FRANCE,FRANCE,O-3,Associate's,NaN,2018,9,2018.0,2.0
432805,A-18045-43349,2018-09-28,Certified,2018-02-12,228,0.624658,"THE SHIN IL PRESBYTERIAN CHURCH OF NY, INC.",FLUSHING,NY,11358,...,11358,SOUTH KOREA,SOUTH KOREA,F-1,High School,NaN,2018,9,2018.0,2.0
432806,A-17305-05551,2018-09-28,Certified,2018-02-06,234,0.641096,OREGON STATE UNIVERSITY,CORVALLIS,OR,97333,...,97330,SOUTH KOREA,SOUTH KOREA,H-1B,Master's,NaN,2018,9,2018.0,2.0
432807,A-18036-39632,2018-09-28,Certified,2018-02-05,235,0.643836,Richard Drake Construction Company LP,Powderly,TX,75473,...,26083,MEXICO,MEXICO,Not in USA,None,NaN,2018,9,2018.0,2.0
432808,A-18029-36353,2018-09-28,Denied,2018-01-29,242,0.663014,"HAPPY LANDSMEN ENTERPRISES, LLC",AUSTIN,TX,78757,...,1981819889,IRAN,IRAN,NaN,None,NaN,2018,9,2018.0,1.0
432809,A-17317-10019,2018-09-28,Certified,2018-01-26,245,0.671233,"Prime Rehabilitation Services, Inc.",Oakhurst,NJ,07755,...,07095,INDIA,INDIA,NaN,Associate's,NaN,2018,9,2018.0,1.0
432810,A-17304-05282,2018-09-28,Certified,2017-12-01,301,0.824658,KURISU LLC,PORTLAND,OR,97227,...,97140,JAPAN,JAPAN,H-1B,Bachelor's,NaN,2018,9,2017.0,12.0
432811,A-17303-04609,2018-09-28,Denied,2017-10-31,332,0.909589,GM INTERNATIONAL CONSULTANTS LLC,NORCROSS,GA,30093,...,30096,COLOMBIA,COLOMBIA,B-2,None,NaN,2018,9,2017.0,10.0
432812,A-17300-04016,2018-09-28,Denied,2017-10-27,336,0.920548,GM INTERNATIONAL CONSULTANTS LLC,NORCROSS,GA,30093,...,30044,COLOMBIA,COLOMBIA,B-2,None,NaN,2018,9,2017.0,10.0
432813,A-17005-87850,2018-09-28,Certified,2017-02-04,601,1.646575,INTEL CORPORATION,SANTA CLARA,CA,95052,...,78745,INDIA,INDIA,H-1B,Master's,NaN,2018,9,2017.0,2.0

In [14]:
data3.to_csv('certified_denied.csv', index = False)