In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Resources/GREEN_CARD_FULL.csv')

In [3]:
data.head()

,CASE_STATUS,DECISION_DATE,CASE_RECEIVED_DATE,DAYS_TIL_DECISION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_ZIP_CODE,EMPLOYER_NUM_EMPLOYEES,PW_AMOUNT_9089,WAGE_OFFER_FROM_9089,WAGE_OFFER_UNIT_OF_PAY_9089,JOB_INFO_JOB_TITLE,JOB_INFO_EDUCATION,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION
0,CERTIFIED,2015-08-27,2015-02-02,206,DEUTSCHE BANK,NEW YORK,NEW YORK,10005,98000.0,220813.0,950000.0,Year,"MANAGING DIRECTOR, FOREIGN EXCHANGE SALES",Master's,2015,8,2015.0,2.0,NETHERLANDS,H-1B
1,DENIED,2015-03-20,2014-10-27,144,ENKITEC L.P.,IRVING,TEXAS,75038,61.0,93870.0,938000.0,Year,SENIOR TECHNICAL CONSULTANT,Bachelor's,2015,3,2014.0,10.0,PHILIPPINES,H-1B
2,WITHDRAWN,2016-12-28,2016-12-12,16,ZIONS BANK / ZMSC,SALT LAKE CITY,UTAH,84133,10000.0,81536.0,930000.0,Year,INFORMATION SECURITY ANALYST,Master's,2016,12,2016.0,12.0,INDIA,H-1B
3,CERTIFIED-EXPIRED,2015-10-28,2015-04-13,198,"XCEED TECHNOLOGIES, INC.",SOUTH RIDING,VIRGINIA,20152,64.0,91354.0,920000.0,Year,RF ENGINEER,Master's,2015,10,2015.0,4.0,INDIA,H-1B
4,CERTIFIED-EXPIRED,2014-10-14,2014-05-09,158,CENTRAL BUSINESS SOLUTIONS LLC,NEWARK,CALIFORNIA,94560,15.0,89502.0,889502.0,Year,QA ENGINEER,Master's,2014,10,2014.0,5.0,INDIA,H-1B

In [4]:
data.describe()

,DAYS_TIL_DECISION,EMPLOYER_ZIP_CODE,EMPLOYER_NUM_EMPLOYEES,PW_AMOUNT_9089,WAGE_OFFER_FROM_9089,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
count,401771.000000,401771.000000,4.017710e+05,401771.000000,401771.000000,401771.000000,401771.000000,401771.000000,401771.000000
mean,180.090325,56530.469183,2.759337e+04,88618.504429,97639.580879,2016.369559,6.325379,2015.861381,6.496484
std,212.789134,34755.422443,8.631209e+04,34518.118152,43888.118229,1.188916,3.277771,1.445154,3.345308
min,0.000000,211.000000,0.000000e+00,6.140000,6.550000,2014.000000,1.000000,2006.000000,1.000000
25%,86.000000,20191.000000,9.000000e+01,70200.000000,75774.000000,2015.000000,4.000000,2015.000000,4.000000
50%,140.000000,60654.000000,1.736000e+03,89669.000000,96785.000000,2016.000000,6.000000,2016.000000,6.000000
75%,190.000000,94043.000000,2.000000e+04,108805.000000,118269.000000,2017.000000,9.000000,2017.000000,9.000000
max,4150.000000,99929.000000,4.000000e+06,885666.000000,950000.000000,2018.000000,12.000000,2018.000000,12.000000

In [5]:
data.count()

CASE_STATUS                    401771
DECISION_DATE                  401771
CASE_RECEIVED_DATE             401771
DAYS_TIL_DECISION              401771
EMPLOYER_NAME                  401771
EMPLOYER_CITY                  401771
EMPLOYER_STATE                 401771
EMPLOYER_ZIP_CODE              401771
EMPLOYER_NUM_EMPLOYEES         401771
PW_AMOUNT_9089                 401771
WAGE_OFFER_FROM_9089           401771
WAGE_OFFER_UNIT_OF_PAY_9089    401771
JOB_INFO_JOB_TITLE             401771
JOB_INFO_EDUCATION             401771
DECISION_DATE_YEAR             401771
DECISION_DATE_MONTH            401771
CASE_RECEIVED_DATE_YEAR        401771
CASE_RECEIVED_DATE_MONTH       401771
COUNTRY_OF_CITIZENSHIP         401771
CLASS_OF_ADMISSION             401771
dtype: int64

In [6]:
data["EMPLOYER_NAME"].value_counts().head(100)

COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION      15653
MICROSOFT CORPORATION                               8647
INTEL CORPORATION                                   7407
AMAZON CORPORATE LLC                                6227
GOOGLE INC.                                         5824
APPLE INC.                                          3467
FACEBOOK, INC.                                      3269
INFOSYS LTD.                                        3040
HCL AMERICA INC.                                    2710
ORACLE AMERICA, INC.                                2710
CISCO SYSTEMS, INC.                                 2584
DELOITTE CONSULTING LLP                             2174
QUALCOMM TECHNOLOGIES INC.                          2019
JP MORGAN CHASE & CO                                1564
ERNST & YOUNG U.S. LLP                              1510
GOOGLE LLC                                          1489
HOUSE OF RAEFORD FARMS, INC.                        1424
TATA CONSULTANCY SERVICES LIMITED                   1365
DEFENDER SERVICES, INC.                             1337
SALESFORCE.COM                                      1264
YAHOO! INC.                                         1152
WIPRO LIMITED                                       1144
AMAZON FULFILLMENT SERVICES, INC.                   1105
WAYNE FARMS LLC                                     1097
IBM CORPORATION                                     1048
LINKEDIN CORPORATION                                1026
VMWARE, INC.                                        1015
EBAY INC.                                            958
AMAZON.COM SERVICES, INC.                            925
BLOOMBERG L.P.                                       920
                                                   ...
AMAZON WEB SERVICES, INC.                            499
V-SOFT CONSULTING GROUP, INC.                        498
EPIC SYSTEMS CORPORATION                             497
INTEL MOBILE COMMUNICATIONS, INC.                    480
SYNOPSYS, INC.                                       477
EXPEDIA, INC.                                        463
KPMG LLP                                             457
MASTECH DIGITAL TECHNOLOGIES, INC.                   452
INOVANT LLC                                          446
HTC GLOBAL SERVICES, INC.                            439
MICRON TECHNOLOGY, INC.                              432
PURE BEAUTY FARMS, INC                               428
MCKINSEY & COMPANY, INC UNITED STATES                427
JUNIPER NETWORKS                                     420
MASTECH, INC., A MASTECH HOLDINGS, INC. COMPANY      416
QUALCOMM ATHEROS, INC.                               405
TWITTER, INC.                                        402
NETAPP, INC.                                         401
ALCATEL LUCENT USA, INC.                             392
TEXAS INSTRUMENTS INCORPORATED                       388
COMCAST CABLE COMMUNICATIONS, LLC                    387
THE MATHWORKS, INC.                                  380
MINDTREE LIMITED                                     370
RELIABLE SOFTWARE RESOURCES INC                      354
RANDSTAD TECHNOLOGIES, LLC                           348
CGI TECHNOLOGIES AND SOLUTIONS INC.                  347
AMDOCS INC.                                          344
THE BOSTON CONSULTING GROUP                          342
GROUPON, INC.                                        338
UST GLOBAL INC                                       338
Name: EMPLOYER_NAME, Length: 100, dtype: int64

In [7]:
data["EMPLOYER_NAME"].nunique()

68735

In [8]:
data["COUNTRY_OF_CITIZENSHIP"].nunique()

199

In [9]:
data["COUNTRY_OF_CITIZENSHIP"].value_counts().head(100)

INDIA              224175
CHINA               36294
SOUTH KOREA         21135
CANADA              14858
MEXICO               9301
PHILIPPINES          6355
UNITED KINGDOM       4823
VIETNAM              4506
TAIWAN               4399
BRAZIL               3984
FRANCE               3547
PAKISTAN             3455
NEPAL                3269
VENEZUELA            2850
JAPAN                2801
RUSSIA               2774
IRAN                 2599
TURKEY               2597
GERMANY              2418
AUSTRALIA            2243
ITALY                2108
ISRAEL               1975
UKRAINE              1871
COLOMBIA             1827
SPAIN                1646
POLAND               1485
BANGLADESH           1378
ARGENTINA            1205
NIGERIA              1182
IRELAND              1098
                    ...
AUSTRIA               229
DENMARK               212
CZECH REPUBLIC        207
BOLIVIA               205
MOROCCO               200
ARMENIA               174
ETHIOPIA              165
UZBEKISTAN            163
KAZAKHSTAN            155
MOLDOVA               152
LIBYA                 151
SLOVAKIA              148
CROATIA               148
ALBANIA               136
URUGUAY               129
BAHAMAS               123
CAMEROON              121
LITHUANIA             112
SAUDI ARABIA          106
PANAMA                102
NORWAY                 93
BURMA (MYANMAR)        87
TANZANIA               84
UGANDA                 82
GRENADA                81
MACEDONIA              81
PALESTINE              79
NICARAGUA              79
GEORGIA                77
LATVIA                 75
Name: COUNTRY_OF_CITIZENSHIP, Length: 100, dtype: int64

In [10]:
data["CASE_STATUS"].value_counts()

CERTIFIED            201015
CERTIFIED-EXPIRED    167523
DENIED                18802
WITHDRAWN             14431
Name: CASE_STATUS, dtype: int64

In [11]:
certified_cases = data.loc[data["CASE_STATUS"] == "CERTIFIED"]

In [12]:
# certified_cases.to_csv('../Resources/certified_cases.csv', index = False)

In [13]:

certified_cases.count()

CASE_STATUS                    201015
DECISION_DATE                  201015
CASE_RECEIVED_DATE             201015
DAYS_TIL_DECISION              201015
EMPLOYER_NAME                  201015
EMPLOYER_CITY                  201015
EMPLOYER_STATE                 201015
EMPLOYER_ZIP_CODE              201015
EMPLOYER_NUM_EMPLOYEES         201015
PW_AMOUNT_9089                 201015
WAGE_OFFER_FROM_9089           201015
WAGE_OFFER_UNIT_OF_PAY_9089    201015
JOB_INFO_JOB_TITLE             201015
JOB_INFO_EDUCATION             201015
DECISION_DATE_YEAR             201015
DECISION_DATE_MONTH            201015
CASE_RECEIVED_DATE_YEAR        201015
CASE_RECEIVED_DATE_MONTH       201015
COUNTRY_OF_CITIZENSHIP         201015
CLASS_OF_ADMISSION             201015
dtype: int64

In [14]:
countries_certified_cases = certified_cases.groupby("COUNTRY_OF_CITIZENSHIP")
case_status_country = pd.DataFrame(countries_certified_cases["CASE_STATUS"].count())
certified_cases["WAGE_OFFER_UNIT_OF_PAY_9089"].value_counts()
case_status_country.rename(columns={'CASE_STATUS':'NUM_OF_CERTIFIED_CASES'}, inplace=True)

In [15]:
import country_codes_test_fre as cct

In [16]:
cct.region

{0: {'region': 'Africa'},
 1: {'region': 'Asia'},
 2: {'region': 'Central America'},
 3: {'region': 'Eastern Europe'},
 4: {'region': 'European Union'},
 5: {'region': 'Middle East'},
 6: {'region': 'North America'},
 7: {'region': 'Oceania'},
 8: {'region': 'South America'},
 9: {'region': 'The Caribbean'}}

In [17]:
cct.countries

{0: {'COUNTRY_OF_CITIZENSHIP': 'AFGHANISTAN', 'region': 1},
 1: {'COUNTRY_OF_CITIZENSHIP': 'ALBANIA', 'region': 3},
 2: {'COUNTRY_OF_CITIZENSHIP': 'ALGERIA', 'region': 0},
 3: {'COUNTRY_OF_CITIZENSHIP': 'ANDORRA', 'region': 3},
 4: {'COUNTRY_OF_CITIZENSHIP': 'ANGOLA', 'region': 0},
 5: {'COUNTRY_OF_CITIZENSHIP': 'ANTIGUA AND BARBUDA', 'region': 9},
 6: {'COUNTRY_OF_CITIZENSHIP': 'ARGENTINA', 'region': 8},
 7: {'COUNTRY_OF_CITIZENSHIP': 'ARMENIA', 'region': 1},
 8: {'COUNTRY_OF_CITIZENSHIP': 'AUSTRALIA', 'region': 7},
 9: {'COUNTRY_OF_CITIZENSHIP': 'AUSTRIA', 'region': 4},
 10: {'COUNTRY_OF_CITIZENSHIP': 'AZERBAIJAN', 'region': 1},
 11: {'COUNTRY_OF_CITIZENSHIP': 'BAHAMAS', 'region': 9},
 12: {'COUNTRY_OF_CITIZENSHIP': 'BAHRAIN', 'region': 5},
 13: {'COUNTRY_OF_CITIZENSHIP': 'BANGLADESH', 'region': 1},
 14: {'COUNTRY_OF_CITIZENSHIP': 'BARBADOS', 'region': 9},
 15: {'COUNTRY_OF_CITIZENSHIP': 'BELARUS', 'region': 3},
 16: {'COUNTRY_OF_CITIZENSHIP': 'BELGIUM', 'region': 4},
 17: {'COUNTRY_OF_CITIZENSHIP': 'BELIZE', 'region': 2},
 18: {'COUNTRY_OF_CITIZENSHIP': 'BENIN', 'region': 0},
 19: {'COUNTRY_OF_CITIZENSHIP': 'BERMUDA', 'region': 6},
 20: {'COUNTRY_OF_CITIZENSHIP': 'BHUTAN', 'region': 1},
 21: {'COUNTRY_OF_CITIZENSHIP': 'BOLIVIA', 'region': 8},
 22: {'COUNTRY_OF_CITIZENSHIP': 'BOSNIA AND HERZEGOVINA', 'region': 3},
 23: {'COUNTRY_OF_CITIZENSHIP': 'BOTSWANA', 'region': 0},
 24: {'COUNTRY_OF_CITIZENSHIP': 'BRAZIL', 'region': 8},
 25: {'COUNTRY_OF_CITIZENSHIP': 'BRITISH VIRGIN ISLANDS', 'region': 9},
 26: {'COUNTRY_OF_CITIZENSHIP': 'BRUNEI', 'region': 1},
 27: {'COUNTRY_OF_CITIZENSHIP': 'BULGARIA', 'region': 3},
 28: {'COUNTRY_OF_CITIZENSHIP': 'BURKINA FASO', 'region': 0},
 29: {'COUNTRY_OF_CITIZENSHIP': 'BURMA (MYANMAR)', 'region': 1},
 30: {'COUNTRY_OF_CITIZENSHIP': 'BURUNDI', 'region': 0},
 31: {'COUNTRY_OF_CITIZENSHIP': 'CAMBODIA', 'region': 1},
 32: {'COUNTRY_OF_CITIZENSHIP': 'CAMEROON', 'region': 0},
 33: {'COUNTRY_OF_CITIZENSHIP': 'CANADA', 'region': 6},
 34: {'COUNTRY_OF_CITIZENSHIP': 'CAPE VERDE', 'region': 0},
 35: {'COUNTRY_OF_CITIZENSHIP': 'CHILE', 'region': 8},
 36: {'COUNTRY_OF_CITIZENSHIP': 'CHINA', 'region': 1},
 37: {'COUNTRY_OF_CITIZENSHIP': 'COLOMBIA', 'region': 8},
 38: {'COUNTRY_OF_CITIZENSHIP': 'COMOROS', 'region': 0},
 39: {'COUNTRY_OF_CITIZENSHIP': 'COSTA RICA', 'region': 2},
 40: {'COUNTRY_OF_CITIZENSHIP': "COTE D'IVOIRE", 'region': 0},
 41: {'COUNTRY_OF_CITIZENSHIP': 'CROATIA', 'region': 3},
 42: {'COUNTRY_OF_CITIZENSHIP': 'CUBA', 'region': 9},
 43: {'COUNTRY_OF_CITIZENSHIP': 'CYPRUS', 'region': 3},
 44: {'COUNTRY_OF_CITIZENSHIP': 'CZECH REPUBLIC', 'region': 4},
 45: {'COUNTRY_OF_CITIZENSHIP': 'DEMOCRATIC REPUBLIC OF CONGO', 'region': 0},
 46: {'COUNTRY_OF_CITIZENSHIP': 'DENMARK', 'region': 4},
 47: {'COUNTRY_OF_CITIZENSHIP': 'DEPENDENT TERRITORY', 'region': 0},
 48: {'COUNTRY_OF_CITIZENSHIP': 'DOMINICA', 'region': 9},
 49: {'COUNTRY_OF_CITIZENSHIP': 'DOMINICAN REPUBLIC', 'region': 9},
 50: {'COUNTRY_OF_CITIZENSHIP': 'ECUADOR', 'region': 8},
 51: {'COUNTRY_OF_CITIZENSHIP': 'EGYPT', 'region': 0},
 52: {'COUNTRY_OF_CITIZENSHIP': 'EL SALVADOR', 'region': 2},
 53: {'COUNTRY_OF_CITIZENSHIP': 'EQUATORIAL GUINEA', 'region': 0},
 54: {'COUNTRY_OF_CITIZENSHIP': 'ERITREA', 'region': 0},
 55: {'COUNTRY_OF_CITIZENSHIP': 'ESTONIA', 'region': 3},
 56: {'COUNTRY_OF_CITIZENSHIP': 'ETHIOPIA', 'region': 0},
 57: {'COUNTRY_OF_CITIZENSHIP': 'FIJI', 'region': 7},
 58: {'COUNTRY_OF_CITIZENSHIP': 'FINLAND', 'region': 4},
 59: {'COUNTRY_OF_CITIZENSHIP': 'FRANCE', 'region': 4},
 60: {'COUNTRY_OF_CITIZENSHIP': 'GABON', 'region': 0},
 61: {'COUNTRY_OF_CITIZENSHIP': 'GAMBIA', 'region': 0},
 62: {'COUNTRY_OF_CITIZENSHIP': 'GEORGIA', 'region': 1},
 63: {'COUNTRY_OF_CITIZENSHIP': 'GERMANY', 'region': 4},
 64: {'COUNTRY_OF_CITIZENSHIP': 'GHANA', 'region': 0},
 65: {'COUNTRY_OF_CITIZENSHIP': 'GREECE', 'region': 4},
 66: {'COUNTRY_OF_CITIZENSHIP': 'GRENADA', 'region': 9},
 67: {'COUNTRY_OF_CITIZENSHIP': 'GUATEMALA', 'region': 2},
 68: {'COUNTRY_OF_CITIZENSHIP': 'GUINEA', 'region': 0},
 69: {'COUNTRY_OF_CITIZENSHIP': 'GUINEA-BISSAU', 'region': 0},
 70: {'COUNTRY_OF_CITIZENSHIP': 'GUYANA', 'region': 0},
 71: {'COUNTRY_OF_CITIZENSHIP': 'HAITI', 'region': 9},
 72: {'COUNTRY_OF_CITIZENSHIP': 'HONDURAS', 'region': 2},
 73: {'COUNTRY_OF_CITIZENSHIP': 'HONG KONG', 'region': 1},
 74: {'COUNTRY_OF_CITIZENSHIP': 'HUNGARY', 'region': 4},
 75: {'COUNTRY_OF_CITIZENSHIP': 'ICELAND', 'region': 3},
 76: {'COUNTRY_OF_CITIZENSHIP': 'INDIA', 'region': 1},
 77: {'COUNTRY_OF_CITIZENSHIP': 'INDONESIA', 'region': 1},
 78: {'COUNTRY_OF_CITIZENSHIP': 'IRAN', 'region': 5},
 79: {'COUNTRY_OF_CITIZENSHIP': 'IRAQ', 'region': 5},
 80: {'COUNTRY_OF_CITIZENSHIP': 'IRELAND', 'region': 4},
 81: {'COUNTRY_OF_CITIZENSHIP': 'ISRAEL', 'region': 5},
 82: {'COUNTRY_OF_CITIZENSHIP': 'ITALY', 'region': 4},
 83: {'COUNTRY_OF_CITIZENSHIP': 'IVORY COAST', 'region': 0},
 84: {'COUNTRY_OF_CITIZENSHIP': 'JAMAICA', 'region': 9},
 85: {'COUNTRY_OF_CITIZENSHIP': 'JAPAN', 'region': 1},
 86: {'COUNTRY_OF_CITIZENSHIP': 'JORDAN', 'region': 5},
 87: {'COUNTRY_OF_CITIZENSHIP': 'KAZAKHSTAN', 'region': 1},
 88: {'COUNTRY_OF_CITIZENSHIP': 'KENYA', 'region': 0},
 89: {'COUNTRY_OF_CITIZENSHIP': 'KIRIBATI', 'region': 7},
 90: {'COUNTRY_OF_CITIZENSHIP': 'KOSOVO', 'region': 3},
 91: {'COUNTRY_OF_CITIZENSHIP': 'KUWAIT', 'region': 5},
 92: {'COUNTRY_OF_CITIZENSHIP': 'KYRGYZSTAN', 'region': 1},
 93: {'COUNTRY_OF_CITIZENSHIP': 'LAOS', 'region': 1},
 94: {'COUNTRY_OF_CITIZENSHIP': 'LATVIA', 'region': 4},
 95: {'COUNTRY_OF_CITIZENSHIP': 'LEBANON', 'region': 5},
 96: {'COUNTRY_OF_CITIZENSHIP': 'LIBERIA', 'region': 0},
 97: {'COUNTRY_OF_CITIZENSHIP': 'LIBYA', 'region': 0},
 98: {'COUNTRY_OF_CITIZENSHIP': 'LIECHTENSTEIN', 'region': 3},
 99: {'COUNTRY_OF_CITIZENSHIP': 'LITHUANIA', 'region': 4},
 100: {'COUNTRY_OF_CITIZENSHIP': 'LUXEMBOURG', 'region': 4},
 101: {'COUNTRY_OF_CITIZENSHIP': 'MACAU', 'region': 1},
 102: {'COUNTRY_OF_CITIZENSHIP': 'MACEDONIA', 'region': 3},
 103: {'COUNTRY_OF_CITIZENSHIP': 'MADAGASCAR', 'region': 0},
 104: {'COUNTRY_OF_CITIZENSHIP': 'MALAWI', 'region': 0},
 105: {'COUNTRY_OF_CITIZENSHIP': 'MALAYSIA', 'region': 1},
 106: {'COUNTRY_OF_CITIZENSHIP': 'MALDIVES', 'region': 1},
 107: {'COUNTRY_OF_CITIZENSHIP': 'MALI', 'region': 0},
 108: {'COUNTRY_OF_CITIZENSHIP': 'MALTA', 'region': 4},
 109: {'COUNTRY_OF_CITIZENSHIP': 'MARSHALL ISLANDS', 'region': 7},
 110: {'COUNTRY_OF_CITIZENSHIP': 'MAURITANIA', 'region': 0},
 111: {'COUNTRY_OF_CITIZENSHIP': 'MAURITIUS', 'region': 1},
 112: {'COUNTRY_OF_CITIZENSHIP': 'MEXICO', 'region': 2},
 113: {'COUNTRY_OF_CITIZENSHIP': 'MOLDOVA', 'region': 3},
 114: {'COUNTRY_OF_CITIZENSHIP': 'MONGOLIA', 'region': 1},
 115: {'COUNTRY_OF_CITIZENSHIP': 'MONTENEGRO', 'region': 3},
 116: {'COUNTRY_OF_CITIZENSHIP': 'MONTSERRAT', 'region': 9},
 117: {'COUNTRY_OF_CITIZENSHIP': 'MOROCCO', 'region': 0},
 118: {'COUNTRY_OF_CITIZENSHIP': 'NAMIBIA', 'region': 0},
 119: {'COUNTRY_OF_CITIZENSHIP': 'NEPAL', 'region': 1},
 120: {'COUNTRY_OF_CITIZENSHIP': 'NETHERLANDS', 'region': 4},
 121: {'COUNTRY_OF_CITIZENSHIP': 'NEW ZEALAND', 'region': 7},
 122: {'COUNTRY_OF_CITIZENSHIP': 'NICARAGUA', 'region': 2},
 123: {'COUNTRY_OF_CITIZENSHIP': 'NIGER', 'region': 0},
 124: {'COUNTRY_OF_CITIZENSHIP': 'NIGERIA', 'region': 0},
 125: {'COUNTRY_OF_CITIZENSHIP': 'NORWAY', 'region': 4},
 126: {'COUNTRY_OF_CITIZENSHIP': 'OMAN', 'region': 5},
 127: {'COUNTRY_OF_CITIZENSHIP': 'PAKISTAN', 'region': 1},
 128: {'COUNTRY_OF_CITIZENSHIP': 'PALESTINE', 'region': 5},
 129: {'COUNTRY_OF_CITIZENSHIP': 'PALESTINIAN TERRITORIES', 'region': 5},
 130: {'COUNTRY_OF_CITIZENSHIP': 'PANAMA', 'region': 2},
 131: {'COUNTRY_OF_CITIZENSHIP': 'PARAGUAY', 'region': 8},
 132: {'COUNTRY_OF_CITIZENSHIP': 'PERU', 'region': 8},
 133: {'COUNTRY_OF_CITIZENSHIP': 'PHILIPPINES', 'region': 1},
 134: {'COUNTRY_OF_CITIZENSHIP': 'POLAND', 'region': 4},
 135: {'COUNTRY_OF_CITIZENSHIP': 'PORTUGAL', 'region': 4},
 136: {'COUNTRY_OF_CITIZENSHIP': 'REPUBLIC OF CONGO', 'region': 0},
 137: {'COUNTRY_OF_CITIZENSHIP': 'ROMANIA', 'region': 3},
 138: {'COUNTRY_OF_CITIZENSHIP': 'RUSSIA', 'region': 3},
 139: {'COUNTRY_OF_CITIZENSHIP': 'RWANDA', 'region': 0},
 140: {'COUNTRY_OF_CITIZENSHIP': 'SAINT VINCENT AND THE GRENADINES',
  'region': 9},
 141: {'COUNTRY_OF_CITIZENSHIP': 'SAMOA', 'region': 7},
 142: {'COUNTRY_OF_CITIZENSHIP': 'SAO TOME AND PRINCIPE', 'region': 0},
 143: {'COUNTRY_OF_CITIZENSHIP': 'SAUDI ARABIA', 'region': 5},
 144: {'COUNTRY_OF_CITIZENSHIP': 'SENEGAL', 'region': 0},
 145: {'COUNTRY_OF_CITIZENSHIP': 'SERBIA', 'region': 3},
 146: {'COUNTRY_OF_CITIZENSHIP': 'SERBIA AND MONTENEGRO', 'region': 3},
 147: {'COUNTRY_OF_CITIZENSHIP': 'SEYCHELLES', 'region': 0},
 148: {'COUNTRY_OF_CITIZENSHIP': 'SIERRA LEONE', 'region': 0},
 149: {'COUNTRY_OF_CITIZENSHIP': 'SINGAPORE', 'region': 1},
 150: {'COUNTRY_OF_CITIZENSHIP': 'SLOVAKIA', 'region': 4},
 151: {'COUNTRY_OF_CITIZENSHIP': 'SLOVENIA', 'region': 4},
 152: {'COUNTRY_OF_CITIZENSHIP': 'SOMALIA', 'region': 0},
 153: {'COUNTRY_OF_CITIZENSHIP': 'SOUTH AFRICA', 'region': 0},
 154: {'COUNTRY_OF_CITIZENSHIP': 'SOUTH KOREA', 'region': 1},
 155: {'COUNTRY_OF_CITIZENSHIP': 'SOUTH SUDAN', 'region': 0},
 156: {'COUNTRY_OF_CITIZENSHIP': 'SPAIN', 'region': 4},
 157: {'COUNTRY_OF_CITIZENSHIP': 'SRI LANKA', 'region': 1},
 158: {'COUNTRY_OF_CITIZENSHIP': 'ST LUCIA', 'region': 9},
 159: {'COUNTRY_OF_CITIZENSHIP': 'ST VINCENT', 'region': 9},
 160: {'COUNTRY_OF_CITIZENSHIP': 'SUDAN', 'region': 0},
 161: {'COUNTRY_OF_CITIZENSHIP': 'SURINAME', 'region': 8},
 162: {'COUNTRY_OF_CITIZENSHIP': 'SWEDEN', 'region': 4},
 163: {'COUNTRY_OF_CITIZENSHIP': 'SWITZERLAND', 'region': 4},
 164: {'COUNTRY_OF_CITIZENSHIP': 'SYRIA', 'region': 5},
 165: {'COUNTRY_OF_CITIZENSHIP': 'TAIWAN', 'region': 1},
 166: {'COUNTRY_OF_CITIZENSHIP': 'TAJIKISTAN', 'region': 1},
 167: {'COUNTRY_OF_CITIZENSHIP': 'TANZANIA', 'region': 0},
 168: {'COUNTRY_OF_CITIZENSHIP': 'THAILAND', 'region': 1},
 169: {'COUNTRY_OF_CITIZENSHIP': 'TOGO', 'region': 0},
 170: {'COUNTRY_OF_CITIZENSHIP': 'TRINIDAD AND TOBAGO', 'region': 9},
 171: {'COUNTRY_OF_CITIZENSHIP': 'TUNISIA', 'region': 0},
 172: {'COUNTRY_OF_CITIZENSHIP': 'TURKEY', 'region': 3},
 173: {'COUNTRY_OF_CITIZENSHIP': 'TURKMENISTAN', 'region': 1},
 174: {'COUNTRY_OF_CITIZENSHIP': 'TURKS AND CAICOS ISLANDS', 'region': 9},
 175: {'COUNTRY_OF_CITIZENSHIP': 'UGANDA', 'region': 0},
 176: {'COUNTRY_OF_CITIZENSHIP': 'UKRAINE', 'region': 3},
 177: {'COUNTRY_OF_CITIZENSHIP': 'UNITED ARAB EMIRATES', 'region': 5},
 178: {'COUNTRY_OF_CITIZENSHIP': 'UNITED KINGDOM', 'region': 4},
 179: {'COUNTRY_OF_CITIZENSHIP': 'UNITED STATES OF AMERICA', 'region': 6},
 180: {'COUNTRY_OF_CITIZENSHIP': 'URUGUAY', 'region': 8},
 181: {'COUNTRY_OF_CITIZENSHIP': 'UZBEKISTAN', 'region': 1},
 182: {'COUNTRY_OF_CITIZENSHIP': 'VANUATU', 'region': 7},
 183: {'COUNTRY_OF_CITIZENSHIP': 'VENEZUELA', 'region': 8},
 184: {'COUNTRY_OF_CITIZENSHIP': 'VIETNAM', 'region': 1},
 185: {'COUNTRY_OF_CITIZENSHIP': 'YEMEN', 'region': 5},
 186: {'COUNTRY_OF_CITIZENSHIP': 'ZAMBIA', 'region': 0},
 187: {'COUNTRY_OF_CITIZENSHIP': 'ZIMBABWE', 'region': 0},
 188: {'COUNTRY_OF_CITIZENSHIP': 'ST KITTS AND NEVIS', 'region': 9},
 189: {'COUNTRY_OF_CITIZENSHIP': 'SWAZILAND', 'region': 0}}

In [18]:
case_status_country.reset_index(level=0, inplace=True)
case_status_country.head()

  COUNTRY_OF_CITIZENSHIP  NUM_OF_CERTIFIED_CASES
0            AFGHANISTAN                       9
1                ALBANIA                      60
2                ALGERIA                      24
3                ANDORRA                       1
4                 ANGOLA                       5

In [19]:

case_status_country['COUNTRY_OF_CITIZENSHIP'] = case_status_country['COUNTRY_OF_CITIZENSHIP'].astype(str)

In [20]:
region_code_list=[]

for country in case_status_country["COUNTRY_OF_CITIZENSHIP"]:
    region_code_list.append(cct.covertcountrytoRegion(country))

In [21]:
len(region_code_list)

186

In [22]:
case_status_country.head()

  COUNTRY_OF_CITIZENSHIP  NUM_OF_CERTIFIED_CASES
0            AFGHANISTAN                       9
1                ALBANIA                      60
2                ALGERIA                      24
3                ANDORRA                       1
4                 ANGOLA                       5

In [24]:
case_status_country["Region_Code"]=region_code_list

In [25]:
case_status_country["Region_Code"].isnull().sum()

0

In [26]:
case_status_country.head()

  COUNTRY_OF_CITIZENSHIP  NUM_OF_CERTIFIED_CASES  Region_Code
0            AFGHANISTAN                       9            1
1                ALBANIA                      60            3
2                ALGERIA                      24            0
3                ANDORRA                       1            3
4                 ANGOLA                       5            0

In [27]:
case_status_country["Region_Name"] = ""

In [28]:
case_status_country.head()

  COUNTRY_OF_CITIZENSHIP  NUM_OF_CERTIFIED_CASES  Region_Code Region_Name
0            AFGHANISTAN                       9            1
1                ALBANIA                      60            3
2                ALGERIA                      24            0
3                ANDORRA                       1            3
4                 ANGOLA                       5            0

In [29]:
Region_Name_List = []
for code in case_status_country["Region_Code"]:
    for regioncode in cct.region:
        if code == regioncode:
            Region_Name_List.append(cct.region[code]["region"])

In [30]:
len(Region_Name_List)

186

In [32]:
case_status_country["Region_Name"]=Region_Name_List

In [33]:
case_status_country.head()

  COUNTRY_OF_CITIZENSHIP  NUM_OF_CERTIFIED_CASES  Region_Code     Region_Name
0            AFGHANISTAN                       9            1            Asia
1                ALBANIA                      60            3  Eastern Europe
2                ALGERIA                      24            0          Africa
3                ANDORRA                       1            3  Eastern Europe
4                 ANGOLA                       5            0          Africa

In [34]:
case_status_country.to_csv('../Resources/certified_byregion_country.csv', index = False)