In [67]:
import pandas as pd
import numpy as np

In [68]:
data = pd.read_csv('../Resources/certified_denied.csv')

In [69]:
data.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,NaN,25,A-14246-03533,2015-06-22,Certified,2014-12-19,185,0.506849,"CITRIX SYSTEMS, INC.",FORT LAUDERDALE,...,1973-03-30 00:00:00,CHINA,CHINA,H-1B,Master's,NaN,2015,6,2014.0,12.0
1,NaN,28,A-14198-89806,2015-04-06,Certified,2014-07-18,262,0.717808,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,...,75063,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2014.0,7.0
2,NaN,35,A-14222-96825,2015-06-24,Certified,2014-12-11,195,0.534247,SAT SOLUTIONS LLC,MONROE,...,75001,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,6,2014.0,12.0
3,NaN,61,A-13216-85505,2015-05-29,Certified,2013-08-05,662,1.813699,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,210001,CHINA,CHINA,NaN,Associate's,NaN,2015,5,2013.0,8.0
4,NaN,63,A-13179-76467,2015-04-20,Certified,2013-06-28,661,1.810959,FARROKH ERFAN,GAITHERSBURG,...,NaN,IRAN,IRAN,NaN,Bachelor's,NaN,2015,4,2013.0,6.0

In [70]:
data2 = data.loc[data['COUNTRY_OF_CITIZENSHIP'] == 'ECUADOR']

In [71]:
data2['COUNTRY_OF_CITIZENSHIP'].value_counts()

ECUADOR    548
Name: COUNTRY_OF_CITIZENSHIP, dtype: int64

In [72]:
data3 = data2.loc[data2['WAGE_OFFER_UNIT_OF_PAY_9089'] == 'Year']

In [73]:
data3['WAGE_OFFER_UNIT_OF_PAY_9089'].value_counts()

Year    437
Name: WAGE_OFFER_UNIT_OF_PAY_9089, dtype: int64

In [74]:
data3.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'CASE_NUMBER', 'DECISION_DATE',
       'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_ELAPSED_DAYS',
       'DECISION_ELAPSED_YEARS', 'EMPLOYER_NAME', 'EMPLOYER_CITY',
       'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_NUM_EMPLOYEES',
       'AGENT_FIRM_NAME', 'AGENT_CITY', 'AGENT_STATE', 'PW_SOC_CODE',
       'PW_SOC_TITLE', 'PW_AMOUNT_9089', 'WAGE_OFFER_FROM_9089',
       'WAGE_OFFER_UNIT_OF_PAY_9089', 'JOB_INFO_WORK_CITY',
       'JOB_INFO_WORK_STATE', 'JOB_INFO_WORK_POSTAL_CODE',
       'JOB_INFO_JOB_TITLE', 'JOB_INFO_EDUCATION', 'JOB_INFO_EDUCATION_OTHER',
       'FOREIGN_WORKER_INFO_CITY', 'FOREIGN_WORKER_INFO_STATE',
       'FW_INFO_POSTAL_CODE', 'COUNTRY_OF_CITIZENSHIP',
       'FW_INFO_BIRTH_COUNTRY', 'CLASS_OF_ADMISSION',
       'FOREIGN_WORKER_INFO_EDUCATION', 'FW_INFO_EDUCATION_OTHER',
       'DECISION_DATE_YEAR', 'DECISION_DATE_MONTH', 'CASE_RECEIVED_DATE_YEAR',
       'CASE_RECEIVED_DATE_MONTH'],
      dtype='object')

In [75]:
data4 = data3[[
    'CASE_STATUS',
    'DECISION_ELAPSED_DAYS',
    'EMPLOYER_POSTAL_CODE',
    'EMPLOYER_STATE',
    'EMPLOYER_NUM_EMPLOYEES',
    'WAGE_OFFER_FROM_9089',
    'COUNTRY_OF_CITIZENSHIP',
    'CLASS_OF_ADMISSION',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CASE_RECEIVED_DATE_MONTH'
]]

In [76]:
data4.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH
89,Certified,555,19102,PENNSYLVANIA,3100.0,169250.0,ECUADOR,H-1B,Bachelor's,11.0
100,Certified,744,10014,NEW YORK,10.0,40123.0,ECUADOR,EWI,None,7.0
186,Certified,556,95077,CALIFORNIA,778.0,118331.0,ECUADOR,H-1B,Master's,12.0
262,Certified,495,10019,NEW YORK,3883.0,180294.0,ECUADOR,H-1B,Bachelor's,3.0
1953,Certified,176,75063,TEXAS,520.0,80000.0,ECUADOR,H-1B,Master's,11.0

In [77]:
states = []

for row in data4['EMPLOYER_STATE']:
    if row == "ME":
        states.append("MAINE")
    elif row == "NH":
        states.append("NEW HAMPSHIRE")
    elif row == "VT":
        states.append("VERMONT")
    elif row == "MA":
        states.append("MASSACHUSETTS")
    elif row == "RI":
        states.append("RHODE ISLAND")
    elif row == "CT":
        states.append("CONNECTICUT")
    elif row == "NY":
        states.append("NEW YORK")
    elif row == "NJ":
        states.append("NEW JERSEY")
    elif row == "PA":
        states.append("PENNSYLVANIA")
    elif row == "DE":
        states.append("DELAWARE")
    elif row == "MD":
        states.append("MARYLAND")
    elif row == "DC":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VA":
        states.append("VIRGINIA")
    elif row == "WV":
        states.append("WEST VIRGINIA")
    elif row == "NC":
        states.append("NORTH CAROLINA")
    elif row == "SC":
        states.append("SOUTH CAROLINA")
    elif row == "GA":
        states.append("GEORGIA")
    elif row == "FL":
        states.append("FLORIDA")
    elif row == "AL":
        states.append("ALABAMA")
    elif row == "TN":
        states.append("TENNESSEE")
    elif row == "TENNESSE":
        states.append("TENNESSEE")
    elif row == "KY":
        states.append("KENTUCKY")
    elif row == "OH":
        states.append("OHIO")
    elif row == "MI":
        states.append("MICHIGAN")
    elif row == "IN":
        states.append("INDIANA")
    elif row == "MS":
        states.append("MISSISSIPPI")
    elif row == "IL":
        states.append("ILLINOIS")
    elif row == "WI":
        states.append("WISCONSIN")
    elif row == "MN":
        states.append("MINNESOTA")
    elif row == "IA":
        states.append("IOWA")
    elif row == "MO":
        states.append("MISSOURI")
    elif row == "AR":
        states.append("ARKANSAS")
    elif row == "LA":
        states.append("LOUISIANA")
    elif row == "ND":
        states.append("NORTH DAKOTA")
    elif row == "SD":
        states.append("SOUTH DAKOTA")
    elif row == "NE":
        states.append("NEBRASKA")
    elif row == "KS":
        states.append("KANSAS")
    elif row == "OK":
        states.append("OKLAHOMA")
    elif row == "TX":
        states.append("TEXAS")
    elif row == "MT":
        states.append("MONTANA")
    elif row == "WY":
        states.append("WYOMING")
    elif row == "CO":
        states.append("COLORADO")
    elif row == "NM":
        states.append("NEW MEXICO")
    elif row == "ID":
        states.append("IDAHO")
    elif row == "UT":
        states.append("UTAH")
    elif row == "AZ":
        states.append("ARIZONA")
    elif row == "WA":
        states.append("WASHINGTON")
    elif row == "OR":
        states.append("OREGON")
    elif row == "NV":
        states.append("NEVADA")
    elif row == "CA":
        states.append("CALIFORNIA")
    elif row == "AK":
        states.append("ALASKA")
    elif row == "HI":
        states.append("HAWAII")
    elif row == "PR":
        states.append("PUERTO RICO")
    elif row == "MP":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VI":
        states.append("VIRGIN ISLANDS")
    elif row == "GU":
        states.append("GUAM")
    else:
        states.append("UNKNOWN")
        
data4['EMPLOYER_STATES'] = states

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [78]:
data4['EMPLOYER_STATES'].value_counts()

UNKNOWN                 121
NEW YORK                105
NEW JERSEY               44
FLORIDA                  32
CALIFORNIA               20
TEXAS                    15
CONNECTICUT              13
NORTH CAROLINA            9
MARYLAND                  9
VIRGINIA                  8
ILLINOIS                  7
MISSOURI                  6
INDIANA                   5
MASSACHUSETTS             4
WASHINGTON                4
MINNESOTA                 4
IOWA                      3
LOUISIANA                 3
MICHIGAN                  3
TENNESSEE                 3
PENNSYLVANIA              3
RHODE ISLAND              2
NEW MEXICO                2
ARKANSAS                  2
NEBRASKA                  2
KANSAS                    1
DISTRICT OF COLUMBIA      1
OREGON                    1
COLORADO                  1
SOUTH DAKOTA              1
HAWAII                    1
ALABAMA                   1
ARIZONA                   1
Name: EMPLOYER_STATES, dtype: int64

In [79]:
data4['ZIP_CODE'] = data4['EMPLOYER_POSTAL_CODE'].where(data4['EMPLOYER_POSTAL_CODE'].str.len() == 5)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [80]:
data5 = data4.dropna(how='any')

In [81]:
data5.to_excel('../Resources/ML_Ecuador.xlsx', index = False)

In [82]:
data6 = pd.read_csv('../Resources/ML_Ecuador.csv')

In [83]:
data6.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH,EMPLOYER_STATES,ZIP_CODE
0,Certified,105,98121,WA,341400,120000.0,ECUADOR,H-1B,Master's,5,WASHINGTON,98121
1,Certified,143,98103,WA,2400,64688.0,ECUADOR,H-1B,Bachelor's,12,WASHINGTON,98103
2,Certified,435,98052,WASHINGTON,58000,137972.0,ECUADOR,H-1B,Bachelor's,6,WASHINGTON,98052
3,Certified,81,98052,WA,73172,119980.0,ECUADOR,H-1B,Bachelor's,4,WASHINGTON,98052
4,Certified,107,98052,WA,73172,93300.0,ECUADOR,L-1,Bachelor's,2,WASHINGTON,98052

In [84]:
states = []

for row in data6['EMPLOYER_STATES']:
    if row == "MAINE":
        states.append("NORTHEAST")
    elif row == "NEW HAMPSHIRE":
        states.append("NORTHEAST")
    elif row == "VERMONT":
        states.append("NORTHEAST")
    elif row == "MASSACHUSETTS":
        states.append("NORTHEAST")
    elif row == "RHODE ISLAND":
        states.append("NORTHEAST")
    elif row == "CONNECTICUT":
        states.append("NORTHEAST")
    elif row == "NEW YORK":
        states.append("NORTHEAST")
    elif row == "NEW JERSEY":
        states.append("NORTHEAST")
    elif row == "PENNSYLVANIA":
        states.append("NORTHEAST")
    elif row == "DELAWARE":
        states.append("SOUTH")
    elif row == "MARYLAND":
        states.append("SOUTH")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("SOUTH")
    elif row == "VIRGINIA":
        states.append("SOUTH")
    elif row == "WEST VIRGINIA":
        states.append("SOUTH")
    elif row == "NORTH CAROLINA":
        states.append("SOUTH")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH")
    elif row == "GEORGIA":
        states.append("SOUTH")
    elif row == "FLORIDA":
        states.append("SOUTH")
    elif row == "ALABAMA":
        states.append("SOUTH")
    elif row == "TENNESSE":
        states.append("SOUTH")
    elif row == "KENTUCKY":
        states.append("SOUTH")
    elif row == "OHIO":
        states.append("MIDWEST")
    elif row == "MICHIGAN":
        states.append("MIDWEST")
    elif row == "INDIANA":
        states.append("MIDWEST")
    elif row == "MISSISSIPPI":
        states.append("SOUTH")
    elif row == "ILLINOIS":
        states.append("MIDWEST")
    elif row == "WISCONSIN":
        states.append("MIDWEST")
    elif row == "MINNESOTA":
        states.append("MIDWEST")
    elif row == "IOWA":
        states.append("MIDWEST")
    elif row == "MISSOURI":
        states.append("MIDWEST")
    elif row == "ARKANSAS":
        states.append("SOUTH")
    elif row == "LOUISIANA":
        states.append("SOUTH")
    elif row == "NORTH DAKOTA":
        states.append("MIDWEST")
    elif row == "SOUTH DAKOTA":
        states.append("MIDWEST")
    elif row == "NEBRASKA":
        states.append("MIDWEST")
    elif row == "KANSAS":
        states.append("MIDWEST")
    elif row == "OKLAHOMA":
        states.append("SOUTH")
    elif row == "TEXAS":
        states.append("SOUTH")
    elif row == "MONTANA":
        states.append("WEST")
    elif row == "WYOMING":
        states.append("WEST")
    elif row == "COLORADO":
        states.append("WEST")
    elif row == "NEW MEXICO":
        states.append("WEST")
    elif row == "IDAHO":
        states.append("WEST")
    elif row == "UTAH":
        states.append("WEST")
    elif row == "ARIZONA":
        states.append("WEST")
    elif row == "WASHINGTON":
        states.append("WEST")
    elif row == "OREGON":
        states.append("WEST")
    elif row == "NEVADA":
        states.append("WEST")
    elif row == "CALIFORNIA":
        states.append("WEST")
    elif row == "ALASKA":
        states.append("WEST")
    elif row == "HAWAII":
        states.append("WEST")
    elif row == "PUERTO RICO":
        states.append("OTHER")
    elif row == "TENNESSEE":
        states.append("SOUTH")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("OTHER")
    elif row == "VIRGIN ISLANDS":
        states.append("OTHER")
    elif row == "GUAM":
        states.append("OTHER")
    else:
        states.append("UNKNOWN")
        
data6['EMPLOYER_REGIONS'] = states

In [85]:
data6['EMPLOYER_REGIONS'].value_counts()

NORTHEAST    173
SOUTH         86
MIDWEST       40
WEST          28
OTHER          1
Name: EMPLOYER_REGIONS, dtype: int64

In [86]:
data6.count()

CASE_STATUS                      328
DECISION_ELAPSED_DAYS            328
EMPLOYER_POSTAL_CODE             328
EMPLOYER_STATE                   328
EMPLOYER_NUM_EMPLOYEES           328
WAGE_OFFER_FROM_9089             328
COUNTRY_OF_CITIZENSHIP           328
CLASS_OF_ADMISSION               328
FOREIGN_WORKER_INFO_EDUCATION    328
CASE_RECEIVED_DATE_MONTH         328
EMPLOYER_STATES                  328
ZIP_CODE                         328
EMPLOYER_REGIONS                 328
dtype: int64

In [87]:
data6['DAY_BINS'] = pd.cut(x=data6['DECISION_ELAPSED_DAYS'], 
                             bins=[0, 90, 180, 365, 3600],
                           labels=['0-90', '91-180', '181-365', '366-3600'])

In [88]:
data6['DAY_BINS'].value_counts()

91-180      97
366-3600    89
181-365     85
0-90        56
Name: DAY_BINS, dtype: int64

In [91]:
data6['WAGE_BINS'] = pd.cut(x=data6['WAGE_OFFER_FROM_9089'], 
                             bins=[0, 25000, 50000, 75000, 100000, 500000],
                           labels=['0-25000', '25001-50000', '50001-75000', '75001-100000', '100000-500000'])

In [92]:
data6['WAGE_BINS'].value_counts()

25001-50000      118
50001-75000       67
100000-500000     61
75001-100000      52
0-25000           30
Name: WAGE_BINS, dtype: int64

In [95]:
data6['EMPLOYEE_BINS'] = pd.cut(x=data6['EMPLOYER_NUM_EMPLOYEES'], 
                             bins=[0, 50, 100, 500, 1000, 10000, 1000000000],
                           labels=['0-50', '51-100', '101-500', '501-1000', '1001-10000', '10001-1000000000'])

In [96]:
data6['EMPLOYEE_BINS'].value_counts()

0-50                183
10001-1000000000     38
1001-10000           38
101-500              38
51-100               17
501-1000             12
Name: EMPLOYEE_BINS, dtype: int64

In [97]:
data6.count()

CASE_STATUS                      328
DECISION_ELAPSED_DAYS            328
EMPLOYER_POSTAL_CODE             328
EMPLOYER_STATE                   328
EMPLOYER_NUM_EMPLOYEES           328
WAGE_OFFER_FROM_9089             328
COUNTRY_OF_CITIZENSHIP           328
CLASS_OF_ADMISSION               328
FOREIGN_WORKER_INFO_EDUCATION    328
CASE_RECEIVED_DATE_MONTH         328
EMPLOYER_STATES                  328
ZIP_CODE                         328
EMPLOYER_REGIONS                 328
DAY_BINS                         327
WAGE_BINS                        328
EMPLOYEE_BINS                    326
dtype: int64

In [98]:
data7 = data6[[
    'CASE_STATUS',
    'EMPLOYEE_BINS',
    'WAGE_BINS',
    'EMPLOYER_REGIONS',
    'CASE_RECEIVED_DATE_MONTH',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CLASS_OF_ADMISSION',
    'DAY_BINS'
]]

In [99]:
data7.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS
0,Certified,10001-1000000000,100000-500000,WEST,5,Master's,H-1B,91-180
1,Certified,1001-10000,50001-75000,WEST,12,Bachelor's,H-1B,91-180
2,Certified,10001-1000000000,100000-500000,WEST,6,Bachelor's,H-1B,366-3600
3,Certified,10001-1000000000,100000-500000,WEST,4,Bachelor's,H-1B,0-90
4,Certified,10001-1000000000,75001-100000,WEST,2,Bachelor's,L-1,91-180

In [100]:
data7.dtypes

CASE_STATUS                        object
EMPLOYEE_BINS                    category
WAGE_BINS                        category
EMPLOYER_REGIONS                   object
CASE_RECEIVED_DATE_MONTH            int64
FOREIGN_WORKER_INFO_EDUCATION      object
CLASS_OF_ADMISSION                 object
DAY_BINS                         category
dtype: object

In [101]:
from sklearn.preprocessing import LabelEncoder
num_encode = LabelEncoder()

In [102]:
data7['CLASS_OF_ADMISSION_CODE'] = num_encode.fit_transform(data7['CLASS_OF_ADMISSION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [103]:
data7['FOREIGN_WORKER_INFO_EDUCATION_CODE'] = num_encode.fit_transform(data7['FOREIGN_WORKER_INFO_EDUCATION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [105]:
data7['WAGE_BINS_CODE'] = num_encode.fit_transform(data7['WAGE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [106]:
data7['EMPLOYER_REGIONS_CODE'] = num_encode.fit_transform(data7['EMPLOYER_REGIONS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [111]:
data7['DAY_BINS'] = data7['DAY_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [112]:
data7['DAY_BINS_CODE'] = num_encode.fit_transform(data7['DAY_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [113]:
data7['EMPLOYEE_BINS'] = data7['EMPLOYEE_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [114]:
data7['EMPLOYEE_BINS_CODE'] = num_encode.fit_transform(data7['EMPLOYEE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [115]:
data7.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS,CLASS_OF_ADMISSION_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,WAGE_BINS_CODE,EMPLOYER_REGIONS_CODE,DAY_BINS_CODE,EMPLOYEE_BINS_CODE
0,Certified,10001-1000000000,100000-500000,WEST,5,Master's,H-1B,91-180,7,4,1,4,3,1
1,Certified,1001-10000,50001-75000,WEST,12,Bachelor's,H-1B,91-180,7,1,3,4,3,2
2,Certified,10001-1000000000,100000-500000,WEST,6,Bachelor's,H-1B,366-3600,7,1,1,4,2,1
3,Certified,10001-1000000000,100000-500000,WEST,4,Bachelor's,H-1B,0-90,7,1,1,4,0,1
4,Certified,10001-1000000000,75001-100000,WEST,2,Bachelor's,L-1,91-180,10,1,4,4,3,1

In [116]:
data7.to_excel('../Resources/ML2_Ecuador.xlsx', index = False)

In [117]:
data7.count()

CASE_STATUS                           328
EMPLOYEE_BINS                         328
WAGE_BINS                             328
EMPLOYER_REGIONS                      328
CASE_RECEIVED_DATE_MONTH              328
FOREIGN_WORKER_INFO_EDUCATION         328
CLASS_OF_ADMISSION                    328
DAY_BINS                              328
CLASS_OF_ADMISSION_CODE               328
FOREIGN_WORKER_INFO_EDUCATION_CODE    328
WAGE_BINS_CODE                        328
EMPLOYER_REGIONS_CODE                 328
DAY_BINS_CODE                         328
EMPLOYEE_BINS_CODE                    328
dtype: int64

In [118]:
data8 = data7[[
    'CASE_STATUS',
    'EMPLOYEE_BINS_CODE',
    'WAGE_BINS_CODE',
    'DAY_BINS_CODE',
    'FOREIGN_WORKER_INFO_EDUCATION_CODE',
    'CLASS_OF_ADMISSION_CODE',
    'CASE_RECEIVED_DATE_MONTH',
    'EMPLOYER_REGIONS_CODE'
]]

In [119]:
data8.head()

,CASE_STATUS,EMPLOYEE_BINS_CODE,WAGE_BINS_CODE,DAY_BINS_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,CLASS_OF_ADMISSION_CODE,CASE_RECEIVED_DATE_MONTH,EMPLOYER_REGIONS_CODE
0,Certified,1,1,3,4,7,5,4
1,Certified,2,3,3,1,7,12,4
2,Certified,1,1,2,1,7,6,4
3,Certified,1,1,0,1,7,4,4
4,Certified,1,4,3,1,10,2,4

In [120]:
data8.dtypes

CASE_STATUS                           object
EMPLOYEE_BINS_CODE                     int64
WAGE_BINS_CODE                         int64
DAY_BINS_CODE                          int64
FOREIGN_WORKER_INFO_EDUCATION_CODE     int64
CLASS_OF_ADMISSION_CODE                int64
CASE_RECEIVED_DATE_MONTH               int64
EMPLOYER_REGIONS_CODE                  int64
dtype: object