In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Resources/certified_denied.csv')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,NaN,25,A-14246-03533,2015-06-22,Certified,2014-12-19,185,0.506849,"CITRIX SYSTEMS, INC.",FORT LAUDERDALE,...,1973-03-30 00:00:00,CHINA,CHINA,H-1B,Master's,NaN,2015,6,2014.0,12.0
1,NaN,28,A-14198-89806,2015-04-06,Certified,2014-07-18,262,0.717808,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,...,75063,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2014.0,7.0
2,NaN,35,A-14222-96825,2015-06-24,Certified,2014-12-11,195,0.534247,SAT SOLUTIONS LLC,MONROE,...,75001,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,6,2014.0,12.0
3,NaN,61,A-13216-85505,2015-05-29,Certified,2013-08-05,662,1.813699,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,210001,CHINA,CHINA,NaN,Associate's,NaN,2015,5,2013.0,8.0
4,NaN,63,A-13179-76467,2015-04-20,Certified,2013-06-28,661,1.810959,FARROKH ERFAN,GAITHERSBURG,...,NaN,IRAN,IRAN,NaN,Bachelor's,NaN,2015,4,2013.0,6.0

In [4]:
data2 = data.loc[data['COUNTRY_OF_CITIZENSHIP'] == 'POLAND']

In [5]:
data2['COUNTRY_OF_CITIZENSHIP'].value_counts()

POLAND    1098
Name: COUNTRY_OF_CITIZENSHIP, dtype: int64

In [6]:
data3 = data2.loc[data2['WAGE_OFFER_UNIT_OF_PAY_9089'] == 'Year']

In [7]:
data3['WAGE_OFFER_UNIT_OF_PAY_9089'].value_counts()

Year    1066
Name: WAGE_OFFER_UNIT_OF_PAY_9089, dtype: int64

In [8]:
data3.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'CASE_NUMBER', 'DECISION_DATE',
       'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_ELAPSED_DAYS',
       'DECISION_ELAPSED_YEARS', 'EMPLOYER_NAME', 'EMPLOYER_CITY',
       'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_NUM_EMPLOYEES',
       'AGENT_FIRM_NAME', 'AGENT_CITY', 'AGENT_STATE', 'PW_SOC_CODE',
       'PW_SOC_TITLE', 'PW_AMOUNT_9089', 'WAGE_OFFER_FROM_9089',
       'WAGE_OFFER_UNIT_OF_PAY_9089', 'JOB_INFO_WORK_CITY',
       'JOB_INFO_WORK_STATE', 'JOB_INFO_WORK_POSTAL_CODE',
       'JOB_INFO_JOB_TITLE', 'JOB_INFO_EDUCATION', 'JOB_INFO_EDUCATION_OTHER',
       'FOREIGN_WORKER_INFO_CITY', 'FOREIGN_WORKER_INFO_STATE',
       'FW_INFO_POSTAL_CODE', 'COUNTRY_OF_CITIZENSHIP',
       'FW_INFO_BIRTH_COUNTRY', 'CLASS_OF_ADMISSION',
       'FOREIGN_WORKER_INFO_EDUCATION', 'FW_INFO_EDUCATION_OTHER',
       'DECISION_DATE_YEAR', 'DECISION_DATE_MONTH', 'CASE_RECEIVED_DATE_YEAR',
       'CASE_RECEIVED_DATE_MONTH'],
      dtype='object')

In [9]:
data4 = data3[[
    'CASE_STATUS',
    'DECISION_ELAPSED_DAYS',
    'EMPLOYER_POSTAL_CODE',
    'EMPLOYER_STATE',
    'EMPLOYER_NUM_EMPLOYEES',
    'WAGE_OFFER_FROM_9089',
    'COUNTRY_OF_CITIZENSHIP',
    'CLASS_OF_ADMISSION',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CASE_RECEIVED_DATE_MONTH'
]]

In [10]:
data4.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH
9,Certified,549,60188,ILLINOIS,17.0,60000.0,POLAND,H-1B,Master's,12.0
849,Certified,175,11787,NEW YORK,0.0,27851.0,POLAND,B-2,High School,12.0
1142,Certified,218,07057,NEW JERSEY,5.0,30000.0,POLAND,B-2,Associate's,12.0
1670,Certified,204,10003,NEW YORK,69.0,75046.0,POLAND,H-1B,Master's,1.0
2134,Certified,205,60647,ILLINOIS,6.0,41122.0,POLAND,F-1,None,11.0

In [11]:
states = []

for row in data4['EMPLOYER_STATE']:
    if row == "ME":
        states.append("MAINE")
    elif row == "NH":
        states.append("NEW HAMPSHIRE")
    elif row == "VT":
        states.append("VERMONT")
    elif row == "MA":
        states.append("MASSACHUSETTS")
    elif row == "RI":
        states.append("RHODE ISLAND")
    elif row == "CT":
        states.append("CONNECTICUT")
    elif row == "NY":
        states.append("NEW YORK")
    elif row == "NJ":
        states.append("NEW JERSEY")
    elif row == "PA":
        states.append("PENNSYLVANIA")
    elif row == "DE":
        states.append("DELAWARE")
    elif row == "MD":
        states.append("MARYLAND")
    elif row == "DC":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VA":
        states.append("VIRGINIA")
    elif row == "WV":
        states.append("WEST VIRGINIA")
    elif row == "NC":
        states.append("NORTH CAROLINA")
    elif row == "SC":
        states.append("SOUTH CAROLINA")
    elif row == "GA":
        states.append("GEORGIA")
    elif row == "FL":
        states.append("FLORIDA")
    elif row == "AL":
        states.append("ALABAMA")
    elif row == "TN":
        states.append("TENNESSEE")
    elif row == "TENNESSE":
        states.append("TENNESSEE")
    elif row == "KY":
        states.append("KENTUCKY")
    elif row == "OH":
        states.append("OHIO")
    elif row == "MI":
        states.append("MICHIGAN")
    elif row == "IN":
        states.append("INDIANA")
    elif row == "MS":
        states.append("MISSISSIPPI")
    elif row == "IL":
        states.append("ILLINOIS")
    elif row == "WI":
        states.append("WISCONSIN")
    elif row == "MN":
        states.append("MINNESOTA")
    elif row == "IA":
        states.append("IOWA")
    elif row == "MO":
        states.append("MISSOURI")
    elif row == "AR":
        states.append("ARKANSAS")
    elif row == "LA":
        states.append("LOUISIANA")
    elif row == "ND":
        states.append("NORTH DAKOTA")
    elif row == "SD":
        states.append("SOUTH DAKOTA")
    elif row == "NE":
        states.append("NEBRASKA")
    elif row == "KS":
        states.append("KANSAS")
    elif row == "OK":
        states.append("OKLAHOMA")
    elif row == "TX":
        states.append("TEXAS")
    elif row == "MT":
        states.append("MONTANA")
    elif row == "WY":
        states.append("WYOMING")
    elif row == "CO":
        states.append("COLORADO")
    elif row == "NM":
        states.append("NEW MEXICO")
    elif row == "ID":
        states.append("IDAHO")
    elif row == "UT":
        states.append("UTAH")
    elif row == "AZ":
        states.append("ARIZONA")
    elif row == "WA":
        states.append("WASHINGTON")
    elif row == "OR":
        states.append("OREGON")
    elif row == "NV":
        states.append("NEVADA")
    elif row == "CA":
        states.append("CALIFORNIA")
    elif row == "AK":
        states.append("ALASKA")
    elif row == "HI":
        states.append("HAWAII")
    elif row == "PR":
        states.append("PUERTO RICO")
    elif row == "MP":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VI":
        states.append("VIRGIN ISLANDS")
    elif row == "GU":
        states.append("GUAM")
    elif row == "NEW HAMPSHIRE":
        states.append("NEW HAMPSHIRE")
    elif row == "VERMONT":
        states.append("VERMONT")
    elif row == "MASSACHUSETTS":
        states.append("MASSACHUSETTS")
    elif row == "RHODE ISLAND":
        states.append("RHODE ISLAND")
    elif row == "CONNECTICUT":
        states.append("CONNECTICUT")
    elif row == "NEW YORK":
        states.append("NEW YORK")
    elif row == "NEW JERSEY":
        states.append("NEW JERSEY")
    elif row == "PENNSYLVANIA":
        states.append("PENNSYLVANIA")
    elif row == "DELAWARE":
        states.append("DELAWARE")
    elif row == "MARYLAND":
        states.append("MARYLAND")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VIRGINIA":
        states.append("VIRGINIA")
    elif row == "WEST VIRGINIA":
        states.append("WEST VIRGINIA")
    elif row == "NORTH CAROLINA":
        states.append("NORTH CAROLINA")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH CAROLINA")
    elif row == "GEORGIA":
        states.append("GEORGIA")
    elif row == "FLORIDA":
        states.append("FLORIDA")
    elif row == "ALABAMA":
        states.append("ALABAMA")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "KENTUCKY":
        states.append("KENTUCKY")
    elif row == "OHIO":
        states.append("OHIO")
    elif row == "MICHIGAN":
        states.append("MICHIGAN")
    elif row == "INDIANA":
        states.append("INDIANA")
    elif row == "MISSISSIPPI":
        states.append("MISSISSIPPI")
    elif row == "ILLINOIS":
        states.append("ILLINOIS")
    elif row == "WISCONSIN":
        states.append("WISCONSIN")
    elif row == "MINNESOTA":
        states.append("MINNESOTA")
    elif row == "IOWA":
        states.append("IOWA")
    elif row == "MISSOURI":
        states.append("MISSOURI")
    elif row == "ARKANSAS":
        states.append("ARKANSAS")
    elif row == "LOUISIANA":
        states.append("LOUISIANA")
    elif row == "NORTH DAKOTA":
        states.append("NORTH DAKOTA")
    elif row == "SOUTH DAKOTA":
        states.append("SOUTH DAKOTA")
    elif row == "NEBRASKA":
        states.append("NEBRASKA")
    elif row == "KANSAS":
        states.append("KANSAS")
    elif row == "OKLAHOMA":
        states.append("OKLAHOMA")
    elif row == "TEXAS":
        states.append("TEXAS")
    elif row == "MONTANA":
        states.append("MONTANA")
    elif row == "WYOMING":
        states.append("WYOMING")
    elif row == "COLORADO":
        states.append("COLORADO")
    elif row == "NEW MEXICO":
        states.append("NEW MEXICO")
    elif row == "IDAHO":
        states.append("IDAHO")
    elif row == "UTAH":
        states.append("UTAH")
    elif row == "ARIZONA":
        states.append("ARIZONA")
    elif row == "WASHINGTON":
        states.append("WASHINGTON")
    elif row == "OREGON":
        states.append("OREGON")
    elif row == "NEVADA":
        states.append("NEVADA")
    elif row == "CALIFORNIA":
        states.append("CALIFORNIA")
    elif row == "ALASKA":
        states.append("ALASKA")
    elif row == "HAWAII":
        states.append("HAWAII")
    elif row == "PUERTO RICO":
        states.append("PUERTO RICO")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VIRGIN ISLANDS":
        states.append("VIRGIN ISLANDS")
    elif row == "GUAM":
        states.append("GUAM")
    else:
        states.append("UNKNOWN")
        
data4['EMPLOYER_STATES'] = states

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:229: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
data4['EMPLOYER_STATES'].value_counts()

ILLINOIS                266
NEW YORK                237
CALIFORNIA              178
NEW JERSEY              138
WASHINGTON               43
PENNSYLVANIA             30
CONNECTICUT              27
FLORIDA                  20
VIRGINIA                 20
TEXAS                    15
MASSACHUSETTS            13
MICHIGAN                 12
COLORADO                  6
OREGON                    5
GEORGIA                   5
NORTH CAROLINA            5
NEW MEXICO                5
WISCONSIN                 4
MARYLAND                  4
RHODE ISLAND              3
DISTRICT OF COLUMBIA      3
TENNESSEE                 3
ARKANSAS                  3
UTAH                      3
OHIO                      2
ARIZONA                   2
OKLAHOMA                  2
MISSOURI                  2
MINNESOTA                 2
LOUISIANA                 1
MISSISSIPPI               1
NEW HAMPSHIRE             1
NORTH DAKOTA              1
IOWA                      1
KANSAS                    1
ALABAMA                   1
SOUTH CAROLINA            1
Name: EMPLOYER_STATES, dtype: int64

In [13]:
data5 = data4.dropna(how='any')

In [14]:
data5.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH,EMPLOYER_STATES
9,Certified,549,60188,ILLINOIS,17.0,60000.0,POLAND,H-1B,Master's,12.0,ILLINOIS
849,Certified,175,11787,NEW YORK,0.0,27851.0,POLAND,B-2,High School,12.0,NEW YORK
1142,Certified,218,07057,NEW JERSEY,5.0,30000.0,POLAND,B-2,Associate's,12.0,NEW JERSEY
1670,Certified,204,10003,NEW YORK,69.0,75046.0,POLAND,H-1B,Master's,1.0,NEW YORK
2134,Certified,205,60647,ILLINOIS,6.0,41122.0,POLAND,F-1,None,11.0,ILLINOIS

In [15]:
states = []

for row in data5['EMPLOYER_STATES']:
    if row == "MAINE":
        states.append("NORTHEAST")
    elif row == "NEW HAMPSHIRE":
        states.append("NORTHEAST")
    elif row == "VERMONT":
        states.append("NORTHEAST")
    elif row == "MASSACHUSETTS":
        states.append("NORTHEAST")
    elif row == "RHODE ISLAND":
        states.append("NORTHEAST")
    elif row == "CONNECTICUT":
        states.append("NORTHEAST")
    elif row == "NEW YORK":
        states.append("NORTHEAST")
    elif row == "NEW JERSEY":
        states.append("NORTHEAST")
    elif row == "PENNSYLVANIA":
        states.append("NORTHEAST")
    elif row == "DELAWARE":
        states.append("SOUTH")
    elif row == "MARYLAND":
        states.append("SOUTH")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("SOUTH")
    elif row == "VIRGINIA":
        states.append("SOUTH")
    elif row == "WEST VIRGINIA":
        states.append("SOUTH")
    elif row == "NORTH CAROLINA":
        states.append("SOUTH")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH")
    elif row == "GEORGIA":
        states.append("SOUTH")
    elif row == "FLORIDA":
        states.append("SOUTH")
    elif row == "ALABAMA":
        states.append("SOUTH")
    elif row == "TENNESSE":
        states.append("SOUTH")
    elif row == "KENTUCKY":
        states.append("SOUTH")
    elif row == "OHIO":
        states.append("MIDWEST")
    elif row == "MICHIGAN":
        states.append("MIDWEST")
    elif row == "INDIANA":
        states.append("MIDWEST")
    elif row == "MISSISSIPPI":
        states.append("SOUTH")
    elif row == "ILLINOIS":
        states.append("MIDWEST")
    elif row == "WISCONSIN":
        states.append("MIDWEST")
    elif row == "MINNESOTA":
        states.append("MIDWEST")
    elif row == "IOWA":
        states.append("MIDWEST")
    elif row == "MISSOURI":
        states.append("MIDWEST")
    elif row == "ARKANSAS":
        states.append("SOUTH")
    elif row == "LOUISIANA":
        states.append("SOUTH")
    elif row == "NORTH DAKOTA":
        states.append("MIDWEST")
    elif row == "SOUTH DAKOTA":
        states.append("MIDWEST")
    elif row == "NEBRASKA":
        states.append("MIDWEST")
    elif row == "KANSAS":
        states.append("MIDWEST")
    elif row == "OKLAHOMA":
        states.append("SOUTH")
    elif row == "TEXAS":
        states.append("SOUTH")
    elif row == "MONTANA":
        states.append("WEST")
    elif row == "WYOMING":
        states.append("WEST")
    elif row == "COLORADO":
        states.append("WEST")
    elif row == "NEW MEXICO":
        states.append("WEST")
    elif row == "IDAHO":
        states.append("WEST")
    elif row == "UTAH":
        states.append("WEST")
    elif row == "ARIZONA":
        states.append("WEST")
    elif row == "WASHINGTON":
        states.append("WEST")
    elif row == "OREGON":
        states.append("WEST")
    elif row == "NEVADA":
        states.append("WEST")
    elif row == "CALIFORNIA":
        states.append("WEST")
    elif row == "ALASKA":
        states.append("WEST")
    elif row == "HAWAII":
        states.append("WEST")
    elif row == "PUERTO RICO":
        states.append("OTHER")
    elif row == "TENNESSEE":
        states.append("SOUTH")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("OTHER")
    elif row == "VIRGIN ISLANDS":
        states.append("OTHER")
    elif row == "GUAM":
        states.append("OTHER")
    else:
        states.append("UNKNOWN")
        
data5['EMPLOYER_REGIONS'] = states

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
data5['EMPLOYER_REGIONS'].value_counts()

NORTHEAST    319
WEST         235
MIDWEST      226
SOUTH         77
Name: EMPLOYER_REGIONS, dtype: int64

In [17]:
data5.count()

CASE_STATUS                      857
DECISION_ELAPSED_DAYS            857
EMPLOYER_POSTAL_CODE             857
EMPLOYER_STATE                   857
EMPLOYER_NUM_EMPLOYEES           857
WAGE_OFFER_FROM_9089             857
COUNTRY_OF_CITIZENSHIP           857
CLASS_OF_ADMISSION               857
FOREIGN_WORKER_INFO_EDUCATION    857
CASE_RECEIVED_DATE_MONTH         857
EMPLOYER_STATES                  857
EMPLOYER_REGIONS                 857
dtype: int64

In [18]:
data5['DAY_BINS'] = pd.cut(x=data5['DECISION_ELAPSED_DAYS'], 
                             bins=[0, 90, 180, 365, 3600],
                           labels=['0-90', '91-180', '181-365', '366-3600'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
data5['DAY_BINS'].value_counts()

91-180      284
181-365     248
0-90        222
366-3600     99
Name: DAY_BINS, dtype: int64

In [20]:
data5['WAGE_BINS'] = pd.cut(x=data5['WAGE_OFFER_FROM_9089'], 
                             bins=[0, 25000, 50000, 75000, 100000, 500000],
                           labels=['0-25000', '25001-50000', '50001-75000', '75001-100000', '100000-500000'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
data5['WAGE_BINS'].value_counts()

25001-50000      291
100000-500000    247
50001-75000      167
75001-100000     128
0-25000           24
Name: WAGE_BINS, dtype: int64

In [22]:
data5['EMPLOYEE_BINS'] = pd.cut(x=data5['EMPLOYER_NUM_EMPLOYEES'], 
                             bins=[0, 50, 100, 500, 1000, 10000, 1000000000],
                           labels=['0-50', '51-100', '101-500', '501-1000', '1001-10000', '10001-1000000000'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
data5['EMPLOYEE_BINS'].value_counts()

0-50                439
10001-1000000000    171
1001-10000          101
101-500              69
51-100               36
501-1000             28
Name: EMPLOYEE_BINS, dtype: int64

In [24]:
data5.count()

CASE_STATUS                      857
DECISION_ELAPSED_DAYS            857
EMPLOYER_POSTAL_CODE             857
EMPLOYER_STATE                   857
EMPLOYER_NUM_EMPLOYEES           857
WAGE_OFFER_FROM_9089             857
COUNTRY_OF_CITIZENSHIP           857
CLASS_OF_ADMISSION               857
FOREIGN_WORKER_INFO_EDUCATION    857
CASE_RECEIVED_DATE_MONTH         857
EMPLOYER_STATES                  857
EMPLOYER_REGIONS                 857
DAY_BINS                         853
WAGE_BINS                        857
EMPLOYEE_BINS                    844
dtype: int64

In [25]:
data6 = data5[[
    'CASE_STATUS',
    'EMPLOYEE_BINS',
    'WAGE_BINS',
    'EMPLOYER_REGIONS',
    'CASE_RECEIVED_DATE_MONTH',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CLASS_OF_ADMISSION',
    'DAY_BINS'
]]

In [26]:
data6.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS
9,Certified,0-50,50001-75000,MIDWEST,12.0,Master's,H-1B,366-3600
849,Certified,NaN,25001-50000,NORTHEAST,12.0,High School,B-2,91-180
1142,Certified,0-50,25001-50000,NORTHEAST,12.0,Associate's,B-2,181-365
1670,Certified,51-100,75001-100000,NORTHEAST,1.0,Master's,H-1B,181-365
2134,Certified,0-50,25001-50000,MIDWEST,11.0,None,F-1,181-365

In [27]:
data6.dtypes

CASE_STATUS                        object
EMPLOYEE_BINS                    category
WAGE_BINS                        category
EMPLOYER_REGIONS                   object
CASE_RECEIVED_DATE_MONTH          float64
FOREIGN_WORKER_INFO_EDUCATION      object
CLASS_OF_ADMISSION                 object
DAY_BINS                         category
dtype: object

In [28]:
from sklearn.preprocessing import LabelEncoder
num_encode = LabelEncoder()

In [29]:
data6['CLASS_OF_ADMISSION_CODE'] = num_encode.fit_transform(data6['CLASS_OF_ADMISSION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
data6['FOREIGN_WORKER_INFO_EDUCATION_CODE'] = num_encode.fit_transform(data6['FOREIGN_WORKER_INFO_EDUCATION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
data6['WAGE_BINS'] = data6['WAGE_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
data6['WAGE_BINS_CODE'] = num_encode.fit_transform(data6['WAGE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
data6['EMPLOYER_REGIONS_CODE'] = num_encode.fit_transform(data6['EMPLOYER_REGIONS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
data6['DAY_BINS'] = data6['DAY_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
data6['DAY_BINS_CODE'] = num_encode.fit_transform(data6['DAY_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
data6['EMPLOYEE_BINS'] = data6['EMPLOYEE_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
data6['EMPLOYEE_BINS_CODE'] = num_encode.fit_transform(data6['EMPLOYEE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
data6.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS,CLASS_OF_ADMISSION_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,WAGE_BINS_CODE,EMPLOYER_REGIONS_CODE,DAY_BINS_CODE,EMPLOYEE_BINS_CODE
9,Certified,0-50,50001-75000,MIDWEST,12.0,Master's,H-1B,366-3600,7,4,3,0,2,0
849,Certified,nan,25001-50000,NORTHEAST,12.0,High School,B-2,91-180,1,3,2,1,3,6
1142,Certified,0-50,25001-50000,NORTHEAST,12.0,Associate's,B-2,181-365,1,0,2,1,1,0
1670,Certified,51-100,75001-100000,NORTHEAST,1.0,Master's,H-1B,181-365,7,4,4,1,1,5
2134,Certified,0-50,25001-50000,MIDWEST,11.0,None,F-1,181-365,4,5,2,0,1,0

In [39]:
# data7.to_excel('../Resources/ML2_Philippenes.xlsx', index = False)

In [40]:
data6.count()

CASE_STATUS                           857
EMPLOYEE_BINS                         857
WAGE_BINS                             857
EMPLOYER_REGIONS                      857
CASE_RECEIVED_DATE_MONTH              857
FOREIGN_WORKER_INFO_EDUCATION         857
CLASS_OF_ADMISSION                    857
DAY_BINS                              857
CLASS_OF_ADMISSION_CODE               857
FOREIGN_WORKER_INFO_EDUCATION_CODE    857
WAGE_BINS_CODE                        857
EMPLOYER_REGIONS_CODE                 857
DAY_BINS_CODE                         857
EMPLOYEE_BINS_CODE                    857
dtype: int64

In [41]:
data7 = data6[[
    'CASE_STATUS',
    'EMPLOYEE_BINS_CODE',
    'WAGE_BINS_CODE',
    'DAY_BINS_CODE',
    'FOREIGN_WORKER_INFO_EDUCATION_CODE',
    'CLASS_OF_ADMISSION_CODE',
    'CASE_RECEIVED_DATE_MONTH',
    'EMPLOYER_REGIONS_CODE'
]]

In [42]:
data7.head()

,CASE_STATUS,EMPLOYEE_BINS_CODE,WAGE_BINS_CODE,DAY_BINS_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,CLASS_OF_ADMISSION_CODE,CASE_RECEIVED_DATE_MONTH,EMPLOYER_REGIONS_CODE
9,Certified,0,3,2,4,7,12.0,0
849,Certified,6,2,3,3,1,12.0,1
1142,Certified,0,2,1,0,1,12.0,1
1670,Certified,5,4,1,4,7,1.0,1
2134,Certified,0,2,1,5,4,11.0,0

In [43]:
data7.dtypes

CASE_STATUS                            object
EMPLOYEE_BINS_CODE                      int64
WAGE_BINS_CODE                          int64
DAY_BINS_CODE                           int64
FOREIGN_WORKER_INFO_EDUCATION_CODE      int64
CLASS_OF_ADMISSION_CODE                 int64
CASE_RECEIVED_DATE_MONTH              float64
EMPLOYER_REGIONS_CODE                   int64
dtype: object

In [44]:
X = data7.drop("CASE_STATUS", axis=1)
y = data7["CASE_STATUS"]
print(X.shape, y.shape)

(857, 7) (857,)

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [46]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42, stratify=y)

In [47]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [48]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [49]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [50]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [51]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=7))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

WARNING:tensorflow:From /anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [52]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [53]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=500,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From /anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/500
 - 1s - loss: 0.5377 - acc: 0.8240
Epoch 2/500
 - 0s - loss: 0.4572 - acc: 0.8240
Epoch 3/500
 - 0s - loss: 0.4505 - acc: 0.8240
Epoch 4/500
 - 0s - loss: 0.4413 - acc: 0.8240
Epoch 5/500
 - 0s - loss: 0.4388 - acc: 0.8240
Epoch 6/500
 - 0s - loss: 0.4338 - acc: 0.8240
Epoch 7/500
 - 0s - loss: 0.4294 - acc: 0.8240
Epoch 8/500
 - 0s - loss: 0.4230 - acc: 0.8240
Epoch 9/500
 - 0s - loss: 0.4160 - acc: 0.8240
Epoch 10/500
 - 0s - loss: 0.4095 - acc: 0.8240
Epoch 11/500
 - 0s - loss: 0.4048 - acc: 0.8240
Epoch 12/500
 - 0s - loss: 0.4025 - acc: 0.8240
Epoch 13/500
 - 0s - loss: 0.4047 - acc: 0.8271
Epoch 14/500
 - 0s - loss: 0.3984 - acc: 0.8255
Epoch 15/500
 - 0s - loss: 0.3900 - acc: 0.8240
Epoch 16/500
 - 0s - loss: 0.3976 - acc: 0.8349
Epoch 17/500
 - 0s - loss: 0.3897 - acc: 0.8224
Epoch 18/500
 - 0s - loss: 0.3840 - acc: 0.8380
Epoch 19/500
 - 0s - loss: 0.3805 - acc: 0.8302
Epoch 20/500
 - 0s - loss: 0.3752 - acc: 0.8302
Epoch 21/500
 - 0s - loss: 0.3709 - acc: 0.8349
Epoch 22/500
 - 0s - loss: 0.3691 - acc: 0.8380
Epoch 23/500
 - 0s - loss: 0.3671 - acc: 0.8411
Epoch 24/500
 - 0s - loss: 0.3629 - acc: 0.8474
Epoch 25/500
 - 0s - loss: 0.3570 - acc: 0.8474
Epoch 26/500
 - 0s - loss: 0.3586 - acc: 0.8458
Epoch 27/500
 - 0s - loss: 0.3521 - acc: 0.8458
Epoch 28/500
 - 0s - loss: 0.3498 - acc: 0.8520
Epoch 29/500
 - 0s - loss: 0.3502 - acc: 0.8458
Epoch 30/500
 - 0s - loss: 0.3401 - acc: 0.8442
Epoch 31/500
 - 0s - loss: 0.3376 - acc: 0.8474
Epoch 32/500
 - 0s - loss: 0.3364 - acc: 0.8505
Epoch 33/500
 - 0s - loss: 0.3319 - acc: 0.8489
Epoch 34/500
 - 0s - loss: 0.3263 - acc: 0.8520
Epoch 35/500
 - 0s - loss: 0.3248 - acc: 0.8505
Epoch 36/500
 - 0s - loss: 0.3231 - acc: 0.8567
Epoch 37/500
 - 0s - loss: 0.3176 - acc: 0.8536
Epoch 38/500
 - 0s - loss: 0.3132 - acc: 0.8629
Epoch 39/500
 - 0s - loss: 0.3193 - acc: 0.8567
Epoch 40/500
 - 0s - loss: 0.3112 - acc: 0.8567
Epoch 41/500
 - 0s - loss: 0.3053 - acc: 0.8676
Epoch 42/500
 - 0s - loss: 0.3043 - acc: 0.8660
Epoch 43/500
 - 0s - loss: 0.3084 - acc: 0.8660
Epoch 44/500
 - 0s - loss: 0.3080 - acc: 0.8676
Epoch 45/500
 - 0s - loss: 0.3029 - acc: 0.8598
Epoch 46/500
 - 0s - loss: 0.2976 - acc: 0.8707
Epoch 47/500
 - 0s - loss: 0.2906 - acc: 0.8785
Epoch 48/500
 - 0s - loss: 0.2987 - acc: 0.8801
Epoch 49/500
 - 0s - loss: 0.2881 - acc: 0.8847
Epoch 50/500
 - 0s - loss: 0.2874 - acc: 0.8816
Epoch 51/500
 - 0s - loss: 0.2887 - acc: 0.8692
Epoch 52/500
 - 0s - loss: 0.2833 - acc: 0.8847
Epoch 53/500
 - 0s - loss: 0.2822 - acc: 0.8863
Epoch 54/500
 - 0s - loss: 0.2799 - acc: 0.8894
Epoch 55/500
 - 0s - loss: 0.3026 - acc: 0.8676
Epoch 56/500
 - 0s - loss: 0.2822 - acc: 0.8863
Epoch 57/500
 - 0s - loss: 0.2800 - acc: 0.8847
Epoch 58/500
 - 0s - loss: 0.2735 - acc: 0.8863
Epoch 59/500
 - 0s - loss: 0.2843 - acc: 0.8894
Epoch 60/500
 - 0s - loss: 0.2768 - acc: 0.8769
Epoch 61/500
 - 0s - loss: 0.2687 - acc: 0.8863
Epoch 62/500
 - 0s - loss: 0.2928 - acc: 0.8863
Epoch 63/500
 - 0s - loss: 0.2675 - acc: 0.8941
Epoch 64/500
 - 0s - loss: 0.2776 - acc: 0.8879
Epoch 65/500
 - 0s - loss: 0.2677 - acc: 0.8910
Epoch 66/500
 - 0s - loss: 0.2656 - acc: 0.8925
Epoch 67/500
 - 0s - loss: 0.3114 - acc: 0.8551
Epoch 68/500
 - 0s - loss: 0.2856 - acc: 0.8801
Epoch 69/500
 - 0s - loss: 0.2748 - acc: 0.8785
Epoch 70/500
 - 0s - loss: 0.2600 - acc: 0.8956
Epoch 71/500
 - 0s - loss: 0.2536 - acc: 0.8956
Epoch 72/500
 - 0s - loss: 0.2640 - acc: 0.8925
Epoch 73/500
 - 0s - loss: 0.3001 - acc: 0.8676
Epoch 74/500
 - 0s - loss: 0.2547 - acc: 0.8925
Epoch 75/500
 - 0s - loss: 0.2542 - acc: 0.8988
Epoch 76/500
 - 0s - loss: 0.2912 - acc: 0.8738
Epoch 77/500
 - 0s - loss: 0.2615 - acc: 0.8988
Epoch 78/500
 - 0s - loss: 0.2658 - acc: 0.8863
Epoch 79/500
 - 0s - loss: 0.2499 - acc: 0.9003
Epoch 80/500
 - 0s - loss: 0.2552 - acc: 0.8972
Epoch 81/500
 - 0s - loss: 0.2679 - acc: 0.8801
Epoch 82/500
 - 0s - loss: 0.2501 - acc: 0.9034
Epoch 83/500
 - 0s - loss: 0.2407 - acc: 0.8972
Epoch 84/500
 - 0s - loss: 0.2422 - acc: 0.9081
Epoch 85/500
 - 0s - loss: 0.2375 - acc: 0.9081
Epoch 86/500
 - 0s - loss: 0.2359 - acc: 0.9097
Epoch 87/500
 - 0s - loss: 0.2334 - acc: 0.9034
Epoch 88/500
 - 0s - loss: 0.2459 - acc: 0.9065
Epoch 89/500
 - 0s - loss: 0.2550 - acc: 0.8910
Epoch 90/500
 - 0s - loss: 0.2633 - acc: 0.8925
Epoch 91/500
 - 0s - loss: 0.2703 - acc: 0.8801
Epoch 92/500
 - 0s - loss: 0.2500 - acc: 0.8972
Epoch 93/500
 - 0s - loss: 0.2391 - acc: 0.9003
Epoch 94/500
 - 0s - loss: 0.2337 - acc: 0.9050
Epoch 95/500
 - 0s - loss: 0.2291 - acc: 0.9097
Epoch 96/500
 - 0s - loss: 0.2281 - acc: 0.9065
Epoch 97/500
 - 0s - loss: 0.2263 - acc: 0.9065
Epoch 98/500
 - 0s - loss: 0.2360 - acc: 0.9097
Epoch 99/500
 - 0s - loss: 0.2270 - acc: 0.9097
Epoch 100/500
 - 0s - loss: 0.2439 - acc: 0.9003
Epoch 101/500
 - 0s - loss: 0.2320 - acc: 0.9050
Epoch 102/500
 - 0s - loss: 0.2200 - acc: 0.9081
Epoch 103/500
 - 0s - loss: 0.2233 - acc: 0.9097
Epoch 104/500
 - 0s - loss: 0.2207 - acc: 0.9019
Epoch 105/500
 - 0s - loss: 0.2262 - acc: 0.9065
Epoch 106/500
 - 0s - loss: 0.2169 - acc: 0.9128
Epoch 107/500
 - 0s - loss: 0.2155 - acc: 0.9143
Epoch 108/500
 - 0s - loss: 0.2158 - acc: 0.9206
Epoch 109/500
 - 0s - loss: 0.2221 - acc: 0.9112
Epoch 110/500
 - 0s - loss: 0.2134 - acc: 0.9112
Epoch 111/500
 - 0s - loss: 0.2099 - acc: 0.9112
Epoch 112/500
 - 0s - loss: 0.2254 - acc: 0.9019
Epoch 113/500
 - 0s - loss: 0.2129 - acc: 0.9128
Epoch 114/500
 - 0s - loss: 0.2118 - acc: 0.9190
Epoch 115/500
 - 0s - loss: 0.2168 - acc: 0.9143
Epoch 116/500
 - 0s - loss: 0.2163 - acc: 0.9143
Epoch 117/500
 - 0s - loss: 0.2046 - acc: 0.9221
Epoch 118/500
 - 0s - loss: 0.2005 - acc: 0.9190
Epoch 119/500
 - 0s - loss: 0.2200 - acc: 0.9081
Epoch 120/500
 - 0s - loss: 0.2005 - acc: 0.9237
Epoch 121/500
 - 0s - loss: 0.2012 - acc: 0.9206
Epoch 122/500
 - 0s - loss: 0.2019 - acc: 0.9268
Epoch 123/500
 - 0s - loss: 0.2122 - acc: 0.9050
Epoch 124/500
 - 0s - loss: 0.2023 - acc: 0.9206
Epoch 125/500
 - 0s - loss: 0.2252 - acc: 0.9097
Epoch 126/500
 - 0s - loss: 0.2132 - acc: 0.9112
Epoch 127/500
 - 0s - loss: 0.2029 - acc: 0.9128
Epoch 128/500
 - 0s - loss: 0.2009 - acc: 0.9174
Epoch 129/500
 - 0s - loss: 0.2055 - acc: 0.9190
Epoch 130/500
 - 0s - loss: 0.1989 - acc: 0.9315
Epoch 131/500
 - 0s - loss: 0.1986 - acc: 0.9206
Epoch 132/500
 - 0s - loss: 0.2021 - acc: 0.9174
Epoch 133/500
 - 0s - loss: 0.1901 - acc: 0.9283
Epoch 134/500
 - 0s - loss: 0.1948 - acc: 0.9159
Epoch 135/500
 - 0s - loss: 0.2233 - acc: 0.9081
Epoch 136/500
 - 0s - loss: 0.2022 - acc: 0.9206
Epoch 137/500
 - 0s - loss: 0.1841 - acc: 0.9299
Epoch 138/500
 - 0s - loss: 0.1794 - acc: 0.9315
Epoch 139/500
 - 0s - loss: 0.1853 - acc: 0.9221
Epoch 140/500
 - 0s - loss: 0.1833 - acc: 0.9252
Epoch 141/500
 - 0s - loss: 0.1931 - acc: 0.9206
Epoch 142/500
 - 0s - loss: 0.1824 - acc: 0.9283
Epoch 143/500
 - 0s - loss: 0.1775 - acc: 0.9315
Epoch 144/500
 - 0s - loss: 0.1803 - acc: 0.9237
Epoch 145/500
 - 0s - loss: 0.1727 - acc: 0.9299
Epoch 146/500
 - 0s - loss: 0.2133 - acc: 0.9112
Epoch 147/500
 - 0s - loss: 0.1886 - acc: 0.9283
Epoch 148/500
 - 0s - loss: 0.1779 - acc: 0.9299
Epoch 149/500
 - 0s - loss: 0.1723 - acc: 0.9361
Epoch 150/500
 - 0s - loss: 0.1709 - acc: 0.9315
Epoch 151/500
 - 0s - loss: 0.1956 - acc: 0.9237
Epoch 152/500
 - 0s - loss: 0.1847 - acc: 0.9252
Epoch 153/500
 - 0s - loss: 0.1777 - acc: 0.9237
Epoch 154/500
 - 0s - loss: 0.1811 - acc: 0.9206
Epoch 155/500
 - 0s - loss: 0.1733 - acc: 0.9361
Epoch 156/500
 - 0s - loss: 0.1667 - acc: 0.9346
Epoch 157/500
 - 0s - loss: 0.1697 - acc: 0.9361
Epoch 158/500
 - 0s - loss: 0.1642 - acc: 0.9346
Epoch 159/500
 - 0s - loss: 0.1623 - acc: 0.9424
Epoch 160/500
 - 0s - loss: 0.1662 - acc: 0.9268
Epoch 161/500
 - 0s - loss: 0.1681 - acc: 0.9393
Epoch 162/500
 - 0s - loss: 0.1616 - acc: 0.9361
Epoch 163/500
 - 0s - loss: 0.1631 - acc: 0.9408
Epoch 164/500
 - 0s - loss: 0.1716 - acc: 0.9268

Epoch 165/500
 - 0s - loss: 0.1612 - acc: 0.9393
Epoch 166/500
 - 0s - loss: 0.1570 - acc: 0.9377
Epoch 167/500
 - 0s - loss: 0.1621 - acc: 0.9315
Epoch 168/500
 - 0s - loss: 0.1622 - acc: 0.9486
Epoch 169/500
 - 0s - loss: 0.1619 - acc: 0.9393
Epoch 170/500
 - 0s - loss: 0.1574 - acc: 0.9299
Epoch 171/500
 - 0s - loss: 0.1518 - acc: 0.9393
Epoch 172/500
 - 0s - loss: 0.1506 - acc: 0.9439
Epoch 173/500
 - 0s - loss: 0.1570 - acc: 0.9424
Epoch 174/500
 - 0s - loss: 0.1697 - acc: 0.9315
Epoch 175/500
 - 0s - loss: 0.1545 - acc: 0.9408
Epoch 176/500
 - 0s - loss: 0.1545 - acc: 0.9377
Epoch 177/500
 - 0s - loss: 0.1465 - acc: 0.9470
Epoch 178/500
 - 0s - loss: 0.1496 - acc: 0.9533
Epoch 179/500
 - 0s - loss: 0.1456 - acc: 0.9470
Epoch 180/500
 - 0s - loss: 0.1533 - acc: 0.9408
Epoch 181/500
 - 0s - loss: 0.1448 - acc: 0.9439
Epoch 182/500
 - 0s - loss: 0.1621 - acc: 0.9346
Epoch 183/500
 - 0s - loss: 0.1487 - acc: 0.9346
Epoch 184/500
 - 0s - loss: 0.1421 - acc: 0.9424
Epoch 185/500
 - 0s - loss: 0.1402 - acc: 0.9439
Epoch 186/500
 - 0s - loss: 0.1404 - acc: 0.9455
Epoch 187/500
 - 0s - loss: 0.1385 - acc: 0.9455
Epoch 188/500
 - 0s - loss: 0.1525 - acc: 0.9346
Epoch 189/500
 - 0s - loss: 0.1437 - acc: 0.9486
Epoch 190/500
 - 0s - loss: 0.1439 - acc: 0.9486
Epoch 191/500
 - 0s - loss: 0.1404 - acc: 0.9470
Epoch 192/500
 - 0s - loss: 0.1396 - acc: 0.9439
Epoch 193/500
 - 0s - loss: 0.1406 - acc: 0.9502
Epoch 194/500
 - 0s - loss: 0.1380 - acc: 0.9470
Epoch 195/500
 - 0s - loss: 0.1325 - acc: 0.9502
Epoch 196/500
 - 0s - loss: 0.1688 - acc: 0.9268
Epoch 197/500
 - 0s - loss: 0.1431 - acc: 0.9408
Epoch 198/500
 - 0s - loss: 0.1377 - acc: 0.9470
Epoch 199/500
 - 0s - loss: 0.1366 - acc: 0.9486
Epoch 200/500
 - 0s - loss: 0.1404 - acc: 0.9470
Epoch 201/500
 - 0s - loss: 0.1327 - acc: 0.9455
Epoch 202/500
 - 0s - loss: 0.1285 - acc: 0.9533
Epoch 203/500
 - 0s - loss: 0.1321 - acc: 0.9470
Epoch 204/500
 - 0s - loss: 0.1357 - acc: 0.9486
Epoch 205/500
 - 0s - loss: 0.1294 - acc: 0.9424
Epoch 206/500
 - 0s - loss: 0.1269 - acc: 0.9564
Epoch 207/500
 - 0s - loss: 0.1283 - acc: 0.9486
Epoch 208/500
 - 0s - loss: 0.1305 - acc: 0.9439
Epoch 209/500
 - 0s - loss: 0.1240 - acc: 0.9564
Epoch 210/500
 - 0s - loss: 0.1263 - acc: 0.9486
Epoch 211/500
 - 0s - loss: 0.1239 - acc: 0.9517
Epoch 212/500
 - 0s - loss: 0.1333 - acc: 0.9393
Epoch 213/500
 - 0s - loss: 0.1295 - acc: 0.9486
Epoch 214/500
 - 0s - loss: 0.1324 - acc: 0.9486
Epoch 215/500
 - 0s - loss: 0.1294 - acc: 0.9455
Epoch 216/500
 - 0s - loss: 0.1460 - acc: 0.9377
Epoch 217/500
 - 0s - loss: 0.1319 - acc: 0.9486
Epoch 218/500
 - 0s - loss: 0.1280 - acc: 0.9470
Epoch 219/500
 - 0s - loss: 0.1277 - acc: 0.9470
Epoch 220/500
 - 0s - loss: 0.1311 - acc: 0.9502
Epoch 221/500
 - 0s - loss: 0.1194 - acc: 0.9517
Epoch 222/500
 - 0s - loss: 0.1171 - acc: 0.9626
Epoch 223/500
 - 0s - loss: 0.1248 - acc: 0.9564
Epoch 224/500
 - 0s - loss: 0.1235 - acc: 0.9470
Epoch 225/500
 - 0s - loss: 0.1213 - acc: 0.9470
Epoch 226/500
 - 0s - loss: 0.1648 - acc: 0.9252
Epoch 227/500
 - 0s - loss: 0.1345 - acc: 0.9502
Epoch 228/500
 - 0s - loss: 0.1245 - acc: 0.9533
Epoch 229/500
 - 0s - loss: 0.1192 - acc: 0.9564
Epoch 230/500
 - 0s - loss: 0.1186 - acc: 0.9564
Epoch 231/500
 - 0s - loss: 0.1319 - acc: 0.9408
Epoch 232/500
 - 0s - loss: 0.1133 - acc: 0.9502
Epoch 233/500
 - 0s - loss: 0.1134 - acc: 0.9579
Epoch 234/500
 - 0s - loss: 0.1304 - acc: 0.9470
Epoch 235/500
 - 0s - loss: 0.1235 - acc: 0.9564
Epoch 236/500
 - 0s - loss: 0.1710 - acc: 0.9237
Epoch 237/500
 - 0s - loss: 0.1190 - acc: 0.9470
Epoch 238/500
 - 0s - loss: 0.1138 - acc: 0.9548
Epoch 239/500
 - 0s - loss: 0.1111 - acc: 0.9486
Epoch 240/500
 - 0s - loss: 0.1341 - acc: 0.9455
Epoch 241/500
 - 0s - loss: 0.1204 - acc: 0.9548
Epoch 242/500
 - 0s - loss: 0.1302 - acc: 0.9502
Epoch 243/500
 - 0s - loss: 0.1162 - acc: 0.9579
Epoch 244/500
 - 0s - loss: 0.1063 - acc: 0.9579
Epoch 245/500
 - 0s - loss: 0.1106 - acc: 0.9579
Epoch 246/500
 - 0s - loss: 0.1140 - acc: 0.9486
Epoch 247/500
 - 0s - loss: 0.1060 - acc: 0.9533
Epoch 248/500
 - 0s - loss: 0.1048 - acc: 0.9564
Epoch 249/500
 - 0s - loss: 0.1024 - acc: 0.9579
Epoch 250/500
 - 0s - loss: 0.1018 - acc: 0.9548
Epoch 251/500
 - 0s - loss: 0.1239 - acc: 0.9439
Epoch 252/500
 - 0s - loss: 0.1766 - acc: 0.9190
Epoch 253/500
 - 0s - loss: 0.1427 - acc: 0.9361
Epoch 254/500
 - 0s - loss: 0.1150 - acc: 0.9548
Epoch 255/500
 - 0s - loss: 0.1095 - acc: 0.9548
Epoch 256/500
 - 0s - loss: 0.1114 - acc: 0.9502
Epoch 257/500
 - 0s - loss: 0.1133 - acc: 0.9486
Epoch 258/500
 - 0s - loss: 0.1128 - acc: 0.9517
Epoch 259/500
 - 0s - loss: 0.1062 - acc: 0.9611
Epoch 260/500
 - 0s - loss: 0.1007 - acc: 0.9564
Epoch 261/500
 - 0s - loss: 0.1061 - acc: 0.9595
Epoch 262/500
 - 0s - loss: 0.1018 - acc: 0.9579
Epoch 263/500
 - 0s - loss: 0.0957 - acc: 0.9626
Epoch 264/500
 - 0s - loss: 0.0988 - acc: 0.9595
Epoch 265/500
 - 0s - loss: 0.0984 - acc: 0.9626
Epoch 266/500
 - 0s - loss: 0.0997 - acc: 0.9595
Epoch 267/500
 - 0s - loss: 0.1043 - acc: 0.9517
Epoch 268/500
 - 0s - loss: 0.1068 - acc: 0.9579
Epoch 269/500
 - 0s - loss: 0.1048 - acc: 0.9564
Epoch 270/500
 - 0s - loss: 0.0970 - acc: 0.9657
Epoch 271/500
 - 0s - loss: 0.0990 - acc: 0.9579
Epoch 272/500
 - 0s - loss: 0.0943 - acc: 0.9626
Epoch 273/500
 - 0s - loss: 0.0991 - acc: 0.9595
Epoch 274/500
 - 0s - loss: 0.0967 - acc: 0.9673
Epoch 275/500
 - 0s - loss: 0.0907 - acc: 0.9751
Epoch 276/500
 - 0s - loss: 0.0987 - acc: 0.9579
Epoch 277/500
 - 0s - loss: 0.1063 - acc: 0.9533
Epoch 278/500
 - 0s - loss: 0.0960 - acc: 0.9564
Epoch 279/500
 - 0s - loss: 0.1192 - acc: 0.9439
Epoch 280/500
 - 0s - loss: 0.1030 - acc: 0.9595
Epoch 281/500
 - 0s - loss: 0.0964 - acc: 0.9533
Epoch 282/500
 - 0s - loss: 0.0927 - acc: 0.9657
Epoch 283/500
 - 0s - loss: 0.0948 - acc: 0.9595
Epoch 284/500
 - 0s - loss: 0.0916 - acc: 0.9579
Epoch 285/500
 - 0s - loss: 0.0892 - acc: 0.9642
Epoch 286/500
 - 0s - loss: 0.0909 - acc: 0.9595
Epoch 287/500
 - 0s - loss: 0.1113 - acc: 0.9595
Epoch 288/500
 - 0s - loss: 0.0965 - acc: 0.9611
Epoch 289/500
 - 0s - loss: 0.0950 - acc: 0.9657
Epoch 290/500
 - 0s - loss: 0.0865 - acc: 0.9657
Epoch 291/500
 - 0s - loss: 0.0903 - acc: 0.9595
Epoch 292/500
 - 0s - loss: 0.1182 - acc: 0.9533
Epoch 293/500
 - 0s - loss: 0.1002 - acc: 0.9595
Epoch 294/500
 - 0s - loss: 0.0948 - acc: 0.9611
Epoch 295/500
 - 0s - loss: 0.0933 - acc: 0.9626
Epoch 296/500
 - 0s - loss: 0.0870 - acc: 0.9626
Epoch 297/500
 - 0s - loss: 0.0841 - acc: 0.9673
Epoch 298/500
 - 0s - loss: 0.0837 - acc: 0.9688
Epoch 299/500
 - 0s - loss: 0.0880 - acc: 0.9657
Epoch 300/500
 - 0s - loss: 0.0818 - acc: 0.9704
Epoch 301/500
 - 0s - loss: 0.0888 - acc: 0.9673
Epoch 302/500
 - 0s - loss: 0.0843 - acc: 0.9548
Epoch 303/500
 - 0s - loss: 0.0806 - acc: 0.9688
Epoch 304/500
 - 0s - loss: 0.0813 - acc: 0.9673
Epoch 305/500
 - 0s - loss: 0.0842 - acc: 0.9673
Epoch 306/500
 - 0s - loss: 0.0840 - acc: 0.9688
Epoch 307/500
 - 0s - loss: 0.0860 - acc: 0.9626
Epoch 308/500
 - 0s - loss: 0.0832 - acc: 0.9657
Epoch 309/500
 - 0s - loss: 0.1140 - acc: 0.9470
Epoch 310/500
 - 0s - loss: 0.0915 - acc: 0.9657
Epoch 311/500
 - 0s - loss: 0.0908 - acc: 0.9657
Epoch 312/500
 - 0s - loss: 0.0825 - acc: 0.9657
Epoch 313/500
 - 0s - loss: 0.0821 - acc: 0.9626
Epoch 314/500
 - 0s - loss: 0.0795 - acc: 0.9673
Epoch 315/500
 - 0s - loss: 0.0882 - acc: 0.9595
Epoch 316/500
 - 0s - loss: 0.0915 - acc: 0.9611
Epoch 317/500
 - 0s - loss: 0.0836 - acc: 0.9673
Epoch 318/500
 - 0s - loss: 0.0842 - acc: 0.9642
Epoch 319/500
 - 0s - loss: 0.0790 - acc: 0.9688
Epoch 320/500
 - 0s - loss: 0.0833 - acc: 0.9626
Epoch 321/500
 - 0s - loss: 0.0809 - acc: 0.9704
Epoch 322/500
 - 0s - loss: 0.0801 - acc: 0.9720
Epoch 323/500
 - 0s - loss: 0.0882 - acc: 0.9688
Epoch 324/500
 - 0s - loss: 0.0834 - acc: 0.9704
Epoch 325/500
 - 0s - loss: 0.0825 - acc: 0.9657
Epoch 326/500
 - 0s - loss: 0.0796 - acc: 0.9673
Epoch 327/500
 - 0s - loss: 0.0769 - acc: 0.9642
Epoch 328/500
 - 0s - loss: 0.0791 - acc: 0.9688
Epoch 329/500
 - 0s - loss: 0.0793 - acc: 0.9642
Epoch 330/500
 - 0s - loss: 0.1114 - acc: 0.9579
Epoch 331/500
 - 0s - loss: 0.0917 - acc: 0.9642
Epoch 332/500
 - 0s - loss: 0.0817 - acc: 0.9642

Epoch 333/500
 - 0s - loss: 0.0788 - acc: 0.9657
Epoch 334/500
 - 0s - loss: 0.0793 - acc: 0.9657
Epoch 335/500
 - 0s - loss: 0.0777 - acc: 0.9704
Epoch 336/500
 - 0s - loss: 0.0740 - acc: 0.9735
Epoch 337/500
 - 0s - loss: 0.0738 - acc: 0.9704
Epoch 338/500
 - 0s - loss: 0.1464 - acc: 0.9439
Epoch 339/500
 - 0s - loss: 0.0941 - acc: 0.9642
Epoch 340/500
 - 0s - loss: 0.0805 - acc: 0.9673
Epoch 341/500
 - 0s - loss: 0.0854 - acc: 0.9642
Epoch 342/500
 - 0s - loss: 0.1170 - acc: 0.9517
Epoch 343/500
 - 0s - loss: 0.0852 - acc: 0.9657
Epoch 344/500
 - 0s - loss: 0.0754 - acc: 0.9751
Epoch 345/500
 - 0s - loss: 0.0770 - acc: 0.9704
Epoch 346/500
 - 0s - loss: 0.0741 - acc: 0.9720
Epoch 347/500
 - 0s - loss: 0.0740 - acc: 0.9688
Epoch 348/500
 - 0s - loss: 0.0718 - acc: 0.9751
Epoch 349/500
 - 0s - loss: 0.0717 - acc: 0.9704
Epoch 350/500
 - 0s - loss: 0.0778 - acc: 0.9688
Epoch 351/500
 - 0s - loss: 0.1019 - acc: 0.9579
Epoch 352/500
 - 0s - loss: 0.0917 - acc: 0.9642
Epoch 353/500
 - 0s - loss: 0.0812 - acc: 0.9688
Epoch 354/500
 - 0s - loss: 0.0758 - acc: 0.9688
Epoch 355/500
 - 0s - loss: 0.1074 - acc: 0.9595
Epoch 356/500
 - 0s - loss: 0.0841 - acc: 0.9673
Epoch 357/500
 - 0s - loss: 0.0808 - acc: 0.9704
Epoch 358/500
 - 0s - loss: 0.0806 - acc: 0.9688
Epoch 359/500
 - 0s - loss: 0.0754 - acc: 0.9688
Epoch 360/500
 - 0s - loss: 0.0681 - acc: 0.9751
Epoch 361/500
 - 0s - loss: 0.0700 - acc: 0.9735
Epoch 362/500
 - 0s - loss: 0.0799 - acc: 0.9673
Epoch 363/500
 - 0s - loss: 0.0716 - acc: 0.9735
Epoch 364/500
 - 0s - loss: 0.0956 - acc: 0.9595
Epoch 365/500
 - 0s - loss: 0.0918 - acc: 0.9611
Epoch 366/500
 - 0s - loss: 0.0741 - acc: 0.9673
Epoch 367/500
 - 0s - loss: 0.0690 - acc: 0.9751
Epoch 368/500
 - 0s - loss: 0.0884 - acc: 0.9642
Epoch 369/500
 - 0s - loss: 0.0768 - acc: 0.9720
Epoch 370/500
 - 0s - loss: 0.0796 - acc: 0.9642
Epoch 371/500
 - 0s - loss: 0.0718 - acc: 0.9688
Epoch 372/500
 - 0s - loss: 0.0678 - acc: 0.9735
Epoch 373/500
 - 0s - loss: 0.0704 - acc: 0.9720
Epoch 374/500
 - 0s - loss: 0.0703 - acc: 0.9704
Epoch 375/500
 - 0s - loss: 0.0710 - acc: 0.9673
Epoch 376/500
 - 0s - loss: 0.0679 - acc: 0.9735
Epoch 377/500
 - 0s - loss: 0.0670 - acc: 0.9735
Epoch 378/500
 - 0s - loss: 0.0699 - acc: 0.9704
Epoch 379/500
 - 0s - loss: 0.0659 - acc: 0.9720
Epoch 380/500
 - 0s - loss: 0.0679 - acc: 0.9751
Epoch 381/500
 - 0s - loss: 0.0703 - acc: 0.9751
Epoch 382/500
 - 0s - loss: 0.0680 - acc: 0.9704
Epoch 383/500
 - 0s - loss: 0.0706 - acc: 0.9720
Epoch 384/500
 - 0s - loss: 0.1581 - acc: 0.9393
Epoch 385/500
 - 0s - loss: 0.0980 - acc: 0.9502
Epoch 386/500
 - 0s - loss: 0.1015 - acc: 0.9626
Epoch 387/500
 - 0s - loss: 0.0799 - acc: 0.9657
Epoch 388/500
 - 0s - loss: 0.0758 - acc: 0.9751
Epoch 389/500
 - 0s - loss: 0.0709 - acc: 0.9720
Epoch 390/500
 - 0s - loss: 0.0713 - acc: 0.9720
Epoch 391/500
 - 0s - loss: 0.0655 - acc: 0.9735
Epoch 392/500
 - 0s - loss: 0.0651 - acc: 0.9751
Epoch 393/500
 - 0s - loss: 0.0634 - acc: 0.9751
Epoch 394/500
 - 0s - loss: 0.0674 - acc: 0.9720
Epoch 395/500
 - 0s - loss: 0.0649 - acc: 0.9720
Epoch 396/500
 - 0s - loss: 0.0662 - acc: 0.9751
Epoch 397/500
 - 0s - loss: 0.0656 - acc: 0.9720
Epoch 398/500
 - 0s - loss: 0.0629 - acc: 0.9766
Epoch 399/500
 - 0s - loss: 0.0648 - acc: 0.9735
Epoch 400/500
 - 0s - loss: 0.0650 - acc: 0.9720
Epoch 401/500
 - 0s - loss: 0.0696 - acc: 0.9704
Epoch 402/500
 - 0s - loss: 0.0653 - acc: 0.9751
Epoch 403/500
 - 0s - loss: 0.0649 - acc: 0.9766
Epoch 404/500
 - 0s - loss: 0.0650 - acc: 0.9766
Epoch 405/500
 - 0s - loss: 0.0590 - acc: 0.9735
Epoch 406/500
 - 0s - loss: 0.0671 - acc: 0.9673
Epoch 407/500
 - 0s - loss: 0.0682 - acc: 0.9704
Epoch 408/500
 - 0s - loss: 0.0648 - acc: 0.9782
Epoch 409/500
 - 0s - loss: 0.0703 - acc: 0.9720
Epoch 410/500
 - 0s - loss: 0.1314 - acc: 0.9424
Epoch 411/500
 - 0s - loss: 0.1357 - acc: 0.9455
Epoch 412/500
 - 0s - loss: 0.0911 - acc: 0.9642
Epoch 413/500
 - 0s - loss: 0.0734 - acc: 0.9735
Epoch 414/500
 - 0s - loss: 0.0707 - acc: 0.9735
Epoch 415/500
 - 0s - loss: 0.0713 - acc: 0.9673
Epoch 416/500
 - 0s - loss: 0.0785 - acc: 0.9704
Epoch 417/500
 - 0s - loss: 0.0695 - acc: 0.9688
Epoch 418/500
 - 0s - loss: 0.0647 - acc: 0.9720
Epoch 419/500
 - 0s - loss: 0.0653 - acc: 0.9720
Epoch 420/500
 - 0s - loss: 0.0695 - acc: 0.9704
Epoch 421/500
 - 0s - loss: 0.0634 - acc: 0.9766
Epoch 422/500
 - 0s - loss: 0.0674 - acc: 0.9751
Epoch 423/500
 - 0s - loss: 0.0702 - acc: 0.9704
Epoch 424/500
 - 0s - loss: 0.0631 - acc: 0.9751
Epoch 425/500
 - 0s - loss: 0.0617 - acc: 0.9751
Epoch 426/500
 - 0s - loss: 0.0602 - acc: 0.9798
Epoch 427/500
 - 0s - loss: 0.0616 - acc: 0.9735
Epoch 428/500
 - 0s - loss: 0.0703 - acc: 0.9720
Epoch 429/500
 - 0s - loss: 0.0618 - acc: 0.9766
Epoch 430/500
 - 0s - loss: 0.0636 - acc: 0.9720
Epoch 431/500
 - 0s - loss: 0.0582 - acc: 0.9782
Epoch 432/500
 - 0s - loss: 0.0664 - acc: 0.9735
Epoch 433/500
 - 0s - loss: 0.1128 - acc: 0.9533
Epoch 434/500
 - 0s - loss: 0.0737 - acc: 0.9673
Epoch 435/500
 - 0s - loss: 0.0657 - acc: 0.9735
Epoch 436/500
 - 0s - loss: 0.0616 - acc: 0.9704
Epoch 437/500
 - 0s - loss: 0.1700 - acc: 0.9517
Epoch 438/500
 - 0s - loss: 0.0932 - acc: 0.9626
Epoch 439/500
 - 0s - loss: 0.0664 - acc: 0.9704
Epoch 440/500
 - 0s - loss: 0.0605 - acc: 0.9782
Epoch 441/500
 - 0s - loss: 0.0601 - acc: 0.9766
Epoch 442/500
 - 0s - loss: 0.0576 - acc: 0.9798
Epoch 443/500
 - 0s - loss: 0.0572 - acc: 0.9751
Epoch 444/500
 - 0s - loss: 0.0556 - acc: 0.9766
Epoch 445/500
 - 0s - loss: 0.0918 - acc: 0.9626
Epoch 446/500
 - 0s - loss: 0.0772 - acc: 0.9688
Epoch 447/500
 - 0s - loss: 0.0588 - acc: 0.9798
Epoch 448/500
 - 0s - loss: 0.0588 - acc: 0.9751
Epoch 449/500
 - 0s - loss: 0.0613 - acc: 0.9735
Epoch 450/500
 - 0s - loss: 0.0583 - acc: 0.9798
Epoch 451/500
 - 0s - loss: 0.0567 - acc: 0.9782
Epoch 452/500
 - 0s - loss: 0.0926 - acc: 0.9626
Epoch 453/500
 - 0s - loss: 0.0644 - acc: 0.9735
Epoch 454/500
 - 0s - loss: 0.0586 - acc: 0.9766
Epoch 455/500
 - 0s - loss: 0.0577 - acc: 0.9766
Epoch 456/500
 - 0s - loss: 0.0558 - acc: 0.9798
Epoch 457/500
 - 0s - loss: 0.0572 - acc: 0.9720
Epoch 458/500
 - 0s - loss: 0.0618 - acc: 0.9704
Epoch 459/500
 - 0s - loss: 0.0593 - acc: 0.9751
Epoch 460/500
 - 0s - loss: 0.0549 - acc: 0.9782
Epoch 461/500
 - 0s - loss: 0.0552 - acc: 0.9782
Epoch 462/500
 - 0s - loss: 0.0562 - acc: 0.9751
Epoch 463/500
 - 0s - loss: 0.0584 - acc: 0.9766
Epoch 464/500
 - 0s - loss: 0.0758 - acc: 0.9673
Epoch 465/500
 - 0s - loss: 0.0602 - acc: 0.9782
Epoch 466/500
 - 0s - loss: 0.0828 - acc: 0.9657
Epoch 467/500
 - 0s - loss: 0.0571 - acc: 0.9782
Epoch 468/500
 - 0s - loss: 0.0575 - acc: 0.9704
Epoch 469/500
 - 0s - loss: 0.0570 - acc: 0.9766
Epoch 470/500
 - 0s - loss: 0.0599 - acc: 0.9766
Epoch 471/500
 - 0s - loss: 0.0571 - acc: 0.9782
Epoch 472/500
 - 0s - loss: 0.0566 - acc: 0.9798
Epoch 473/500
 - 0s - loss: 0.0727 - acc: 0.9673
Epoch 474/500
 - 0s - loss: 0.0594 - acc: 0.9751
Epoch 475/500
 - 0s - loss: 0.0552 - acc: 0.9782
Epoch 476/500
 - 0s - loss: 0.0576 - acc: 0.9829
Epoch 477/500
 - 0s - loss: 0.0560 - acc: 0.9751
Epoch 478/500
 - 0s - loss: 0.0605 - acc: 0.9766
Epoch 479/500
 - 0s - loss: 0.0562 - acc: 0.9751
Epoch 480/500
 - 0s - loss: 0.0585 - acc: 0.9735
Epoch 481/500
 - 0s - loss: 0.0560 - acc: 0.9782
Epoch 482/500
 - 0s - loss: 0.0549 - acc: 0.9751
Epoch 483/500
 - 0s - loss: 0.0535 - acc: 0.9782
Epoch 484/500
 - 0s - loss: 0.0580 - acc: 0.9751
Epoch 485/500
 - 0s - loss: 0.0545 - acc: 0.9766
Epoch 486/500
 - 0s - loss: 0.0637 - acc: 0.9766
Epoch 487/500
 - 0s - loss: 0.0564 - acc: 0.9766
Epoch 488/500
 - 0s - loss: 0.0543 - acc: 0.9813
Epoch 489/500
 - 0s - loss: 0.0545 - acc: 0.9798
Epoch 490/500
 - 0s - loss: 0.0589 - acc: 0.9766
Epoch 491/500
 - 0s - loss: 0.0556 - acc: 0.9813
Epoch 492/500
 - 0s - loss: 0.0536 - acc: 0.9798
Epoch 493/500
 - 0s - loss: 0.0596 - acc: 0.9751
Epoch 494/500
 - 0s - loss: 0.0609 - acc: 0.9782
Epoch 495/500
 - 0s - loss: 0.0539 - acc: 0.9751
Epoch 496/500
 - 0s - loss: 0.0593 - acc: 0.9673
Epoch 497/500
 - 0s - loss: 0.0543 - acc: 0.9813
Epoch 498/500
 - 0s - loss: 0.1593 - acc: 0.9455
Epoch 499/500
 - 0s - loss: 0.0786 - acc: 0.9611
Epoch 500/500

 - 0s - loss: 0.0647 - acc: 0.9735

In [54]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 0.8673 - acc: 0.8186
Normal Neural Network - Loss: 0.8673108023266459, Accuracy: 0.8186046481132507

In [55]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [56]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['Denied' 'Denied' 'Certified' 'Certified' 'Certified' 'Certified'
 'Certified' 'Certified' 'Certified' 'Certified']
Actual Labels: ['Denied', 'Denied', 'Certified', 'Denied', 'Certified', 'Certified', 'Denied', 'Certified', 'Certified', 'Certified']