In [1]:
import pandas as pd
import numpy as np
import country_codes_test as cct

In [2]:
cct.region

{0: {'region': 'Africa'},
 1: {'region': 'Asia'},
 2: {'region': 'Central America'},
 3: {'region': 'Eastern Europe'},
 4: {'region': 'European Union'},
 5: {'region': 'Middle East'},
 6: {'region': 'North America'},
 7: {'region': 'Oceania'},
 8: {'region': 'South America'},
 9: {'region': 'The Caribbean'}}

In [3]:
cct.countries

{0: {'COUNTRY_OF_CITIZENSHIP': 'AFGANISTAN', 'region': 1},
 1: {'COUNTRY_OF_CITIZENSHIP': 'ALBANIA', 'region': 3},
 2: {'COUNTRY_OF_CITIZENSHIP': 'ALGERIA', 'region': 0},
 3: {'COUNTRY_OF_CITIZENSHIP': 'ANDORRA', 'region': 3},
 4: {'COUNTRY_OF_CITIZENSHIP': 'ANGOLA', 'region': 0},
 5: {'COUNTRY_OF_CITIZENSHIP': 'ANTIGUA AND BARBUDA', 'region': 9},
 6: {'COUNTRY_OF_CITIZENSHIP': 'ARGENTINA', 'region': 8},
 7: {'COUNTRY_OF_CITIZENSHIP': 'ARMENIA', 'region': 1},
 8: {'COUNTRY_OF_CITIZENSHIP': 'AUSTRALIA', 'region': 7},
 9: {'COUNTRY_OF_CITIZENSHIP': 'AUSTRIA', 'region': 4},
 10: {'COUNTRY_OF_CITIZENSHIP': 'AZERBAIJAN', 'region': 1},
 11: {'COUNTRY_OF_CITIZENSHIP': 'BAHAMAS', 'region': 9},
 12: {'COUNTRY_OF_CITIZENSHIP': 'BAHRAIN', 'region': 5},
 13: {'COUNTRY_OF_CITIZENSHIP': 'BANGLADESH', 'region': 1},
 14: {'COUNTRY_OF_CITIZENSHIP': 'BARBADOS', 'region': 9},
 15: {'COUNTRY_OF_CITIZENSHIP': 'BELARUS', 'region': 3},
 16: {'COUNTRY_OF_CITIZENSHIP': 'BELGIUM', 'region': 4},
 17: {'COUNTRY_OF_CITIZENSHIP': 'BELIZE', 'region': 2},
 18: {'COUNTRY_OF_CITIZENSHIP': 'BENIN', 'region': 0},
 19: {'COUNTRY_OF_CITIZENSHIP': 'BERMUDA', 'region': 6},
 20: {'COUNTRY_OF_CITIZENSHIP': 'BHUTAN', 'region': 1},
 21: {'COUNTRY_OF_CITIZENSHIP': 'BOLIVIA', 'region': 8},
 22: {'COUNTRY_OF_CITIZENSHIP': 'BOSNIA AND HERZEGOVINA', 'region': 3},
 23: {'COUNTRY_OF_CITIZENSHIP': 'BOTSWANA', 'region': 0},
 24: {'COUNTRY_OF_CITIZENSHIP': 'BRAZIL', 'region': 8},
 25: {'COUNTRY_OF_CITIZENSHIP': 'BRITISH VIRGIN ISLANDS', 'region': 9},
 26: {'COUNTRY_OF_CITIZENSHIP': 'BRUNEI', 'region': 1},
 27: {'COUNTRY_OF_CITIZENSHIP': 'BULGARIA', 'region': 3},
 28: {'COUNTRY_OF_CITIZENSHIP': 'BUKINA FASO', 'region': 0},
 29: {'COUNTRY_OF_CITIZENSHIP': 'BURMA (MYANMAR)', 'region': 1},
 30: {'COUNTRY_OF_CITIZENSHIP': 'BURUNDI', 'region': 0},
 31: {'COUNTRY_OF_CITIZENSHIP': 'CAMBODIA', 'region': 1},
 32: {'COUNTRY_OF_CITIZENSHIP': 'CAMEROON', 'region': 0},
 33: {'COUNTRY_OF_CITIZENSHIP': 'CANADA', 'region': 6},
 34: {'COUNTRY_OF_CITIZENSHIP': 'CAPE VERDE', 'region': 0},
 35: {'COUNTRY_OF_CITIZENSHIP': 'CHILE', 'region': 8},
 36: {'COUNTRY_OF_CITIZENSHIP': 'CHINA', 'region': 1},
 37: {'COUNTRY_OF_CITIZENSHIP': 'COLOMBIA', 'region': 8},
 38: {'COUNTRY_OF_CITIZENSHIP': 'COMOROS', 'region': 0},
 39: {'COUNTRY_OF_CITIZENSHIP': 'COSTA RICA', 'region': 2},
 40: {'COUNTRY_OF_CITIZENSHIP': 'COTE dâ€™IVOIRE', 'region': 0},
 41: {'COUNTRY_OF_CITIZENSHIP': 'CROATIA', 'region': 3},
 42: {'COUNTRY_OF_CITIZENSHIP': 'CUBA', 'region': 9},
 43: {'COUNTRY_OF_CITIZENSHIP': 'CYPRUS', 'region': 3},
 44: {'COUNTRY_OF_CITIZENSHIP': 'CZECH REPUBLIC', 'region': 4},
 45: {'COUNTRY_OF_CITIZENSHIP': 'DEMOCRATIC REPUBLIC OF CONGO', 'region': 0},
 46: {'COUNTRY_OF_CITIZENSHIP': 'DENMARK', 'region': 4},
 47: {'COUNTRY_OF_CITIZENSHIP': 'DEPENDENT TERRITORY', 'region': 0},
 48: {'COUNTRY_OF_CITIZENSHIP': 'DOMINICA', 'region': 9},
 49: {'COUNTRY_OF_CITIZENSHIP': 'DOMINICAN REPUBLIC', 'region': 9},
 50: {'COUNTRY_OF_CITIZENSHIP': 'ECUADOR', 'region': 8},
 51: {'COUNTRY_OF_CITIZENSHIP': 'EGYPT', 'region': 0},
 52: {'COUNTRY_OF_CITIZENSHIP': 'EL SALVADOR', 'region': 2},
 53: {'COUNTRY_OF_CITIZENSHIP': 'EQUATORIAL GUINEA', 'region': 0},
 54: {'COUNTRY_OF_CITIZENSHIP': 'ERITREA', 'region': 0},
 55: {'COUNTRY_OF_CITIZENSHIP': 'ESTONIA', 'region': 3},
 56: {'COUNTRY_OF_CITIZENSHIP': 'ETHIOPIA', 'region': 0},
 57: {'COUNTRY_OF_CITIZENSHIP': 'FIJI', 'region': 7},
 58: {'COUNTRY_OF_CITIZENSHIP': 'FINLAND', 'region': 4},
 59: {'COUNTRY_OF_CITIZENSHIP': 'FRANCE', 'region': 4},
 60: {'COUNTRY_OF_CITIZENSHIP': 'GABON', 'region': 0},
 61: {'COUNTRY_OF_CITIZENSHIP': 'GAMBIA', 'region': 0},
 62: {'COUNTRY_OF_CITIZENSHIP': 'GEORGIA', 'region': 1},
 63: {'COUNTRY_OF_CITIZENSHIP': 'GERMANY', 'region': 4},
 64: {'COUNTRY_OF_CITIZENSHIP': 'GHANA', 'region': 0},
 65: {'COUNTRY_OF_CITIZENSHIP': 'GREECE', 'region': 4},
 66: {'COUNTRY_OF_CITIZENSHIP': 'GRENADA', 'region': 9},
 67: {'COUNTRY_OF_CITIZENSHIP': 'GUATEMALA', 'region': 2},
 68: {'COUNTRY_OF_CITIZENSHIP': 'GUINEA', 'region': 0},
 69: {'COUNTRY_OF_CITIZENSHIP': 'GUINEA-BISSAU', 'region': 0},
 70: {'COUNTRY_OF_CITIZENSHIP': 'GUYANA', 'region': 0},
 71: {'COUNTRY_OF_CITIZENSHIP': 'HAITI', 'region': 9},
 72: {'COUNTRY_OF_CITIZENSHIP': 'HONDURAS', 'region': 2},
 73: {'COUNTRY_OF_CITIZENSHIP': 'HONG KONG', 'region': 1},
 74: {'COUNTRY_OF_CITIZENSHIP': 'HUNGARY', 'region': 4},
 75: {'COUNTRY_OF_CITIZENSHIP': 'ICELAND', 'region': 3},
 76: {'COUNTRY_OF_CITIZENSHIP': 'INDIA', 'region': 1},
 77: {'COUNTRY_OF_CITIZENSHIP': 'INDONESIA', 'region': 1},
 78: {'COUNTRY_OF_CITIZENSHIP': 'IRAN', 'region': 5},
 79: {'COUNTRY_OF_CITIZENSHIP': 'IRAQ', 'region': 5},
 80: {'COUNTRY_OF_CITIZENSHIP': 'IRELAND', 'region': 4},
 81: {'COUNTRY_OF_CITIZENSHIP': 'ISREAL', 'region': 5},
 82: {'COUNTRY_OF_CITIZENSHIP': 'ITALY', 'region': 4},
 83: {'COUNTRY_OF_CITIZENSHIP': 'IVORY COAST', 'region': 0},
 84: {'COUNTRY_OF_CITIZENSHIP': 'JAMAICA', 'region': 9},
 85: {'COUNTRY_OF_CITIZENSHIP': 'JAPAN', 'region': 1},
 86: {'COUNTRY_OF_CITIZENSHIP': 'JORDAN', 'region': 5},
 87: {'COUNTRY_OF_CITIZENSHIP': 'KAZAKHSTAN', 'region': 1},
 88: {'COUNTRY_OF_CITIZENSHIP': 'KENYA', 'region': 0},
 89: {'COUNTRY_OF_CITIZENSHIP': 'KIRIBATI', 'region': 7},
 90: {'COUNTRY_OF_CITIZENSHIP': 'KOSOVO', 'region': 3},
 91: {'COUNTRY_OF_CITIZENSHIP': 'KUWAIT', 'region': 5},
 92: {'COUNTRY_OF_CITIZENSHIP': 'KYRGYZSTAN', 'region': 1},
 93: {'COUNTRY_OF_CITIZENSHIP': 'LAOS', 'region': 1},
 94: {'COUNTRY_OF_CITIZENSHIP': 'LATVIA', 'region': 4},
 95: {'COUNTRY_OF_CITIZENSHIP': 'LEBANON', 'region': 5},
 96: {'COUNTRY_OF_CITIZENSHIP': 'LIBERIA', 'region': 0},
 97: {'COUNTRY_OF_CITIZENSHIP': 'LIBYA', 'region': 0},
 98: {'COUNTRY_OF_CITIZENSHIP': 'LIECHTENSTEIN', 'region': 3},
 99: {'COUNTRY_OF_CITIZENSHIP': 'LITHUANIA', 'region': 4},
 100: {'COUNTRY_OF_CITIZENSHIP': 'LUXEMBORG', 'region': 4},
 101: {'COUNTRY_OF_CITIZENSHIP': 'MACAU', 'region': 1},
 102: {'COUNTRY_OF_CITIZENSHIP': 'MACEDONIA', 'region': 3},
 103: {'COUNTRY_OF_CITIZENSHIP': 'MADAGASCAR', 'region': 0},
 104: {'COUNTRY_OF_CITIZENSHIP': 'MALAWI', 'region': 0},
 105: {'COUNTRY_OF_CITIZENSHIP': 'MALAYSIA', 'region': 1},
 106: {'COUNTRY_OF_CITIZENSHIP': 'MALDIVES', 'region': 1},
 107: {'COUNTRY_OF_CITIZENSHIP': 'MALI', 'region': 0},
 108: {'COUNTRY_OF_CITIZENSHIP': 'MALTA', 'region': 4},
 109: {'COUNTRY_OF_CITIZENSHIP': 'MARSHALL ISLANDS', 'region': 7},
 110: {'COUNTRY_OF_CITIZENSHIP': 'MAURITANIA', 'region': 0},
 111: {'COUNTRY_OF_CITIZENSHIP': 'MAURITIUS', 'region': 1},
 112: {'COUNTRY_OF_CITIZENSHIP': 'MEXICO', 'region': 2},
 113: {'COUNTRY_OF_CITIZENSHIP': 'MOLDOVA', 'region': 3},
 114: {'COUNTRY_OF_CITIZENSHIP': 'MONGOLIA', 'region': 1},
 115: {'COUNTRY_OF_CITIZENSHIP': 'MONTENEGRO', 'region': 3},
 116: {'COUNTRY_OF_CITIZENSHIP': 'MONTSERRAT', 'region': 9},
 117: {'COUNTRY_OF_CITIZENSHIP': 'MOROCCO', 'region': 0},
 118: {'COUNTRY_OF_CITIZENSHIP': 'NAMBIA', 'region': 0},
 119: {'COUNTRY_OF_CITIZENSHIP': 'NEPAL', 'region': 1},
 120: {'COUNTRY_OF_CITIZENSHIP': 'NETHERLANDS', 'region': 4},
 121: {'COUNTRY_OF_CITIZENSHIP': 'NEW ZEALAND', 'region': 7},
 122: {'COUNTRY_OF_CITIZENSHIP': 'NICARAGUA', 'region': 2},
 123: {'COUNTRY_OF_CITIZENSHIP': 'NIGER', 'region': 0},
 124: {'COUNTRY_OF_CITIZENSHIP': 'NIGERIA', 'region': 0},
 125: {'COUNTRY_OF_CITIZENSHIP': 'NORWAY', 'region': 4},
 126: {'COUNTRY_OF_CITIZENSHIP': 'OMAN', 'region': 5},
 127: {'COUNTRY_OF_CITIZENSHIP': 'PAKISTAN', 'region': 1},
 128: {'COUNTRY_OF_CITIZENSHIP': 'PALESTINE', 'region': 5},
 129: {'COUNTRY_OF_CITIZENSHIP': 'PALESTINIAN TERRITORIES', 'region': 5},
 130: {'COUNTRY_OF_CITIZENSHIP': 'PANAMA', 'region': 2},
 131: {'COUNTRY_OF_CITIZENSHIP': 'PARAGUAY', 'region': 8},
 132: {'COUNTRY_OF_CITIZENSHIP': 'PERU', 'region': 8},
 133: {'COUNTRY_OF_CITIZENSHIP': 'PHILIPPINES', 'region': 1},
 134: {'COUNTRY_OF_CITIZENSHIP': 'POLAND', 'region': 4},
 135: {'COUNTRY_OF_CITIZENSHIP': 'PORTUGAL', 'region': 4},
 136: {'COUNTRY_OF_CITIZENSHIP': 'REPUBLIC OF CONGO', 'region': 0},
 137: {'COUNTRY_OF_CITIZENSHIP': 'ROMANIA', 'region': 3},
 138: {'COUNTRY_OF_CITIZENSHIP': 'RUSSIA', 'region': 3},
 139: {'COUNTRY_OF_CITIZENSHIP': 'RWANDA', 'region': 0},
 140: {'COUNTRY_OF_CITIZENSHIP': 'SAINT VINCENT AND THE GRENADINES',
  'region': 9},
 141: {'COUNTRY_OF_CITIZENSHIP': 'SAMOA', 'region': 7},
 142: {'COUNTRY_OF_CITIZENSHIP': 'SAO TOME AND PRINCIPE', 'region': 0},
 143: {'COUNTRY_OF_CITIZENSHIP': 'SAUDI ARABIA', 'region': 5},
 144: {'COUNTRY_OF_CITIZENSHIP': 'SENEGAL', 'region': 0},
 145: {'COUNTRY_OF_CITIZENSHIP': 'SERBIA', 'region': 3},
 146: {'COUNTRY_OF_CITIZENSHIP': 'SERBIA AND MONTENEGRO', 'region': 3},
 147: {'COUNTRY_OF_CITIZENSHIP': 'SEYCHELES', 'region': 0},
 148: {'COUNTRY_OF_CITIZENSHIP': 'SIERRA LEONE', 'region': 0},
 149: {'COUNTRY_OF_CITIZENSHIP': 'SINGAPORE', 'region': 1},
 150: {'COUNTRY_OF_CITIZENSHIP': 'SLOVAKIA', 'region': 4},
 151: {'COUNTRY_OF_CITIZENSHIP': 'SLOVENIA', 'region': 4},
 152: {'COUNTRY_OF_CITIZENSHIP': 'SOMALIA', 'region': 0},
 153: {'COUNTRY_OF_CITIZENSHIP': 'SOUTH AFRICA', 'region': 0},
 154: {'COUNTRY_OF_CITIZENSHIP': 'SOUTH KOREA', 'region': 1},
 155: {'COUNTRY_OF_CITIZENSHIP': 'SOUTH SUDAN', 'region': 0},
 156: {'COUNTRY_OF_CITIZENSHIP': 'SPAIN', 'region': 4},
 157: {'COUNTRY_OF_CITIZENSHIP': 'SRI LANKA', 'region': 1},
 158: {'COUNTRY_OF_CITIZENSHIP': 'ST LUCIA', 'region': 9},
 159: {'COUNTRY_OF_CITIZENSHIP': 'ST VINCENT', 'region': 9},
 160: {'COUNTRY_OF_CITIZENSHIP': 'SUDAN', 'region': 0},
 161: {'COUNTRY_OF_CITIZENSHIP': 'SURINAME', 'region': 8},
 162: {'COUNTRY_OF_CITIZENSHIP': 'SWEDEN', 'region': 4},
 163: {'COUNTRY_OF_CITIZENSHIP': 'SWITZERLAND', 'region': 4},
 164: {'COUNTRY_OF_CITIZENSHIP': 'SYRIA', 'region': 5},
 165: {'COUNTRY_OF_CITIZENSHIP': 'TAIWAN', 'region': 1},
 166: {'COUNTRY_OF_CITIZENSHIP': 'TAJIKISTAN', 'region': 1},
 167: {'COUNTRY_OF_CITIZENSHIP': 'TANZANIA', 'region': 0},
 168: {'COUNTRY_OF_CITIZENSHIP': 'THAILAND', 'region': 1},
 169: {'COUNTRY_OF_CITIZENSHIP': 'TOGO', 'region': 0},
 170: {'COUNTRY_OF_CITIZENSHIP': 'TRINIDAD AND TOBAGO', 'region': 9},
 171: {'COUNTRY_OF_CITIZENSHIP': 'TUNISIA', 'region': 0},
 172: {'COUNTRY_OF_CITIZENSHIP': 'TURKEY', 'region': 3},
 173: {'COUNTRY_OF_CITIZENSHIP': 'TURKMENISTAN', 'region': 1},
 174: {'COUNTRY_OF_CITIZENSHIP': 'TURKS AND CAICOS ISLAND', 'region': 9},
 175: {'COUNTRY_OF_CITIZENSHIP': 'UGANDA', 'region': 0},
 176: {'COUNTRY_OF_CITIZENSHIP': 'UKRAINE', 'region': 3},
 177: {'COUNTRY_OF_CITIZENSHIP': 'UNITED ARAB EMIRATES', 'region': 5},
 178: {'COUNTRY_OF_CITIZENSHIP': 'UNITED KINGDOM', 'region': 4},
 179: {'COUNTRY_OF_CITIZENSHIP': 'UNITED STATES OF AMERICA', 'region': 6},
 180: {'COUNTRY_OF_CITIZENSHIP': 'URUGUAY', 'region': 8},
 181: {'COUNTRY_OF_CITIZENSHIP': 'UZBEKISTAN', 'region': 1},
 182: {'COUNTRY_OF_CITIZENSHIP': 'VANUATU', 'region': 7},
 183: {'COUNTRY_OF_CITIZENSHIP': 'VENEZUELA', 'region': 8},
 184: {'COUNTRY_OF_CITIZENSHIP': 'VIETNAM', 'region': 1},
 185: {'COUNTRY_OF_CITIZENSHIP': 'YEMEN', 'region': 5},
 186: {'COUNTRY_OF_CITIZENSHIP': 'ZAMBIA', 'region': 0},
 187: {'COUNTRY_OF_CITIZENSHIP': 'ZIMBABWE', 'region': 0}}

In [4]:
data = pd.read_csv('../Resources/certified_denied.csv')

In [5]:
data

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,NaN,25,A-14246-03533,2015-06-22,Certified,2014-12-19,185,0.506849,"CITRIX SYSTEMS, INC.",FORT LAUDERDALE,...,1973-03-30 00:00:00,CHINA,CHINA,H-1B,Master's,NaN,2015,6,2014.0,12.0
1,NaN,28,A-14198-89806,2015-04-06,Certified,2014-07-18,262,0.717808,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,...,75063,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2014.0,7.0
2,NaN,35,A-14222-96825,2015-06-24,Certified,2014-12-11,195,0.534247,SAT SOLUTIONS LLC,MONROE,...,75001,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,6,2014.0,12.0
3,NaN,61,A-13216-85505,2015-05-29,Certified,2013-08-05,662,1.813699,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,210001,CHINA,CHINA,NaN,Associate's,NaN,2015,5,2013.0,8.0
4,NaN,63,A-13179-76467,2015-04-20,Certified,2013-06-28,661,1.810959,FARROKH ERFAN,GAITHERSBURG,...,NaN,IRAN,IRAN,NaN,Bachelor's,NaN,2015,4,2013.0,6.0
5,NaN,64,A-13213-84798,2015-04-06,Certified,2013-08-12,602,1.649315,"MERRICK SYSTEMS, INC.",HOUSTON,...,77479,INDIA,INDIA,NaN,Bachelor's,NaN,2015,4,2013.0,8.0
6,NaN,67,A-13305-09666,2015-06-25,Certified,2014-02-09,501,1.372603,WATAMI USA GUAM,TAMUNING,...,96913,PHILIPPINES,PHILIPPINES,H-1B,Associate's,NaN,2015,6,2014.0,2.0
7,NaN,68,A-13304-09638,2015-05-06,Certified,2013-11-15,537,1.471233,HEWLETT-PACKARD COMPANY,PALO ALTO,...,77070,CHINA,CHINA,H-1B,Master's,NaN,2015,5,2013.0,11.0
8,NaN,69,A-13304-09632,2015-06-08,Certified,2013-12-09,546,1.495890,FRONTIER TECHNOLOGIES LLC,NAPERVILLE,...,60089,INDIA,INDIA,H-1B,Master's,NaN,2015,6,2013.0,12.0
9,NaN,70,A-13305-09848,2015-06-11,Certified,2013-12-09,549,1.504110,CONCORDIA WIRELESS INC,CAROL STREAM,...,1934-06-06 00:00:00,POLAND,POLAND,H-1B,Master's,NaN,2015,6,2013.0,12.0
10,NaN,73,A-13305-09963,2015-05-14,Certified,2013-11-15,545,1.493151,MOTOROLA SOLUTIONS INC.,SCHAUMBURG,...,1995-06-01 00:00:00,INDIA,INDIA,H-1B,Master's,NaN,2015,5,2013.0,11.0
11,NaN,74,A-10180-06157,2015-09-02,Certified,2015-02-13,201,0.550685,"LEE-PARK ENTERPRISES, LLC DBA GREATREE",MERIDEN,...,NaN,SOUTH KOREA,SOUTH KOREA,Not in USA,Bachelor's,NaN,2015,9,2015.0,2.0
12,NaN,75,A-10302-28853,2015-05-29,Certified,2010-10-29,1673,4.583562,INFOSYS TECHNOLOGIES LIMITED,PLANO,...,1943-02-20 00:00:00,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,5,2010.0,10.0
13,NaN,96,A-13305-09876,2015-05-13,Certified,2013-11-22,537,1.471233,"GROUPON, INC.",CHICAGO,...,2010-06-06 00:00:00,MALAYSIA,MALAYSIA,H-1B,Master's,NaN,2015,5,2013.0,11.0
14,NaN,98,A-12168-72757,2015-08-19,Certified,2012-06-16,1159,3.175342,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,...,6040,INDIA,INDIA,H-1B,Master's,NaN,2015,8,2012.0,6.0
15,NaN,130,A-12362-25997,2015-08-11,Certified,2012-12-27,957,2.621918,BAC FLORIDA BANK,MIAMI,...,1931-03-31 00:00:00,NICARAGUA,NICARAGUA,H-1B,Bachelor's,NaN,2015,8,2012.0,12.0
16,NaN,143,A-13023-33552,2015-04-10,Certified,2013-01-22,808,2.213699,"GOLDMAN, SACHS & CO.",NEW YORK,...,10023,MEXICO,MEXICO,H-1B,Master's,NaN,2015,4,2013.0,1.0
17,NaN,157,A-13105-55974,2015-08-24,Certified,2013-04-19,857,2.347945,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,641705,SOUTH KOREA,SOUTH KOREA,NaN,Bachelor's,NaN,2015,8,2013.0,4.0
18,NaN,162,A-13133-63139,2015-04-09,Certified,2013-09-11,575,1.575342,"DVR SOFTEK INC.,",EDISON,...,8830,INDIA,INDIA,H-1B,None,NaN,2015,4,2013.0,9.0
19,NaN,168,A-13154-68182,2015-08-31,Certified,2013-06-03,819,2.243836,DIBE YAZHI HABITIIN OLTA INC. D/B/A BORREGO PA...,CROWNPOINT,...,87313,PHILIPPINES,PHILIPPINES,H-1B,Bachelor's,NaN,2015,8,2013.0,6.0
20,NaN,170,A-13137-64776,2015-04-08,Certified,2013-09-06,579,1.586301,CARRIER IQ,SUNNYVALE,...,1824,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2013.0,9.0
21,NaN,171,A-13123-61367,2015-09-03,Certified,2013-05-03,853,2.336986,SONY COMPUTER ENTERTAINMENT AMERICA LLC,FOSTER CITY,...,98004,CZECH REPUBLIC,CZECH REPUBLIC,H-1B,Master's,NaN,2015,9,2013.0,5.0
22,NaN,179,A-13114-58881,2015-06-04,Certified,2013-12-09,542,1.484932,"RADIANT LOGIC, INC.",NOVATO,...,94123,FRANCE,FRANCE,H-1B,Master's,NaN,2015,6,2013.0,12.0
23,NaN,190,A-13072-47736,2015-09-18,Certified,2014-06-16,459,1.257534,UNITED STATES CHINA EXCHANGE COUNCIL,UNION CITY,...,94568,CHINA,CHINA,F-1,Master's,NaN,2015,9,2014.0,6.0
24,NaN,191,A-13274-01890,2015-05-28,Certified,2013-11-02,572,1.567123,AVANI TECHNOLOGY SOLUTIONS INC.,ROCHESTER,...,14616,INDIA,INDIA,H-1B,Master's,NaN,2015,5,2013.0,11.0
25,NaN,193,A-13105-56029,2015-08-24,Certified,2013-04-19,857,2.347945,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,1931-10-08 00:00:00,SOUTH KOREA,SOUTH KOREA,NaN,High School,NaN,2015,8,2013.0,4.0
26,NaN,198,A-13266-99344,2015-05-05,Certified,2013-10-31,551,1.509589,SIMPSON THACHER & BARTLETT LLP,NEW YORK,...,1983-01-05 00:00:00,BRAZIL,BRAZIL,H-1B,Master's,NaN,2015,5,2013.0,10.0
27,NaN,199,A-13274-01952,2015-05-04,Certified,2013-10-31,550,1.506849,CCC INFORMATION SERVICES INC.,CHICAGO,...,600016,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,5,2013.0,10.0
28,NaN,200,A-13254-96007,2015-04-27,Certified,2013-09-12,592,1.621918,"INSURANCE AUTO AUCTIONS, INC",WESTCHESTER,...,1959-06-05 00:00:00,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2013.0,9.0
29,NaN,201,A-13269-00825,2015-04-29,Certified,2013-10-28,548,1.501370,JP MORGAN CHASE & CO,CHICAGO,...,43230,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2013.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238436,NaN,119741,A-18062-49218,2018-09-28,Denied,2018-03-03,209,0.572603,"PLATINUM CARE GROUP, INC.",CAROL STREAM,...,3017,PHILIPPINES,PHILIPPINES,Not in USA,Bachelor's,NaN,2018,9,2018.0,3.0
238437,NaN,119742,A-18038-41113,2018-09-28,Certified,2018-03-02,210,0.575342,"ITS EXPRESS USA, INC.",NEW YORK,...,11373,SOUTH KOREA,SOUTH KOREA,F-1,High School,NaN,2018,9,2018.0,3.0
238438,NaN,119743,A-17311-07771,2018-09-28,Certified,2018-03-02,210,0.575342,GANSETT RESTAURANT CORP,AMAGANSETT,...,11937,ECUADOR,ECUADOR,NaN,None,NaN,2018,9,2018.0,3.0
238439,NaN,119744,A-18061-49045,2018-09-28,Certified,2018-03-02,210,0.575342,Jacqueline Amezcua,Canyon Country,...,00965,PHILIPPINES,PHILIPPINES,NaN,None,NaN,2018,9,2018.0,3.0
238440,NaN,119745,A-18046-43947,2018-09-28,Certified,2018-02-28,212,0.580822,"Nishimura U.S.A., Inc.",Gardena,...,515-0804,JAPAN,JAPAN,Not in USA,High School,NaN,2018,9,2018.0,2.0
238441,NaN,119746,A-18059-48308,2018-09-28,Certified,2018-02-28,212,0.580822,UNIVERSITY OF MICHIGAN,ANN ARBOR,...,48105,INDIA,INDIA,H-1B,Doctorate,NaN,2018,9,2018.0,2.0
238442,NaN,119747,A-18058-47576,2018-09-28,Certified,2018-02-26,214,0.586301,"VENCOL DENTAL LABORATORY, INC.",TAMARAC,...,33326,BRAZIL,BRAZIL,H-1B,High School,NaN,2018,9,2018.0,2.0
238443,NaN,119748,A-18044-43151,2018-09-28,Certified,2018-02-23,217,0.594521,Winston-Salem/Forsyth County Schools,Winston-Salem,...,27040,COLOMBIA,COLOMBIA,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
238444,NaN,119749,A-18054-46508,2018-09-28,Certified,2018-02-23,217,0.594521,Winston-Salem/Forsyth County Schools,Winston-Salem,...,27012,COLOMBIA,COLOMBIA,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
238445,NaN,119750,A-18051-45194,2018-09-28,Certified,2018-02-20,220,0.602740,HORIZON SCIENCE ACADEMY-TOLEDO,TOLEDO,...,43623,TURKEY,TURKEY,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
238446,NaN,119751,A-18044-43078,2018-09-28,Denied,2018-02-20,220,0.602740,RGV Best Burger LLC,Brownsville,...,78521,MEXICO,MEXICO,E-2,High School,NaN,2018,9,2018.0,2.0
238447,NaN,119752,A-18030-37105,2018-09-28,Certified,2018-02-19,221,0.605479,GOOGLE LLC,MOUNTAIN VIEW,...,95051,CHINA,CHINA,H-1B,Master's,NaN,2018,9,2018.0,2.0
238448,NaN,119753,A-18049-44845,2018-09-28,Certified,2018-02-18,222,0.608219,"TURKISH AMERICAN COMMUNITY CENTER, INC",LANHAM,...,21076,TURKEY,TURKEY,F-1,High School,NaN,2018,9,2018.0,2.0
238449,NaN,119754,A-18047-44681,2018-09-28,Certified,2018-02-17,223,0.610959,US SOFTWARE PROFESSIONALS INC,CHICAGO,...,07093,INDIA,INDIA,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
238450,NaN,119755,A-18037-40571,2018-09-28,Certified,2018-02-16,224,0.613699,Vescom Systems LLC,Kearny,...,07950,INDIA,INDIA,H-1B,Master's,NaN,2018,9,2018.0,2.0
238451,NaN,119756,A-18044-42982,2018-09-28,Certified,2018-02-15,225,0.616438,"ORACLE AMERICA, INC.",REDWOOD SHORES,...,32822,INDIA,INDIA,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
238452,NaN,119757,A-18040-41994,2018-09-28,Certified,2018-02-14,226,0.619178,VENTURESOFT GLOBAL INC.,PLEASANTON,...,85308,INDIA,INDIA,H-4,Bachelor's,NaN,2018,9,2018.0,2.0
238453,NaN,119758,A-18040-42000,2018-09-28,Certified,2018-02-14,226,0.619178,VENTURESOFT GLOBAL INC.,PLEASANTON,...,19114,INDIA,INDIA,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
238454,NaN,119759,A-18038-41050,2018-09-28,Certified,2018-02-14,226,0.619178,"RIVERWALK EDUCATION FOUNDATION, INC.",SAN ANTONIO,...,75081,TURKEY,TURKEY,H-1B,Bachelor's,NaN,2018,9,2018.0,2.0
238455,NaN,119760,A-18045-43424,2018-09-28,Certified,2018-02-13,227,0.621918,"THE FRENCH BREAD FACTORY, INC.",STERLING,...,20164,EL SALVADOR,EL SALVADOR,EWI,None,NaN,2018,9,2018.0,2.0
238456,NaN,119761,A-18003-27317,2018-09-28,Certified,2018-02-13,227,0.621918,URBAN LIVING INTERNATIONAL LLC,BROOKLYN,...,11216,FRANCE,FRANCE,O-3,Associate's,NaN,2018,9,2018.0,2.0
238457,NaN,119762,A-18045-43349,2018-09-28,Certified,2018-02-12,228,0.624658,"THE SHIN IL PRESBYTERIAN CHURCH OF NY, INC.",FLUSHING,...,11358,SOUTH KOREA,SOUTH KOREA,F-1,High School,NaN,2018,9,2018.0,2.0
238458,NaN,119763,A-17305-05551,2018-09-28,Certified,2018-02-06,234,0.641096,OREGON STATE UNIVERSITY,CORVALLIS,...,97330,SOUTH KOREA,SOUTH KOREA,H-1B,Master's,NaN,2018,9,2018.0,2.0
238459,NaN,119764,A-18036-39632,2018-09-28,Certified,2018-02-05,235,0.643836,Richard Drake Construction Company LP,Powderly,...,26083,MEXICO,MEXICO,Not in USA,None,NaN,2018,9,2018.0,2.0
238460,NaN,119765,A-18029-36353,2018-09-28,Denied,2018-01-29,242,0.663014,"HAPPY LANDSMEN ENTERPRISES, LLC",AUSTIN,...,1981819889,IRAN,IRAN,NaN,None,NaN,2018,9,2018.0,1.0
238461,NaN,119766,A-17317-10019,2018-09-28,Certified,2018-01-26,245,0.671233,"Prime Rehabilitation Services, Inc.",Oakhurst,...,07095,INDIA,INDIA,NaN,Associate's,NaN,2018,9,2018.0,1.0
238462,NaN,119767,A-17304-05282,2018-09-28,Certified,2017-12-01,301,0.824658,KURISU LLC,PORTLAND,...,97140,JAPAN,JAPAN,H-1B,Bachelor's,NaN,2018,9,2017.0,12.0
238463,NaN,119768,A-17303-04609,2018-09-28,Denied,2017-10-31,332,0.909589,GM INTERNATIONAL CONSULTANTS LLC,NORCROSS,...,30096,COLOMBIA,COLOMBIA,B-2,None,NaN,2018,9,2017.0,10.0
238464,NaN,119769,A-17300-04016,2018-09-28,Denied,2017-10-27,336,0.920548,GM INTERNATIONAL CONSULTANTS LLC,NORCROSS,...,30044,COLOMBIA,COLOMBIA,B-2,None,NaN,2018,9,2017.0,10.0
238465,NaN,119770,A-17005-87850,2018-09-28,Certified,2017-02-04,601,1.646575,INTEL CORPORATION,SANTA CLARA,...,78745,INDIA,INDIA,H-1B,Master's,NaN,2018,9,2017.0,2.0

In [6]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'CASE_NUMBER', 'DECISION_DATE',
       'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_ELAPSED_DAYS',
       'DECISION_ELAPSED_YEARS', 'EMPLOYER_NAME', 'EMPLOYER_CITY',
       'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_NUM_EMPLOYEES',
       'AGENT_FIRM_NAME', 'AGENT_CITY', 'AGENT_STATE', 'PW_SOC_CODE',
       'PW_SOC_TITLE', 'PW_AMOUNT_9089', 'WAGE_OFFER_FROM_9089',
       'WAGE_OFFER_UNIT_OF_PAY_9089', 'JOB_INFO_WORK_CITY',
       'JOB_INFO_WORK_STATE', 'JOB_INFO_WORK_POSTAL_CODE',
       'JOB_INFO_JOB_TITLE', 'JOB_INFO_EDUCATION', 'JOB_INFO_EDUCATION_OTHER',
       'FOREIGN_WORKER_INFO_CITY', 'FOREIGN_WORKER_INFO_STATE',
       'FW_INFO_POSTAL_CODE', 'COUNTRY_OF_CITIZENSHIP',
       'FW_INFO_BIRTH_COUNTRY', 'CLASS_OF_ADMISSION',
       'FOREIGN_WORKER_INFO_EDUCATION', 'FW_INFO_EDUCATION_OTHER',
       'DECISION_DATE_YEAR', 'DECISION_DATE_MONTH', 'CASE_RECEIVED_DATE_YEAR',
       'CASE_RECEIVED_DATE_MONTH'],
      dtype='object')

In [7]:
from sklearn.preprocessing import LabelEncoder
num_encode = LabelEncoder()

In [8]:
data['COUNTRY_OF_CITIZENSHIP'] = data['COUNTRY_OF_CITIZENSHIP'].astype(str)
data['COUNTRY_OF_CITIZENSHIP_CODE'] = num_encode.fit_transform(data['COUNTRY_OF_CITIZENSHIP'])

In [9]:
data2 = data.loc[data['WAGE_OFFER_UNIT_OF_PAY_9089'] == 'Year']

In [10]:
data_kathleen = data[[
    'COUNTRY_OF_CITIZENSHIP_CODE',
    'CASE_STATUS',
    'DECISION_ELAPSED_DAYS',
    'EMPLOYER_POSTAL_CODE',
    'EMPLOYER_STATE',
    'EMPLOYER_NUM_EMPLOYEES',
    'WAGE_OFFER_FROM_9089',
    'COUNTRY_OF_CITIZENSHIP',
    'CLASS_OF_ADMISSION',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CASE_RECEIVED_DATE_MONTH'
]]

In [11]:
data_kathleen

,COUNTRY_OF_CITIZENSHIP_CODE,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH
0,36,Certified,185,33309,FLORIDA,5400.0,82000.00,CHINA,H-1B,Master's,12.0
1,76,Certified,262,77845,TEXAS,29000.0,72467.00,INDIA,H-1B,Bachelor's,7.0
2,76,Certified,195,08831,NEW JERSEY,8.0,77500.00,INDIA,H-1B,Bachelor's,12.0
3,36,Certified,662,36108,ALABAMA,1400.0,19843.00,CHINA,NaN,Associate's,8.0
4,78,Certified,661,20877,MARYLAND,6.0,36754.00,IRAN,NaN,Bachelor's,6.0
5,76,Certified,602,77007,TEXAS,59.0,108867.00,INDIA,NaN,Bachelor's,8.0
6,133,Certified,501,96931,GUAM,35.0,68869.00,PHILIPPINES,H-1B,Associate's,2.0
7,36,Certified,537,94304,CALIFORNIA,331000.0,118414.00,CHINA,H-1B,Master's,11.0
8,76,Certified,546,60563,ILLINOIS,148.0,75400.00,INDIA,H-1B,Master's,12.0
9,134,Certified,549,60188,ILLINOIS,17.0,60000.00,POLAND,H-1B,Master's,12.0
10,76,Certified,545,60196,ILLINOIS,22000.0,70452.00,INDIA,H-1B,Master's,11.0
11,154,Certified,201,06450,CONNECTICUT,5.0,47133.00,SOUTH KOREA,Not in USA,Bachelor's,2.0
12,76,Certified,1673,75024,TEXAS,91000.0,69160.00,INDIA,H-1B,Bachelor's,10.0
13,105,Certified,537,60654,ILLINOIS,11394.0,81000.00,MALAYSIA,H-1B,Master's,11.0
14,76,Certified,1159,77845,TEXAS,22500.0,117707.20,INDIA,H-1B,Master's,6.0
15,122,Certified,957,33134,FLORIDA,138.0,78437.00,NICARAGUA,H-1B,Bachelor's,12.0
16,112,Certified,808,10282,NEW YORK,10941.0,200000.00,MEXICO,H-1B,Master's,1.0
17,154,Certified,857,36108,ALABAMA,1400.0,19843.00,SOUTH KOREA,NaN,Bachelor's,4.0
18,76,Certified,575,08817,NEW JERSEY,53.0,74651.00,INDIA,H-1B,None,9.0
19,133,Certified,819,87313,NEW MEXICO,51.0,55500.00,PHILIPPINES,H-1B,Bachelor's,6.0
20,76,Certified,579,94086,CALIFORNIA,72.0,108000.00,INDIA,H-1B,Bachelor's,9.0
21,44,Certified,853,94404,CALIFORNIA,1800.0,122000.00,CZECH REPUBLIC,H-1B,Master's,5.0
22,59,Certified,542,94945,CALIFORNIA,47.0,100800.00,FRANCE,H-1B,Master's,12.0
23,36,Certified,459,94587,CALIFORNIA,12.0,42494.00,CHINA,F-1,Master's,6.0
24,76,Certified,572,14606,NEW YORK,44.0,65520.00,INDIA,H-1B,Master's,11.0
25,154,Certified,857,36108,ALABAMA,1400.0,19843.00,SOUTH KOREA,NaN,High School,4.0
26,24,Certified,551,10017,NEW YORK,1600.0,232000.00,BRAZIL,H-1B,Master's,10.0
27,76,Certified,550,60654,ILLINOIS,11000.0,131000.00,INDIA,H-1B,Bachelor's,10.0
28,76,Certified,592,60154,ILLINOIS,1900.0,86640.00,INDIA,H-1B,Bachelor's,9.0
29,76,Certified,548,60603,ILLINOIS,239000.0,95000.00,INDIA,H-1B,Bachelor's,10.0
...,...,...,...,...,...,...,...,...,...,...,...
238436,133,Denied,209,60188,IL,90.0,23005.00,PHILIPPINES,Not in USA,Bachelor's,3.0
238437,154,Certified,210,10001,NY,5.0,46030.00,SOUTH KOREA,F-1,High School,3.0
238438,50,Certified,210,11930,NY,30.0,20301.00,ECUADOR,NaN,None,3.0
238439,133,Certified,210,91387,CA,1.0,21965.00,PHILIPPINES,NaN,None,3.0
238440,85,Certified,212,90247,CA,10.0,29890.00,JAPAN,Not in USA,High School,2.0
238441,76,Certified,212,48109,MI,50000.0,79680.00,INDIA,H-1B,Doctorate,2.0
238442,24,Certified,214,33321,FL,12.0,120000.00,BRAZIL,H-1B,High School,2.0
238443,37,Certified,217,27105,NC,8200.0,43820.00,COLOMBIA,H-1B,Bachelor's,2.0
238444,37,Certified,217,27105,NC,8200.0,43820.00,COLOMBIA,H-1B,Bachelor's,2.0
238445,174,Certified,220,43613,OH,74.0,39160.00,TURKEY,H-1B,Bachelor's,2.0
238446,112,Denied,220,78526,TX,30.0,120000.00,MEXICO,E-2,High School,2.0
238447,36,Certified,221,94043,CA,40934.0,140000.00,CHINA,H-1B,Master's,2.0
238448,174,Certified,222,20706,MD,10.0,65000.00,TURKEY,F-1,High School,2.0
238449,76,Certified,223,60611-1962,IL,18.0,115500.00,INDIA,H-1B,Bachelor's,2.0
238450,76,Certified,224,07032,NJ,60.0,80205.00,INDIA,H-1B,Master's,2.0
238451,76,Certified,225,94065,CA,51000.0,93385.00,INDIA,H-1B,Bachelor's,2.0
238452,76,Certified,226,94588,CA,72.0,110000.00,INDIA,H-4,Bachelor's,2.0
238453,76,Certified,226,94588,CA,72.0,110000.00,INDIA,H-1B,Bachelor's,2.0
238454,174,Certified,226,78209,TX,367.0,49770.00,TURKEY,H-1B,Bachelor's,2.0
238455,52,Certified,227,20166,VA,45.0,8.72,EL SALVADOR,EWI,None,2.0
238456,59,Certified,227,11215,NY,1.0,46987.00,FRANCE,O-3,Associate's,2.0
238457,154,Certified,228,11358,NY,2.0,35131.00,SOUTH KOREA,F-1,High School,2.0
238458,154,Certified,234,97333,OR,14500.0,120006.00,SOUTH KOREA,H-1B,Master's,2.0
238459,112,Certified,235,75473,TX,87.0,32240.00,MEXICO,Not in USA,None,2.0
238460,78,Denied,242,78757,TX,12.0,13.53,IRAN,NaN,None,1.0
238461,76,Certified,245,07755,NJ,170.0,67974.00,INDIA,NaN,Associate's,1.0
238462,85,Certified,301,97227,OR,19.0,78520.00,JAPAN,H-1B,Bachelor's,12.0
238463,37,Denied,332,30093,GA,10.0,25875.00,COLOMBIA,B-2,None,10.0
238464,37,Denied,336,30093,GA,10.0,25875.00,COLOMBIA,B-2,None,10.0
238465,76,Certified,601,95052,CA,54000.0,82098.00,INDIA,H-1B,Master's,2.0

In [12]:
# data_kathleen.to_excel('../Resources/kathleen.xlsx', index = False)

In [13]:
regionlist=[]

for country in data_kathleen["COUNTRY_OF_CITIZENSHIP"]:
    regionlist.append(cct.covertcountrytoRegion(country))

In [14]:
len(regionlist)

238466

In [15]:
data_kathleen["regionscolumns"]=regionlist

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
data_kathleen.head()

,COUNTRY_OF_CITIZENSHIP_CODE,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH,regionscolumns
0,36,Certified,185,33309,FLORIDA,5400.0,82000.0,CHINA,H-1B,Master's,12.0,1.0
1,76,Certified,262,77845,TEXAS,29000.0,72467.0,INDIA,H-1B,Bachelor's,7.0,1.0
2,76,Certified,195,08831,NEW JERSEY,8.0,77500.0,INDIA,H-1B,Bachelor's,12.0,1.0
3,36,Certified,662,36108,ALABAMA,1400.0,19843.0,CHINA,NaN,Associate's,8.0,1.0
4,78,Certified,661,20877,MARYLAND,6.0,36754.0,IRAN,NaN,Bachelor's,6.0,5.0

In [17]:
data_kathleen.groupby("regionscolumns").count()["COUNTRY_OF_CITIZENSHIP"]

regionscolumns
0.0      3363
1.0    183035
2.0      8791
3.0      6203
4.0     12824
5.0      3036
6.0      8829
7.0      1566
8.0      8355
9.0      1212
Name: COUNTRY_OF_CITIZENSHIP, dtype: int64

In [18]:
len(data_kathleen[data_kathleen["regionscolumns"]==0.0])

3363

In [19]:
len(data_kathleen[data_kathleen["regionscolumns"]==1.0])

183035

In [20]:
len(data_kathleen[data_kathleen["regionscolumns"]==2.0])

8791

In [21]:
len(data_kathleen[data_kathleen["regionscolumns"]==3.0])

6203

In [22]:
len(data_kathleen[data_kathleen["regionscolumns"]==4.0])

12824

In [23]:
len(data_kathleen[data_kathleen["regionscolumns"]==5.0])

3036

In [24]:
len(data_kathleen[data_kathleen["regionscolumns"]==6.0])

8829

In [25]:
len(data_kathleen[data_kathleen["regionscolumns"]==7.0])

1566

In [26]:
len(data_kathleen[data_kathleen["regionscolumns"]==8.0])

8355

In [27]:
len(data_kathleen[data_kathleen["regionscolumns"]==9.0])

1212

In [28]:
data3 = data_kathleen[data_kathleen["regionscolumns"] == 3.0]

In [29]:
data3.head(10)

,COUNTRY_OF_CITIZENSHIP_CODE,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH,regionscolumns
51,138,Certified,804,20878,MARYLAND,10.0,100000.00,RUSSIA,H-1B,Master's,6.0,3.0
58,137,Certified,478,01111,MASSACHUSETTS,6000.0,70387.00,ROMANIA,H-1B,Bachelor's,5.0,3.0
110,137,Certified,582,27709,NORTH CAROLINA,426751.0,83637.00,ROMANIA,H-1B,Master's,9.0,3.0
168,174,Certified,514,14202,NEW YORK,61.0,39853.00,TURKEY,H-1B,Master's,12.0,3.0
300,138,Certified,473,10022,NEW YORK,7000.0,150000.00,RUSSIA,H-1B,Master's,4.0,3.0
322,145,Certified,493,75081,TEXAS,5.0,157228.00,SERBIA,H-1B,Bachelor's,4.0,3.0
367,174,Certified,541,11101,NEW YORK,50.0,49150.00,TURKEY,NaN,Bachelor's,12.0,3.0
398,174,Certified,542,07095,NEW JERSEY,3.0,26.75,TURKEY,NaN,None,2.0,3.0
425,174,Certified,507,77099,TEXAS,2600.0,57600.00,TURKEY,H-1B,Master's,2.0,3.0
458,174,Certified,503,92617,CALIFORNIA,53.0,105976.00,TURKEY,F-1,Master's,1.0,3.0

In [30]:
data3.columns

Index(['COUNTRY_OF_CITIZENSHIP_CODE', 'CASE_STATUS', 'DECISION_ELAPSED_DAYS',
       'EMPLOYER_POSTAL_CODE', 'EMPLOYER_STATE', 'EMPLOYER_NUM_EMPLOYEES',
       'WAGE_OFFER_FROM_9089', 'COUNTRY_OF_CITIZENSHIP', 'CLASS_OF_ADMISSION',
       'FOREIGN_WORKER_INFO_EDUCATION', 'CASE_RECEIVED_DATE_MONTH',
       'regionscolumns'],
      dtype='object')

In [31]:
data3['regionscolumns'].value_counts()

3.0    6203
Name: regionscolumns, dtype: int64

In [32]:
states = []

for row in data3['EMPLOYER_STATE']:
    if row == "ME":
        states.append("MAINE")
    elif row == "NH":
        states.append("NEW HAMPSHIRE")
    elif row == "VT":
        states.append("VERMONT")
    elif row == "MA":
        states.append("MASSACHUSETTS")
    elif row == "RI":
        states.append("RHODE ISLAND")
    elif row == "CT":
        states.append("CONNECTICUT")
    elif row == "NY":
        states.append("NEW YORK")
    elif row == "NJ":
        states.append("NEW JERSEY")
    elif row == "PA":
        states.append("PENNSYLVANIA")
    elif row == "DE":
        states.append("DELAWARE")
    elif row == "MD":
        states.append("MARYLAND")
    elif row == "DC":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VA":
        states.append("VIRGINIA")
    elif row == "WV":
        states.append("WEST VIRGINIA")
    elif row == "NC":
        states.append("NORTH CAROLINA")
    elif row == "SC":
        states.append("SOUTH CAROLINA")
    elif row == "GA":
        states.append("GEORGIA")
    elif row == "FL":
        states.append("FLORIDA")
    elif row == "AL":
        states.append("ALABAMA")
    elif row == "TN":
        states.append("TENNESSEE")
    elif row == "TENNESSE":
        states.append("TENNESSEE")
    elif row == "KY":
        states.append("KENTUCKY")
    elif row == "OH":
        states.append("OHIO")
    elif row == "MI":
        states.append("MICHIGAN")
    elif row == "IN":
        states.append("INDIANA")
    elif row == "MS":
        states.append("MISSISSIPPI")
    elif row == "IL":
        states.append("ILLINOIS")
    elif row == "WI":
        states.append("WISCONSIN")
    elif row == "MN":
        states.append("MINNESOTA")
    elif row == "IA":
        states.append("IOWA")
    elif row == "MO":
        states.append("MISSOURI")
    elif row == "AR":
        states.append("ARKANSAS")
    elif row == "LA":
        states.append("LOUISIANA")
    elif row == "ND":
        states.append("NORTH DAKOTA")
    elif row == "SD":
        states.append("SOUTH DAKOTA")
    elif row == "NE":
        states.append("NEBRASKA")
    elif row == "KS":
        states.append("KANSAS")
    elif row == "OK":
        states.append("OKLAHOMA")
    elif row == "TX":
        states.append("TEXAS")
    elif row == "MT":
        states.append("MONTANA")
    elif row == "WY":
        states.append("WYOMING")
    elif row == "CO":
        states.append("COLORADO")
    elif row == "NM":
        states.append("NEW MEXICO")
    elif row == "ID":
        states.append("IDAHO")
    elif row == "UT":
        states.append("UTAH")
    elif row == "AZ":
        states.append("ARIZONA")
    elif row == "WA":
        states.append("WASHINGTON")
    elif row == "OR":
        states.append("OREGON")
    elif row == "NV":
        states.append("NEVADA")
    elif row == "CA":
        states.append("CALIFORNIA")
    elif row == "AK":
        states.append("ALASKA")
    elif row == "HI":
        states.append("HAWAII")
    elif row == "PR":
        states.append("PUERTO RICO")
    elif row == "MP":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VI":
        states.append("VIRGIN ISLANDS")
    elif row == "GU":
        states.append("GUAM")
    elif row == "NEW HAMPSHIRE":
        states.append("NEW HAMPSHIRE")
    elif row == "VERMONT":
        states.append("VERMONT")
    elif row == "MASSACHUSETTS":
        states.append("MASSACHUSETTS")
    elif row == "RHODE ISLAND":
        states.append("RHODE ISLAND")
    elif row == "CONNECTICUT":
        states.append("CONNECTICUT")
    elif row == "NEW YORK":
        states.append("NEW YORK")
    elif row == "NEW JERSEY":
        states.append("NEW JERSEY")
    elif row == "PENNSYLVANIA":
        states.append("PENNSYLVANIA")
    elif row == "DELAWARE":
        states.append("DELAWARE")
    elif row == "MARYLAND":
        states.append("MARYLAND")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VIRGINIA":
        states.append("VIRGINIA")
    elif row == "WEST VIRGINIA":
        states.append("WEST VIRGINIA")
    elif row == "NORTH CAROLINA":
        states.append("NORTH CAROLINA")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH CAROLINA")
    elif row == "GEORGIA":
        states.append("GEORGIA")
    elif row == "FLORIDA":
        states.append("FLORIDA")
    elif row == "ALABAMA":
        states.append("ALABAMA")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "KENTUCKY":
        states.append("KENTUCKY")
    elif row == "OHIO":
        states.append("OHIO")
    elif row == "MICHIGAN":
        states.append("MICHIGAN")
    elif row == "INDIANA":
        states.append("INDIANA")
    elif row == "MISSISSIPPI":
        states.append("MISSISSIPPI")
    elif row == "ILLINOIS":
        states.append("ILLINOIS")
    elif row == "WISCONSIN":
        states.append("WISCONSIN")
    elif row == "MINNESOTA":
        states.append("MINNESOTA")
    elif row == "IOWA":
        states.append("IOWA")
    elif row == "MISSOURI":
        states.append("MISSOURI")
    elif row == "ARKANSAS":
        states.append("ARKANSAS")
    elif row == "LOUISIANA":
        states.append("LOUISIANA")
    elif row == "NORTH DAKOTA":
        states.append("NORTH DAKOTA")
    elif row == "SOUTH DAKOTA":
        states.append("SOUTH DAKOTA")
    elif row == "NEBRASKA":
        states.append("NEBRASKA")
    elif row == "KANSAS":
        states.append("KANSAS")
    elif row == "OKLAHOMA":
        states.append("OKLAHOMA")
    elif row == "TEXAS":
        states.append("TEXAS")
    elif row == "MONTANA":
        states.append("MONTANA")
    elif row == "WYOMING":
        states.append("WYOMING")
    elif row == "COLORADO":
        states.append("COLORADO")
    elif row == "NEW MEXICO":
        states.append("NEW MEXICO")
    elif row == "IDAHO":
        states.append("IDAHO")
    elif row == "UTAH":
        states.append("UTAH")
    elif row == "ARIZONA":
        states.append("ARIZONA")
    elif row == "WASHINGTON":
        states.append("WASHINGTON")
    elif row == "OREGON":
        states.append("OREGON")
    elif row == "NEVADA":
        states.append("NEVADA")
    elif row == "CALIFORNIA":
        states.append("CALIFORNIA")
    elif row == "ALASKA":
        states.append("ALASKA")
    elif row == "HAWAII":
        states.append("HAWAII")
    elif row == "PUERTO RICO":
        states.append("PUERTO RICO")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VIRGIN ISLANDS":
        states.append("VIRGIN ISLANDS")
    elif row == "GUAM":
        states.append("GUAM")
    else:
        states.append("UNKNOWN")
        
data3['EMPLOYER_STATES'] = states

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:229: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
data3['EMPLOYER_STATES'].value_counts()

CALIFORNIA              1684
NEW YORK                 727
PENNSYLVANIA             605
WASHINGTON               426
TEXAS                    303
ILLINOIS                 263
FLORIDA                  253
MASSACHUSETTS            249
NEW JERSEY               245
VIRGINIA                 201
MARYLAND                 104
OHIO                     104
NORTH CAROLINA            94
MICHIGAN                  85
GEORGIA                   83
DISTRICT OF COLUMBIA      82
CONNECTICUT               72
COLORADO                  48
ARIZONA                   47
MISSOURI                  45
MINNESOTA                 43
OKLAHOMA                  35
WISCONSIN                 33
INDIANA                   28
NEVADA                    28
TENNESSEE                 25
ARKANSAS                  24
UTAH                      23
SOUTH CAROLINA            21
KANSAS                    21
DELAWARE                  21
IOWA                      18
OREGON                    17
LOUISIANA                 16
KENTUCKY                  16
ALABAMA                   13
VERMONT                   12
NORTH DAKOTA              10
WEST VIRGINIA              9
NEBRASKA                   9
RHODE ISLAND               8
ALASKA                     7
MISSISSIPPI                7
MONTANA                    7
SOUTH DAKOTA               7
NEW HAMPSHIRE              5
IDAHO                      4
MAINE                      4
NEW MEXICO                 4
HAWAII                     3
WYOMING                    3
UNKNOWN                    1
GUAM                       1
Name: EMPLOYER_STATES, dtype: int64

In [34]:
data3.drop(data3[data3.EMPLOYER_STATES == 'UNKNOWN'].index, inplace=True)

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [35]:
data3['EMPLOYER_STATES'].value_counts()

CALIFORNIA              1684
NEW YORK                 727
PENNSYLVANIA             605
WASHINGTON               426
TEXAS                    303
ILLINOIS                 263
FLORIDA                  253
MASSACHUSETTS            249
NEW JERSEY               245
VIRGINIA                 201
MARYLAND                 104
OHIO                     104
NORTH CAROLINA            94
MICHIGAN                  85
GEORGIA                   83
DISTRICT OF COLUMBIA      82
CONNECTICUT               72
COLORADO                  48
ARIZONA                   47
MISSOURI                  45
MINNESOTA                 43
OKLAHOMA                  35
WISCONSIN                 33
INDIANA                   28
NEVADA                    28
TENNESSEE                 25
ARKANSAS                  24
UTAH                      23
SOUTH CAROLINA            21
KANSAS                    21
DELAWARE                  21
IOWA                      18
OREGON                    17
LOUISIANA                 16
KENTUCKY                  16
ALABAMA                   13
VERMONT                   12
NORTH DAKOTA              10
WEST VIRGINIA              9
NEBRASKA                   9
RHODE ISLAND               8
ALASKA                     7
MISSISSIPPI                7
MONTANA                    7
SOUTH DAKOTA               7
NEW HAMPSHIRE              5
IDAHO                      4
NEW MEXICO                 4
MAINE                      4
HAWAII                     3
WYOMING                    3
GUAM                       1
Name: EMPLOYER_STATES, dtype: int64

In [36]:
data4 = data3.dropna(how='any')

In [37]:
data4.head()

,COUNTRY_OF_CITIZENSHIP_CODE,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH,regionscolumns,EMPLOYER_STATES
51,138,Certified,804,20878,MARYLAND,10.0,100000.0,RUSSIA,H-1B,Master's,6.0,3.0,MARYLAND
58,137,Certified,478,01111,MASSACHUSETTS,6000.0,70387.0,ROMANIA,H-1B,Bachelor's,5.0,3.0,MASSACHUSETTS
110,137,Certified,582,27709,NORTH CAROLINA,426751.0,83637.0,ROMANIA,H-1B,Master's,9.0,3.0,NORTH CAROLINA
168,174,Certified,514,14202,NEW YORK,61.0,39853.0,TURKEY,H-1B,Master's,12.0,3.0,NEW YORK
300,138,Certified,473,10022,NEW YORK,7000.0,150000.0,RUSSIA,H-1B,Master's,4.0,3.0,NEW YORK

In [38]:
states = []

for row in data4['EMPLOYER_STATES']:
    if row == "MAINE":
        states.append("NORTHEAST")
    elif row == "NEW HAMPSHIRE":
        states.append("NORTHEAST")
    elif row == "VERMONT":
        states.append("NORTHEAST")
    elif row == "MASSACHUSETTS":
        states.append("NORTHEAST")
    elif row == "RHODE ISLAND":
        states.append("NORTHEAST")
    elif row == "CONNECTICUT":
        states.append("NORTHEAST")
    elif row == "NEW YORK":
        states.append("NORTHEAST")
    elif row == "NEW JERSEY":
        states.append("NORTHEAST")
    elif row == "PENNSYLVANIA":
        states.append("NORTHEAST")
    elif row == "DELAWARE":
        states.append("SOUTH")
    elif row == "MARYLAND":
        states.append("SOUTH")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("SOUTH")
    elif row == "VIRGINIA":
        states.append("SOUTH")
    elif row == "WEST VIRGINIA":
        states.append("SOUTH")
    elif row == "NORTH CAROLINA":
        states.append("SOUTH")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH")
    elif row == "GEORGIA":
        states.append("SOUTH")
    elif row == "FLORIDA":
        states.append("SOUTH")
    elif row == "ALABAMA":
        states.append("SOUTH")
    elif row == "TENNESSE":
        states.append("SOUTH")
    elif row == "KENTUCKY":
        states.append("SOUTH")
    elif row == "OHIO":
        states.append("MIDWEST")
    elif row == "MICHIGAN":
        states.append("MIDWEST")
    elif row == "INDIANA":
        states.append("MIDWEST")
    elif row == "MISSISSIPPI":
        states.append("SOUTH")
    elif row == "ILLINOIS":
        states.append("MIDWEST")
    elif row == "WISCONSIN":
        states.append("MIDWEST")
    elif row == "MINNESOTA":
        states.append("MIDWEST")
    elif row == "IOWA":
        states.append("MIDWEST")
    elif row == "MISSOURI":
        states.append("MIDWEST")
    elif row == "ARKANSAS":
        states.append("SOUTH")
    elif row == "LOUISIANA":
        states.append("SOUTH")
    elif row == "NORTH DAKOTA":
        states.append("MIDWEST")
    elif row == "SOUTH DAKOTA":
        states.append("MIDWEST")
    elif row == "NEBRASKA":
        states.append("MIDWEST")
    elif row == "KANSAS":
        states.append("MIDWEST")
    elif row == "OKLAHOMA":
        states.append("SOUTH")
    elif row == "TEXAS":
        states.append("SOUTH")
    elif row == "MONTANA":
        states.append("WEST")
    elif row == "WYOMING":
        states.append("WEST")
    elif row == "COLORADO":
        states.append("WEST")
    elif row == "NEW MEXICO":
        states.append("WEST")
    elif row == "IDAHO":
        states.append("WEST")
    elif row == "UTAH":
        states.append("WEST")
    elif row == "ARIZONA":
        states.append("WEST")
    elif row == "WASHINGTON":
        states.append("WEST")
    elif row == "OREGON":
        states.append("WEST")
    elif row == "NEVADA":
        states.append("WEST")
    elif row == "CALIFORNIA":
        states.append("WEST")
    elif row == "ALASKA":
        states.append("WEST")
    elif row == "HAWAII":
        states.append("WEST")
    elif row == "PUERTO RICO":
        states.append("OTHER")
    elif row == "TENNESSEE":
        states.append("SOUTH")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("OTHER")
    elif row == "VIRGIN ISLANDS":
        states.append("OTHER")
    elif row == "GUAM":
        states.append("OTHER")
    else:
        states.append("UNKNOWN")
        
data4['EMPLOYER_REGIONS'] = states

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [39]:
data4['EMPLOYER_REGIONS'].value_counts()

WEST         2205
NORTHEAST    1792
SOUTH        1168
MIDWEST       600
OTHER           1
Name: EMPLOYER_REGIONS, dtype: int64

In [40]:
data4.count()

COUNTRY_OF_CITIZENSHIP_CODE      5766
CASE_STATUS                      5766
DECISION_ELAPSED_DAYS            5766
EMPLOYER_POSTAL_CODE             5766
EMPLOYER_STATE                   5766
EMPLOYER_NUM_EMPLOYEES           5766
WAGE_OFFER_FROM_9089             5766
COUNTRY_OF_CITIZENSHIP           5766
CLASS_OF_ADMISSION               5766
FOREIGN_WORKER_INFO_EDUCATION    5766
CASE_RECEIVED_DATE_MONTH         5766
regionscolumns                   5766
EMPLOYER_STATES                  5766
EMPLOYER_REGIONS                 5766
dtype: int64

In [41]:
data4['DAY_BINS'] = pd.cut(x=data4['DECISION_ELAPSED_DAYS'], 
                             bins=[0, 90, 180, 365, 3600],
                           labels=['0-90', '91-180', '181-365', '366-3600'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [42]:
data4['DAY_BINS'].value_counts()

91-180      2426
0-90        1672
181-365     1201
366-3600     460
Name: DAY_BINS, dtype: int64

In [43]:
data4['WAGE_BINS'] = pd.cut(x=data4['WAGE_OFFER_FROM_9089'], 
                             bins=[0, 25000, 50000, 75000, 100000, 500000],
                           labels=['0-25000', '25001-50000', '50001-75000', '75001-100000', '100000-500000'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [44]:
data4['WAGE_BINS'].value_counts()

100000-500000    2511
75001-100000     1565
50001-75000       948
25001-50000       590
0-25000           147
Name: WAGE_BINS, dtype: int64

In [45]:
data4['EMPLOYEE_BINS'] = pd.cut(x=data4['EMPLOYER_NUM_EMPLOYEES'], 
                             bins=[0, 50, 100, 500, 1000, 10000, 1000000000],
                           labels=['0-50', '51-100', '101-500', '501-1000', '1001-10000', '10001-1000000000'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
data4['EMPLOYEE_BINS'].value_counts()

0-50                1598
1001-10000          1393
10001-1000000000    1270
101-500              786
51-100               372
501-1000             334
Name: EMPLOYEE_BINS, dtype: int64

In [47]:
data4.count()

COUNTRY_OF_CITIZENSHIP_CODE      5766
CASE_STATUS                      5766
DECISION_ELAPSED_DAYS            5766
EMPLOYER_POSTAL_CODE             5766
EMPLOYER_STATE                   5766
EMPLOYER_NUM_EMPLOYEES           5766
WAGE_OFFER_FROM_9089             5766
COUNTRY_OF_CITIZENSHIP           5766
CLASS_OF_ADMISSION               5766
FOREIGN_WORKER_INFO_EDUCATION    5766
CASE_RECEIVED_DATE_MONTH         5766
regionscolumns                   5766
EMPLOYER_STATES                  5766
EMPLOYER_REGIONS                 5766
DAY_BINS                         5759
WAGE_BINS                        5761
EMPLOYEE_BINS                    5753
dtype: int64

In [48]:
data5 = data4[[
    'CASE_STATUS',
    'EMPLOYEE_BINS',
    'WAGE_BINS',
    'EMPLOYER_REGIONS',
    'CASE_RECEIVED_DATE_MONTH',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CLASS_OF_ADMISSION',
    'DAY_BINS',
    'regionscolumns'
]]

In [49]:
data5.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS,regionscolumns
51,Certified,0-50,75001-100000,SOUTH,6.0,Master's,H-1B,366-3600,3.0
58,Certified,1001-10000,50001-75000,NORTHEAST,5.0,Bachelor's,H-1B,366-3600,3.0
110,Certified,10001-1000000000,75001-100000,SOUTH,9.0,Master's,H-1B,366-3600,3.0
168,Certified,51-100,25001-50000,NORTHEAST,12.0,Master's,H-1B,366-3600,3.0
300,Certified,1001-10000,100000-500000,NORTHEAST,4.0,Master's,H-1B,366-3600,3.0

In [50]:
data5.dtypes

CASE_STATUS                        object
EMPLOYEE_BINS                    category
WAGE_BINS                        category
EMPLOYER_REGIONS                   object
CASE_RECEIVED_DATE_MONTH          float64
FOREIGN_WORKER_INFO_EDUCATION      object
CLASS_OF_ADMISSION                 object
DAY_BINS                         category
regionscolumns                    float64
dtype: object

In [51]:
from sklearn.preprocessing import LabelEncoder
num_encode = LabelEncoder()

In [52]:
data5['CLASS_OF_ADMISSION_CODE'] = num_encode.fit_transform(data5['CLASS_OF_ADMISSION'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [53]:
data5['FOREIGN_WORKER_INFO_EDUCATION_CODE'] = num_encode.fit_transform(data5['FOREIGN_WORKER_INFO_EDUCATION'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
data5['WAGE_BINS'] = data5['WAGE_BINS'].astype(str)

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [55]:
data5['WAGE_BINS_CODE'] = num_encode.fit_transform(data5['WAGE_BINS'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
data5['EMPLOYER_REGIONS_CODE'] = num_encode.fit_transform(data5['EMPLOYER_REGIONS'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [57]:
data5['DAY_BINS'] = data5['DAY_BINS'].astype(str)

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [58]:
data5['DAY_BINS_CODE'] = num_encode.fit_transform(data5['DAY_BINS'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [59]:
data5['EMPLOYEE_BINS'] = data5['EMPLOYEE_BINS'].astype(str)

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [60]:
data5['EMPLOYEE_BINS_CODE'] = num_encode.fit_transform(data5['EMPLOYEE_BINS'])

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [61]:
data5.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS,regionscolumns,CLASS_OF_ADMISSION_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,WAGE_BINS_CODE,EMPLOYER_REGIONS_CODE,DAY_BINS_CODE,EMPLOYEE_BINS_CODE
51,Certified,0-50,75001-100000,SOUTH,6.0,Master's,H-1B,366-3600,3.0,13,4,4,3,2,0
58,Certified,1001-10000,50001-75000,NORTHEAST,5.0,Bachelor's,H-1B,366-3600,3.0,13,1,3,1,2,2
110,Certified,10001-1000000000,75001-100000,SOUTH,9.0,Master's,H-1B,366-3600,3.0,13,4,4,3,2,1
168,Certified,51-100,25001-50000,NORTHEAST,12.0,Master's,H-1B,366-3600,3.0,13,4,2,1,2,5
300,Certified,1001-10000,100000-500000,NORTHEAST,4.0,Master's,H-1B,366-3600,3.0,13,4,1,1,2,2

In [62]:
data5.count()

CASE_STATUS                           5766
EMPLOYEE_BINS                         5766
WAGE_BINS                             5766
EMPLOYER_REGIONS                      5766
CASE_RECEIVED_DATE_MONTH              5766
FOREIGN_WORKER_INFO_EDUCATION         5766
CLASS_OF_ADMISSION                    5766
DAY_BINS                              5766
regionscolumns                        5766
CLASS_OF_ADMISSION_CODE               5766
FOREIGN_WORKER_INFO_EDUCATION_CODE    5766
WAGE_BINS_CODE                        5766
EMPLOYER_REGIONS_CODE                 5766
DAY_BINS_CODE                         5766
EMPLOYEE_BINS_CODE                    5766
dtype: int64

In [63]:
data6 = data5[[
    'CASE_STATUS',
    'EMPLOYEE_BINS_CODE',
    'WAGE_BINS_CODE',
    'DAY_BINS_CODE',
    'FOREIGN_WORKER_INFO_EDUCATION_CODE',
    'CLASS_OF_ADMISSION_CODE',
    'CASE_RECEIVED_DATE_MONTH',
    'EMPLOYER_REGIONS_CODE',
    'regionscolumns'
]]

In [64]:
data6.head()

,CASE_STATUS,EMPLOYEE_BINS_CODE,WAGE_BINS_CODE,DAY_BINS_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,CLASS_OF_ADMISSION_CODE,CASE_RECEIVED_DATE_MONTH,EMPLOYER_REGIONS_CODE,regionscolumns
51,Certified,0,4,2,4,13,6.0,3,3.0
58,Certified,2,3,2,1,13,5.0,1,3.0
110,Certified,1,4,2,4,13,9.0,3,3.0
168,Certified,5,2,2,4,13,12.0,1,3.0
300,Certified,2,1,2,4,13,4.0,1,3.0

In [65]:
data6.dtypes

CASE_STATUS                            object
EMPLOYEE_BINS_CODE                      int32
WAGE_BINS_CODE                          int32
DAY_BINS_CODE                           int32
FOREIGN_WORKER_INFO_EDUCATION_CODE      int32
CLASS_OF_ADMISSION_CODE                 int32
CASE_RECEIVED_DATE_MONTH              float64
EMPLOYER_REGIONS_CODE                   int32
regionscolumns                        float64
dtype: object

In [66]:
data7 = data6.loc[data6['regionscolumns'] == 3.0]

In [67]:
data7['regionscolumns'].value_counts()

3.0    5766
Name: regionscolumns, dtype: int64

In [68]:
X = data7.drop("CASE_STATUS", axis=1)
y = data7["CASE_STATUS"]
print(X.shape, y.shape)

(5766, 8) (5766,)

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [70]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42, stratify=y)

In [71]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int32, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [72]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [73]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [74]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [75]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=8))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

WARNING:tensorflow:From C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [76]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [77]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=400,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From C:\Users\kathleen.buckingham\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/400
 - 1s - loss: 0.3002 - acc: 0.9154
Epoch 2/400
 - 0s - loss: 0.2680 - acc: 0.9186
Epoch 3/400
 - 0s - loss: 0.2612 - acc: 0.9186
Epoch 4/400
 - 0s - loss: 0.2524 - acc: 0.9186
Epoch 5/400
 - 0s - loss: 0.2438 - acc: 0.9186
Epoch 6/400
 - 0s - loss: 0.2366 - acc: 0.9191
Epoch 7/400
 - 0s - loss: 0.2273 - acc: 0.9225
Epoch 8/400
 - 0s - loss: 0.2232 - acc: 0.9230
Epoch 9/400
 - 0s - loss: 0.2197 - acc: 0.9248
Epoch 10/400
 - 0s - loss: 0.2169 - acc: 0.9232
Epoch 11/400
 - 0s - loss: 0.2111 - acc: 0.9230
Epoch 12/400
 - 0s - loss: 0.2107 - acc: 0.9241
Epoch 13/400
 - 1s - loss: 0.2082 - acc: 0.9253
Epoch 14/400
 - 0s - loss: 0.2066 - acc: 0.9265
Epoch 15/400
 - 1s - loss: 0.2045 - acc: 0.9272
Epoch 16/400
 - 0s - loss: 0.2007 - acc: 0.9260
Epoch 17/400
 - 1s - loss: 0.2071 - acc: 0.9221
Epoch 18/400
 - 0s - loss: 0.2002 - acc: 0.9246
Epoch 19/400
 - 0s - loss: 0.1983 - acc: 0.9258
Epoch 20/400
 - 0s - loss: 0.1979 - acc: 0.9272
Epoch 21/400
 - 0s - loss: 0.1971 - acc: 0.9283
Epoch 22/400
 - 0s - loss: 0.1945 - acc: 0.9276
Epoch 23/400
 - 0s - loss: 0.1940 - acc: 0.9272
Epoch 24/400
 - 0s - loss: 0.1960 - acc: 0.9272
Epoch 25/400
 - 0s - loss: 0.1925 - acc: 0.9285
Epoch 26/400
 - 0s - loss: 0.1900 - acc: 0.9304
Epoch 27/400
 - 0s - loss: 0.1912 - acc: 0.9290
Epoch 28/400
 - 0s - loss: 0.1895 - acc: 0.9278
Epoch 29/400
 - 0s - loss: 0.1881 - acc: 0.9290
Epoch 30/400
 - 0s - loss: 0.1875 - acc: 0.9299
Epoch 31/400
 - 0s - loss: 0.1856 - acc: 0.9304
Epoch 32/400
 - 0s - loss: 0.1849 - acc: 0.9306
Epoch 33/400
 - 0s - loss: 0.1852 - acc: 0.9288
Epoch 34/400
 - 0s - loss: 0.1807 - acc: 0.9306
Epoch 35/400
 - 0s - loss: 0.1828 - acc: 0.9322
Epoch 36/400
 - 0s - loss: 0.1807 - acc: 0.9292
Epoch 37/400
 - 0s - loss: 0.1797 - acc: 0.9313
Epoch 38/400
 - 0s - loss: 0.1795 - acc: 0.9322
Epoch 39/400
 - 0s - loss: 0.1796 - acc: 0.9320
Epoch 40/400
 - 0s - loss: 0.1756 - acc: 0.9322
Epoch 41/400
 - 0s - loss: 0.1797 - acc: 0.9327
Epoch 42/400
 - 0s - loss: 0.1791 - acc: 0.9322
Epoch 43/400
 - 0s - loss: 0.1739 - acc: 0.9339
Epoch 44/400
 - 0s - loss: 0.1708 - acc: 0.9336
Epoch 45/400
 - 0s - loss: 0.1711 - acc: 0.9343
Epoch 46/400
 - 0s - loss: 0.1731 - acc: 0.9336
Epoch 47/400
 - 1s - loss: 0.1689 - acc: 0.9336
Epoch 48/400
 - 1s - loss: 0.1697 - acc: 0.9329
Epoch 49/400
 - 1s - loss: 0.1679 - acc: 0.9352
Epoch 50/400
 - 0s - loss: 0.1681 - acc: 0.9350
Epoch 51/400
 - 1s - loss: 0.1658 - acc: 0.9346
Epoch 52/400
 - 1s - loss: 0.1645 - acc: 0.9364
Epoch 53/400
 - 1s - loss: 0.1632 - acc: 0.9362
Epoch 54/400
 - 0s - loss: 0.1630 - acc: 0.9346
Epoch 55/400
 - 0s - loss: 0.1602 - acc: 0.9366
Epoch 56/400
 - 0s - loss: 0.1596 - acc: 0.9387
Epoch 57/400
 - 0s - loss: 0.1594 - acc: 0.9373
Epoch 58/400
 - 0s - loss: 0.1567 - acc: 0.9389
Epoch 59/400
 - 0s - loss: 0.1561 - acc: 0.9385
Epoch 60/400
 - 0s - loss: 0.1551 - acc: 0.9392
Epoch 61/400
 - 0s - loss: 0.1582 - acc: 0.9385
Epoch 62/400
 - 0s - loss: 0.1524 - acc: 0.9424
Epoch 63/400
 - 0s - loss: 0.1551 - acc: 0.9396
Epoch 64/400
 - 0s - loss: 0.1541 - acc: 0.9399
Epoch 65/400
 - 0s - loss: 0.1524 - acc: 0.9420
Epoch 66/400
 - 0s - loss: 0.1493 - acc: 0.9433
Epoch 67/400
 - 0s - loss: 0.1515 - acc: 0.9424
Epoch 68/400
 - 0s - loss: 0.1492 - acc: 0.9420
Epoch 69/400
 - 0s - loss: 0.1476 - acc: 0.9436
Epoch 70/400
 - 0s - loss: 0.1472 - acc: 0.9417
Epoch 71/400
 - 0s - loss: 0.1464 - acc: 0.9426
Epoch 72/400
 - 0s - loss: 0.1432 - acc: 0.9454
Epoch 73/400
 - 0s - loss: 0.1451 - acc: 0.9463
Epoch 74/400
 - 0s - loss: 0.1444 - acc: 0.9424
Epoch 75/400
 - 0s - loss: 0.1451 - acc: 0.9461
Epoch 76/400
 - 0s - loss: 0.1391 - acc: 0.9480
Epoch 77/400
 - 0s - loss: 0.1433 - acc: 0.9438
Epoch 78/400
 - 0s - loss: 0.1399 - acc: 0.9457
Epoch 79/400
 - 0s - loss: 0.1393 - acc: 0.9470
Epoch 80/400
 - 0s - loss: 0.1369 - acc: 0.9475
Epoch 81/400
 - 1s - loss: 0.1374 - acc: 0.9457
Epoch 82/400
 - 0s - loss: 0.1354 - acc: 0.9473
Epoch 83/400
 - 0s - loss: 0.1358 - acc: 0.9484
Epoch 84/400
 - 0s - loss: 0.1380 - acc: 0.9482
Epoch 85/400
 - 1s - loss: 0.1363 - acc: 0.9463
Epoch 86/400
 - 0s - loss: 0.1337 - acc: 0.9498
Epoch 87/400
 - 0s - loss: 0.1362 - acc: 0.9480
Epoch 88/400
 - 0s - loss: 0.1331 - acc: 0.9489
Epoch 89/400
 - 0s - loss: 0.1301 - acc: 0.9505
Epoch 90/400
 - 0s - loss: 0.1301 - acc: 0.9494
Epoch 91/400
 - 0s - loss: 0.1322 - acc: 0.9512
Epoch 92/400
 - 0s - loss: 0.1263 - acc: 0.9510
Epoch 93/400
 - 0s - loss: 0.1277 - acc: 0.9537
Epoch 94/400
 - 0s - loss: 0.1275 - acc: 0.9512
Epoch 95/400
 - 0s - loss: 0.1258 - acc: 0.9505
Epoch 96/400
 - 0s - loss: 0.1256 - acc: 0.9533
Epoch 97/400
 - 0s - loss: 0.1246 - acc: 0.9537
Epoch 98/400
 - 0s - loss: 0.1237 - acc: 0.9549
Epoch 99/400
 - 0s - loss: 0.1248 - acc: 0.9535
Epoch 100/400
 - 0s - loss: 0.1264 - acc: 0.9496
Epoch 101/400
 - 0s - loss: 0.1237 - acc: 0.9547
Epoch 102/400
 - 0s - loss: 0.1214 - acc: 0.9561
Epoch 103/400
 - 0s - loss: 0.1242 - acc: 0.9556
Epoch 104/400
 - 0s - loss: 0.1253 - acc: 0.9524
Epoch 105/400
 - 0s - loss: 0.1217 - acc: 0.9551
Epoch 106/400
 - 0s - loss: 0.1224 - acc: 0.9542
Epoch 107/400
 - 0s - loss: 0.1206 - acc: 0.9561
Epoch 108/400
 - 0s - loss: 0.1214 - acc: 0.9570
Epoch 109/400
 - 0s - loss: 0.1221 - acc: 0.9537
Epoch 110/400
 - 0s - loss: 0.1202 - acc: 0.9568
Epoch 111/400
 - 0s - loss: 0.1178 - acc: 0.9581
Epoch 112/400
 - 0s - loss: 0.1158 - acc: 0.9568
Epoch 113/400
 - 0s - loss: 0.1138 - acc: 0.9586
Epoch 114/400
 - 0s - loss: 0.1176 - acc: 0.9556
Epoch 115/400
 - 0s - loss: 0.1165 - acc: 0.9554
Epoch 116/400
 - 0s - loss: 0.1138 - acc: 0.9581
Epoch 117/400
 - 0s - loss: 0.1128 - acc: 0.9591
Epoch 118/400
 - 0s - loss: 0.1135 - acc: 0.9607
Epoch 119/400
 - 0s - loss: 0.1132 - acc: 0.9586
Epoch 120/400
 - 0s - loss: 0.1104 - acc: 0.9607
Epoch 121/400
 - 1s - loss: 0.1128 - acc: 0.9570
Epoch 122/400
 - 1s - loss: 0.1120 - acc: 0.9609
Epoch 123/400
 - 0s - loss: 0.1136 - acc: 0.9591
Epoch 124/400
 - 0s - loss: 0.1096 - acc: 0.9614
Epoch 125/400
 - 0s - loss: 0.1109 - acc: 0.9605
Epoch 126/400
 - 0s - loss: 0.1101 - acc: 0.9586
Epoch 127/400
 - 0s - loss: 0.1163 - acc: 0.9581
Epoch 128/400
 - 0s - loss: 0.1083 - acc: 0.9593
Epoch 129/400
 - 0s - loss: 0.1059 - acc: 0.9607
Epoch 130/400
 - 0s - loss: 0.1078 - acc: 0.9579
Epoch 131/400
 - 0s - loss: 0.1074 - acc: 0.9618
Epoch 132/400
 - 0s - loss: 0.1102 - acc: 0.9570
Epoch 133/400
 - 0s - loss: 0.1082 - acc: 0.9598
Epoch 134/400
 - 0s - loss: 0.1077 - acc: 0.9602
Epoch 135/400
 - 0s - loss: 0.1038 - acc: 0.9635
Epoch 136/400
 - 0s - loss: 0.1042 - acc: 0.9588
Epoch 137/400
 - 0s - loss: 0.1043 - acc: 0.9607
Epoch 138/400
 - 0s - loss: 0.1055 - acc: 0.9614
Epoch 139/400
 - 0s - loss: 0.1032 - acc: 0.9600
Epoch 140/400
 - 0s - loss: 0.1022 - acc: 0.9628
Epoch 141/400
 - 0s - loss: 0.1036 - acc: 0.9635
Epoch 142/400
 - 0s - loss: 0.1005 - acc: 0.9605
Epoch 143/400
 - 0s - loss: 0.1039 - acc: 0.9623
Epoch 144/400
 - 0s - loss: 0.0998 - acc: 0.9658
Epoch 145/400
 - 0s - loss: 0.1020 - acc: 0.9614
Epoch 146/400
 - 0s - loss: 0.1070 - acc: 0.9614
Epoch 147/400
 - 0s - loss: 0.1003 - acc: 0.9646
Epoch 148/400
 - 0s - loss: 0.0987 - acc: 0.9625
Epoch 149/400
 - 0s - loss: 0.0991 - acc: 0.9632
Epoch 150/400
 - 1s - loss: 0.1000 - acc: 0.9639
Epoch 151/400
 - 0s - loss: 0.0990 - acc: 0.9623
Epoch 152/400
 - 0s - loss: 0.0962 - acc: 0.9665
Epoch 153/400
 - 0s - loss: 0.1017 - acc: 0.9637
Epoch 154/400
 - 0s - loss: 0.0971 - acc: 0.9642
Epoch 155/400
 - 1s - loss: 0.0965 - acc: 0.9637
Epoch 156/400
 - 0s - loss: 0.0982 - acc: 0.9648
Epoch 157/400
 - 0s - loss: 0.0947 - acc: 0.9651
Epoch 158/400
 - 0s - loss: 0.0937 - acc: 0.9651
Epoch 159/400
 - 0s - loss: 0.0994 - acc: 0.9616
Epoch 160/400
 - 0s - loss: 0.0980 - acc: 0.9635
Epoch 161/400
 - 0s - loss: 0.0961 - acc: 0.9653
Epoch 162/400
 - 0s - loss: 0.0956 - acc: 0.9642
Epoch 163/400
 - 0s - loss: 0.0943 - acc: 0.9658
Epoch 164/400
 - 0s - loss: 0.0943 - acc: 0.9644

Epoch 165/400
 - 0s - loss: 0.0928 - acc: 0.9653
Epoch 166/400
 - 0s - loss: 0.0921 - acc: 0.9674
Epoch 167/400
 - 0s - loss: 0.0906 - acc: 0.9679
Epoch 168/400
 - 0s - loss: 0.0916 - acc: 0.9630
Epoch 169/400
 - 0s - loss: 0.0943 - acc: 0.9679
Epoch 170/400
 - 0s - loss: 0.0976 - acc: 0.9642
Epoch 171/400
 - 0s - loss: 0.0904 - acc: 0.9672
Epoch 172/400
 - 0s - loss: 0.0904 - acc: 0.9674
Epoch 173/400
 - 0s - loss: 0.0849 - acc: 0.9695
Epoch 174/400
 - 0s - loss: 0.0872 - acc: 0.9676
Epoch 175/400
 - 0s - loss: 0.0898 - acc: 0.9681
Epoch 176/400
 - 0s - loss: 0.0868 - acc: 0.9699
Epoch 177/400
 - 0s - loss: 0.0863 - acc: 0.9688
Epoch 178/400
 - 0s - loss: 0.0860 - acc: 0.9667
Epoch 179/400
 - 0s - loss: 0.0947 - acc: 0.9672
Epoch 180/400
 - 0s - loss: 0.0853 - acc: 0.9692
Epoch 181/400
 - 0s - loss: 0.0871 - acc: 0.9688
Epoch 182/400
 - 0s - loss: 0.0853 - acc: 0.9697
Epoch 183/400
 - 0s - loss: 0.0918 - acc: 0.9642
Epoch 184/400
 - 0s - loss: 0.0853 - acc: 0.9679
Epoch 185/400
 - 1s - loss: 0.0849 - acc: 0.9690
Epoch 186/400
 - 1s - loss: 0.0845 - acc: 0.9690
Epoch 187/400
 - 1s - loss: 0.0823 - acc: 0.9706
Epoch 188/400
 - 1s - loss: 0.0842 - acc: 0.9697
Epoch 189/400
 - 0s - loss: 0.0830 - acc: 0.9704
Epoch 190/400
 - 1s - loss: 0.0822 - acc: 0.9704
Epoch 191/400
 - 0s - loss: 0.0823 - acc: 0.9699
Epoch 192/400
 - 0s - loss: 0.0823 - acc: 0.9685
Epoch 193/400
 - 0s - loss: 0.0868 - acc: 0.9660
Epoch 194/400
 - 0s - loss: 0.0817 - acc: 0.9679
Epoch 195/400
 - 0s - loss: 0.0786 - acc: 0.9706
Epoch 196/400
 - 0s - loss: 0.0841 - acc: 0.9692
Epoch 197/400
 - 0s - loss: 0.0798 - acc: 0.9704
Epoch 198/400
 - 0s - loss: 0.0872 - acc: 0.9683
Epoch 199/400
 - 0s - loss: 0.0781 - acc: 0.9725
Epoch 200/400
 - 0s - loss: 0.0796 - acc: 0.9716
Epoch 201/400
 - 0s - loss: 0.0769 - acc: 0.9722
Epoch 202/400
 - 0s - loss: 0.0840 - acc: 0.9699
Epoch 203/400
 - 0s - loss: 0.0800 - acc: 0.9704
Epoch 204/400
 - 0s - loss: 0.0774 - acc: 0.9709
Epoch 205/400
 - 0s - loss: 0.0779 - acc: 0.9702
Epoch 206/400
 - 0s - loss: 0.0778 - acc: 0.9713
Epoch 207/400
 - 0s - loss: 0.0761 - acc: 0.9722
Epoch 208/400
 - 0s - loss: 0.0766 - acc: 0.9734
Epoch 209/400
 - 0s - loss: 0.0784 - acc: 0.9713
Epoch 210/400
 - 0s - loss: 0.0736 - acc: 0.9720
Epoch 211/400
 - 0s - loss: 0.0745 - acc: 0.9727
Epoch 212/400
 - 0s - loss: 0.0748 - acc: 0.9736
Epoch 213/400
 - 0s - loss: 0.0789 - acc: 0.9704
Epoch 214/400
 - 0s - loss: 0.0753 - acc: 0.9727
Epoch 215/400
 - 0s - loss: 0.0742 - acc: 0.9725
Epoch 216/400
 - 0s - loss: 0.0732 - acc: 0.9722
Epoch 217/400
 - 0s - loss: 0.0763 - acc: 0.9722
Epoch 218/400
 - 0s - loss: 0.0746 - acc: 0.9720
Epoch 219/400
 - 0s - loss: 0.0712 - acc: 0.9732
Epoch 220/400
 - 0s - loss: 0.0948 - acc: 0.9637
Epoch 221/400
 - 1s - loss: 0.0739 - acc: 0.9711
Epoch 222/400
 - 1s - loss: 0.0711 - acc: 0.9750
Epoch 223/400
 - 1s - loss: 0.0790 - acc: 0.9720
Epoch 224/400
 - 0s - loss: 0.0736 - acc: 0.9732
Epoch 225/400
 - 0s - loss: 0.0691 - acc: 0.9762
Epoch 226/400
 - 0s - loss: 0.0690 - acc: 0.9741
Epoch 227/400
 - 0s - loss: 0.0699 - acc: 0.9764
Epoch 228/400
 - 0s - loss: 0.0732 - acc: 0.9734
Epoch 229/400
 - 0s - loss: 0.0744 - acc: 0.9711
Epoch 230/400
 - 0s - loss: 0.0711 - acc: 0.9746
Epoch 231/400
 - 0s - loss: 0.0698 - acc: 0.9769
Epoch 232/400
 - 0s - loss: 0.0724 - acc: 0.9716
Epoch 233/400
 - 0s - loss: 0.0699 - acc: 0.9739
Epoch 234/400
 - 0s - loss: 0.0674 - acc: 0.9741
Epoch 235/400
 - 0s - loss: 0.0679 - acc: 0.9748
Epoch 236/400
 - 0s - loss: 0.0685 - acc: 0.9755
Epoch 237/400
 - 0s - loss: 0.0690 - acc: 0.9757
Epoch 238/400
 - 0s - loss: 0.0702 - acc: 0.9729
Epoch 239/400
 - 0s - loss: 0.0700 - acc: 0.9743
Epoch 240/400
 - 0s - loss: 0.0674 - acc: 0.9753
Epoch 241/400
 - 0s - loss: 0.0684 - acc: 0.9764
Epoch 242/400
 - 0s - loss: 0.0677 - acc: 0.9734
Epoch 243/400
 - 0s - loss: 0.0656 - acc: 0.9753
Epoch 244/400
 - 0s - loss: 0.0690 - acc: 0.9755
Epoch 245/400
 - 0s - loss: 0.0692 - acc: 0.9746
Epoch 246/400
 - 0s - loss: 0.0672 - acc: 0.9769
Epoch 247/400
 - 0s - loss: 0.0664 - acc: 0.9766
Epoch 248/400
 - 0s - loss: 0.0693 - acc: 0.9741
Epoch 249/400
 - 0s - loss: 0.0664 - acc: 0.9773
Epoch 250/400
 - 0s - loss: 0.0644 - acc: 0.9785
Epoch 251/400
 - 0s - loss: 0.0676 - acc: 0.9748
Epoch 252/400
 - 0s - loss: 0.0698 - acc: 0.9750
Epoch 253/400
 - 0s - loss: 0.0669 - acc: 0.9773
Epoch 254/400
 - 1s - loss: 0.0643 - acc: 0.9753
Epoch 255/400
 - 1s - loss: 0.0651 - acc: 0.9762
Epoch 256/400
 - 1s - loss: 0.0672 - acc: 0.9759
Epoch 257/400
 - 1s - loss: 0.0656 - acc: 0.9736
Epoch 258/400
 - 1s - loss: 0.0625 - acc: 0.9780
Epoch 259/400
 - 1s - loss: 0.0649 - acc: 0.9769
Epoch 260/400
 - 0s - loss: 0.0636 - acc: 0.9766
Epoch 261/400
 - 1s - loss: 0.0642 - acc: 0.9769
Epoch 262/400
 - 0s - loss: 0.0621 - acc: 0.9773
Epoch 263/400
 - 0s - loss: 0.0623 - acc: 0.9776
Epoch 264/400
 - 0s - loss: 0.0627 - acc: 0.9790
Epoch 265/400
 - 0s - loss: 0.0625 - acc: 0.9773
Epoch 266/400
 - 0s - loss: 0.0616 - acc: 0.9762
Epoch 267/400
 - 0s - loss: 0.0617 - acc: 0.9769
Epoch 268/400
 - 0s - loss: 0.0612 - acc: 0.9785
Epoch 269/400
 - 0s - loss: 0.0633 - acc: 0.9764
Epoch 270/400
 - 0s - loss: 0.0633 - acc: 0.9780
Epoch 271/400
 - 0s - loss: 0.0597 - acc: 0.9801
Epoch 272/400
 - 1s - loss: 0.0619 - acc: 0.9776
Epoch 273/400
 - 0s - loss: 0.0615 - acc: 0.9771
Epoch 274/400
 - 1s - loss: 0.0623 - acc: 0.9783
Epoch 275/400
 - 1s - loss: 0.0608 - acc: 0.9780
Epoch 276/400
 - 0s - loss: 0.0820 - acc: 0.9679
Epoch 277/400
 - 0s - loss: 0.0601 - acc: 0.9783
Epoch 278/400
 - 0s - loss: 0.0647 - acc: 0.9794
Epoch 279/400
 - 0s - loss: 0.0618 - acc: 0.9766
Epoch 280/400
 - 0s - loss: 0.0593 - acc: 0.9790
Epoch 281/400
 - 0s - loss: 0.0592 - acc: 0.9778
Epoch 282/400
 - 0s - loss: 0.0586 - acc: 0.9790
Epoch 283/400
 - 0s - loss: 0.0569 - acc: 0.9806
Epoch 284/400
 - 0s - loss: 0.0633 - acc: 0.9753
Epoch 285/400
 - 0s - loss: 0.0593 - acc: 0.9796
Epoch 286/400
 - 0s - loss: 0.0573 - acc: 0.9808
Epoch 287/400
 - 1s - loss: 0.0622 - acc: 0.9773
Epoch 288/400
 - 1s - loss: 0.0572 - acc: 0.9783
Epoch 289/400
 - 1s - loss: 0.0585 - acc: 0.9803
Epoch 290/400
 - 1s - loss: 0.0574 - acc: 0.9785
Epoch 291/400
 - 1s - loss: 0.0550 - acc: 0.9803
Epoch 292/400
 - 1s - loss: 0.0583 - acc: 0.9773
Epoch 293/400
 - 0s - loss: 0.0574 - acc: 0.9799
Epoch 294/400
 - 0s - loss: 0.0566 - acc: 0.9794
Epoch 295/400
 - 0s - loss: 0.0576 - acc: 0.9785
Epoch 296/400
 - 0s - loss: 0.0617 - acc: 0.9755
Epoch 297/400
 - 0s - loss: 0.0575 - acc: 0.9806
Epoch 298/400
 - 0s - loss: 0.0555 - acc: 0.9803
Epoch 299/400
 - 0s - loss: 0.0585 - acc: 0.9776
Epoch 300/400
 - 0s - loss: 0.0560 - acc: 0.9813
Epoch 301/400
 - 0s - loss: 0.0565 - acc: 0.9803
Epoch 302/400
 - 0s - loss: 0.0590 - acc: 0.9769
Epoch 303/400
 - 0s - loss: 0.0534 - acc: 0.9820
Epoch 304/400
 - 0s - loss: 0.0549 - acc: 0.9808
Epoch 305/400
 - 0s - loss: 0.0558 - acc: 0.9796
Epoch 306/400
 - 1s - loss: 0.0558 - acc: 0.9803
Epoch 307/400
 - 1s - loss: 0.0620 - acc: 0.9771
Epoch 308/400
 - 0s - loss: 0.0544 - acc: 0.9822
Epoch 309/400
 - 1s - loss: 0.0528 - acc: 0.9810
Epoch 310/400
 - 0s - loss: 0.0526 - acc: 0.9808
Epoch 311/400
 - 0s - loss: 0.0604 - acc: 0.9766
Epoch 312/400
 - 0s - loss: 0.0540 - acc: 0.9817
Epoch 313/400
 - 0s - loss: 0.0545 - acc: 0.9776
Epoch 314/400
 - 0s - loss: 0.0577 - acc: 0.9783
Epoch 315/400
 - 0s - loss: 0.0507 - acc: 0.9829
Epoch 316/400
 - 0s - loss: 0.0536 - acc: 0.9808
Epoch 317/400
 - 0s - loss: 0.0549 - acc: 0.9801
Epoch 318/400
 - 0s - loss: 0.0512 - acc: 0.9808
Epoch 319/400
 - 0s - loss: 0.0519 - acc: 0.9820
Epoch 320/400
 - 0s - loss: 0.0520 - acc: 0.9820
Epoch 321/400
 - 1s - loss: 0.0527 - acc: 0.9822
Epoch 322/400
 - 1s - loss: 0.0536 - acc: 0.9783
Epoch 323/400
 - 1s - loss: 0.0507 - acc: 0.9838
Epoch 324/400
 - 0s - loss: 0.0505 - acc: 0.9796
Epoch 325/400
 - 0s - loss: 0.0506 - acc: 0.9829
Epoch 326/400
 - 0s - loss: 0.0574 - acc: 0.9801
Epoch 327/400
 - 0s - loss: 0.0511 - acc: 0.9820
Epoch 328/400
 - 0s - loss: 0.0510 - acc: 0.9801
Epoch 329/400
 - 0s - loss: 0.0597 - acc: 0.9785
Epoch 330/400
 - 0s - loss: 0.0559 - acc: 0.9783
Epoch 331/400
 - 0s - loss: 0.0509 - acc: 0.9820
Epoch 332/400

 - 0s - loss: 0.0572 - acc: 0.9815
Epoch 333/400
 - 0s - loss: 0.0514 - acc: 0.9836
Epoch 334/400
 - 0s - loss: 0.0520 - acc: 0.9792
Epoch 335/400
 - 0s - loss: 0.0481 - acc: 0.9829
Epoch 336/400
 - 0s - loss: 0.0525 - acc: 0.9813
Epoch 337/400
 - 0s - loss: 0.0520 - acc: 0.9817
Epoch 338/400
 - 0s - loss: 0.0519 - acc: 0.9801
Epoch 339/400
 - 1s - loss: 0.0539 - acc: 0.9787
Epoch 340/400
 - 0s - loss: 0.0514 - acc: 0.9824
Epoch 341/400
 - 0s - loss: 0.0536 - acc: 0.9810
Epoch 342/400
 - 0s - loss: 0.0469 - acc: 0.9852
Epoch 343/400
 - 0s - loss: 0.0494 - acc: 0.9829
Epoch 344/400
 - 0s - loss: 0.0513 - acc: 0.9801
Epoch 345/400
 - 0s - loss: 0.0514 - acc: 0.9803
Epoch 346/400
 - 0s - loss: 0.0477 - acc: 0.9836
Epoch 347/400
 - 0s - loss: 0.0517 - acc: 0.9822
Epoch 348/400
 - 0s - loss: 0.0538 - acc: 0.9794
Epoch 349/400
 - 0s - loss: 0.0498 - acc: 0.9833
Epoch 350/400
 - 1s - loss: 0.0492 - acc: 0.9824
Epoch 351/400
 - 1s - loss: 0.0488 - acc: 0.9831
Epoch 352/400
 - 1s - loss: 0.0515 - acc: 0.9810
Epoch 353/400
 - 1s - loss: 0.0486 - acc: 0.9817
Epoch 354/400
 - 1s - loss: 0.0528 - acc: 0.9808
Epoch 355/400
 - 0s - loss: 0.0468 - acc: 0.9836
Epoch 356/400
 - 1s - loss: 0.0482 - acc: 0.9810
Epoch 357/400
 - 0s - loss: 0.0490 - acc: 0.9827
Epoch 358/400
 - 1s - loss: 0.0506 - acc: 0.9822
Epoch 359/400
 - 0s - loss: 0.0487 - acc: 0.9822
Epoch 360/400
 - 0s - loss: 0.0489 - acc: 0.9833
Epoch 361/400
 - 0s - loss: 0.0530 - acc: 0.9796
Epoch 362/400
 - 0s - loss: 0.0541 - acc: 0.9794
Epoch 363/400
 - 0s - loss: 0.0482 - acc: 0.9843
Epoch 364/400
 - 0s - loss: 0.0483 - acc: 0.9824
Epoch 365/400
 - 1s - loss: 0.0466 - acc: 0.9829
Epoch 366/400
 - 1s - loss: 0.0490 - acc: 0.9815
Epoch 367/400
 - 1s - loss: 0.0503 - acc: 0.9801
Epoch 368/400
 - 0s - loss: 0.0489 - acc: 0.9815
Epoch 369/400
 - 1s - loss: 0.0465 - acc: 0.9833
Epoch 370/400
 - 1s - loss: 0.0469 - acc: 0.9843
Epoch 371/400
 - 0s - loss: 0.0482 - acc: 0.9829
Epoch 372/400
 - 0s - loss: 0.0480 - acc: 0.9822
Epoch 373/400
 - 0s - loss: 0.0541 - acc: 0.9806
Epoch 374/400
 - 0s - loss: 0.0472 - acc: 0.9829
Epoch 375/400
 - 0s - loss: 0.0443 - acc: 0.9843
Epoch 376/400
 - 0s - loss: 0.0517 - acc: 0.9801
Epoch 377/400
 - 0s - loss: 0.0451 - acc: 0.9854
Epoch 378/400
 - 0s - loss: 0.0479 - acc: 0.9822
Epoch 379/400
 - 0s - loss: 0.0450 - acc: 0.9838
Epoch 380/400
 - 0s - loss: 0.0469 - acc: 0.9831
Epoch 381/400
 - 0s - loss: 0.0437 - acc: 0.9864
Epoch 382/400
 - 1s - loss: 0.0501 - acc: 0.9827
Epoch 383/400
 - 1s - loss: 0.0467 - acc: 0.9824
Epoch 384/400
 - 1s - loss: 0.0480 - acc: 0.9833
Epoch 385/400
 - 1s - loss: 0.0423 - acc: 0.9859
Epoch 386/400
 - 1s - loss: 0.0448 - acc: 0.9833
Epoch 387/400
 - 1s - loss: 0.0465 - acc: 0.9829
Epoch 388/400
 - 1s - loss: 0.0432 - acc: 0.9857
Epoch 389/400
 - 0s - loss: 0.0497 - acc: 0.9820
Epoch 390/400
 - 0s - loss: 0.0459 - acc: 0.9829
Epoch 391/400
 - 0s - loss: 0.0509 - acc: 0.9824
Epoch 392/400
 - 0s - loss: 0.0488 - acc: 0.9803
Epoch 393/400
 - 0s - loss: 0.0448 - acc: 0.9836
Epoch 394/400
 - 0s - loss: 0.0424 - acc: 0.9843
Epoch 395/400
 - 0s - loss: 0.0444 - acc: 0.9838
Epoch 396/400
 - 0s - loss: 0.0453 - acc: 0.9831
Epoch 397/400
 - 0s - loss: 0.0456 - acc: 0.9824
Epoch 398/400
 - 0s - loss: 0.0471 - acc: 0.9824
Epoch 399/400
 - 0s - loss: 0.0481 - acc: 0.9827
Epoch 400/400
 - 1s - loss: 0.0427 - acc: 0.9845

In [78]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 0.4690 - acc: 0.9105
Normal Neural Network - Loss: 0.4690373108384447, Accuracy: 0.9105409383773804

In [79]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [80]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['Certified' 'Certified' 'Certified' 'Certified' 'Certified' 'Certified'
 'Certified' 'Certified' 'Denied' 'Certified']
Actual Labels: ['Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified']