In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Resources/certified_denied.csv')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,NaN,25,A-14246-03533,2015-06-22,Certified,2014-12-19,185,0.506849,"CITRIX SYSTEMS, INC.",FORT LAUDERDALE,...,1973-03-30 00:00:00,CHINA,CHINA,H-1B,Master's,NaN,2015,6,2014.0,12.0
1,NaN,28,A-14198-89806,2015-04-06,Certified,2014-07-18,262,0.717808,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,...,75063,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2014.0,7.0
2,NaN,35,A-14222-96825,2015-06-24,Certified,2014-12-11,195,0.534247,SAT SOLUTIONS LLC,MONROE,...,75001,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,6,2014.0,12.0
3,NaN,61,A-13216-85505,2015-05-29,Certified,2013-08-05,662,1.813699,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,210001,CHINA,CHINA,NaN,Associate's,NaN,2015,5,2013.0,8.0
4,NaN,63,A-13179-76467,2015-04-20,Certified,2013-06-28,661,1.810959,FARROKH ERFAN,GAITHERSBURG,...,NaN,IRAN,IRAN,NaN,Bachelor's,NaN,2015,4,2013.0,6.0

In [4]:
data2 = data.loc[data['COUNTRY_OF_CITIZENSHIP'] == 'SOUTH KOREA']

In [5]:
data2['COUNTRY_OF_CITIZENSHIP'].value_counts()

SOUTH KOREA    15123
Name: COUNTRY_OF_CITIZENSHIP, dtype: int64

In [6]:
data3 = data2.loc[data2['WAGE_OFFER_UNIT_OF_PAY_9089'] == 'Year']

In [7]:
data3['WAGE_OFFER_UNIT_OF_PAY_9089'].value_counts()

Year    13830
Name: WAGE_OFFER_UNIT_OF_PAY_9089, dtype: int64

In [8]:
data3.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'CASE_NUMBER', 'DECISION_DATE',
       'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_ELAPSED_DAYS',
       'DECISION_ELAPSED_YEARS', 'EMPLOYER_NAME', 'EMPLOYER_CITY',
       'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_NUM_EMPLOYEES',
       'AGENT_FIRM_NAME', 'AGENT_CITY', 'AGENT_STATE', 'PW_SOC_CODE',
       'PW_SOC_TITLE', 'PW_AMOUNT_9089', 'WAGE_OFFER_FROM_9089',
       'WAGE_OFFER_UNIT_OF_PAY_9089', 'JOB_INFO_WORK_CITY',
       'JOB_INFO_WORK_STATE', 'JOB_INFO_WORK_POSTAL_CODE',
       'JOB_INFO_JOB_TITLE', 'JOB_INFO_EDUCATION', 'JOB_INFO_EDUCATION_OTHER',
       'FOREIGN_WORKER_INFO_CITY', 'FOREIGN_WORKER_INFO_STATE',
       'FW_INFO_POSTAL_CODE', 'COUNTRY_OF_CITIZENSHIP',
       'FW_INFO_BIRTH_COUNTRY', 'CLASS_OF_ADMISSION',
       'FOREIGN_WORKER_INFO_EDUCATION', 'FW_INFO_EDUCATION_OTHER',
       'DECISION_DATE_YEAR', 'DECISION_DATE_MONTH', 'CASE_RECEIVED_DATE_YEAR',
       'CASE_RECEIVED_DATE_MONTH'],
      dtype='object')

In [9]:
data4 = data3[[
    'CASE_STATUS',
    'DECISION_ELAPSED_DAYS',
    'EMPLOYER_POSTAL_CODE',
    'EMPLOYER_STATE',
    'EMPLOYER_NUM_EMPLOYEES',
    'WAGE_OFFER_FROM_9089',
    'COUNTRY_OF_CITIZENSHIP',
    'CLASS_OF_ADMISSION',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CASE_RECEIVED_DATE_MONTH'
]]

In [10]:
data4.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH
11,Certified,201,06450,CONNECTICUT,5.0,47133.0,SOUTH KOREA,Not in USA,Bachelor's,2.0
17,Certified,857,36108,ALABAMA,1400.0,19843.0,SOUTH KOREA,NaN,Bachelor's,4.0
25,Certified,857,36108,ALABAMA,1400.0,19843.0,SOUTH KOREA,NaN,High School,4.0
43,Certified,558,85234,ARIZONA,210.0,47133.0,SOUTH KOREA,NaN,None,9.0
78,Certified,574,90027,CALIFORNIA,5.0,27726.0,SOUTH KOREA,NaN,None,9.0

In [11]:
states = []

for row in data4['EMPLOYER_STATE']:
    if row == "ME":
        states.append("MAINE")
    elif row == "NH":
        states.append("NEW HAMPSHIRE")
    elif row == "VT":
        states.append("VERMONT")
    elif row == "MA":
        states.append("MASSACHUSETTS")
    elif row == "RI":
        states.append("RHODE ISLAND")
    elif row == "CT":
        states.append("CONNECTICUT")
    elif row == "NY":
        states.append("NEW YORK")
    elif row == "NJ":
        states.append("NEW JERSEY")
    elif row == "PA":
        states.append("PENNSYLVANIA")
    elif row == "DE":
        states.append("DELAWARE")
    elif row == "MD":
        states.append("MARYLAND")
    elif row == "DC":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VA":
        states.append("VIRGINIA")
    elif row == "WV":
        states.append("WEST VIRGINIA")
    elif row == "NC":
        states.append("NORTH CAROLINA")
    elif row == "SC":
        states.append("SOUTH CAROLINA")
    elif row == "GA":
        states.append("GEORGIA")
    elif row == "FL":
        states.append("FLORIDA")
    elif row == "AL":
        states.append("ALABAMA")
    elif row == "TN":
        states.append("TENNESSEE")
    elif row == "TENNESSE":
        states.append("TENNESSEE")
    elif row == "KY":
        states.append("KENTUCKY")
    elif row == "OH":
        states.append("OHIO")
    elif row == "MI":
        states.append("MICHIGAN")
    elif row == "IN":
        states.append("INDIANA")
    elif row == "MS":
        states.append("MISSISSIPPI")
    elif row == "IL":
        states.append("ILLINOIS")
    elif row == "WI":
        states.append("WISCONSIN")
    elif row == "MN":
        states.append("MINNESOTA")
    elif row == "IA":
        states.append("IOWA")
    elif row == "MO":
        states.append("MISSOURI")
    elif row == "AR":
        states.append("ARKANSAS")
    elif row == "LA":
        states.append("LOUISIANA")
    elif row == "ND":
        states.append("NORTH DAKOTA")
    elif row == "SD":
        states.append("SOUTH DAKOTA")
    elif row == "NE":
        states.append("NEBRASKA")
    elif row == "KS":
        states.append("KANSAS")
    elif row == "OK":
        states.append("OKLAHOMA")
    elif row == "TX":
        states.append("TEXAS")
    elif row == "MT":
        states.append("MONTANA")
    elif row == "WY":
        states.append("WYOMING")
    elif row == "CO":
        states.append("COLORADO")
    elif row == "NM":
        states.append("NEW MEXICO")
    elif row == "ID":
        states.append("IDAHO")
    elif row == "UT":
        states.append("UTAH")
    elif row == "AZ":
        states.append("ARIZONA")
    elif row == "WA":
        states.append("WASHINGTON")
    elif row == "OR":
        states.append("OREGON")
    elif row == "NV":
        states.append("NEVADA")
    elif row == "CA":
        states.append("CALIFORNIA")
    elif row == "AK":
        states.append("ALASKA")
    elif row == "HI":
        states.append("HAWAII")
    elif row == "PR":
        states.append("PUERTO RICO")
    elif row == "MP":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VI":
        states.append("VIRGIN ISLANDS")
    elif row == "GU":
        states.append("GUAM")
    elif row == "NEW HAMPSHIRE":
        states.append("NEW HAMPSHIRE")
    elif row == "VERMONT":
        states.append("VERMONT")
    elif row == "MASSACHUSETTS":
        states.append("MASSACHUSETTS")
    elif row == "RHODE ISLAND":
        states.append("RHODE ISLAND")
    elif row == "CONNECTICUT":
        states.append("CONNECTICUT")
    elif row == "NEW YORK":
        states.append("NEW YORK")
    elif row == "NEW JERSEY":
        states.append("NEW JERSEY")
    elif row == "PENNSYLVANIA":
        states.append("PENNSYLVANIA")
    elif row == "DELAWARE":
        states.append("DELAWARE")
    elif row == "MARYLAND":
        states.append("MARYLAND")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VIRGINIA":
        states.append("VIRGINIA")
    elif row == "WEST VIRGINIA":
        states.append("WEST VIRGINIA")
    elif row == "NORTH CAROLINA":
        states.append("NORTH CAROLINA")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH CAROLINA")
    elif row == "GEORGIA":
        states.append("GEORGIA")
    elif row == "FLORIDA":
        states.append("FLORIDA")
    elif row == "ALABAMA":
        states.append("ALABAMA")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "KENTUCKY":
        states.append("KENTUCKY")
    elif row == "OHIO":
        states.append("OHIO")
    elif row == "MICHIGAN":
        states.append("MICHIGAN")
    elif row == "INDIANA":
        states.append("INDIANA")
    elif row == "MISSISSIPPI":
        states.append("MISSISSIPPI")
    elif row == "ILLINOIS":
        states.append("ILLINOIS")
    elif row == "WISCONSIN":
        states.append("WISCONSIN")
    elif row == "MINNESOTA":
        states.append("MINNESOTA")
    elif row == "IOWA":
        states.append("IOWA")
    elif row == "MISSOURI":
        states.append("MISSOURI")
    elif row == "ARKANSAS":
        states.append("ARKANSAS")
    elif row == "LOUISIANA":
        states.append("LOUISIANA")
    elif row == "NORTH DAKOTA":
        states.append("NORTH DAKOTA")
    elif row == "SOUTH DAKOTA":
        states.append("SOUTH DAKOTA")
    elif row == "NEBRASKA":
        states.append("NEBRASKA")
    elif row == "KANSAS":
        states.append("KANSAS")
    elif row == "OKLAHOMA":
        states.append("OKLAHOMA")
    elif row == "TEXAS":
        states.append("TEXAS")
    elif row == "MONTANA":
        states.append("MONTANA")
    elif row == "WYOMING":
        states.append("WYOMING")
    elif row == "COLORADO":
        states.append("COLORADO")
    elif row == "NEW MEXICO":
        states.append("NEW MEXICO")
    elif row == "IDAHO":
        states.append("IDAHO")
    elif row == "UTAH":
        states.append("UTAH")
    elif row == "ARIZONA":
        states.append("ARIZONA")
    elif row == "WASHINGTON":
        states.append("WASHINGTON")
    elif row == "OREGON":
        states.append("OREGON")
    elif row == "NEVADA":
        states.append("NEVADA")
    elif row == "CALIFORNIA":
        states.append("CALIFORNIA")
    elif row == "ALASKA":
        states.append("ALASKA")
    elif row == "HAWAII":
        states.append("HAWAII")
    elif row == "PUERTO RICO":
        states.append("PUERTO RICO")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VIRGIN ISLANDS":
        states.append("VIRGIN ISLANDS")
    elif row == "GUAM":
        states.append("GUAM")
    else:
        states.append("UNKNOWN")
        
data4['EMPLOYER_STATES'] = states

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:229: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
data4['EMPLOYER_STATES'].value_counts()

CALIFORNIA                  4111
NEW YORK                    1166
GEORGIA                     1011
TEXAS                        876
NEW JERSEY                   718
ALABAMA                      621
NORTH CAROLINA               621
VIRGINIA                     526
ILLINOIS                     433
WISCONSIN                    366
OHIO                         349
ARKANSAS                     316
MISSOURI                     289
WASHINGTON                   270
PENNSYLVANIA                 215
MICHIGAN                     212
MARYLAND                     177
FLORIDA                      143
MASSACHUSETTS                129
MISSISSIPPI                  112
SOUTH CAROLINA               110
ARIZONA                      100
TENNESSEE                     83
INDIANA                       78
MINNESOTA                     75
CONNECTICUT                   67
UTAH                          61
NEVADA                        60
COLORADO                      58
OREGON                        55
HAWAII                        53
LOUISIANA                     52
DISTRICT OF COLUMBIA          51
DELAWARE                      29
KENTUCKY                      28
OKLAHOMA                      27
SOUTH DAKOTA                  22
IOWA                          21
ALASKA                        21
KANSAS                        19
GUAM                          17
NEBRASKA                      16
IDAHO                         15
NEW MEXICO                    12
NORTH DAKOTA                   8
WEST VIRGINIA                  8
RHODE ISLAND                   7
NORTHERN MARIANA ISLANDS       7
NEW HAMPSHIRE                  4
MAINE                          3
VERMONT                        1
MONTANA                        1
Name: EMPLOYER_STATES, dtype: int64

In [13]:
data5 = data4.dropna(how='any')

In [14]:
data5.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH,EMPLOYER_STATES
11,Certified,201,06450,CONNECTICUT,5.0,47133.0,SOUTH KOREA,Not in USA,Bachelor's,2.0,CONNECTICUT
79,Certified,555,75205,TEXAS,5.0,48693.0,SOUTH KOREA,B-2,Associate's,10.0,TEXAS
95,Certified,565,90638,CALIFORNIA,3.0,63963.0,SOUTH KOREA,F-1,Master's,11.0,CALIFORNIA
96,Certified,586,90503,CALIFORNIA,5.0,99570.0,SOUTH KOREA,F-1,None,10.0,CALIFORNIA
101,Certified,788,31833,GEORGIA,8.0,62000.0,SOUTH KOREA,E-2,High School,5.0,GEORGIA

In [15]:
states = []

for row in data5['EMPLOYER_STATES']:
    if row == "MAINE":
        states.append("NORTHEAST")
    elif row == "NEW HAMPSHIRE":
        states.append("NORTHEAST")
    elif row == "VERMONT":
        states.append("NORTHEAST")
    elif row == "MASSACHUSETTS":
        states.append("NORTHEAST")
    elif row == "RHODE ISLAND":
        states.append("NORTHEAST")
    elif row == "CONNECTICUT":
        states.append("NORTHEAST")
    elif row == "NEW YORK":
        states.append("NORTHEAST")
    elif row == "NEW JERSEY":
        states.append("NORTHEAST")
    elif row == "PENNSYLVANIA":
        states.append("NORTHEAST")
    elif row == "DELAWARE":
        states.append("SOUTH")
    elif row == "MARYLAND":
        states.append("SOUTH")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("SOUTH")
    elif row == "VIRGINIA":
        states.append("SOUTH")
    elif row == "WEST VIRGINIA":
        states.append("SOUTH")
    elif row == "NORTH CAROLINA":
        states.append("SOUTH")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH")
    elif row == "GEORGIA":
        states.append("SOUTH")
    elif row == "FLORIDA":
        states.append("SOUTH")
    elif row == "ALABAMA":
        states.append("SOUTH")
    elif row == "TENNESSE":
        states.append("SOUTH")
    elif row == "KENTUCKY":
        states.append("SOUTH")
    elif row == "OHIO":
        states.append("MIDWEST")
    elif row == "MICHIGAN":
        states.append("MIDWEST")
    elif row == "INDIANA":
        states.append("MIDWEST")
    elif row == "MISSISSIPPI":
        states.append("SOUTH")
    elif row == "ILLINOIS":
        states.append("MIDWEST")
    elif row == "WISCONSIN":
        states.append("MIDWEST")
    elif row == "MINNESOTA":
        states.append("MIDWEST")
    elif row == "IOWA":
        states.append("MIDWEST")
    elif row == "MISSOURI":
        states.append("MIDWEST")
    elif row == "ARKANSAS":
        states.append("SOUTH")
    elif row == "LOUISIANA":
        states.append("SOUTH")
    elif row == "NORTH DAKOTA":
        states.append("MIDWEST")
    elif row == "SOUTH DAKOTA":
        states.append("MIDWEST")
    elif row == "NEBRASKA":
        states.append("MIDWEST")
    elif row == "KANSAS":
        states.append("MIDWEST")
    elif row == "OKLAHOMA":
        states.append("SOUTH")
    elif row == "TEXAS":
        states.append("SOUTH")
    elif row == "MONTANA":
        states.append("WEST")
    elif row == "WYOMING":
        states.append("WEST")
    elif row == "COLORADO":
        states.append("WEST")
    elif row == "NEW MEXICO":
        states.append("WEST")
    elif row == "IDAHO":
        states.append("WEST")
    elif row == "UTAH":
        states.append("WEST")
    elif row == "ARIZONA":
        states.append("WEST")
    elif row == "WASHINGTON":
        states.append("WEST")
    elif row == "OREGON":
        states.append("WEST")
    elif row == "NEVADA":
        states.append("WEST")
    elif row == "CALIFORNIA":
        states.append("WEST")
    elif row == "ALASKA":
        states.append("WEST")
    elif row == "HAWAII":
        states.append("WEST")
    elif row == "PUERTO RICO":
        states.append("OTHER")
    elif row == "TENNESSEE":
        states.append("SOUTH")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("OTHER")
    elif row == "VIRGIN ISLANDS":
        states.append("OTHER")
    elif row == "GUAM":
        states.append("OTHER")
    else:
        states.append("UNKNOWN")
        
data5['EMPLOYER_REGIONS'] = states

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
data5['EMPLOYER_REGIONS'].value_counts()

WEST         3930
SOUTH        3152
NORTHEAST    1969
MIDWEST      1033
OTHER          17
Name: EMPLOYER_REGIONS, dtype: int64

In [17]:
data5.count()

CASE_STATUS                      10101
DECISION_ELAPSED_DAYS            10101
EMPLOYER_POSTAL_CODE             10101
EMPLOYER_STATE                   10101
EMPLOYER_NUM_EMPLOYEES           10101
WAGE_OFFER_FROM_9089             10101
COUNTRY_OF_CITIZENSHIP           10101
CLASS_OF_ADMISSION               10101
FOREIGN_WORKER_INFO_EDUCATION    10101
CASE_RECEIVED_DATE_MONTH         10101
EMPLOYER_STATES                  10101
EMPLOYER_REGIONS                 10101
dtype: int64

In [18]:
data5['DAY_BINS'] = pd.cut(x=data5['DECISION_ELAPSED_DAYS'], 
                             bins=[0, 90, 180, 365, 3600],
                           labels=['0-90', '91-180', '181-365', '366-3600'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
data5['DAY_BINS'].value_counts()

181-365     3309
91-180      3054
0-90        2202
366-3600    1519
Name: DAY_BINS, dtype: int64

In [20]:
data5['WAGE_BINS'] = pd.cut(x=data5['WAGE_OFFER_FROM_9089'], 
                             bins=[0, 25000, 50000, 75000, 100000, 500000],
                           labels=['0-25000', '25001-50000', '50001-75000', '75001-100000', '100000-500000'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
data5['WAGE_BINS'].value_counts()

25001-50000      3349
50001-75000      2204
0-25000          1990
100000-500000    1348
75001-100000     1210
Name: WAGE_BINS, dtype: int64

In [22]:
data5['EMPLOYEE_BINS'] = pd.cut(x=data5['EMPLOYER_NUM_EMPLOYEES'], 
                             bins=[0, 50, 100, 500, 1000, 10000, 1000000000],
                           labels=['0-50', '51-100', '101-500', '501-1000', '1001-10000', '10001-1000000000'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
data5['EMPLOYEE_BINS'].value_counts()

0-50                5708
1001-10000          1429
101-500             1103
10001-1000000000     849
51-100               518
501-1000             491
Name: EMPLOYEE_BINS, dtype: int64

In [24]:
data5.count()

CASE_STATUS                      10101
DECISION_ELAPSED_DAYS            10101
EMPLOYER_POSTAL_CODE             10101
EMPLOYER_STATE                   10101
EMPLOYER_NUM_EMPLOYEES           10101
WAGE_OFFER_FROM_9089             10101
COUNTRY_OF_CITIZENSHIP           10101
CLASS_OF_ADMISSION               10101
FOREIGN_WORKER_INFO_EDUCATION    10101
CASE_RECEIVED_DATE_MONTH         10101
EMPLOYER_STATES                  10101
EMPLOYER_REGIONS                 10101
DAY_BINS                         10084
WAGE_BINS                        10101
EMPLOYEE_BINS                    10098
dtype: int64

In [25]:
data6 = data5[[
    'CASE_STATUS',
    'EMPLOYEE_BINS',
    'WAGE_BINS',
    'EMPLOYER_REGIONS',
    'CASE_RECEIVED_DATE_MONTH',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CLASS_OF_ADMISSION',
    'DAY_BINS'
]]

In [26]:
data6.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS
11,Certified,0-50,25001-50000,NORTHEAST,2.0,Bachelor's,Not in USA,181-365
79,Certified,0-50,25001-50000,SOUTH,10.0,Associate's,B-2,366-3600
95,Certified,0-50,50001-75000,WEST,11.0,Master's,F-1,366-3600
96,Certified,0-50,75001-100000,WEST,10.0,None,F-1,366-3600
101,Certified,0-50,50001-75000,SOUTH,5.0,High School,E-2,366-3600

In [27]:
data6.dtypes

CASE_STATUS                        object
EMPLOYEE_BINS                    category
WAGE_BINS                        category
EMPLOYER_REGIONS                   object
CASE_RECEIVED_DATE_MONTH          float64
FOREIGN_WORKER_INFO_EDUCATION      object
CLASS_OF_ADMISSION                 object
DAY_BINS                         category
dtype: object

In [28]:
from sklearn.preprocessing import LabelEncoder
num_encode = LabelEncoder()

In [29]:
data6['CLASS_OF_ADMISSION_CODE'] = num_encode.fit_transform(data6['CLASS_OF_ADMISSION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
data6['FOREIGN_WORKER_INFO_EDUCATION_CODE'] = num_encode.fit_transform(data6['FOREIGN_WORKER_INFO_EDUCATION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
data6['WAGE_BINS'] = data6['WAGE_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
data6['WAGE_BINS_CODE'] = num_encode.fit_transform(data6['WAGE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
data6['EMPLOYER_REGIONS_CODE'] = num_encode.fit_transform(data6['EMPLOYER_REGIONS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
data6['DAY_BINS'] = data6['DAY_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
data6['DAY_BINS_CODE'] = num_encode.fit_transform(data6['DAY_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
data6['EMPLOYEE_BINS'] = data6['EMPLOYEE_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
data6['EMPLOYEE_BINS_CODE'] = num_encode.fit_transform(data6['EMPLOYEE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
data6.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS,CLASS_OF_ADMISSION_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,WAGE_BINS_CODE,EMPLOYER_REGIONS_CODE,DAY_BINS_CODE,EMPLOYEE_BINS_CODE
11,Certified,0-50,25001-50000,NORTHEAST,2.0,Bachelor's,Not in USA,181-365,22,1,2,1,1,0
79,Certified,0-50,25001-50000,SOUTH,10.0,Associate's,B-2,366-3600,2,0,2,3,2,0
95,Certified,0-50,50001-75000,WEST,11.0,Master's,F-1,366-3600,7,4,3,4,2,0
96,Certified,0-50,75001-100000,WEST,10.0,None,F-1,366-3600,7,5,4,4,2,0
101,Certified,0-50,50001-75000,SOUTH,5.0,High School,E-2,366-3600,4,3,3,3,2,0

In [39]:
# data7.to_excel('../Resources/ML2_Philippenes.xlsx', index = False)

In [40]:
data6.count()

CASE_STATUS                           10101
EMPLOYEE_BINS                         10101
WAGE_BINS                             10101
EMPLOYER_REGIONS                      10101
CASE_RECEIVED_DATE_MONTH              10101
FOREIGN_WORKER_INFO_EDUCATION         10101
CLASS_OF_ADMISSION                    10101
DAY_BINS                              10101
CLASS_OF_ADMISSION_CODE               10101
FOREIGN_WORKER_INFO_EDUCATION_CODE    10101
WAGE_BINS_CODE                        10101
EMPLOYER_REGIONS_CODE                 10101
DAY_BINS_CODE                         10101
EMPLOYEE_BINS_CODE                    10101
dtype: int64

In [41]:
data7 = data6[[
    'CASE_STATUS',
    'EMPLOYEE_BINS_CODE',
    'WAGE_BINS_CODE',
    'DAY_BINS_CODE',
    'FOREIGN_WORKER_INFO_EDUCATION_CODE',
    'CLASS_OF_ADMISSION_CODE',
    'CASE_RECEIVED_DATE_MONTH',
    'EMPLOYER_REGIONS_CODE'
]]

In [42]:
data7.head()

,CASE_STATUS,EMPLOYEE_BINS_CODE,WAGE_BINS_CODE,DAY_BINS_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,CLASS_OF_ADMISSION_CODE,CASE_RECEIVED_DATE_MONTH,EMPLOYER_REGIONS_CODE
11,Certified,0,2,1,1,22,2.0,1
79,Certified,0,2,2,0,2,10.0,3
95,Certified,0,3,2,4,7,11.0,4
96,Certified,0,4,2,5,7,10.0,4
101,Certified,0,3,2,3,4,5.0,3

In [43]:
data7.dtypes

CASE_STATUS                            object
EMPLOYEE_BINS_CODE                      int64
WAGE_BINS_CODE                          int64
DAY_BINS_CODE                           int64
FOREIGN_WORKER_INFO_EDUCATION_CODE      int64
CLASS_OF_ADMISSION_CODE                 int64
CASE_RECEIVED_DATE_MONTH              float64
EMPLOYER_REGIONS_CODE                   int64
dtype: object

In [44]:
X = data7.drop("CASE_STATUS", axis=1)
y = data7["CASE_STATUS"]
print(X.shape, y.shape)

(10101, 7) (10101,)

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [46]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42, stratify=y)

In [47]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [48]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [49]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [50]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [51]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=7))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

WARNING:tensorflow:From /anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [52]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [55]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
 - 1s - loss: 0.2066 - acc: 0.9201
Epoch 2/100
 - 1s - loss: 0.2057 - acc: 0.9167
Epoch 3/100
 - 1s - loss: 0.2031 - acc: 0.9187
Epoch 4/100
 - 1s - loss: 0.2065 - acc: 0.9170
Epoch 5/100
 - 1s - loss: 0.2036 - acc: 0.9209
Epoch 6/100
 - 1s - loss: 0.2025 - acc: 0.9189
Epoch 7/100
 - 1s - loss: 0.2015 - acc: 0.9203
Epoch 8/100
 - 1s - loss: 0.2041 - acc: 0.9192
Epoch 9/100
 - 1s - loss: 0.2020 - acc: 0.9216
Epoch 10/100
 - 1s - loss: 0.2036 - acc: 0.9218
Epoch 11/100
 - 1s - loss: 0.2031 - acc: 0.9211
Epoch 12/100
 - 1s - loss: 0.2021 - acc: 0.9187
Epoch 13/100
 - 1s - loss: 0.1991 - acc: 0.9205
Epoch 14/100
 - 1s - loss: 0.2007 - acc: 0.9203
Epoch 15/100
 - 1s - loss: 0.2022 - acc: 0.9185
Epoch 16/100
 - 1s - loss: 0.2017 - acc: 0.9217
Epoch 17/100
 - 1s - loss: 0.1994 - acc: 0.9208
Epoch 18/100
 - 1s - loss: 0.1975 - acc: 0.9221
Epoch 19/100
 - 1s - loss: 0.1994 - acc: 0.9218
Epoch 20/100
 - 1s - loss: 0.1969 - acc: 0.9205
Epoch 21/100
 - 1s - loss: 0.1954 - acc: 0.9222
Epoch 22/100
 - 1s - loss: 0.1974 - acc: 0.9221
Epoch 23/100
 - 1s - loss: 0.1968 - acc: 0.9236
Epoch 24/100
 - 1s - loss: 0.1945 - acc: 0.9221
Epoch 25/100
 - 1s - loss: 0.1949 - acc: 0.9212
Epoch 26/100
 - 1s - loss: 0.1973 - acc: 0.9213
Epoch 27/100
 - 1s - loss: 0.1962 - acc: 0.9236
Epoch 28/100
 - 1s - loss: 0.1923 - acc: 0.9226
Epoch 29/100
 - 1s - loss: 0.1941 - acc: 0.9228
Epoch 30/100
 - 1s - loss: 0.1944 - acc: 0.9226
Epoch 31/100
 - 1s - loss: 0.1936 - acc: 0.9249
Epoch 32/100
 - 1s - loss: 0.1935 - acc: 0.9234
Epoch 33/100
 - 1s - loss: 0.1913 - acc: 0.9234
Epoch 34/100
 - 1s - loss: 0.1905 - acc: 0.9255
Epoch 35/100
 - 1s - loss: 0.1934 - acc: 0.9229
Epoch 36/100
 - 1s - loss: 0.1913 - acc: 0.9212
Epoch 37/100
 - 1s - loss: 0.1902 - acc: 0.9234
Epoch 38/100
 - 1s - loss: 0.1904 - acc: 0.9249
Epoch 39/100
 - 1s - loss: 0.1908 - acc: 0.9217
Epoch 40/100
 - 1s - loss: 0.1917 - acc: 0.9233
Epoch 41/100
 - 1s - loss: 0.1899 - acc: 0.9236
Epoch 42/100
 - 1s - loss: 0.1883 - acc: 0.9240
Epoch 43/100
 - 1s - loss: 0.1902 - acc: 0.9228
Epoch 44/100
 - 1s - loss: 0.1892 - acc: 0.9225
Epoch 45/100
 - 1s - loss: 0.1885 - acc: 0.9240
Epoch 46/100
 - 1s - loss: 0.1898 - acc: 0.9244
Epoch 47/100
 - 1s - loss: 0.1860 - acc: 0.9245
Epoch 48/100
 - 1s - loss: 0.1889 - acc: 0.9246
Epoch 49/100
 - 1s - loss: 0.1852 - acc: 0.9259
Epoch 50/100
 - 1s - loss: 0.1850 - acc: 0.9257
Epoch 51/100
 - 1s - loss: 0.1861 - acc: 0.9255
Epoch 52/100
 - 1s - loss: 0.1834 - acc: 0.9254
Epoch 53/100
 - 1s - loss: 0.1876 - acc: 0.9250
Epoch 54/100
 - 1s - loss: 0.1856 - acc: 0.9257
Epoch 55/100
 - 1s - loss: 0.1859 - acc: 0.9295
Epoch 56/100
 - 1s - loss: 0.1851 - acc: 0.9246
Epoch 57/100
 - 1s - loss: 0.1823 - acc: 0.9273
Epoch 58/100
 - 1s - loss: 0.1851 - acc: 0.9271
Epoch 59/100
 - 1s - loss: 0.1832 - acc: 0.9246
Epoch 60/100
 - 1s - loss: 0.1838 - acc: 0.9265
Epoch 61/100
 - 1s - loss: 0.1820 - acc: 0.9263
Epoch 62/100
 - 1s - loss: 0.1826 - acc: 0.9270
Epoch 63/100
 - 1s - loss: 0.1823 - acc: 0.9278
Epoch 64/100
 - 1s - loss: 0.1836 - acc: 0.9253
Epoch 65/100
 - 1s - loss: 0.1812 - acc: 0.9258
Epoch 66/100
 - 1s - loss: 0.1827 - acc: 0.9267
Epoch 67/100
 - 1s - loss: 0.1809 - acc: 0.9263
Epoch 68/100
 - 1s - loss: 0.1804 - acc: 0.9238
Epoch 69/100
 - 1s - loss: 0.1823 - acc: 0.9270
Epoch 70/100
 - 1s - loss: 0.1810 - acc: 0.9282
Epoch 71/100
 - 1s - loss: 0.1805 - acc: 0.9265
Epoch 72/100
 - 1s - loss: 0.1820 - acc: 0.9275
Epoch 73/100
 - 1s - loss: 0.1844 - acc: 0.9250
Epoch 74/100
 - 1s - loss: 0.1768 - acc: 0.9304
Epoch 75/100
 - 1s - loss: 0.1771 - acc: 0.9286
Epoch 76/100
 - 1s - loss: 0.1777 - acc: 0.9315
Epoch 77/100
 - 1s - loss: 0.1789 - acc: 0.9282
Epoch 78/100
 - 1s - loss: 0.1753 - acc: 0.9288
Epoch 79/100
 - 1s - loss: 0.1804 - acc: 0.9275
Epoch 80/100
 - 1s - loss: 0.1767 - acc: 0.9284
Epoch 81/100
 - 1s - loss: 0.1764 - acc: 0.9310
Epoch 82/100
 - 1s - loss: 0.1764 - acc: 0.9303
Epoch 83/100
 - 1s - loss: 0.1746 - acc: 0.9335
Epoch 84/100
 - 1s - loss: 0.1746 - acc: 0.9295
Epoch 85/100
 - 1s - loss: 0.1777 - acc: 0.9292
Epoch 86/100
 - 1s - loss: 0.1769 - acc: 0.9314
Epoch 87/100
 - 1s - loss: 0.1765 - acc: 0.9284
Epoch 88/100
 - 1s - loss: 0.1734 - acc: 0.9317
Epoch 89/100
 - 1s - loss: 0.1751 - acc: 0.9302
Epoch 90/100
 - 1s - loss: 0.1738 - acc: 0.9300
Epoch 91/100
 - 1s - loss: 0.1744 - acc: 0.9292
Epoch 92/100
 - 1s - loss: 0.1720 - acc: 0.9292
Epoch 93/100
 - 1s - loss: 0.1717 - acc: 0.9300
Epoch 94/100
 - 1s - loss: 0.1730 - acc: 0.9294
Epoch 95/100
 - 1s - loss: 0.1728 - acc: 0.9288
Epoch 96/100
 - 1s - loss: 0.1718 - acc: 0.9303
Epoch 97/100
 - 1s - loss: 0.1745 - acc: 0.9288
Epoch 98/100
 - 1s - loss: 0.1706 - acc: 0.9323
Epoch 99/100
 - 1s - loss: 0.1733 - acc: 0.9304
Epoch 100/100
 - 1s - loss: 0.1733 - acc: 0.9311

In [56]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 0.3738 - acc: 0.8812
Normal Neural Network - Loss: 0.37382690041006694, Accuracy: 0.8812351822853088

In [57]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [58]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['Certified' 'Certified' 'Certified' 'Certified' 'Certified' 'Certified'
 'Certified' 'Certified' 'Certified' 'Certified']
Actual Labels: ['Certified', 'Certified', 'Certified', 'Denied', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified']