In [392]:
import pandas as pd

In [393]:
data = pd.read_csv('../Resources/FY_CombinedData_Clean.csv')

In [394]:
data.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,FY15,0,A-14220-96665,2015-02-03,Certified-Expired,2014-09-10,UNION PACIFIC RAILROAD,OMAHA,NEBRASKA,68179,...,68154,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,2,2014.0,9.0
1,FY15,1,A-14220-96720,2015-01-12,Certified-Expired,2014-08-08,VST CONSULTING INC,ISELIN,NEW JERSEY,08830,...,19702,INDIA,INDIA,H-1B,Master's,NaN,2015,1,2014.0,8.0
2,FY15,2,A-14203-91167,2014-12-18,Certified-Expired,2014-07-28,GOOGLE INC.,MOUNTAIN VIEW,CALIFORNIA,94043,...,94306,SOUTH KOREA,SOUTH KOREA,L-1,Master's,NaN,2014,12,2014.0,7.0
3,FY15,3,A-14206-92509,2015-03-10,Certified-Expired,2014-10-19,INTEL CORPORATION,SANTA CLARA,CALIFORNIA,95052,...,95670,BANGLADESH,BANGLADESH,H-1B,Master's,NaN,2015,3,2014.0,10.0
4,FY15,4,A-14202-90786,2015-01-07,Certified-Expired,2014-08-25,NET ESOLUTIONS CORPORATION,MCLEAN,VIRGINIA,22102,...,2002-02-21 00:00:00,INDIA,INDIA,H-1B,Master's,NaN,2015,1,2014.0,8.0

In [395]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'CASE_NUMBER', 'DECISION_DATE',
       'CASE_STATUS', 'CASE_RECEIVED_DATE', 'EMPLOYER_NAME', 'EMPLOYER_CITY',
       'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_NUM_EMPLOYEES',
       'AGENT_FIRM_NAME', 'AGENT_CITY', 'AGENT_STATE', 'PW_SOC_CODE',
       'PW_SOC_TITLE', 'PW_AMOUNT_9089', 'WAGE_OFFER_FROM_9089',
       'WAGE_OFFER_UNIT_OF_PAY_9089', 'JOB_INFO_WORK_CITY',
       'JOB_INFO_WORK_STATE', 'JOB_INFO_WORK_POSTAL_CODE',
       'JOB_INFO_JOB_TITLE', 'JOB_INFO_EDUCATION', 'JOB_INFO_EDUCATION_OTHER',
       'FOREIGN_WORKER_INFO_CITY', 'FOREIGN_WORKER_INFO_STATE',
       'FW_INFO_POSTAL_CODE', 'COUNTRY_OF_CITIZENSHIP',
       'FW_INFO_BIRTH_COUNTRY', 'CLASS_OF_ADMISSION',
       'FOREIGN_WORKER_INFO_EDUCATION', 'FW_INFO_EDUCATION_OTHER',
       'DECISION_DATE_YEAR', 'DECISION_DATE_MONTH', 'CASE_RECEIVED_DATE_YEAR',
       'CASE_RECEIVED_DATE_MONTH'],
      dtype='object')

In [396]:
data2 = data[['CASE_STATUS', 
              'CASE_RECEIVED_DATE', 
              'DECISION_DATE', 
              'CASE_RECEIVED_DATE_MONTH', 
              'CLASS_OF_ADMISSION', 
              'FOREIGN_WORKER_INFO_EDUCATION', 
              'COUNTRY_OF_CITIZENSHIP', 
              'EMPLOYER_POSTAL_CODE',
              'EMPLOYER_STATE',
              'EMPLOYER_NUM_EMPLOYEES', 
              'WAGE_OFFER_UNIT_OF_PAY_9089', 
              'WAGE_OFFER_FROM_9089']]

In [397]:
data2.head()

,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,CASE_RECEIVED_DATE_MONTH,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,COUNTRY_OF_CITIZENSHIP,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_UNIT_OF_PAY_9089,WAGE_OFFER_FROM_9089
0,Certified-Expired,2014-09-10,2015-02-03,9.0,H-1B,Bachelor's,INDIA,68179,NEBRASKA,45000.0,Year,93000.0
1,Certified-Expired,2014-08-08,2015-01-12,8.0,H-1B,Master's,INDIA,08830,NEW JERSEY,80.0,Year,90459.0
2,Certified-Expired,2014-07-28,2014-12-18,7.0,L-1,Master's,SOUTH KOREA,94043,CALIFORNIA,53861.0,Year,140000.0
3,Certified-Expired,2014-10-19,2015-03-10,10.0,H-1B,Master's,BANGLADESH,95052,CALIFORNIA,46544.0,Year,80617.0
4,Certified-Expired,2014-08-25,2015-01-07,8.0,H-1B,Master's,INDIA,22102,VIRGINIA,82.0,Year,94016.0

In [398]:
data3 = data2.loc[data2['WAGE_OFFER_UNIT_OF_PAY_9089'] == 'Year']

In [399]:
data3['WAGE_OFFER_UNIT_OF_PAY_9089'].value_counts()

Year    416731
Name: WAGE_OFFER_UNIT_OF_PAY_9089, dtype: int64

In [400]:
data4 = data3.loc[data3['CASE_STATUS'] == 'Certified']
data4.head()

,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,CASE_RECEIVED_DATE_MONTH,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,COUNTRY_OF_CITIZENSHIP,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_UNIT_OF_PAY_9089,WAGE_OFFER_FROM_9089
25,Certified,2014-12-19,2015-06-22,12.0,H-1B,Master's,CHINA,33309,FLORIDA,5400.0,Year,82000.0
28,Certified,2014-07-18,2015-04-06,7.0,H-1B,Bachelor's,INDIA,77845,TEXAS,29000.0,Year,72467.0
35,Certified,2014-12-11,2015-06-24,12.0,H-1B,Bachelor's,INDIA,08831,NEW JERSEY,8.0,Year,77500.0
61,Certified,2013-08-05,2015-05-29,8.0,NaN,Associate's,CHINA,36108,ALABAMA,1400.0,Year,19843.0
63,Certified,2013-06-28,2015-04-20,6.0,NaN,Bachelor's,IRAN,20877,MARYLAND,6.0,Year,36754.0

In [401]:
data4['CASE_STATUS'].value_counts()

Certified    208427
Name: CASE_STATUS, dtype: int64

In [402]:
data5 = data4.dropna(how='any')
data5.head()

,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,CASE_RECEIVED_DATE_MONTH,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,COUNTRY_OF_CITIZENSHIP,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_UNIT_OF_PAY_9089,WAGE_OFFER_FROM_9089
25,Certified,2014-12-19,2015-06-22,12.0,H-1B,Master's,CHINA,33309,FLORIDA,5400.0,Year,82000.0
28,Certified,2014-07-18,2015-04-06,7.0,H-1B,Bachelor's,INDIA,77845,TEXAS,29000.0,Year,72467.0
35,Certified,2014-12-11,2015-06-24,12.0,H-1B,Bachelor's,INDIA,08831,NEW JERSEY,8.0,Year,77500.0
67,Certified,2014-02-09,2015-06-25,2.0,H-1B,Associate's,PHILIPPINES,96931,GUAM,35.0,Year,68869.0
68,Certified,2013-11-15,2015-05-06,11.0,H-1B,Master's,CHINA,94304,CALIFORNIA,331000.0,Year,118414.0

In [403]:
data5['ZIP_CODE'] = data5['EMPLOYER_POSTAL_CODE'].where(data5['EMPLOYER_POSTAL_CODE'].str.len() == 5)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [404]:
data5.head()

,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,CASE_RECEIVED_DATE_MONTH,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,COUNTRY_OF_CITIZENSHIP,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_UNIT_OF_PAY_9089,WAGE_OFFER_FROM_9089,ZIP_CODE
25,Certified,2014-12-19,2015-06-22,12.0,H-1B,Master's,CHINA,33309,FLORIDA,5400.0,Year,82000.0,33309
28,Certified,2014-07-18,2015-04-06,7.0,H-1B,Bachelor's,INDIA,77845,TEXAS,29000.0,Year,72467.0,77845
35,Certified,2014-12-11,2015-06-24,12.0,H-1B,Bachelor's,INDIA,08831,NEW JERSEY,8.0,Year,77500.0,08831
67,Certified,2014-02-09,2015-06-25,2.0,H-1B,Associate's,PHILIPPINES,96931,GUAM,35.0,Year,68869.0,96931
68,Certified,2013-11-15,2015-05-06,11.0,H-1B,Master's,CHINA,94304,CALIFORNIA,331000.0,Year,118414.0,94304

In [405]:
data5.count()

CASE_STATUS                      196569
CASE_RECEIVED_DATE               196569
DECISION_DATE                    196569
CASE_RECEIVED_DATE_MONTH         196569
CLASS_OF_ADMISSION               196569
FOREIGN_WORKER_INFO_EDUCATION    196569
COUNTRY_OF_CITIZENSHIP           196569
EMPLOYER_POSTAL_CODE             196569
EMPLOYER_STATE                   196569
EMPLOYER_NUM_EMPLOYEES           196569
WAGE_OFFER_UNIT_OF_PAY_9089      196569
WAGE_OFFER_FROM_9089             196569
ZIP_CODE                         193602
dtype: int64

In [406]:
data5.dtypes

CASE_STATUS                       object
CASE_RECEIVED_DATE                object
DECISION_DATE                     object
CASE_RECEIVED_DATE_MONTH         float64
CLASS_OF_ADMISSION                object
FOREIGN_WORKER_INFO_EDUCATION     object
COUNTRY_OF_CITIZENSHIP            object
EMPLOYER_POSTAL_CODE              object
EMPLOYER_STATE                    object
EMPLOYER_NUM_EMPLOYEES           float64
WAGE_OFFER_UNIT_OF_PAY_9089       object
WAGE_OFFER_FROM_9089             float64
ZIP_CODE                          object
dtype: object

In [407]:
#additional cleaning in excel real quick
# data5.to_excel('data5.xlsx', index = False)

In [408]:
data6 = pd.read_csv('data6.csv')

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [409]:
data6.head()

,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,DAYS_TIL_DECISION,CASE_RECEIVED_DATE_MONTH,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,COUNTRY_OF_CITIZENSHIP,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_UNIT_OF_PAY_9089,WAGE_OFFER_FROM_9089,ZIP_CODE
0,Certified,2017-12-05,2018-04-24,140.0,12.0,H-1B,Bachelor's,INDIA,99901,AK,40.0,Year,61547.0,99901.0
1,Certified,2015-12-12,2016-06-02,173.0,12.0,H-1B,High School,MALAYSIA,99840,AK,20.0,Year,48000.0,99840.0
2,Certified,2015-08-03,2016-04-21,262.0,8.0,H-1B,Bachelor's,PHILIPPINES,99801,AK,546.0,Year,74692.0,99801.0
3,Certified,2016-07-14,2016-09-28,76.0,7.0,H-1B,Bachelor's,PHILIPPINES,99801,AK,550.0,Year,76981.0,99801.0
4,Certified,2014-11-20,2015-05-14,175.0,11.0,H-1B,Doctorate,INDIA,99775,AK,7400.0,Year,78000.0,99775.0

In [410]:
data6.count()

CASE_STATUS                      196562
CASE_RECEIVED_DATE               196562
DECISION_DATE                    196562
DAYS_TIL_DECISION                196562
CASE_RECEIVED_DATE_MONTH         196562
CLASS_OF_ADMISSION               196562
FOREIGN_WORKER_INFO_EDUCATION    196562
COUNTRY_OF_CITIZENSHIP           196562
EMPLOYER_POSTAL_CODE             196562
EMPLOYER_STATE                   196562
EMPLOYER_NUM_EMPLOYEES           196562
WAGE_OFFER_UNIT_OF_PAY_9089      196562
WAGE_OFFER_FROM_9089             196562
ZIP_CODE                         193604
dtype: int64

In [411]:
data7 = data6[['CASE_RECEIVED_DATE_MONTH',
              'CLASS_OF_ADMISSION',
              'FOREIGN_WORKER_INFO_EDUCATION',
              'COUNTRY_OF_CITIZENSHIP',
              'EMPLOYER_NUM_EMPLOYEES',
              'WAGE_OFFER_FROM_9089',
              'ZIP_CODE',
               'EMPLOYER_STATE',
              'DAYS_TIL_DECISION']]

In [412]:
data7.head()

,CASE_RECEIVED_DATE_MONTH,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,COUNTRY_OF_CITIZENSHIP,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,ZIP_CODE,EMPLOYER_STATE,DAYS_TIL_DECISION
0,12.0,H-1B,Bachelor's,INDIA,40.0,61547.0,99901.0,AK,140.0
1,12.0,H-1B,High School,MALAYSIA,20.0,48000.0,99840.0,AK,173.0
2,8.0,H-1B,Bachelor's,PHILIPPINES,546.0,74692.0,99801.0,AK,262.0
3,7.0,H-1B,Bachelor's,PHILIPPINES,550.0,76981.0,99801.0,AK,76.0
4,11.0,H-1B,Doctorate,INDIA,7400.0,78000.0,99775.0,AK,175.0

In [413]:
data7.count()

CASE_RECEIVED_DATE_MONTH         196562
CLASS_OF_ADMISSION               196562
FOREIGN_WORKER_INFO_EDUCATION    196562
COUNTRY_OF_CITIZENSHIP           196562
EMPLOYER_NUM_EMPLOYEES           196562
WAGE_OFFER_FROM_9089             196562
ZIP_CODE                         193604
EMPLOYER_STATE                   196562
DAYS_TIL_DECISION                196562
dtype: int64

In [414]:
data8 = data7.dropna(how='any')

In [415]:
data8.count()

CASE_RECEIVED_DATE_MONTH         193604
CLASS_OF_ADMISSION               193604
FOREIGN_WORKER_INFO_EDUCATION    193604
COUNTRY_OF_CITIZENSHIP           193604
EMPLOYER_NUM_EMPLOYEES           193604
WAGE_OFFER_FROM_9089             193604
ZIP_CODE                         193604
EMPLOYER_STATE                   193604
DAYS_TIL_DECISION                193604
dtype: int64

In [416]:
data8.dtypes

CASE_RECEIVED_DATE_MONTH         float64
CLASS_OF_ADMISSION                object
FOREIGN_WORKER_INFO_EDUCATION     object
COUNTRY_OF_CITIZENSHIP            object
EMPLOYER_NUM_EMPLOYEES           float64
WAGE_OFFER_FROM_9089             float64
ZIP_CODE                         float64
EMPLOYER_STATE                    object
DAYS_TIL_DECISION                float64
dtype: object

In [417]:
data8['DAYS_TIL_DECISION'].max()

3566.0

In [418]:
data8['WAGE_OFFER_FROM_9089'].max()

9582600.0

In [419]:
data8['EMPLOYER_NUM_EMPLOYEES'].max()

664005241.0

In [476]:
data8['DAY_BINS'] = pd.cut(x=data8['DAYS_TIL_DECISION'], 
                             bins=[0, 90, 180, 365, 3600],
                           labels=['0-90', '91-180', '181-365', '366-3600'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [477]:
data8['WAGE_BINS'] = pd.cut(x=data8['WAGE_OFFER_FROM_9089'], 
                             bins=[0, 25000, 50000, 100000, 500000, 1000000, 10000000],
                           labels=['0-25000', '25001-50000', '50001-100000', '100001-500000', '500001-1000000', '10000001-10000000'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [478]:
data8['EMPLOYEE_BINS'] = pd.cut(x=data8['EMPLOYER_NUM_EMPLOYEES'], 
                             bins=[0, 100, 500, 1000, 10000, 100000, 1000000, 1000000000],
                           labels=['0-100', '101-500', '501-1000', '1001-10000', '10001-100000', '100001-1000000', '1000001-1000000000'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [479]:
data8.head()

,CASE_RECEIVED_DATE_MONTH,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,COUNTRY_OF_CITIZENSHIP,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,ZIP_CODE,EMPLOYER_STATE,DAYS_TIL_DECISION,DAY_BINS,WAGE_BINS,EMPLOYEE_BINS,CLASS_OF_ADMISSION_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,COUNTRY_OF_CITIZENSHIP_CODE,EMPLOYER_STATE_CODE,DAY_BINS_CODE,WAGE_BINS_CODE
0,12.0,H-1B,Bachelor's,INDIA,40.0,61547.0,99901.0,AK,140.0,91-180,50001-100000,0-100,17,1,75,0,7,5
1,12.0,H-1B,High School,MALAYSIA,20.0,48000.0,99840.0,AK,173.0,91-180,25001-50000,0-100,17,3,104,0,7,3
2,8.0,H-1B,Bachelor's,PHILIPPINES,546.0,74692.0,99801.0,AK,262.0,181-365,50001-100000,501-1000,17,1,132,0,3,5
3,7.0,H-1B,Bachelor's,PHILIPPINES,550.0,76981.0,99801.0,AK,76.0,0-90,50001-100000,501-1000,17,1,132,0,0,5
4,11.0,H-1B,Doctorate,INDIA,7400.0,78000.0,99775.0,AK,175.0,91-180,50001-100000,1001-10000,17,2,75,0,7,5

In [480]:
data8['DAY_BINS'].value_counts()

91-180      83311
0-90        63080
181-365     36902
366-3600    10311
Name: DAY_BINS, dtype: int64

In [481]:
data8['WAGE_BINS'].value_counts()

100001-500000        95347
50001-100000         84567
25001-50000          10110
0-25000               3516
500001-1000000          53
10000001-10000000       11
Name: WAGE_BINS, dtype: int64

In [482]:
data8['EMPLOYEE_BINS'].value_counts()

10001-100000          54102
0-100                 47207
1001-10000            40730
101-500               26371
100001-1000000        13943
501-1000              11177
1000001-1000000000       10
Name: EMPLOYEE_BINS, dtype: int64

In [483]:
data8.dtypes

CASE_RECEIVED_DATE_MONTH               float64
CLASS_OF_ADMISSION                      object
FOREIGN_WORKER_INFO_EDUCATION           object
COUNTRY_OF_CITIZENSHIP                  object
EMPLOYER_NUM_EMPLOYEES                 float64
WAGE_OFFER_FROM_9089                   float64
ZIP_CODE                               float64
EMPLOYER_STATE                          object
DAYS_TIL_DECISION                      float64
DAY_BINS                              category
WAGE_BINS                             category
EMPLOYEE_BINS                         category
CLASS_OF_ADMISSION_CODE                  int64
FOREIGN_WORKER_INFO_EDUCATION_CODE       int64
COUNTRY_OF_CITIZENSHIP_CODE              int64
EMPLOYER_STATE_CODE                      int64
DAY_BINS_CODE                            int64
WAGE_BINS_CODE                           int64
dtype: object

In [484]:
from sklearn.preprocessing import LabelEncoder
num_encode = LabelEncoder()

In [485]:
data8['CLASS_OF_ADMISSION_CODE'] = num_encode.fit_transform(data8['CLASS_OF_ADMISSION'])
data8['FOREIGN_WORKER_INFO_EDUCATION_CODE'] = num_encode.fit_transform(data8['FOREIGN_WORKER_INFO_EDUCATION'])
data8['COUNTRY_OF_CITIZENSHIP_CODE'] = num_encode.fit_transform(data8['COUNTRY_OF_CITIZENSHIP'])
data8['EMPLOYER_STATE_CODE'] = num_encode.fit_transform(data8['EMPLOYER_STATE'])
data8['DAY_BINS_CODE'] = num_encode.fit_transform(data8['DAY_BINS'])
data8['WAGE_BINS_CODE'] = num_encode.fit_transform(data8['WAGE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [486]:
data8.dtypes

CASE_RECEIVED_DATE_MONTH               float64
CLASS_OF_ADMISSION                      object
FOREIGN_WORKER_INFO_EDUCATION           object
COUNTRY_OF_CITIZENSHIP                  object
EMPLOYER_NUM_EMPLOYEES                 float64
WAGE_OFFER_FROM_9089                   float64
ZIP_CODE                               float64
EMPLOYER_STATE                          object
DAYS_TIL_DECISION                      float64
DAY_BINS                              category
WAGE_BINS                             category
EMPLOYEE_BINS                         category
CLASS_OF_ADMISSION_CODE                  int64
FOREIGN_WORKER_INFO_EDUCATION_CODE       int64
COUNTRY_OF_CITIZENSHIP_CODE              int64
EMPLOYER_STATE_CODE                      int64
DAY_BINS_CODE                            int64
WAGE_BINS_CODE                           int64
dtype: object

In [487]:
data8.to_excel('ML_data.xlsx', index = False)

In [488]:
data8.head()

,CASE_RECEIVED_DATE_MONTH,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,COUNTRY_OF_CITIZENSHIP,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,ZIP_CODE,EMPLOYER_STATE,DAYS_TIL_DECISION,DAY_BINS,WAGE_BINS,EMPLOYEE_BINS,CLASS_OF_ADMISSION_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,COUNTRY_OF_CITIZENSHIP_CODE,EMPLOYER_STATE_CODE,DAY_BINS_CODE,WAGE_BINS_CODE
0,12.0,H-1B,Bachelor's,INDIA,40.0,61547.0,99901.0,AK,140.0,91-180,50001-100000,0-100,17,1,75,0,3,5
1,12.0,H-1B,High School,MALAYSIA,20.0,48000.0,99840.0,AK,173.0,91-180,25001-50000,0-100,17,3,104,0,3,3
2,8.0,H-1B,Bachelor's,PHILIPPINES,546.0,74692.0,99801.0,AK,262.0,181-365,50001-100000,501-1000,17,1,132,0,1,5
3,7.0,H-1B,Bachelor's,PHILIPPINES,550.0,76981.0,99801.0,AK,76.0,0-90,50001-100000,501-1000,17,1,132,0,0,5
4,11.0,H-1B,Doctorate,INDIA,7400.0,78000.0,99775.0,AK,175.0,91-180,50001-100000,1001-10000,17,2,75,0,3,5

In [531]:
ml_data = data8[[
    'CASE_RECEIVED_DATE_MONTH',
    'WAGE_BINS_CODE',
    'CLASS_OF_ADMISSION_CODE',
    'FOREIGN_WORKER_INFO_EDUCATION_CODE',
    'EMPLOYER_STATE_CODE',
    'COUNTRY_OF_CITIZENSHIP_CODE',
    'DAY_BINS_CODE'
]]

In [532]:
ml_data.head()

,CASE_RECEIVED_DATE_MONTH,WAGE_BINS_CODE,CLASS_OF_ADMISSION_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,EMPLOYER_STATE_CODE,COUNTRY_OF_CITIZENSHIP_CODE,DAY_BINS_CODE
0,12.0,5,17,1,0,75,3
1,12.0,3,17,3,0,104,3
2,8.0,5,17,1,0,132,1
3,7.0,5,17,1,0,132,0
4,11.0,5,17,2,0,75,3

In [533]:
ml_data.count()

CASE_RECEIVED_DATE_MONTH              193604
WAGE_BINS_CODE                        193604
CLASS_OF_ADMISSION_CODE               193604
FOREIGN_WORKER_INFO_EDUCATION_CODE    193604
EMPLOYER_STATE_CODE                   193604
COUNTRY_OF_CITIZENSHIP_CODE           193604
DAY_BINS_CODE                         193604
dtype: int64

In [558]:
ml_data['DAY_BINS_CODE'].value_counts()

3    83311
0    63080
1    36902
2    10311
Name: DAY_BINS_CODE, dtype: int64

In [559]:
X = ml_data.drop("DAY_BINS_CODE", axis=1)
y = ml_data["DAY_BINS_CODE"]
print(X.shape, y.shape)

(193604, 6) (193604,)

In [566]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [576]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42, stratify=y, test_size=0.20)

In [577]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [578]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [579]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [580]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [581]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=6))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=4, activation='softmax'))

In [582]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [583]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_45 (Dense)             (None, 100)               700
_________________________________________________________________
dense_46 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_47 (Dense)             (None, 4)                 404
=================================================================
Total params: 11,204
Trainable params: 11,204
Non-trainable params: 0
_________________________________________________________________

In [584]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=10,
    shuffle=True,
    verbose=2
)

Epoch 1/10
 - 16s - loss: 0.9629 - acc: 0.5637
Epoch 2/10
 - 16s - loss: 0.9204 - acc: 0.5793
Epoch 3/10

KeyboardInterrupt:

In [528]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=4)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.8912092786441547, Accuracy: 0.5936654210090637

In [529]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [530]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: [0 0 3 1 3 1 3 0 3 3]
Actual Labels: [0, 3, 3, 1, 3, 1, 0, 0, 0, 2]