In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Resources/certified_denied.csv')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,NaN,25,A-14246-03533,2015-06-22,Certified,2014-12-19,185,0.506849,"CITRIX SYSTEMS, INC.",FORT LAUDERDALE,...,1973-03-30 00:00:00,CHINA,CHINA,H-1B,Master's,NaN,2015,6,2014.0,12.0
1,NaN,28,A-14198-89806,2015-04-06,Certified,2014-07-18,262,0.717808,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,...,75063,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2014.0,7.0
2,NaN,35,A-14222-96825,2015-06-24,Certified,2014-12-11,195,0.534247,SAT SOLUTIONS LLC,MONROE,...,75001,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,6,2014.0,12.0
3,NaN,61,A-13216-85505,2015-05-29,Certified,2013-08-05,662,1.813699,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,210001,CHINA,CHINA,NaN,Associate's,NaN,2015,5,2013.0,8.0
4,NaN,63,A-13179-76467,2015-04-20,Certified,2013-06-28,661,1.810959,FARROKH ERFAN,GAITHERSBURG,...,NaN,IRAN,IRAN,NaN,Bachelor's,NaN,2015,4,2013.0,6.0

In [4]:
data2 = data.loc[data['COUNTRY_OF_CITIZENSHIP'] == 'FRANCE']

In [5]:
data2['COUNTRY_OF_CITIZENSHIP'].value_counts()

FRANCE    2014
Name: COUNTRY_OF_CITIZENSHIP, dtype: int64

In [6]:
data3 = data2.loc[data2['WAGE_OFFER_UNIT_OF_PAY_9089'] == 'Year']

In [7]:
data3['WAGE_OFFER_UNIT_OF_PAY_9089'].value_counts()

Year    1993
Name: WAGE_OFFER_UNIT_OF_PAY_9089, dtype: int64

In [8]:
data3.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'CASE_NUMBER', 'DECISION_DATE',
       'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_ELAPSED_DAYS',
       'DECISION_ELAPSED_YEARS', 'EMPLOYER_NAME', 'EMPLOYER_CITY',
       'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_NUM_EMPLOYEES',
       'AGENT_FIRM_NAME', 'AGENT_CITY', 'AGENT_STATE', 'PW_SOC_CODE',
       'PW_SOC_TITLE', 'PW_AMOUNT_9089', 'WAGE_OFFER_FROM_9089',
       'WAGE_OFFER_UNIT_OF_PAY_9089', 'JOB_INFO_WORK_CITY',
       'JOB_INFO_WORK_STATE', 'JOB_INFO_WORK_POSTAL_CODE',
       'JOB_INFO_JOB_TITLE', 'JOB_INFO_EDUCATION', 'JOB_INFO_EDUCATION_OTHER',
       'FOREIGN_WORKER_INFO_CITY', 'FOREIGN_WORKER_INFO_STATE',
       'FW_INFO_POSTAL_CODE', 'COUNTRY_OF_CITIZENSHIP',
       'FW_INFO_BIRTH_COUNTRY', 'CLASS_OF_ADMISSION',
       'FOREIGN_WORKER_INFO_EDUCATION', 'FW_INFO_EDUCATION_OTHER',
       'DECISION_DATE_YEAR', 'DECISION_DATE_MONTH', 'CASE_RECEIVED_DATE_YEAR',
       'CASE_RECEIVED_DATE_MONTH'],
      dtype='object')

In [9]:
data4 = data3[[
    'CASE_STATUS',
    'DECISION_ELAPSED_DAYS',
    'EMPLOYER_POSTAL_CODE',
    'EMPLOYER_STATE',
    'EMPLOYER_NUM_EMPLOYEES',
    'WAGE_OFFER_FROM_9089',
    'COUNTRY_OF_CITIZENSHIP',
    'CLASS_OF_ADMISSION',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CASE_RECEIVED_DATE_MONTH'
]]

In [10]:
data4.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH
22,Certified,542,94945,CALIFORNIA,47.0,100800.0,FRANCE,H-1B,Master's,12.0
253,Certified,429,98052,WASHINGTON,58000.0,110000.0,FRANCE,H-1B,Master's,6.0
278,Certified,456,77079,TEXAS,83900.0,146474.0,FRANCE,H-1B,Master's,5.0
314,Certified,179,10167,NEW YORK,697.0,150654.0,FRANCE,H-1B,Master's,12.0
354,Certified,545,34990,FLORIDA,100.0,26354.0,FRANCE,O-1,Bachelor's,12.0

In [11]:
states = []

for row in data4['EMPLOYER_STATE']:
    if row == "ME":
        states.append("MAINE")
    elif row == "NH":
        states.append("NEW HAMPSHIRE")
    elif row == "VT":
        states.append("VERMONT")
    elif row == "MA":
        states.append("MASSACHUSETTS")
    elif row == "RI":
        states.append("RHODE ISLAND")
    elif row == "CT":
        states.append("CONNECTICUT")
    elif row == "NY":
        states.append("NEW YORK")
    elif row == "NJ":
        states.append("NEW JERSEY")
    elif row == "PA":
        states.append("PENNSYLVANIA")
    elif row == "DE":
        states.append("DELAWARE")
    elif row == "MD":
        states.append("MARYLAND")
    elif row == "DC":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VA":
        states.append("VIRGINIA")
    elif row == "WV":
        states.append("WEST VIRGINIA")
    elif row == "NC":
        states.append("NORTH CAROLINA")
    elif row == "SC":
        states.append("SOUTH CAROLINA")
    elif row == "GA":
        states.append("GEORGIA")
    elif row == "FL":
        states.append("FLORIDA")
    elif row == "AL":
        states.append("ALABAMA")
    elif row == "TN":
        states.append("TENNESSEE")
    elif row == "TENNESSE":
        states.append("TENNESSEE")
    elif row == "KY":
        states.append("KENTUCKY")
    elif row == "OH":
        states.append("OHIO")
    elif row == "MI":
        states.append("MICHIGAN")
    elif row == "IN":
        states.append("INDIANA")
    elif row == "MS":
        states.append("MISSISSIPPI")
    elif row == "IL":
        states.append("ILLINOIS")
    elif row == "WI":
        states.append("WISCONSIN")
    elif row == "MN":
        states.append("MINNESOTA")
    elif row == "IA":
        states.append("IOWA")
    elif row == "MO":
        states.append("MISSOURI")
    elif row == "AR":
        states.append("ARKANSAS")
    elif row == "LA":
        states.append("LOUISIANA")
    elif row == "ND":
        states.append("NORTH DAKOTA")
    elif row == "SD":
        states.append("SOUTH DAKOTA")
    elif row == "NE":
        states.append("NEBRASKA")
    elif row == "KS":
        states.append("KANSAS")
    elif row == "OK":
        states.append("OKLAHOMA")
    elif row == "TX":
        states.append("TEXAS")
    elif row == "MT":
        states.append("MONTANA")
    elif row == "WY":
        states.append("WYOMING")
    elif row == "CO":
        states.append("COLORADO")
    elif row == "NM":
        states.append("NEW MEXICO")
    elif row == "ID":
        states.append("IDAHO")
    elif row == "UT":
        states.append("UTAH")
    elif row == "AZ":
        states.append("ARIZONA")
    elif row == "WA":
        states.append("WASHINGTON")
    elif row == "OR":
        states.append("OREGON")
    elif row == "NV":
        states.append("NEVADA")
    elif row == "CA":
        states.append("CALIFORNIA")
    elif row == "AK":
        states.append("ALASKA")
    elif row == "HI":
        states.append("HAWAII")
    elif row == "PR":
        states.append("PUERTO RICO")
    elif row == "MP":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VI":
        states.append("VIRGIN ISLANDS")
    elif row == "GU":
        states.append("GUAM")
    elif row == "NEW HAMPSHIRE":
        states.append("NEW HAMPSHIRE")
    elif row == "VERMONT":
        states.append("VERMONT")
    elif row == "MASSACHUSETTS":
        states.append("MASSACHUSETTS")
    elif row == "RHODE ISLAND":
        states.append("RHODE ISLAND")
    elif row == "CONNECTICUT":
        states.append("CONNECTICUT")
    elif row == "NEW YORK":
        states.append("NEW YORK")
    elif row == "NEW JERSEY":
        states.append("NEW JERSEY")
    elif row == "PENNSYLVANIA":
        states.append("PENNSYLVANIA")
    elif row == "DELAWARE":
        states.append("DELAWARE")
    elif row == "MARYLAND":
        states.append("MARYLAND")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VIRGINIA":
        states.append("VIRGINIA")
    elif row == "WEST VIRGINIA":
        states.append("WEST VIRGINIA")
    elif row == "NORTH CAROLINA":
        states.append("NORTH CAROLINA")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH CAROLINA")
    elif row == "GEORGIA":
        states.append("GEORGIA")
    elif row == "FLORIDA":
        states.append("FLORIDA")
    elif row == "ALABAMA":
        states.append("ALABAMA")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "KENTUCKY":
        states.append("KENTUCKY")
    elif row == "OHIO":
        states.append("OHIO")
    elif row == "MICHIGAN":
        states.append("MICHIGAN")
    elif row == "INDIANA":
        states.append("INDIANA")
    elif row == "MISSISSIPPI":
        states.append("MISSISSIPPI")
    elif row == "ILLINOIS":
        states.append("ILLINOIS")
    elif row == "WISCONSIN":
        states.append("WISCONSIN")
    elif row == "MINNESOTA":
        states.append("MINNESOTA")
    elif row == "IOWA":
        states.append("IOWA")
    elif row == "MISSOURI":
        states.append("MISSOURI")
    elif row == "ARKANSAS":
        states.append("ARKANSAS")
    elif row == "LOUISIANA":
        states.append("LOUISIANA")
    elif row == "NORTH DAKOTA":
        states.append("NORTH DAKOTA")
    elif row == "SOUTH DAKOTA":
        states.append("SOUTH DAKOTA")
    elif row == "NEBRASKA":
        states.append("NEBRASKA")
    elif row == "KANSAS":
        states.append("KANSAS")
    elif row == "OKLAHOMA":
        states.append("OKLAHOMA")
    elif row == "TEXAS":
        states.append("TEXAS")
    elif row == "MONTANA":
        states.append("MONTANA")
    elif row == "WYOMING":
        states.append("WYOMING")
    elif row == "COLORADO":
        states.append("COLORADO")
    elif row == "NEW MEXICO":
        states.append("NEW MEXICO")
    elif row == "IDAHO":
        states.append("IDAHO")
    elif row == "UTAH":
        states.append("UTAH")
    elif row == "ARIZONA":
        states.append("ARIZONA")
    elif row == "WASHINGTON":
        states.append("WASHINGTON")
    elif row == "OREGON":
        states.append("OREGON")
    elif row == "NEVADA":
        states.append("NEVADA")
    elif row == "CALIFORNIA":
        states.append("CALIFORNIA")
    elif row == "ALASKA":
        states.append("ALASKA")
    elif row == "HAWAII":
        states.append("HAWAII")
    elif row == "PUERTO RICO":
        states.append("PUERTO RICO")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VIRGIN ISLANDS":
        states.append("VIRGIN ISLANDS")
    elif row == "GUAM":
        states.append("GUAM")
    else:
        states.append("UNKNOWN")
        
data4['EMPLOYER_STATES'] = states

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:229: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
data4['EMPLOYER_STATES'].value_counts()

CALIFORNIA              745
NEW YORK                359
FLORIDA                 118
MASSACHUSETTS            99
NEW JERSEY               99
WASHINGTON               88
TEXAS                    84
ILLINOIS                 48
MICHIGAN                 39
PENNSYLVANIA             38
DISTRICT OF COLUMBIA     22
CONNECTICUT              22
MARYLAND                 21
NORTH CAROLINA           20
GEORGIA                  20
OHIO                     19
VIRGINIA                 16
LOUISIANA                15
OREGON                   12
COLORADO                 11
MINNESOTA                 8
UTAH                      8
ARIZONA                   8
SOUTH CAROLINA            8
INDIANA                   7
MISSOURI                  6
ARKANSAS                  6
NEVADA                    6
WISCONSIN                 4
IDAHO                     4
GUAM                      4
IOWA                      4
DELAWARE                  3
TENNESSEE                 3
KANSAS                    3
ALABAMA                   3
OKLAHOMA                  2
MAINE                     2
HAWAII                    2
NEW MEXICO                1
RHODE ISLAND              1
NORTH DAKOTA              1
NEW HAMPSHIRE             1
KENTUCKY                  1
VERMONT                   1
PUERTO RICO               1
Name: EMPLOYER_STATES, dtype: int64

In [13]:
data5 = data4.dropna(how='any')

In [14]:
data5.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH,EMPLOYER_STATES
22,Certified,542,94945,CALIFORNIA,47.0,100800.0,FRANCE,H-1B,Master's,12.0,CALIFORNIA
253,Certified,429,98052,WASHINGTON,58000.0,110000.0,FRANCE,H-1B,Master's,6.0,WASHINGTON
278,Certified,456,77079,TEXAS,83900.0,146474.0,FRANCE,H-1B,Master's,5.0,TEXAS
314,Certified,179,10167,NEW YORK,697.0,150654.0,FRANCE,H-1B,Master's,12.0,NEW YORK
354,Certified,545,34990,FLORIDA,100.0,26354.0,FRANCE,O-1,Bachelor's,12.0,FLORIDA

In [15]:
states = []

for row in data5['EMPLOYER_STATES']:
    if row == "MAINE":
        states.append("NORTHEAST")
    elif row == "NEW HAMPSHIRE":
        states.append("NORTHEAST")
    elif row == "VERMONT":
        states.append("NORTHEAST")
    elif row == "MASSACHUSETTS":
        states.append("NORTHEAST")
    elif row == "RHODE ISLAND":
        states.append("NORTHEAST")
    elif row == "CONNECTICUT":
        states.append("NORTHEAST")
    elif row == "NEW YORK":
        states.append("NORTHEAST")
    elif row == "NEW JERSEY":
        states.append("NORTHEAST")
    elif row == "PENNSYLVANIA":
        states.append("NORTHEAST")
    elif row == "DELAWARE":
        states.append("SOUTH")
    elif row == "MARYLAND":
        states.append("SOUTH")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("SOUTH")
    elif row == "VIRGINIA":
        states.append("SOUTH")
    elif row == "WEST VIRGINIA":
        states.append("SOUTH")
    elif row == "NORTH CAROLINA":
        states.append("SOUTH")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH")
    elif row == "GEORGIA":
        states.append("SOUTH")
    elif row == "FLORIDA":
        states.append("SOUTH")
    elif row == "ALABAMA":
        states.append("SOUTH")
    elif row == "TENNESSE":
        states.append("SOUTH")
    elif row == "KENTUCKY":
        states.append("SOUTH")
    elif row == "OHIO":
        states.append("MIDWEST")
    elif row == "MICHIGAN":
        states.append("MIDWEST")
    elif row == "INDIANA":
        states.append("MIDWEST")
    elif row == "MISSISSIPPI":
        states.append("SOUTH")
    elif row == "ILLINOIS":
        states.append("MIDWEST")
    elif row == "WISCONSIN":
        states.append("MIDWEST")
    elif row == "MINNESOTA":
        states.append("MIDWEST")
    elif row == "IOWA":
        states.append("MIDWEST")
    elif row == "MISSOURI":
        states.append("MIDWEST")
    elif row == "ARKANSAS":
        states.append("SOUTH")
    elif row == "LOUISIANA":
        states.append("SOUTH")
    elif row == "NORTH DAKOTA":
        states.append("MIDWEST")
    elif row == "SOUTH DAKOTA":
        states.append("MIDWEST")
    elif row == "NEBRASKA":
        states.append("MIDWEST")
    elif row == "KANSAS":
        states.append("MIDWEST")
    elif row == "OKLAHOMA":
        states.append("SOUTH")
    elif row == "TEXAS":
        states.append("SOUTH")
    elif row == "MONTANA":
        states.append("WEST")
    elif row == "WYOMING":
        states.append("WEST")
    elif row == "COLORADO":
        states.append("WEST")
    elif row == "NEW MEXICO":
        states.append("WEST")
    elif row == "IDAHO":
        states.append("WEST")
    elif row == "UTAH":
        states.append("WEST")
    elif row == "ARIZONA":
        states.append("WEST")
    elif row == "WASHINGTON":
        states.append("WEST")
    elif row == "OREGON":
        states.append("WEST")
    elif row == "NEVADA":
        states.append("WEST")
    elif row == "CALIFORNIA":
        states.append("WEST")
    elif row == "ALASKA":
        states.append("WEST")
    elif row == "HAWAII":
        states.append("WEST")
    elif row == "PUERTO RICO":
        states.append("OTHER")
    elif row == "TENNESSEE":
        states.append("SOUTH")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("OTHER")
    elif row == "VIRGIN ISLANDS":
        states.append("OTHER")
    elif row == "GUAM":
        states.append("OTHER")
    else:
        states.append("UNKNOWN")
        
data5['EMPLOYER_REGIONS'] = states

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
data5['EMPLOYER_REGIONS'].value_counts()

WEST         844
NORTHEAST    611
SOUTH        320
MIDWEST      133
OTHER          5
Name: EMPLOYER_REGIONS, dtype: int64

In [17]:
data5.count()

CASE_STATUS                      1913
DECISION_ELAPSED_DAYS            1913
EMPLOYER_POSTAL_CODE             1913
EMPLOYER_STATE                   1913
EMPLOYER_NUM_EMPLOYEES           1913
WAGE_OFFER_FROM_9089             1913
COUNTRY_OF_CITIZENSHIP           1913
CLASS_OF_ADMISSION               1913
FOREIGN_WORKER_INFO_EDUCATION    1913
CASE_RECEIVED_DATE_MONTH         1913
EMPLOYER_STATES                  1913
EMPLOYER_REGIONS                 1913
dtype: int64

In [18]:
data5['DAY_BINS'] = pd.cut(x=data5['DECISION_ELAPSED_DAYS'], 
                             bins=[0, 90, 180, 365, 3600],
                           labels=['0-90', '91-180', '181-365', '366-3600'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
data5['DAY_BINS'].value_counts()

91-180      801
0-90        570
181-365     376
366-3600    165
Name: DAY_BINS, dtype: int64

In [20]:
data5['WAGE_BINS'] = pd.cut(x=data5['WAGE_OFFER_FROM_9089'], 
                             bins=[0, 25000, 50000, 75000, 100000, 500000],
                           labels=['0-25000', '25001-50000', '50001-75000', '75001-100000', '100000-500000'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
data5['WAGE_BINS'].value_counts()

100000-500000    1189
75001-100000      379
50001-75000       241
25001-50000        97
0-25000             7
Name: WAGE_BINS, dtype: int64

In [22]:
data5['EMPLOYEE_BINS'] = pd.cut(x=data5['EMPLOYER_NUM_EMPLOYEES'], 
                             bins=[0, 50, 100, 500, 1000, 10000, 1000000000],
                           labels=['0-50', '51-100', '101-500', '501-1000', '1001-10000', '10001-1000000000'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
data5['EMPLOYEE_BINS'].value_counts()

10001-1000000000    483
1001-10000          433
0-50                427
101-500             296
51-100              140
501-1000            134
Name: EMPLOYEE_BINS, dtype: int64

In [24]:
data5.count()

CASE_STATUS                      1913
DECISION_ELAPSED_DAYS            1913
EMPLOYER_POSTAL_CODE             1913
EMPLOYER_STATE                   1913
EMPLOYER_NUM_EMPLOYEES           1913
WAGE_OFFER_FROM_9089             1913
COUNTRY_OF_CITIZENSHIP           1913
CLASS_OF_ADMISSION               1913
FOREIGN_WORKER_INFO_EDUCATION    1913
CASE_RECEIVED_DATE_MONTH         1913
EMPLOYER_STATES                  1913
EMPLOYER_REGIONS                 1913
DAY_BINS                         1912
WAGE_BINS                        1913
EMPLOYEE_BINS                    1913
dtype: int64

In [25]:
data6 = data5[[
    'CASE_STATUS',
    'EMPLOYEE_BINS',
    'WAGE_BINS',
    'EMPLOYER_REGIONS',
    'CASE_RECEIVED_DATE_MONTH',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CLASS_OF_ADMISSION',
    'DAY_BINS'
]]

In [26]:
data6.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS
22,Certified,0-50,100000-500000,WEST,12.0,Master's,H-1B,366-3600
253,Certified,10001-1000000000,100000-500000,WEST,6.0,Master's,H-1B,366-3600
278,Certified,10001-1000000000,100000-500000,SOUTH,5.0,Master's,H-1B,366-3600
314,Certified,501-1000,100000-500000,NORTHEAST,12.0,Master's,H-1B,91-180
354,Certified,51-100,25001-50000,SOUTH,12.0,Bachelor's,O-1,366-3600

In [27]:
data6.dtypes

CASE_STATUS                        object
EMPLOYEE_BINS                    category
WAGE_BINS                        category
EMPLOYER_REGIONS                   object
CASE_RECEIVED_DATE_MONTH          float64
FOREIGN_WORKER_INFO_EDUCATION      object
CLASS_OF_ADMISSION                 object
DAY_BINS                         category
dtype: object

In [28]:
from sklearn.preprocessing import LabelEncoder
num_encode = LabelEncoder()

In [29]:
data6['CLASS_OF_ADMISSION_CODE'] = num_encode.fit_transform(data6['CLASS_OF_ADMISSION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
data6['FOREIGN_WORKER_INFO_EDUCATION_CODE'] = num_encode.fit_transform(data6['FOREIGN_WORKER_INFO_EDUCATION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
data6['WAGE_BINS'] = data6['WAGE_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
data6['WAGE_BINS_CODE'] = num_encode.fit_transform(data6['WAGE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
data6['EMPLOYER_REGIONS_CODE'] = num_encode.fit_transform(data6['EMPLOYER_REGIONS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
data6['DAY_BINS'] = data6['DAY_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
data6['DAY_BINS_CODE'] = num_encode.fit_transform(data6['DAY_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
data6['EMPLOYEE_BINS'] = data6['EMPLOYEE_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
data6['EMPLOYEE_BINS_CODE'] = num_encode.fit_transform(data6['EMPLOYEE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
data6.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS,CLASS_OF_ADMISSION_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,WAGE_BINS_CODE,EMPLOYER_REGIONS_CODE,DAY_BINS_CODE,EMPLOYEE_BINS_CODE
22,Certified,0-50,100000-500000,WEST,12.0,Master's,H-1B,366-3600,7,4,1,4,2,0
253,Certified,10001-1000000000,100000-500000,WEST,6.0,Master's,H-1B,366-3600,7,4,1,4,2,1
278,Certified,10001-1000000000,100000-500000,SOUTH,5.0,Master's,H-1B,366-3600,7,4,1,3,2,1
314,Certified,501-1000,100000-500000,NORTHEAST,12.0,Master's,H-1B,91-180,7,4,1,1,3,4
354,Certified,51-100,25001-50000,SOUTH,12.0,Bachelor's,O-1,366-3600,16,1,2,3,2,5

In [39]:
# data7.to_excel('../Resources/ML2_Philippenes.xlsx', index = False)

In [40]:
data6.count()

CASE_STATUS                           1913
EMPLOYEE_BINS                         1913
WAGE_BINS                             1913
EMPLOYER_REGIONS                      1913
CASE_RECEIVED_DATE_MONTH              1913
FOREIGN_WORKER_INFO_EDUCATION         1913
CLASS_OF_ADMISSION                    1913
DAY_BINS                              1913
CLASS_OF_ADMISSION_CODE               1913
FOREIGN_WORKER_INFO_EDUCATION_CODE    1913
WAGE_BINS_CODE                        1913
EMPLOYER_REGIONS_CODE                 1913
DAY_BINS_CODE                         1913
EMPLOYEE_BINS_CODE                    1913
dtype: int64

In [41]:
data7 = data6[[
    'CASE_STATUS',
    'EMPLOYEE_BINS_CODE',
    'WAGE_BINS_CODE',
    'DAY_BINS_CODE',
    'FOREIGN_WORKER_INFO_EDUCATION_CODE',
    'CLASS_OF_ADMISSION_CODE',
    'CASE_RECEIVED_DATE_MONTH',
    'EMPLOYER_REGIONS_CODE'
]]

In [42]:
data7.head()

,CASE_STATUS,EMPLOYEE_BINS_CODE,WAGE_BINS_CODE,DAY_BINS_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,CLASS_OF_ADMISSION_CODE,CASE_RECEIVED_DATE_MONTH,EMPLOYER_REGIONS_CODE
22,Certified,0,1,2,4,7,12.0,4
253,Certified,1,1,2,4,7,6.0,4
278,Certified,1,1,2,4,7,5.0,3
314,Certified,4,1,3,4,7,12.0,1
354,Certified,5,2,2,1,16,12.0,3

In [43]:
data7.dtypes

CASE_STATUS                            object
EMPLOYEE_BINS_CODE                      int64
WAGE_BINS_CODE                          int64
DAY_BINS_CODE                           int64
FOREIGN_WORKER_INFO_EDUCATION_CODE      int64
CLASS_OF_ADMISSION_CODE                 int64
CASE_RECEIVED_DATE_MONTH              float64
EMPLOYER_REGIONS_CODE                   int64
dtype: object

In [44]:
X = data7.drop("CASE_STATUS", axis=1)
y = data7["CASE_STATUS"]
print(X.shape, y.shape)

(1913, 7) (1913,)

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [46]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42, stratify=y)

In [47]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [48]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [49]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [50]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [51]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=7))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

WARNING:tensorflow:From /anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [52]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [53]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=500,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From /anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/500
 - 1s - loss: 0.3096 - acc: 0.9254
Epoch 2/500
 - 0s - loss: 0.2601 - acc: 0.9254
Epoch 3/500
 - 0s - loss: 0.2481 - acc: 0.9254
Epoch 4/500
 - 0s - loss: 0.2403 - acc: 0.9254
Epoch 5/500
 - 0s - loss: 0.2352 - acc: 0.9254
Epoch 6/500
 - 0s - loss: 0.2318 - acc: 0.9254
Epoch 7/500
 - 0s - loss: 0.2271 - acc: 0.9254
Epoch 8/500
 - 0s - loss: 0.2225 - acc: 0.9254
Epoch 9/500
 - 0s - loss: 0.2204 - acc: 0.9254
Epoch 10/500
 - 0s - loss: 0.2144 - acc: 0.9254
Epoch 11/500
 - 0s - loss: 0.2128 - acc: 0.9254
Epoch 12/500
 - 0s - loss: 0.2081 - acc: 0.9254
Epoch 13/500
 - 0s - loss: 0.2056 - acc: 0.9254
Epoch 14/500
 - 0s - loss: 0.2011 - acc: 0.9261
Epoch 15/500
 - 0s - loss: 0.2014 - acc: 0.9282
Epoch 16/500
 - 0s - loss: 0.1962 - acc: 0.9275
Epoch 17/500
 - 0s - loss: 0.1974 - acc: 0.9261
Epoch 18/500
 - 0s - loss: 0.1927 - acc: 0.9261
Epoch 19/500
 - 0s - loss: 0.1902 - acc: 0.9282
Epoch 20/500
 - 0s - loss: 0.1886 - acc: 0.9282
Epoch 21/500
 - 0s - loss: 0.1888 - acc: 0.9303
Epoch 22/500
 - 0s - loss: 0.1869 - acc: 0.9303
Epoch 23/500
 - 0s - loss: 0.1829 - acc: 0.9296
Epoch 24/500
 - 0s - loss: 0.1818 - acc: 0.9296
Epoch 25/500
 - 0s - loss: 0.1781 - acc: 0.9303
Epoch 26/500
 - 0s - loss: 0.1785 - acc: 0.9303
Epoch 27/500
 - 0s - loss: 0.1758 - acc: 0.9303
Epoch 28/500
 - 0s - loss: 0.1740 - acc: 0.9338
Epoch 29/500
 - 0s - loss: 0.1706 - acc: 0.9310
Epoch 30/500
 - 0s - loss: 0.1708 - acc: 0.9317
Epoch 31/500
 - 0s - loss: 0.1666 - acc: 0.9338
Epoch 32/500
 - 0s - loss: 0.1677 - acc: 0.9358
Epoch 33/500
 - 0s - loss: 0.1660 - acc: 0.9331
Epoch 34/500
 - 0s - loss: 0.1657 - acc: 0.9358
Epoch 35/500
 - 0s - loss: 0.1629 - acc: 0.9379
Epoch 36/500
 - 0s - loss: 0.1626 - acc: 0.9358
Epoch 37/500
 - 0s - loss: 0.1599 - acc: 0.9358
Epoch 38/500
 - 0s - loss: 0.1615 - acc: 0.9386
Epoch 39/500
 - 0s - loss: 0.1569 - acc: 0.9344
Epoch 40/500
 - 0s - loss: 0.1549 - acc: 0.9407
Epoch 41/500
 - 0s - loss: 0.1534 - acc: 0.9414
Epoch 42/500
 - 0s - loss: 0.1555 - acc: 0.9338
Epoch 43/500
 - 0s - loss: 0.1528 - acc: 0.9386
Epoch 44/500
 - 0s - loss: 0.1508 - acc: 0.9414
Epoch 45/500
 - 0s - loss: 0.1508 - acc: 0.9372
Epoch 46/500
 - 0s - loss: 0.1454 - acc: 0.9414
Epoch 47/500
 - 0s - loss: 0.1482 - acc: 0.9407
Epoch 48/500
 - 0s - loss: 0.1513 - acc: 0.9386
Epoch 49/500
 - 0s - loss: 0.1464 - acc: 0.9372
Epoch 50/500
 - 0s - loss: 0.1522 - acc: 0.9386
Epoch 51/500
 - 0s - loss: 0.1442 - acc: 0.9407
Epoch 52/500
 - 0s - loss: 0.1416 - acc: 0.9435
Epoch 53/500
 - 0s - loss: 0.1452 - acc: 0.9428
Epoch 54/500
 - 0s - loss: 0.1399 - acc: 0.9421
Epoch 55/500
 - 0s - loss: 0.1437 - acc: 0.9379
Epoch 56/500
 - 0s - loss: 0.1395 - acc: 0.9400
Epoch 57/500
 - 0s - loss: 0.1388 - acc: 0.9414
Epoch 58/500
 - 0s - loss: 0.1385 - acc: 0.9463
Epoch 59/500
 - 0s - loss: 0.1380 - acc: 0.9414
Epoch 60/500
 - 0s - loss: 0.1332 - acc: 0.9449
Epoch 61/500
 - 0s - loss: 0.1315 - acc: 0.9463
Epoch 62/500
 - 0s - loss: 0.1411 - acc: 0.9421
Epoch 63/500
 - 0s - loss: 0.1336 - acc: 0.9442
Epoch 64/500
 - 0s - loss: 0.1328 - acc: 0.9407
Epoch 65/500
 - 0s - loss: 0.1365 - acc: 0.9421
Epoch 66/500
 - 0s - loss: 0.1303 - acc: 0.9456
Epoch 67/500
 - 0s - loss: 0.1302 - acc: 0.9421
Epoch 68/500
 - 0s - loss: 0.1310 - acc: 0.9442
Epoch 69/500
 - 0s - loss: 0.1276 - acc: 0.9463
Epoch 70/500
 - 0s - loss: 0.1267 - acc: 0.9456
Epoch 71/500
 - 0s - loss: 0.1304 - acc: 0.9421
Epoch 72/500
 - 0s - loss: 0.1271 - acc: 0.9463
Epoch 73/500
 - 0s - loss: 0.1269 - acc: 0.9491
Epoch 74/500
 - 0s - loss: 0.1253 - acc: 0.9463
Epoch 75/500
 - 0s - loss: 0.1206 - acc: 0.9505
Epoch 76/500
 - 0s - loss: 0.1255 - acc: 0.9449
Epoch 77/500
 - 0s - loss: 0.1260 - acc: 0.9456
Epoch 78/500
 - 0s - loss: 0.1299 - acc: 0.9470
Epoch 79/500
 - 0s - loss: 0.1221 - acc: 0.9498
Epoch 80/500
 - 0s - loss: 0.1213 - acc: 0.9484
Epoch 81/500
 - 0s - loss: 0.1200 - acc: 0.9491
Epoch 82/500
 - 0s - loss: 0.1232 - acc: 0.9456
Epoch 83/500
 - 0s - loss: 0.1208 - acc: 0.9477
Epoch 84/500
 - 0s - loss: 0.1197 - acc: 0.9484
Epoch 85/500
 - 0s - loss: 0.1183 - acc: 0.9456
Epoch 86/500
 - 0s - loss: 0.1166 - acc: 0.9505
Epoch 87/500
 - 0s - loss: 0.1206 - acc: 0.9519
Epoch 88/500
 - 0s - loss: 0.1154 - acc: 0.9484
Epoch 89/500
 - 0s - loss: 0.1174 - acc: 0.9477
Epoch 90/500
 - 0s - loss: 0.1167 - acc: 0.9505
Epoch 91/500
 - 0s - loss: 0.1151 - acc: 0.9477
Epoch 92/500
 - 0s - loss: 0.1132 - acc: 0.9540
Epoch 93/500
 - 0s - loss: 0.1191 - acc: 0.9484
Epoch 94/500
 - 0s - loss: 0.1151 - acc: 0.9477
Epoch 95/500
 - 0s - loss: 0.1131 - acc: 0.9491
Epoch 96/500
 - 0s - loss: 0.1110 - acc: 0.9505
Epoch 97/500
 - 0s - loss: 0.1135 - acc: 0.9512
Epoch 98/500
 - 0s - loss: 0.1125 - acc: 0.9526
Epoch 99/500
 - 0s - loss: 0.1094 - acc: 0.9498
Epoch 100/500
 - 0s - loss: 0.1086 - acc: 0.9498
Epoch 101/500
 - 0s - loss: 0.1153 - acc: 0.9491
Epoch 102/500
 - 0s - loss: 0.1058 - acc: 0.9547
Epoch 103/500
 - 0s - loss: 0.1091 - acc: 0.9540
Epoch 104/500
 - 0s - loss: 0.1098 - acc: 0.9533
Epoch 105/500
 - 0s - loss: 0.1051 - acc: 0.9575
Epoch 106/500
 - 0s - loss: 0.1048 - acc: 0.9596
Epoch 107/500
 - 0s - loss: 0.1033 - acc: 0.9568
Epoch 108/500
 - 0s - loss: 0.1057 - acc: 0.9561
Epoch 109/500
 - 0s - loss: 0.1056 - acc: 0.9540
Epoch 110/500
 - 0s - loss: 0.1016 - acc: 0.9582
Epoch 111/500
 - 0s - loss: 0.1022 - acc: 0.9575
Epoch 112/500
 - 0s - loss: 0.1001 - acc: 0.9575
Epoch 113/500
 - 0s - loss: 0.1012 - acc: 0.9582
Epoch 114/500
 - 0s - loss: 0.1018 - acc: 0.9512
Epoch 115/500
 - 0s - loss: 0.0999 - acc: 0.9616
Epoch 116/500
 - 0s - loss: 0.1013 - acc: 0.9561
Epoch 117/500
 - 0s - loss: 0.0983 - acc: 0.9575
Epoch 118/500
 - 0s - loss: 0.0993 - acc: 0.9575
Epoch 119/500
 - 0s - loss: 0.1081 - acc: 0.9512
Epoch 120/500
 - 0s - loss: 0.0986 - acc: 0.9575
Epoch 121/500
 - 0s - loss: 0.0974 - acc: 0.9609
Epoch 122/500
 - 0s - loss: 0.0942 - acc: 0.9603
Epoch 123/500
 - 0s - loss: 0.0946 - acc: 0.9609
Epoch 124/500
 - 0s - loss: 0.0963 - acc: 0.9554
Epoch 125/500
 - 0s - loss: 0.0964 - acc: 0.9630
Epoch 126/500
 - 0s - loss: 0.0926 - acc: 0.9603
Epoch 127/500
 - 0s - loss: 0.0961 - acc: 0.9561
Epoch 128/500
 - 0s - loss: 0.0916 - acc: 0.9596
Epoch 129/500
 - 0s - loss: 0.0985 - acc: 0.9526
Epoch 130/500
 - 0s - loss: 0.0907 - acc: 0.9616
Epoch 131/500
 - 0s - loss: 0.0930 - acc: 0.9616
Epoch 132/500
 - 0s - loss: 0.0923 - acc: 0.9589
Epoch 133/500
 - 0s - loss: 0.0904 - acc: 0.9603
Epoch 134/500
 - 0s - loss: 0.0949 - acc: 0.9589
Epoch 135/500
 - 0s - loss: 0.0908 - acc: 0.9630
Epoch 136/500
 - 0s - loss: 0.0908 - acc: 0.9623
Epoch 137/500
 - 0s - loss: 0.0873 - acc: 0.9630
Epoch 138/500
 - 0s - loss: 0.0932 - acc: 0.9575
Epoch 139/500
 - 0s - loss: 0.0935 - acc: 0.9596
Epoch 140/500
 - 0s - loss: 0.0896 - acc: 0.9623
Epoch 141/500
 - 0s - loss: 0.0900 - acc: 0.9603
Epoch 142/500
 - 0s - loss: 0.0905 - acc: 0.9637
Epoch 143/500
 - 0s - loss: 0.0886 - acc: 0.9644
Epoch 144/500
 - 0s - loss: 0.0853 - acc: 0.9658
Epoch 145/500
 - 0s - loss: 0.0891 - acc: 0.9589
Epoch 146/500
 - 0s - loss: 0.0892 - acc: 0.9596
Epoch 147/500
 - 0s - loss: 0.0824 - acc: 0.9693
Epoch 148/500
 - 0s - loss: 0.0863 - acc: 0.9644
Epoch 149/500
 - 0s - loss: 0.0829 - acc: 0.9658
Epoch 150/500
 - 0s - loss: 0.0856 - acc: 0.9651
Epoch 151/500
 - 0s - loss: 0.0833 - acc: 0.9637
Epoch 152/500
 - 0s - loss: 0.0800 - acc: 0.9686
Epoch 153/500
 - 0s - loss: 0.0832 - acc: 0.9616
Epoch 154/500
 - 0s - loss: 0.0822 - acc: 0.9651
Epoch 155/500
 - 0s - loss: 0.0803 - acc: 0.9693
Epoch 156/500
 - 0s - loss: 0.0790 - acc: 0.9658
Epoch 157/500
 - 0s - loss: 0.0807 - acc: 0.9637
Epoch 158/500
 - 0s - loss: 0.0781 - acc: 0.9665
Epoch 159/500
 - 0s - loss: 0.0798 - acc: 0.9679
Epoch 160/500
 - 0s - loss: 0.0801 - acc: 0.9693
Epoch 161/500
 - 0s - loss: 0.0794 - acc: 0.9658
Epoch 162/500
 - 0s - loss: 0.0795 - acc: 0.9672
Epoch 163/500
 - 0s - loss: 0.0827 - acc: 0.9637
Epoch 164/500
 - 0s - loss: 0.0782 - acc: 0.9693

Epoch 165/500
 - 0s - loss: 0.0751 - acc: 0.9742
Epoch 166/500
 - 0s - loss: 0.0776 - acc: 0.9700
Epoch 167/500
 - 0s - loss: 0.0773 - acc: 0.9679
Epoch 168/500
 - 0s - loss: 0.0728 - acc: 0.9735
Epoch 169/500
 - 0s - loss: 0.0768 - acc: 0.9651
Epoch 170/500
 - 0s - loss: 0.0933 - acc: 0.9603
Epoch 171/500
 - 0s - loss: 0.0837 - acc: 0.9623
Epoch 172/500
 - 0s - loss: 0.0728 - acc: 0.9707
Epoch 173/500
 - 0s - loss: 0.0732 - acc: 0.9714
Epoch 174/500
 - 0s - loss: 0.0703 - acc: 0.9756
Epoch 175/500
 - 0s - loss: 0.0716 - acc: 0.9714
Epoch 176/500
 - 0s - loss: 0.0728 - acc: 0.9721
Epoch 177/500
 - 0s - loss: 0.0713 - acc: 0.9714
Epoch 178/500
 - 0s - loss: 0.0720 - acc: 0.9728
Epoch 179/500
 - 0s - loss: 0.0753 - acc: 0.9707
Epoch 180/500
 - 0s - loss: 0.0697 - acc: 0.9749
Epoch 181/500
 - 0s - loss: 0.0692 - acc: 0.9714
Epoch 182/500
 - 0s - loss: 0.0736 - acc: 0.9721
Epoch 183/500
 - 0s - loss: 0.0721 - acc: 0.9735
Epoch 184/500
 - 0s - loss: 0.0668 - acc: 0.9756
Epoch 185/500
 - 0s - loss: 0.0673 - acc: 0.9756
Epoch 186/500
 - 0s - loss: 0.0663 - acc: 0.9763
Epoch 187/500
 - 0s - loss: 0.0748 - acc: 0.9665
Epoch 188/500
 - 0s - loss: 0.0668 - acc: 0.9756
Epoch 189/500
 - 0s - loss: 0.0790 - acc: 0.9679
Epoch 190/500
 - 0s - loss: 0.0691 - acc: 0.9735
Epoch 191/500
 - 0s - loss: 0.0698 - acc: 0.9721
Epoch 192/500
 - 0s - loss: 0.0758 - acc: 0.9679
Epoch 193/500
 - 0s - loss: 0.0692 - acc: 0.9721
Epoch 194/500
 - 0s - loss: 0.0700 - acc: 0.9721
Epoch 195/500
 - 0s - loss: 0.0661 - acc: 0.9700
Epoch 196/500
 - 0s - loss: 0.0681 - acc: 0.9735
Epoch 197/500
 - 0s - loss: 0.0675 - acc: 0.9742
Epoch 198/500
 - 0s - loss: 0.0640 - acc: 0.9756
Epoch 199/500
 - 0s - loss: 0.0623 - acc: 0.9749
Epoch 200/500
 - 0s - loss: 0.0622 - acc: 0.9763
Epoch 201/500
 - 0s - loss: 0.0597 - acc: 0.9798
Epoch 202/500
 - 0s - loss: 0.0597 - acc: 0.9812
Epoch 203/500
 - 0s - loss: 0.0615 - acc: 0.9798
Epoch 204/500
 - 0s - loss: 0.0604 - acc: 0.9840
Epoch 205/500
 - 0s - loss: 0.0588 - acc: 0.9805
Epoch 206/500
 - 0s - loss: 0.0614 - acc: 0.9777
Epoch 207/500
 - 0s - loss: 0.0591 - acc: 0.9756
Epoch 208/500
 - 0s - loss: 0.0610 - acc: 0.9798
Epoch 209/500
 - 0s - loss: 0.0646 - acc: 0.9756
Epoch 210/500
 - 0s - loss: 0.0593 - acc: 0.9805
Epoch 211/500
 - 0s - loss: 0.0575 - acc: 0.9805
Epoch 212/500
 - 0s - loss: 0.0579 - acc: 0.9812
Epoch 213/500
 - 0s - loss: 0.0583 - acc: 0.9756
Epoch 214/500
 - 0s - loss: 0.0684 - acc: 0.9784
Epoch 215/500
 - 0s - loss: 0.0684 - acc: 0.9728
Epoch 216/500
 - 0s - loss: 0.0617 - acc: 0.9763
Epoch 217/500
 - 0s - loss: 0.0553 - acc: 0.9812
Epoch 218/500
 - 0s - loss: 0.0558 - acc: 0.9805
Epoch 219/500
 - 0s - loss: 0.0592 - acc: 0.9770
Epoch 220/500
 - 0s - loss: 0.0593 - acc: 0.9742
Epoch 221/500
 - 0s - loss: 0.0584 - acc: 0.9791
Epoch 222/500
 - 0s - loss: 0.0594 - acc: 0.9777
Epoch 223/500
 - 0s - loss: 0.0564 - acc: 0.9805
Epoch 224/500
 - 0s - loss: 0.0559 - acc: 0.9819
Epoch 225/500
 - 0s - loss: 0.0547 - acc: 0.9819
Epoch 226/500
 - 0s - loss: 0.0542 - acc: 0.9798
Epoch 227/500
 - 0s - loss: 0.0561 - acc: 0.9784
Epoch 228/500
 - 0s - loss: 0.0535 - acc: 0.9791
Epoch 229/500
 - 0s - loss: 0.0517 - acc: 0.9805
Epoch 230/500
 - 0s - loss: 0.0568 - acc: 0.9798
Epoch 231/500
 - 0s - loss: 0.0560 - acc: 0.9784
Epoch 232/500
 - 0s - loss: 0.0552 - acc: 0.9812
Epoch 233/500
 - 0s - loss: 0.0607 - acc: 0.9784
Epoch 234/500
 - 0s - loss: 0.0541 - acc: 0.9819
Epoch 235/500
 - 0s - loss: 0.0589 - acc: 0.9763
Epoch 236/500
 - 0s - loss: 0.0532 - acc: 0.9805
Epoch 237/500
 - 0s - loss: 0.0522 - acc: 0.9819
Epoch 238/500
 - 0s - loss: 0.0522 - acc: 0.9805
Epoch 239/500
 - 0s - loss: 0.0519 - acc: 0.9819
Epoch 240/500
 - 0s - loss: 0.0544 - acc: 0.9833
Epoch 241/500
 - 0s - loss: 0.0506 - acc: 0.9819
Epoch 242/500
 - 0s - loss: 0.0588 - acc: 0.9777
Epoch 243/500
 - 0s - loss: 0.0483 - acc: 0.9833
Epoch 244/500
 - 0s - loss: 0.0506 - acc: 0.9854
Epoch 245/500
 - 0s - loss: 0.0486 - acc: 0.9812
Epoch 246/500
 - 0s - loss: 0.0483 - acc: 0.9819
Epoch 247/500
 - 0s - loss: 0.0569 - acc: 0.9749
Epoch 248/500
 - 0s - loss: 0.0486 - acc: 0.9840
Epoch 249/500
 - 0s - loss: 0.0465 - acc: 0.9874
Epoch 250/500
 - 0s - loss: 0.0486 - acc: 0.9826
Epoch 251/500
 - 0s - loss: 0.0444 - acc: 0.9881
Epoch 252/500
 - 0s - loss: 0.0441 - acc: 0.9840
Epoch 253/500
 - 0s - loss: 0.0464 - acc: 0.9819
Epoch 254/500
 - 0s - loss: 0.0454 - acc: 0.9868
Epoch 255/500
 - 0s - loss: 0.0441 - acc: 0.9881
Epoch 256/500
 - 0s - loss: 0.0466 - acc: 0.9847
Epoch 257/500
 - 0s - loss: 0.0474 - acc: 0.9784
Epoch 258/500
 - 0s - loss: 0.0449 - acc: 0.9840
Epoch 259/500
 - 0s - loss: 0.0428 - acc: 0.9881
Epoch 260/500
 - 0s - loss: 0.0480 - acc: 0.9833
Epoch 261/500
 - 0s - loss: 0.0466 - acc: 0.9833
Epoch 262/500
 - 0s - loss: 0.0495 - acc: 0.9812
Epoch 263/500
 - 0s - loss: 0.0498 - acc: 0.9805
Epoch 264/500
 - 0s - loss: 0.0515 - acc: 0.9833
Epoch 265/500
 - 0s - loss: 0.0452 - acc: 0.9868
Epoch 266/500
 - 0s - loss: 0.0433 - acc: 0.9868
Epoch 267/500
 - 0s - loss: 0.0452 - acc: 0.9812
Epoch 268/500
 - 0s - loss: 0.0430 - acc: 0.9847
Epoch 269/500
 - 0s - loss: 0.0431 - acc: 0.9868
Epoch 270/500
 - 0s - loss: 0.0403 - acc: 0.9874
Epoch 271/500
 - 0s - loss: 0.0434 - acc: 0.9840
Epoch 272/500
 - 0s - loss: 0.0453 - acc: 0.9847
Epoch 273/500
 - 0s - loss: 0.0480 - acc: 0.9826
Epoch 274/500
 - 0s - loss: 0.0404 - acc: 0.9868
Epoch 275/500
 - 0s - loss: 0.0397 - acc: 0.9847
Epoch 276/500
 - 0s - loss: 0.0411 - acc: 0.9861
Epoch 277/500
 - 0s - loss: 0.0394 - acc: 0.9861
Epoch 278/500
 - 0s - loss: 0.0375 - acc: 0.9902
Epoch 279/500
 - 0s - loss: 0.0406 - acc: 0.9874
Epoch 280/500
 - 0s - loss: 0.0401 - acc: 0.9874
Epoch 281/500
 - 0s - loss: 0.0432 - acc: 0.9840
Epoch 282/500
 - 0s - loss: 0.0405 - acc: 0.9847
Epoch 283/500
 - 0s - loss: 0.0411 - acc: 0.9854
Epoch 284/500
 - 0s - loss: 0.0475 - acc: 0.9833
Epoch 285/500
 - 0s - loss: 0.0386 - acc: 0.9895
Epoch 286/500
 - 0s - loss: 0.0407 - acc: 0.9881
Epoch 287/500
 - 0s - loss: 0.0425 - acc: 0.9861
Epoch 288/500
 - 0s - loss: 0.0390 - acc: 0.9868
Epoch 289/500
 - 0s - loss: 0.0401 - acc: 0.9888
Epoch 290/500
 - 0s - loss: 0.0432 - acc: 0.9854
Epoch 291/500
 - 0s - loss: 0.0409 - acc: 0.9847
Epoch 292/500
 - 0s - loss: 0.0417 - acc: 0.9854
Epoch 293/500
 - 0s - loss: 0.0367 - acc: 0.9909
Epoch 294/500
 - 0s - loss: 0.0413 - acc: 0.9881
Epoch 295/500
 - 0s - loss: 0.0355 - acc: 0.9888
Epoch 296/500
 - 0s - loss: 0.0345 - acc: 0.9902
Epoch 297/500
 - 0s - loss: 0.0354 - acc: 0.9881
Epoch 298/500
 - 0s - loss: 0.0364 - acc: 0.9895
Epoch 299/500
 - 0s - loss: 0.0411 - acc: 0.9874
Epoch 300/500
 - 0s - loss: 0.0401 - acc: 0.9861
Epoch 301/500
 - 0s - loss: 0.0354 - acc: 0.9868
Epoch 302/500
 - 0s - loss: 0.0365 - acc: 0.9868
Epoch 303/500
 - 0s - loss: 0.0382 - acc: 0.9868
Epoch 304/500
 - 0s - loss: 0.0408 - acc: 0.9868
Epoch 305/500
 - 0s - loss: 0.0386 - acc: 0.9874
Epoch 306/500
 - 0s - loss: 0.0347 - acc: 0.9888
Epoch 307/500
 - 0s - loss: 0.0361 - acc: 0.9888
Epoch 308/500
 - 0s - loss: 0.0330 - acc: 0.9881
Epoch 309/500
 - 0s - loss: 0.0364 - acc: 0.9895
Epoch 310/500
 - 0s - loss: 0.0340 - acc: 0.9902
Epoch 311/500
 - 0s - loss: 0.0330 - acc: 0.9888
Epoch 312/500
 - 0s - loss: 0.0334 - acc: 0.9881
Epoch 313/500
 - 0s - loss: 0.0407 - acc: 0.9854
Epoch 314/500
 - 0s - loss: 0.0378 - acc: 0.9861
Epoch 315/500
 - 0s - loss: 0.0358 - acc: 0.9881
Epoch 316/500
 - 0s - loss: 0.0389 - acc: 0.9874
Epoch 317/500
 - 0s - loss: 0.0388 - acc: 0.9868
Epoch 318/500
 - 0s - loss: 0.0389 - acc: 0.9861
Epoch 319/500
 - 0s - loss: 0.0369 - acc: 0.9881
Epoch 320/500
 - 0s - loss: 0.0409 - acc: 0.9840
Epoch 321/500
 - 0s - loss: 0.0359 - acc: 0.9888
Epoch 322/500
 - 0s - loss: 0.0353 - acc: 0.9895
Epoch 323/500
 - 0s - loss: 0.0306 - acc: 0.9916
Epoch 324/500
 - 0s - loss: 0.0339 - acc: 0.9902
Epoch 325/500
 - 0s - loss: 0.0400 - acc: 0.9833
Epoch 326/500
 - 0s - loss: 0.0367 - acc: 0.9874
Epoch 327/500
 - 0s - loss: 0.0354 - acc: 0.9881
Epoch 328/500
 - 0s - loss: 0.0361 - acc: 0.9881
Epoch 329/500
 - 0s - loss: 0.0323 - acc: 0.9895
Epoch 330/500
 - 0s - loss: 0.0384 - acc: 0.9868
Epoch 331/500
 - 0s - loss: 0.0359 - acc: 0.9881
Epoch 332/500

 - 0s - loss: 0.0325 - acc: 0.9895
Epoch 333/500
 - 0s - loss: 0.0348 - acc: 0.9854
Epoch 334/500
 - 0s - loss: 0.0354 - acc: 0.9854
Epoch 335/500
 - 0s - loss: 0.0336 - acc: 0.9895
Epoch 336/500
 - 0s - loss: 0.0310 - acc: 0.9888
Epoch 337/500
 - 0s - loss: 0.0383 - acc: 0.9868
Epoch 338/500
 - 0s - loss: 0.0313 - acc: 0.9881
Epoch 339/500
 - 0s - loss: 0.0322 - acc: 0.9916
Epoch 340/500
 - 0s - loss: 0.0339 - acc: 0.9874
Epoch 341/500
 - 0s - loss: 0.0336 - acc: 0.9888
Epoch 342/500
 - 0s - loss: 0.0314 - acc: 0.9916
Epoch 343/500
 - 0s - loss: 0.0295 - acc: 0.9909
Epoch 344/500
 - 0s - loss: 0.0328 - acc: 0.9881
Epoch 345/500
 - 0s - loss: 0.0328 - acc: 0.9888
Epoch 346/500
 - 0s - loss: 0.0305 - acc: 0.9916
Epoch 347/500
 - 0s - loss: 0.0321 - acc: 0.9881
Epoch 348/500
 - 0s - loss: 0.0266 - acc: 0.9930
Epoch 349/500
 - 0s - loss: 0.0283 - acc: 0.9930
Epoch 350/500
 - 0s - loss: 0.0268 - acc: 0.9930
Epoch 351/500
 - 0s - loss: 0.0330 - acc: 0.9888
Epoch 352/500
 - 0s - loss: 0.0318 - acc: 0.9888
Epoch 353/500
 - 0s - loss: 0.0265 - acc: 0.9895
Epoch 354/500
 - 0s - loss: 0.0302 - acc: 0.9902
Epoch 355/500
 - 0s - loss: 0.0287 - acc: 0.9909
Epoch 356/500
 - 0s - loss: 0.0322 - acc: 0.9881
Epoch 357/500
 - 0s - loss: 0.0376 - acc: 0.9861
Epoch 358/500
 - 0s - loss: 0.0304 - acc: 0.9895
Epoch 359/500
 - 0s - loss: 0.0288 - acc: 0.9909
Epoch 360/500
 - 0s - loss: 0.0282 - acc: 0.9930
Epoch 361/500
 - 0s - loss: 0.0266 - acc: 0.9909
Epoch 362/500
 - 0s - loss: 0.0276 - acc: 0.9909
Epoch 363/500
 - 0s - loss: 0.0312 - acc: 0.9916
Epoch 364/500
 - 0s - loss: 0.0261 - acc: 0.9937
Epoch 365/500
 - 0s - loss: 0.0265 - acc: 0.9909
Epoch 366/500
 - 0s - loss: 0.0251 - acc: 0.9944
Epoch 367/500
 - 0s - loss: 0.0299 - acc: 0.9888
Epoch 368/500
 - 0s - loss: 0.0346 - acc: 0.9868
Epoch 369/500
 - 0s - loss: 0.0278 - acc: 0.9916
Epoch 370/500
 - 0s - loss: 0.0236 - acc: 0.9958
Epoch 371/500
 - 0s - loss: 0.0289 - acc: 0.9909
Epoch 372/500
 - 0s - loss: 0.0289 - acc: 0.9909
Epoch 373/500
 - 0s - loss: 0.0301 - acc: 0.9930
Epoch 374/500
 - 0s - loss: 0.0303 - acc: 0.9888
Epoch 375/500
 - 0s - loss: 0.0352 - acc: 0.9874
Epoch 376/500
 - 0s - loss: 0.0279 - acc: 0.9916
Epoch 377/500
 - 0s - loss: 0.0242 - acc: 0.9944
Epoch 378/500
 - 0s - loss: 0.0292 - acc: 0.9916
Epoch 379/500
 - 0s - loss: 0.0250 - acc: 0.9916
Epoch 380/500
 - 0s - loss: 0.0245 - acc: 0.9916
Epoch 381/500
 - 0s - loss: 0.0280 - acc: 0.9923
Epoch 382/500
 - 0s - loss: 0.0245 - acc: 0.9930
Epoch 383/500
 - 0s - loss: 0.0254 - acc: 0.9916
Epoch 384/500
 - 0s - loss: 0.0245 - acc: 0.9930
Epoch 385/500
 - 0s - loss: 0.0338 - acc: 0.9902
Epoch 386/500
 - 0s - loss: 0.0245 - acc: 0.9923
Epoch 387/500
 - 0s - loss: 0.0261 - acc: 0.9916
Epoch 388/500
 - 0s - loss: 0.0242 - acc: 0.9923
Epoch 389/500
 - 0s - loss: 0.0265 - acc: 0.9916
Epoch 390/500
 - 0s - loss: 0.0247 - acc: 0.9902
Epoch 391/500
 - 0s - loss: 0.0253 - acc: 0.9937
Epoch 392/500
 - 0s - loss: 0.0342 - acc: 0.9874
Epoch 393/500
 - 0s - loss: 0.0313 - acc: 0.9881
Epoch 394/500
 - 0s - loss: 0.0322 - acc: 0.9881
Epoch 395/500
 - 0s - loss: 0.0281 - acc: 0.9895
Epoch 396/500
 - 0s - loss: 0.0317 - acc: 0.9895
Epoch 397/500
 - 0s - loss: 0.0227 - acc: 0.9923
Epoch 398/500
 - 0s - loss: 0.0242 - acc: 0.9923
Epoch 399/500
 - 0s - loss: 0.0233 - acc: 0.9951
Epoch 400/500
 - 0s - loss: 0.0264 - acc: 0.9937
Epoch 401/500
 - 0s - loss: 0.0223 - acc: 0.9916
Epoch 402/500
 - 0s - loss: 0.0241 - acc: 0.9923
Epoch 403/500
 - 0s - loss: 0.0226 - acc: 0.9916
Epoch 404/500
 - 0s - loss: 0.0265 - acc: 0.9916
Epoch 405/500
 - 0s - loss: 0.0233 - acc: 0.9923
Epoch 406/500
 - 0s - loss: 0.0232 - acc: 0.9930
Epoch 407/500
 - 0s - loss: 0.0286 - acc: 0.9902
Epoch 408/500
 - 0s - loss: 0.0226 - acc: 0.9916
Epoch 409/500
 - 0s - loss: 0.0250 - acc: 0.9902
Epoch 410/500
 - 0s - loss: 0.0248 - acc: 0.9902
Epoch 411/500
 - 0s - loss: 0.0300 - acc: 0.9868
Epoch 412/500
 - 0s - loss: 0.0239 - acc: 0.9930
Epoch 413/500
 - 0s - loss: 0.0206 - acc: 0.9930
Epoch 414/500
 - 0s - loss: 0.0211 - acc: 0.9958
Epoch 415/500
 - 0s - loss: 0.0235 - acc: 0.9930
Epoch 416/500
 - 0s - loss: 0.0236 - acc: 0.9930
Epoch 417/500
 - 0s - loss: 0.0251 - acc: 0.9909
Epoch 418/500
 - 0s - loss: 0.0225 - acc: 0.9930
Epoch 419/500
 - 0s - loss: 0.0245 - acc: 0.9937
Epoch 420/500
 - 0s - loss: 0.0303 - acc: 0.9895
Epoch 421/500
 - 0s - loss: 0.0360 - acc: 0.9868
Epoch 422/500
 - 0s - loss: 0.0226 - acc: 0.9923
Epoch 423/500
 - 0s - loss: 0.0234 - acc: 0.9895
Epoch 424/500
 - 0s - loss: 0.0214 - acc: 0.9916
Epoch 425/500
 - 0s - loss: 0.0275 - acc: 0.9902
Epoch 426/500
 - 0s - loss: 0.0234 - acc: 0.9909
Epoch 427/500
 - 0s - loss: 0.0214 - acc: 0.9909
Epoch 428/500
 - 0s - loss: 0.0237 - acc: 0.9895
Epoch 429/500
 - 0s - loss: 0.0219 - acc: 0.9923
Epoch 430/500
 - 0s - loss: 0.0244 - acc: 0.9909
Epoch 431/500
 - 0s - loss: 0.0224 - acc: 0.9930
Epoch 432/500
 - 0s - loss: 0.0201 - acc: 0.9944
Epoch 433/500
 - 0s - loss: 0.0210 - acc: 0.9923
Epoch 434/500
 - 0s - loss: 0.0253 - acc: 0.9902
Epoch 435/500
 - 0s - loss: 0.0276 - acc: 0.9902
Epoch 436/500
 - 0s - loss: 0.0272 - acc: 0.9895
Epoch 437/500
 - 0s - loss: 0.0240 - acc: 0.9923
Epoch 438/500
 - 0s - loss: 0.0264 - acc: 0.9902
Epoch 439/500
 - 0s - loss: 0.0238 - acc: 0.9916
Epoch 440/500
 - 0s - loss: 0.0219 - acc: 0.9937
Epoch 441/500
 - 0s - loss: 0.0240 - acc: 0.9923
Epoch 442/500
 - 0s - loss: 0.0257 - acc: 0.9902
Epoch 443/500
 - 0s - loss: 0.0332 - acc: 0.9895
Epoch 444/500
 - 0s - loss: 0.0263 - acc: 0.9916
Epoch 445/500
 - 0s - loss: 0.0244 - acc: 0.9895
Epoch 446/500
 - 0s - loss: 0.0200 - acc: 0.9923
Epoch 447/500
 - 0s - loss: 0.0225 - acc: 0.9930
Epoch 448/500
 - 0s - loss: 0.0219 - acc: 0.9923
Epoch 449/500
 - 0s - loss: 0.0222 - acc: 0.9923
Epoch 450/500
 - 0s - loss: 0.0208 - acc: 0.9923
Epoch 451/500
 - 0s - loss: 0.0192 - acc: 0.9958
Epoch 452/500
 - 0s - loss: 0.0203 - acc: 0.9944
Epoch 453/500
 - 0s - loss: 0.0222 - acc: 0.9930
Epoch 454/500
 - 0s - loss: 0.0248 - acc: 0.9923
Epoch 455/500
 - 0s - loss: 0.0243 - acc: 0.9902
Epoch 456/500
 - 0s - loss: 0.0182 - acc: 0.9944
Epoch 457/500
 - 0s - loss: 0.0204 - acc: 0.9916
Epoch 458/500
 - 0s - loss: 0.0195 - acc: 0.9930
Epoch 459/500
 - 0s - loss: 0.0187 - acc: 0.9944
Epoch 460/500
 - 0s - loss: 0.0201 - acc: 0.9923
Epoch 461/500
 - 0s - loss: 0.0339 - acc: 0.9874
Epoch 462/500
 - 0s - loss: 0.0339 - acc: 0.9861
Epoch 463/500
 - 0s - loss: 0.0214 - acc: 0.9937
Epoch 464/500
 - 0s - loss: 0.0170 - acc: 0.9951
Epoch 465/500
 - 0s - loss: 0.0201 - acc: 0.9937
Epoch 466/500
 - 0s - loss: 0.0209 - acc: 0.9923
Epoch 467/500
 - 0s - loss: 0.0180 - acc: 0.9937
Epoch 468/500
 - 0s - loss: 0.0188 - acc: 0.9944
Epoch 469/500
 - 0s - loss: 0.0230 - acc: 0.9916
Epoch 470/500
 - 0s - loss: 0.0191 - acc: 0.9944
Epoch 471/500
 - 0s - loss: 0.0161 - acc: 0.9930
Epoch 472/500
 - 0s - loss: 0.0170 - acc: 0.9930
Epoch 473/500
 - 0s - loss: 0.0211 - acc: 0.9909
Epoch 474/500
 - 0s - loss: 0.0207 - acc: 0.9937
Epoch 475/500
 - 0s - loss: 0.0189 - acc: 0.9902
Epoch 476/500
 - 0s - loss: 0.0209 - acc: 0.9930
Epoch 477/500
 - 0s - loss: 0.0184 - acc: 0.9930
Epoch 478/500
 - 0s - loss: 0.0237 - acc: 0.9902
Epoch 479/500
 - 0s - loss: 0.0200 - acc: 0.9909
Epoch 480/500
 - 0s - loss: 0.0197 - acc: 0.9958
Epoch 481/500
 - 0s - loss: 0.0174 - acc: 0.9951
Epoch 482/500
 - 0s - loss: 0.0201 - acc: 0.9930
Epoch 483/500
 - 0s - loss: 0.0201 - acc: 0.9923
Epoch 484/500
 - 0s - loss: 0.0183 - acc: 0.9937
Epoch 485/500
 - 0s - loss: 0.0216 - acc: 0.9930
Epoch 486/500
 - 0s - loss: 0.0284 - acc: 0.9895
Epoch 487/500
 - 0s - loss: 0.0303 - acc: 0.9902
Epoch 488/500
 - 0s - loss: 0.0243 - acc: 0.9909
Epoch 489/500
 - 0s - loss: 0.0180 - acc: 0.9923
Epoch 490/500
 - 0s - loss: 0.0168 - acc: 0.9937
Epoch 491/500
 - 0s - loss: 0.0185 - acc: 0.9951
Epoch 492/500
 - 0s - loss: 0.0171 - acc: 0.9937
Epoch 493/500
 - 0s - loss: 0.0222 - acc: 0.9923
Epoch 494/500
 - 0s - loss: 0.0218 - acc: 0.9923
Epoch 495/500
 - 0s - loss: 0.0171 - acc: 0.9958
Epoch 496/500
 - 0s - loss: 0.0187 - acc: 0.9937
Epoch 497/500
 - 0s - loss: 0.0301 - acc: 0.9902
Epoch 498/500
 - 0s - loss: 0.0214 - acc: 0.9923
Epoch 499/500
 - 0s - loss: 0.0206 - acc: 0.9930

Epoch 500/500
 - 0s - loss: 0.0180 - acc: 0.9951

In [54]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 0.6524 - acc: 0.8956
Normal Neural Network - Loss: 0.6523801461639882, Accuracy: 0.8956158757209778

In [55]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [56]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['Certified' 'Certified' 'Denied' 'Certified' 'Certified' 'Certified'
 'Certified' 'Certified' 'Certified' 'Certified']
Actual Labels: ['Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified']