In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Resources/certified_denied.csv')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,NaN,25,A-14246-03533,2015-06-22,Certified,2014-12-19,185,0.506849,"CITRIX SYSTEMS, INC.",FORT LAUDERDALE,...,1973-03-30 00:00:00,CHINA,CHINA,H-1B,Master's,NaN,2015,6,2014.0,12.0
1,NaN,28,A-14198-89806,2015-04-06,Certified,2014-07-18,262,0.717808,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,...,75063,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2014.0,7.0
2,NaN,35,A-14222-96825,2015-06-24,Certified,2014-12-11,195,0.534247,SAT SOLUTIONS LLC,MONROE,...,75001,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,6,2014.0,12.0
3,NaN,61,A-13216-85505,2015-05-29,Certified,2013-08-05,662,1.813699,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,210001,CHINA,CHINA,NaN,Associate's,NaN,2015,5,2013.0,8.0
4,NaN,63,A-13179-76467,2015-04-20,Certified,2013-06-28,661,1.810959,FARROKH ERFAN,GAITHERSBURG,...,NaN,IRAN,IRAN,NaN,Bachelor's,NaN,2015,4,2013.0,6.0

In [4]:
data2 = data.loc[data['COUNTRY_OF_CITIZENSHIP'] == 'PHILIPPINES']

In [5]:
data2['COUNTRY_OF_CITIZENSHIP'].value_counts()

PHILIPPINES    4402
Name: COUNTRY_OF_CITIZENSHIP, dtype: int64

In [6]:
data3 = data2.loc[data2['WAGE_OFFER_UNIT_OF_PAY_9089'] == 'Year']

In [7]:
data3['WAGE_OFFER_UNIT_OF_PAY_9089'].value_counts()

Year    3805
Name: WAGE_OFFER_UNIT_OF_PAY_9089, dtype: int64

In [8]:
data3.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'CASE_NUMBER', 'DECISION_DATE',
       'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_ELAPSED_DAYS',
       'DECISION_ELAPSED_YEARS', 'EMPLOYER_NAME', 'EMPLOYER_CITY',
       'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_NUM_EMPLOYEES',
       'AGENT_FIRM_NAME', 'AGENT_CITY', 'AGENT_STATE', 'PW_SOC_CODE',
       'PW_SOC_TITLE', 'PW_AMOUNT_9089', 'WAGE_OFFER_FROM_9089',
       'WAGE_OFFER_UNIT_OF_PAY_9089', 'JOB_INFO_WORK_CITY',
       'JOB_INFO_WORK_STATE', 'JOB_INFO_WORK_POSTAL_CODE',
       'JOB_INFO_JOB_TITLE', 'JOB_INFO_EDUCATION', 'JOB_INFO_EDUCATION_OTHER',
       'FOREIGN_WORKER_INFO_CITY', 'FOREIGN_WORKER_INFO_STATE',
       'FW_INFO_POSTAL_CODE', 'COUNTRY_OF_CITIZENSHIP',
       'FW_INFO_BIRTH_COUNTRY', 'CLASS_OF_ADMISSION',
       'FOREIGN_WORKER_INFO_EDUCATION', 'FW_INFO_EDUCATION_OTHER',
       'DECISION_DATE_YEAR', 'DECISION_DATE_MONTH', 'CASE_RECEIVED_DATE_YEAR',
       'CASE_RECEIVED_DATE_MONTH'],
      dtype='object')

In [9]:
data4 = data3[[
    'CASE_STATUS',
    'DECISION_ELAPSED_DAYS',
    'EMPLOYER_POSTAL_CODE',
    'EMPLOYER_STATE',
    'EMPLOYER_NUM_EMPLOYEES',
    'WAGE_OFFER_FROM_9089',
    'COUNTRY_OF_CITIZENSHIP',
    'CLASS_OF_ADMISSION',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CASE_RECEIVED_DATE_MONTH'
]]

In [10]:
data4.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH
6,Certified,501,96931,GUAM,35.0,68869.0,PHILIPPINES,H-1B,Associate's,2.0
19,Certified,819,87313,NEW MEXICO,51.0,55500.0,PHILIPPINES,H-1B,Bachelor's,6.0
137,Certified,723,91326,CALIFORNIA,2.0,17867.0,PHILIPPINES,B-2,None,8.0
200,Certified,564,85607,ARIZONA,521.0,56000.0,PHILIPPINES,H-1B,Bachelor's,11.0
203,Certified,551,33619,FLORIDA,500.0,22298.0,PHILIPPINES,NaN,None,11.0

In [11]:
states = []

for row in data4['EMPLOYER_STATE']:
    if row == "ME":
        states.append("MAINE")
    elif row == "NH":
        states.append("NEW HAMPSHIRE")
    elif row == "VT":
        states.append("VERMONT")
    elif row == "MA":
        states.append("MASSACHUSETTS")
    elif row == "RI":
        states.append("RHODE ISLAND")
    elif row == "CT":
        states.append("CONNECTICUT")
    elif row == "NY":
        states.append("NEW YORK")
    elif row == "NJ":
        states.append("NEW JERSEY")
    elif row == "PA":
        states.append("PENNSYLVANIA")
    elif row == "DE":
        states.append("DELAWARE")
    elif row == "MD":
        states.append("MARYLAND")
    elif row == "DC":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VA":
        states.append("VIRGINIA")
    elif row == "WV":
        states.append("WEST VIRGINIA")
    elif row == "NC":
        states.append("NORTH CAROLINA")
    elif row == "SC":
        states.append("SOUTH CAROLINA")
    elif row == "GA":
        states.append("GEORGIA")
    elif row == "FL":
        states.append("FLORIDA")
    elif row == "AL":
        states.append("ALABAMA")
    elif row == "TN":
        states.append("TENNESSEE")
    elif row == "TENNESSE":
        states.append("TENNESSEE")
    elif row == "KY":
        states.append("KENTUCKY")
    elif row == "OH":
        states.append("OHIO")
    elif row == "MI":
        states.append("MICHIGAN")
    elif row == "IN":
        states.append("INDIANA")
    elif row == "MS":
        states.append("MISSISSIPPI")
    elif row == "IL":
        states.append("ILLINOIS")
    elif row == "WI":
        states.append("WISCONSIN")
    elif row == "MN":
        states.append("MINNESOTA")
    elif row == "IA":
        states.append("IOWA")
    elif row == "MO":
        states.append("MISSOURI")
    elif row == "AR":
        states.append("ARKANSAS")
    elif row == "LA":
        states.append("LOUISIANA")
    elif row == "ND":
        states.append("NORTH DAKOTA")
    elif row == "SD":
        states.append("SOUTH DAKOTA")
    elif row == "NE":
        states.append("NEBRASKA")
    elif row == "KS":
        states.append("KANSAS")
    elif row == "OK":
        states.append("OKLAHOMA")
    elif row == "TX":
        states.append("TEXAS")
    elif row == "MT":
        states.append("MONTANA")
    elif row == "WY":
        states.append("WYOMING")
    elif row == "CO":
        states.append("COLORADO")
    elif row == "NM":
        states.append("NEW MEXICO")
    elif row == "ID":
        states.append("IDAHO")
    elif row == "UT":
        states.append("UTAH")
    elif row == "AZ":
        states.append("ARIZONA")
    elif row == "WA":
        states.append("WASHINGTON")
    elif row == "OR":
        states.append("OREGON")
    elif row == "NV":
        states.append("NEVADA")
    elif row == "CA":
        states.append("CALIFORNIA")
    elif row == "AK":
        states.append("ALASKA")
    elif row == "HI":
        states.append("HAWAII")
    elif row == "PR":
        states.append("PUERTO RICO")
    elif row == "MP":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VI":
        states.append("VIRGIN ISLANDS")
    elif row == "GU":
        states.append("GUAM")
    else:
        states.append("UNKNOWN")
        
data4['EMPLOYER_STATES'] = states

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
data4['EMPLOYER_STATES'].value_counts()

UNKNOWN                     1141
CALIFORNIA                   737
NEW YORK                     210
MARYLAND                     164
TEXAS                        152
NEW JERSEY                   135
ILLINOIS                     134
NEW MEXICO                   118
ARIZONA                      109
VIRGINIA                      89
GUAM                          80
FLORIDA                       71
NORTHERN MARIANA ISLANDS      49
KENTUCKY                      43
GEORGIA                       41
WASHINGTON                    39
MICHIGAN                      36
WISCONSIN                     35
PENNSYLVANIA                  33
LOUISIANA                     28
INDIANA                       27
ALABAMA                       26
NORTH CAROLINA                24
KANSAS                        23
COLORADO                      21
CONNECTICUT                   19
DISTRICT OF COLUMBIA          19
MASSACHUSETTS                 17
NEVADA                        14
OHIO                          14
SOUTH CAROLINA                14
IOWA                          12
VIRGIN ISLANDS                10
DELAWARE                      10
MISSOURI                      10
MINNESOTA                     10
IDAHO                          9
MONTANA                        7
OKLAHOMA                       7
TENNESSEE                      7
RHODE ISLAND                   7
ALASKA                         6
UTAH                           6
NEBRASKA                       6
ARKANSAS                       5
HAWAII                         4
SOUTH DAKOTA                   4
NORTH DAKOTA                   4
MISSISSIPPI                    3
OREGON                         3
NEW HAMPSHIRE                  3
WEST VIRGINIA                  3
MAINE                          3
WYOMING                        2
VERMONT                        2
Name: EMPLOYER_STATES, dtype: int64

In [13]:
data4['ZIP_CODE'] = data4['EMPLOYER_POSTAL_CODE'].where(data4['EMPLOYER_POSTAL_CODE'].str.len() == 5)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
data5 = data4.dropna(how='any')

In [15]:
data5.to_excel('../Resources/ML_Philippines.xlsx', index = False)

In [16]:
data6 = pd.read_csv('../Resources/ML_Philippines.csv')

In [17]:
data6.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH,EMPLOYER_STATES,ZIP_CODE
0,Certified,262,99801,AK,546,74692.0,PHILIPPINES,H-1B,Bachelor's,8,ALASKA,99801
1,Certified,76,99801,AK,550,76981.0,PHILIPPINES,H-1B,Bachelor's,7,ALASKA,99801
2,Denied,404,99701,ALASKA,3557,71224.0,PHILIPPINES,H-1B,Master's,5,ALASKA,99701
3,Certified,82,99686,AK,22,26770.0,PHILIPPINES,J-1,Bachelor's,5,ALASKA,99686
4,Certified,83,99686,AK,22,29016.0,PHILIPPINES,J-1,Other,5,ALASKA,99686

In [18]:
states = []

for row in data6['EMPLOYER_STATES']:
    if row == "MAINE":
        states.append("NORTHEAST")
    elif row == "NEW HAMPSHIRE":
        states.append("NORTHEAST")
    elif row == "VERMONT":
        states.append("NORTHEAST")
    elif row == "MASSACHUSETTS":
        states.append("NORTHEAST")
    elif row == "RHODE ISLAND":
        states.append("NORTHEAST")
    elif row == "CONNECTICUT":
        states.append("NORTHEAST")
    elif row == "NEW YORK":
        states.append("NORTHEAST")
    elif row == "NEW JERSEY":
        states.append("NORTHEAST")
    elif row == "PENNSYLVANIA":
        states.append("NORTHEAST")
    elif row == "DELAWARE":
        states.append("SOUTH")
    elif row == "MARYLAND":
        states.append("SOUTH")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("SOUTH")
    elif row == "VIRGINIA":
        states.append("SOUTH")
    elif row == "WEST VIRGINIA":
        states.append("SOUTH")
    elif row == "NORTH CAROLINA":
        states.append("SOUTH")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH")
    elif row == "GEORGIA":
        states.append("SOUTH")
    elif row == "FLORIDA":
        states.append("SOUTH")
    elif row == "ALABAMA":
        states.append("SOUTH")
    elif row == "TENNESSE":
        states.append("SOUTH")
    elif row == "KENTUCKY":
        states.append("SOUTH")
    elif row == "OHIO":
        states.append("MIDWEST")
    elif row == "MICHIGAN":
        states.append("MIDWEST")
    elif row == "INDIANA":
        states.append("MIDWEST")
    elif row == "MISSISSIPPI":
        states.append("SOUTH")
    elif row == "ILLINOIS":
        states.append("MIDWEST")
    elif row == "WISCONSIN":
        states.append("MIDWEST")
    elif row == "MINNESOTA":
        states.append("MIDWEST")
    elif row == "IOWA":
        states.append("MIDWEST")
    elif row == "MISSOURI":
        states.append("MIDWEST")
    elif row == "ARKANSAS":
        states.append("SOUTH")
    elif row == "LOUISIANA":
        states.append("SOUTH")
    elif row == "NORTH DAKOTA":
        states.append("MIDWEST")
    elif row == "SOUTH DAKOTA":
        states.append("MIDWEST")
    elif row == "NEBRASKA":
        states.append("MIDWEST")
    elif row == "KANSAS":
        states.append("MIDWEST")
    elif row == "OKLAHOMA":
        states.append("SOUTH")
    elif row == "TEXAS":
        states.append("SOUTH")
    elif row == "MONTANA":
        states.append("WEST")
    elif row == "WYOMING":
        states.append("WEST")
    elif row == "COLORADO":
        states.append("WEST")
    elif row == "NEW MEXICO":
        states.append("WEST")
    elif row == "IDAHO":
        states.append("WEST")
    elif row == "UTAH":
        states.append("WEST")
    elif row == "ARIZONA":
        states.append("WEST")
    elif row == "WASHINGTON":
        states.append("WEST")
    elif row == "OREGON":
        states.append("WEST")
    elif row == "NEVADA":
        states.append("WEST")
    elif row == "CALIFORNIA":
        states.append("WEST")
    elif row == "ALASKA":
        states.append("WEST")
    elif row == "HAWAII":
        states.append("WEST")
    elif row == "PUERTO RICO":
        states.append("OTHER")
    elif row == "TENNESSEE":
        states.append("SOUTH")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("OTHER")
    elif row == "VIRGIN ISLANDS":
        states.append("OTHER")
    elif row == "GUAM":
        states.append("OTHER")
    else:
        states.append("UNKNOWN")
        
data6['EMPLOYER_REGIONS'] = states

In [19]:
data6['EMPLOYER_REGIONS'].value_counts()

WEST         1179
SOUTH        1028
NORTHEAST     520
MIDWEST       283
OTHER         146
Name: EMPLOYER_REGIONS, dtype: int64

In [20]:
data6.count()

CASE_STATUS                      3156
DECISION_ELAPSED_DAYS            3156
EMPLOYER_POSTAL_CODE             3156
EMPLOYER_STATE                   3156
EMPLOYER_NUM_EMPLOYEES           3156
WAGE_OFFER_FROM_9089             3156
COUNTRY_OF_CITIZENSHIP           3156
CLASS_OF_ADMISSION               3156
FOREIGN_WORKER_INFO_EDUCATION    3156
CASE_RECEIVED_DATE_MONTH         3156
EMPLOYER_STATES                  3156
ZIP_CODE                         3156
EMPLOYER_REGIONS                 3156
dtype: int64

In [21]:
data6['DAY_BINS'] = pd.cut(x=data6['DECISION_ELAPSED_DAYS'], 
                             bins=[0, 90, 180, 365, 3600],
                           labels=['0-90', '91-180', '181-365', '366-3600'])

In [22]:
data6['DAY_BINS'].value_counts()

366-3600    933
181-365     831
91-180      825
0-90        564
Name: DAY_BINS, dtype: int64

In [23]:
data6['WAGE_BINS'] = pd.cut(x=data6['WAGE_OFFER_FROM_9089'], 
                             bins=[0, 25000, 50000, 75000, 100000, 500000],
                           labels=['0-25000', '25001-50000', '50001-75000', '75001-100000', '100000-500000'])

In [24]:
data6['WAGE_BINS'].value_counts()

25001-50000      1143
50001-75000       605
100000-500000     585
75001-100000      417
0-25000           403
Name: WAGE_BINS, dtype: int64

In [25]:
data6['EMPLOYEE_BINS'] = pd.cut(x=data6['EMPLOYER_NUM_EMPLOYEES'], 
                             bins=[0, 50, 100, 500, 1000, 10000, 1000000000],
                           labels=['0-50', '51-100', '101-500', '501-1000', '1001-10000', '10001-1000000000'])

In [26]:
data6['EMPLOYEE_BINS'].value_counts()

0-50                879
101-500             800
1001-10000          583
10001-1000000000    373
51-100              291
501-1000            212
Name: EMPLOYEE_BINS, dtype: int64

In [27]:
data6.count()

CASE_STATUS                      3156
DECISION_ELAPSED_DAYS            3156
EMPLOYER_POSTAL_CODE             3156
EMPLOYER_STATE                   3156
EMPLOYER_NUM_EMPLOYEES           3156
WAGE_OFFER_FROM_9089             3156
COUNTRY_OF_CITIZENSHIP           3156
CLASS_OF_ADMISSION               3156
FOREIGN_WORKER_INFO_EDUCATION    3156
CASE_RECEIVED_DATE_MONTH         3156
EMPLOYER_STATES                  3156
ZIP_CODE                         3156
EMPLOYER_REGIONS                 3156
DAY_BINS                         3153
WAGE_BINS                        3153
EMPLOYEE_BINS                    3138
dtype: int64

In [28]:
data7 = data6[[
    'CASE_STATUS',
    'EMPLOYEE_BINS',
    'WAGE_BINS',
    'EMPLOYER_REGIONS',
    'CASE_RECEIVED_DATE_MONTH',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CLASS_OF_ADMISSION',
    'DAY_BINS'
]]

In [29]:
data7.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS
0,Certified,501-1000,50001-75000,WEST,8,Bachelor's,H-1B,181-365
1,Certified,501-1000,75001-100000,WEST,7,Bachelor's,H-1B,0-90
2,Denied,1001-10000,50001-75000,WEST,5,Master's,H-1B,366-3600
3,Certified,0-50,25001-50000,WEST,5,Bachelor's,J-1,0-90
4,Certified,0-50,25001-50000,WEST,5,Other,J-1,0-90

In [30]:
data7.dtypes

CASE_STATUS                        object
EMPLOYEE_BINS                    category
WAGE_BINS                        category
EMPLOYER_REGIONS                   object
CASE_RECEIVED_DATE_MONTH            int64
FOREIGN_WORKER_INFO_EDUCATION      object
CLASS_OF_ADMISSION                 object
DAY_BINS                         category
dtype: object

In [31]:
from sklearn.preprocessing import LabelEncoder
num_encode = LabelEncoder()

In [32]:
data7['CLASS_OF_ADMISSION_CODE'] = num_encode.fit_transform(data7['CLASS_OF_ADMISSION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
data7['FOREIGN_WORKER_INFO_EDUCATION_CODE'] = num_encode.fit_transform(data7['FOREIGN_WORKER_INFO_EDUCATION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
data7['WAGE_BINS'] = data7['WAGE_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
data7['WAGE_BINS_CODE'] = num_encode.fit_transform(data7['WAGE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
data7['EMPLOYER_REGIONS_CODE'] = num_encode.fit_transform(data7['EMPLOYER_REGIONS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
data7['DAY_BINS'] = data7['DAY_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [39]:
data7['DAY_BINS_CODE'] = num_encode.fit_transform(data7['DAY_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
data7['EMPLOYEE_BINS'] = data7['EMPLOYEE_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
data7['EMPLOYEE_BINS_CODE'] = num_encode.fit_transform(data7['EMPLOYEE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
data7.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS,CLASS_OF_ADMISSION_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,WAGE_BINS_CODE,EMPLOYER_REGIONS_CODE,DAY_BINS_CODE,EMPLOYEE_BINS_CODE
0,Certified,501-1000,50001-75000,WEST,8,Bachelor's,H-1B,181-365,14,1,3,4,1,4
1,Certified,501-1000,75001-100000,WEST,7,Bachelor's,H-1B,0-90,14,1,4,4,0,4
2,Denied,1001-10000,50001-75000,WEST,5,Master's,H-1B,366-3600,14,4,3,4,2,2
3,Certified,0-50,25001-50000,WEST,5,Bachelor's,J-1,0-90,19,1,2,4,0,0
4,Certified,0-50,25001-50000,WEST,5,Other,J-1,0-90,19,6,2,4,0,0

In [43]:
data7.to_excel('../Resources/ML2_Philippenes.xlsx', index = False)

In [44]:
data7.count()

CASE_STATUS                           3156
EMPLOYEE_BINS                         3156
WAGE_BINS                             3156
EMPLOYER_REGIONS                      3156
CASE_RECEIVED_DATE_MONTH              3156
FOREIGN_WORKER_INFO_EDUCATION         3156
CLASS_OF_ADMISSION                    3156
DAY_BINS                              3156
CLASS_OF_ADMISSION_CODE               3156
FOREIGN_WORKER_INFO_EDUCATION_CODE    3156
WAGE_BINS_CODE                        3156
EMPLOYER_REGIONS_CODE                 3156
DAY_BINS_CODE                         3156
EMPLOYEE_BINS_CODE                    3156
dtype: int64

In [45]:
data8 = data7[[
    'CASE_STATUS',
    'EMPLOYEE_BINS_CODE',
    'WAGE_BINS_CODE',
    'DAY_BINS_CODE',
    'FOREIGN_WORKER_INFO_EDUCATION_CODE',
    'CLASS_OF_ADMISSION_CODE',
    'CASE_RECEIVED_DATE_MONTH',
    'EMPLOYER_REGIONS_CODE'
]]

In [46]:
data8.head()

,CASE_STATUS,EMPLOYEE_BINS_CODE,WAGE_BINS_CODE,DAY_BINS_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,CLASS_OF_ADMISSION_CODE,CASE_RECEIVED_DATE_MONTH,EMPLOYER_REGIONS_CODE
0,Certified,4,3,1,1,14,8,4
1,Certified,4,4,0,1,14,7,4
2,Denied,2,3,2,4,14,5,4
3,Certified,0,2,0,1,19,5,4
4,Certified,0,2,0,6,19,5,4

In [47]:
data8.dtypes

CASE_STATUS                           object
EMPLOYEE_BINS_CODE                     int64
WAGE_BINS_CODE                         int64
DAY_BINS_CODE                          int64
FOREIGN_WORKER_INFO_EDUCATION_CODE     int64
CLASS_OF_ADMISSION_CODE                int64
CASE_RECEIVED_DATE_MONTH               int64
EMPLOYER_REGIONS_CODE                  int64
dtype: object

In [48]:
# Assign X (data) and y (target)
X = data8.drop("CASE_STATUS", axis=1)
y = data8["CASE_STATUS"]
print(X.shape, y.shape)

(3156, 7) (3156,)

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [50]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [51]:
classifier.fit(X_train, y_train)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [52]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7629911280101395
Testing Data Score: 0.7629911280101395

In [53]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Certified' 'Certified' 'Certified' 'Certified' 'Certified' 'Certified'
 'Certified' 'Certified' 'Certified' 'Certified']
First 10 Actual labels: ['Certified', 'Certified', 'Denied', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified']

In [54]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction     Actual
0    Certified  Certified
1    Certified  Certified
2    Certified     Denied
3    Certified  Certified
4    Certified  Certified
5    Certified  Certified
6    Certified  Certified
7    Certified  Certified
8    Certified  Certified
9    Certified  Certified
10   Certified  Certified
11   Certified  Certified
12   Certified  Certified
13   Certified  Certified
14   Certified  Certified
15   Certified  Certified
16   Certified  Certified
17   Certified  Certified
18   Certified  Certified
19   Certified  Certified
20   Certified     Denied
21   Certified     Denied
22   Certified     Denied
23   Certified  Certified
24   Certified  Certified
25   Certified  Certified
26   Certified  Certified
27   Certified     Denied
28   Certified     Denied
29   Certified  Certified
..         ...        ...
759  Certified  Certified
760  Certified     Denied
761  Certified     Denied
762  Certified  Certified
763  Certified     Denied
764  Certified     Denied
765  Certified  Certified
766  Certified     Denied
767  Certified  Certified
768  Certified  Certified
769  Certified  Certified
770  Certified  Certified
771  Certified     Denied
772  Certified  Certified
773  Certified  Certified
774  Certified  Certified
775  Certified     Denied
776  Certified  Certified
777  Certified  Certified
778  Certified     Denied
779  Certified  Certified
780  Certified  Certified
781  Certified  Certified
782  Certified     Denied
783  Certified  Certified
784  Certified     Denied
785  Certified  Certified
786  Certified     Denied
787  Certified     Denied
788  Certified  Certified

[789 rows x 2 columns]

In [68]:
X = data8.drop("CASE_STATUS", axis=1)
y = data8["CASE_STATUS"]
print(X.shape, y.shape)

(3156, 7) (3156,)

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [70]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42, stratify=y)

In [71]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [72]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [73]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [74]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [75]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=7))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [76]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [77]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=500,
    shuffle=True,
    verbose=2
)

Epoch 1/500
 - 1s - loss: 0.5483 - acc: 0.7529
Epoch 2/500
 - 0s - loss: 0.5069 - acc: 0.7630
Epoch 3/500
 - 0s - loss: 0.4813 - acc: 0.7664
Epoch 4/500
 - 0s - loss: 0.4612 - acc: 0.7858
Epoch 5/500
 - 0s - loss: 0.4495 - acc: 0.7985
Epoch 6/500
 - 0s - loss: 0.4375 - acc: 0.8057
Epoch 7/500
 - 0s - loss: 0.4320 - acc: 0.8090
Epoch 8/500
 - 0s - loss: 0.4225 - acc: 0.8112
Epoch 9/500
 - 0s - loss: 0.4205 - acc: 0.8107
Epoch 10/500
 - 0s - loss: 0.4133 - acc: 0.8196
Epoch 11/500
 - 0s - loss: 0.4118 - acc: 0.8188
Epoch 12/500
 - 0s - loss: 0.4070 - acc: 0.8188
Epoch 13/500
 - 0s - loss: 0.4036 - acc: 0.8285
Epoch 14/500
 - 0s - loss: 0.3971 - acc: 0.8272
Epoch 15/500
 - 0s - loss: 0.3926 - acc: 0.8293
Epoch 16/500
 - 0s - loss: 0.3942 - acc: 0.8255
Epoch 17/500
 - 0s - loss: 0.3877 - acc: 0.8319
Epoch 18/500
 - 0s - loss: 0.3886 - acc: 0.8319
Epoch 19/500
 - 0s - loss: 0.3849 - acc: 0.8306
Epoch 20/500
 - 0s - loss: 0.3814 - acc: 0.8386
Epoch 21/500
 - 0s - loss: 0.3805 - acc: 0.8369
Epoch 22/500
 - 0s - loss: 0.3814 - acc: 0.8352
Epoch 23/500
 - 0s - loss: 0.3760 - acc: 0.8386
Epoch 24/500
 - 0s - loss: 0.3731 - acc: 0.8399
Epoch 25/500
 - 0s - loss: 0.3706 - acc: 0.8458
Epoch 26/500
 - 0s - loss: 0.3689 - acc: 0.8395
Epoch 27/500
 - 0s - loss: 0.3638 - acc: 0.8500
Epoch 28/500
 - 0s - loss: 0.3586 - acc: 0.8466
Epoch 29/500
 - 0s - loss: 0.3566 - acc: 0.8504
Epoch 30/500
 - 0s - loss: 0.3599 - acc: 0.8483
Epoch 31/500
 - 0s - loss: 0.3544 - acc: 0.8433
Epoch 32/500
 - 0s - loss: 0.3519 - acc: 0.8521
Epoch 33/500
 - 0s - loss: 0.3499 - acc: 0.8526
Epoch 34/500
 - 0s - loss: 0.3468 - acc: 0.8538
Epoch 35/500
 - 0s - loss: 0.3448 - acc: 0.8555
Epoch 36/500
 - 0s - loss: 0.3442 - acc: 0.8572
Epoch 37/500
 - 0s - loss: 0.3393 - acc: 0.8547
Epoch 38/500
 - 0s - loss: 0.3366 - acc: 0.8593
Epoch 39/500
 - 0s - loss: 0.3328 - acc: 0.8610
Epoch 40/500
 - 0s - loss: 0.3321 - acc: 0.8580
Epoch 41/500
 - 0s - loss: 0.3321 - acc: 0.8631
Epoch 42/500
 - 0s - loss: 0.3307 - acc: 0.8640
Epoch 43/500
 - 0s - loss: 0.3279 - acc: 0.8580
Epoch 44/500
 - 0s - loss: 0.3265 - acc: 0.8606
Epoch 45/500
 - 0s - loss: 0.3198 - acc: 0.8606
Epoch 46/500
 - 0s - loss: 0.3184 - acc: 0.8640
Epoch 47/500
 - 0s - loss: 0.3187 - acc: 0.8678
Epoch 48/500
 - 0s - loss: 0.3144 - acc: 0.8711
Epoch 49/500
 - 0s - loss: 0.3140 - acc: 0.8682
Epoch 50/500
 - 0s - loss: 0.3187 - acc: 0.8724
Epoch 51/500
 - 0s - loss: 0.3118 - acc: 0.8686
Epoch 52/500
 - 0s - loss: 0.3065 - acc: 0.8678
Epoch 53/500
 - 0s - loss: 0.3087 - acc: 0.8665
Epoch 54/500
 - 0s - loss: 0.3027 - acc: 0.8745
Epoch 55/500
 - 0s - loss: 0.3033 - acc: 0.8728
Epoch 56/500
 - 0s - loss: 0.2986 - acc: 0.8741
Epoch 57/500
 - 0s - loss: 0.2950 - acc: 0.8754
Epoch 58/500
 - 0s - loss: 0.2971 - acc: 0.8745
Epoch 59/500
 - 0s - loss: 0.3018 - acc: 0.8707
Epoch 60/500
 - 0s - loss: 0.2953 - acc: 0.8766
Epoch 61/500
 - 0s - loss: 0.2981 - acc: 0.8737
Epoch 62/500
 - 0s - loss: 0.2895 - acc: 0.8783
Epoch 63/500
 - 0s - loss: 0.2847 - acc: 0.8813
Epoch 64/500
 - 0s - loss: 0.2890 - acc: 0.8775
Epoch 65/500
 - 0s - loss: 0.2860 - acc: 0.8809
Epoch 66/500
 - 0s - loss: 0.2869 - acc: 0.8775
Epoch 67/500
 - 0s - loss: 0.2868 - acc: 0.8771
Epoch 68/500
 - 0s - loss: 0.2854 - acc: 0.8817
Epoch 69/500
 - 0s - loss: 0.2838 - acc: 0.8804
Epoch 70/500
 - 0s - loss: 0.2763 - acc: 0.8864
Epoch 71/500
 - 0s - loss: 0.2761 - acc: 0.8800
Epoch 72/500
 - 0s - loss: 0.2794 - acc: 0.8787
Epoch 73/500
 - 0s - loss: 0.2736 - acc: 0.8855
Epoch 74/500
 - 0s - loss: 0.2767 - acc: 0.8826
Epoch 75/500
 - 0s - loss: 0.2698 - acc: 0.8876
Epoch 76/500
 - 0s - loss: 0.2730 - acc: 0.8872
Epoch 77/500
 - 0s - loss: 0.2688 - acc: 0.8864
Epoch 78/500
 - 0s - loss: 0.2683 - acc: 0.8880
Epoch 79/500
 - 0s - loss: 0.2705 - acc: 0.8842
Epoch 80/500
 - 0s - loss: 0.2675 - acc: 0.8834
Epoch 81/500
 - 0s - loss: 0.2622 - acc: 0.8948
Epoch 82/500
 - 0s - loss: 0.2573 - acc: 0.8910
Epoch 83/500
 - 0s - loss: 0.2609 - acc: 0.8961
Epoch 84/500
 - 0s - loss: 0.2637 - acc: 0.8880
Epoch 85/500
 - 0s - loss: 0.2556 - acc: 0.8935
Epoch 86/500
 - 0s - loss: 0.2553 - acc: 0.8969
Epoch 87/500
 - 0s - loss: 0.2558 - acc: 0.8940
Epoch 88/500
 - 0s - loss: 0.2525 - acc: 0.8978
Epoch 89/500
 - 0s - loss: 0.2556 - acc: 0.8914
Epoch 90/500
 - 0s - loss: 0.2595 - acc: 0.8897
Epoch 91/500
 - 0s - loss: 0.2503 - acc: 0.8986
Epoch 92/500
 - 0s - loss: 0.2495 - acc: 0.8978
Epoch 93/500
 - 0s - loss: 0.2457 - acc: 0.9041
Epoch 94/500
 - 0s - loss: 0.2457 - acc: 0.9011
Epoch 95/500
 - 0s - loss: 0.2474 - acc: 0.8990
Epoch 96/500
 - 0s - loss: 0.2457 - acc: 0.9011
Epoch 97/500
 - 0s - loss: 0.2382 - acc: 0.9033
Epoch 98/500
 - 0s - loss: 0.2404 - acc: 0.9020
Epoch 99/500
 - 0s - loss: 0.2396 - acc: 0.9058
Epoch 100/500
 - 0s - loss: 0.2417 - acc: 0.9037
Epoch 101/500
 - 0s - loss: 0.2395 - acc: 0.8986
Epoch 102/500
 - 0s - loss: 0.2382 - acc: 0.9041
Epoch 103/500
 - 0s - loss: 0.2387 - acc: 0.9037
Epoch 104/500
 - 0s - loss: 0.2369 - acc: 0.9071
Epoch 105/500
 - 0s - loss: 0.2359 - acc: 0.9054
Epoch 106/500
 - 0s - loss: 0.2353 - acc: 0.9028
Epoch 107/500
 - 0s - loss: 0.2289 - acc: 0.9096
Epoch 108/500
 - 0s - loss: 0.2308 - acc: 0.9075
Epoch 109/500
 - 0s - loss: 0.2345 - acc: 0.8999
Epoch 110/500
 - 0s - loss: 0.2415 - acc: 0.9016
Epoch 111/500
 - 0s - loss: 0.2301 - acc: 0.9049
Epoch 112/500
 - 0s - loss: 0.2282 - acc: 0.9062
Epoch 113/500
 - 0s - loss: 0.2286 - acc: 0.9079
Epoch 114/500
 - 0s - loss: 0.2266 - acc: 0.9096
Epoch 115/500
 - 0s - loss: 0.2299 - acc: 0.9062
Epoch 116/500
 - 0s - loss: 0.2234 - acc: 0.9142
Epoch 117/500
 - 0s - loss: 0.2245 - acc: 0.9117
Epoch 118/500
 - 0s - loss: 0.2202 - acc: 0.9109
Epoch 119/500
 - 0s - loss: 0.2255 - acc: 0.9054
Epoch 120/500
 - 0s - loss: 0.2217 - acc: 0.9066
Epoch 121/500
 - 0s - loss: 0.2239 - acc: 0.9104
Epoch 122/500
 - 0s - loss: 0.2209 - acc: 0.9109
Epoch 123/500
 - 0s - loss: 0.2170 - acc: 0.9142
Epoch 124/500
 - 0s - loss: 0.2188 - acc: 0.9142
Epoch 125/500
 - 0s - loss: 0.2187 - acc: 0.9117
Epoch 126/500
 - 0s - loss: 0.2185 - acc: 0.9071
Epoch 127/500
 - 0s - loss: 0.2166 - acc: 0.9113
Epoch 128/500
 - 0s - loss: 0.2140 - acc: 0.9113
Epoch 129/500
 - 0s - loss: 0.2158 - acc: 0.9092
Epoch 130/500
 - 0s - loss: 0.2177 - acc: 0.9147
Epoch 131/500
 - 0s - loss: 0.2124 - acc: 0.9168
Epoch 132/500
 - 0s - loss: 0.2110 - acc: 0.9138
Epoch 133/500
 - 0s - loss: 0.2238 - acc: 0.9104
Epoch 134/500
 - 0s - loss: 0.2115 - acc: 0.9151
Epoch 135/500
 - 0s - loss: 0.2106 - acc: 0.9125
Epoch 136/500
 - 0s - loss: 0.2056 - acc: 0.9193
Epoch 137/500
 - 0s - loss: 0.2135 - acc: 0.9092
Epoch 138/500
 - 0s - loss: 0.2065 - acc: 0.9185
Epoch 139/500
 - 0s - loss: 0.2101 - acc: 0.9159
Epoch 140/500
 - 0s - loss: 0.2041 - acc: 0.9214
Epoch 141/500
 - 0s - loss: 0.2143 - acc: 0.9104
Epoch 142/500
 - 0s - loss: 0.2101 - acc: 0.9147
Epoch 143/500
 - 0s - loss: 0.2029 - acc: 0.9172
Epoch 144/500
 - 0s - loss: 0.2053 - acc: 0.9180
Epoch 145/500
 - 0s - loss: 0.2001 - acc: 0.9218
Epoch 146/500
 - 0s - loss: 0.2014 - acc: 0.9206
Epoch 147/500
 - 0s - loss: 0.2017 - acc: 0.9223
Epoch 148/500
 - 0s - loss: 0.1989 - acc: 0.9210
Epoch 149/500
 - 0s - loss: 0.2024 - acc: 0.9168
Epoch 150/500
 - 0s - loss: 0.1985 - acc: 0.9185
Epoch 151/500
 - 0s - loss: 0.1987 - acc: 0.9197
Epoch 152/500
 - 0s - loss: 0.1983 - acc: 0.9197
Epoch 153/500
 - 0s - loss: 0.1977 - acc: 0.9214
Epoch 154/500
 - 0s - loss: 0.1937 - acc: 0.9172
Epoch 155/500
 - 0s - loss: 0.1994 - acc: 0.9193
Epoch 156/500
 - 0s - loss: 0.1961 - acc: 0.9261
Epoch 157/500
 - 0s - loss: 0.1998 - acc: 0.9202
Epoch 158/500
 - 0s - loss: 0.1948 - acc: 0.9189
Epoch 159/500
 - 0s - loss: 0.1912 - acc: 0.9235
Epoch 160/500
 - 0s - loss: 0.1934 - acc: 0.9231
Epoch 161/500
 - 0s - loss: 0.1923 - acc: 0.9252
Epoch 162/500
 - 0s - loss: 0.1937 - acc: 0.9180
Epoch 163/500
 - 0s - loss: 0.1917 - acc: 0.9265
Epoch 164/500
 - 0s - loss: 0.1937 - acc: 0.9189
Epoch 165/500
 - 0s - loss: 0.1947 - acc: 0.9214
Epoch 166/500
 - 0s - loss: 0.1883 - acc: 0.9252
Epoch 167/500
 - 0s - loss: 0.1905 - acc: 0.9269
Epoch 168/500
 - 0s - loss: 0.1895 - acc: 0.9223
Epoch 169/500
 - 0s - loss: 0.1950 - acc: 0.9168
Epoch 170/500
 - 0s - loss: 0.1873 - acc: 0.9278

Epoch 171/500
 - 0s - loss: 0.1847 - acc: 0.9278
Epoch 172/500
 - 0s - loss: 0.1936 - acc: 0.9240
Epoch 173/500
 - 0s - loss: 0.1884 - acc: 0.9240
Epoch 174/500
 - 0s - loss: 0.1833 - acc: 0.9256
Epoch 175/500
 - 0s - loss: 0.1849 - acc: 0.9240
Epoch 176/500
 - 0s - loss: 0.1806 - acc: 0.9303
Epoch 177/500
 - 0s - loss: 0.1841 - acc: 0.9278
Epoch 178/500
 - 0s - loss: 0.1878 - acc: 0.9256
Epoch 179/500
 - 0s - loss: 0.1926 - acc: 0.9197
Epoch 180/500
 - 0s - loss: 0.1853 - acc: 0.9256
Epoch 181/500
 - 0s - loss: 0.1755 - acc: 0.9316
Epoch 182/500
 - 0s - loss: 0.1828 - acc: 0.9294
Epoch 183/500
 - 0s - loss: 0.1756 - acc: 0.9307
Epoch 184/500
 - 0s - loss: 0.1868 - acc: 0.9244
Epoch 185/500
 - 0s - loss: 0.1828 - acc: 0.9240
Epoch 186/500
 - 0s - loss: 0.1774 - acc: 0.9256
Epoch 187/500
 - 0s - loss: 0.1823 - acc: 0.9303
Epoch 188/500
 - 0s - loss: 0.1773 - acc: 0.9248
Epoch 189/500
 - 0s - loss: 0.1847 - acc: 0.9206
Epoch 190/500
 - 0s - loss: 0.1736 - acc: 0.9328
Epoch 191/500
 - 0s - loss: 0.1791 - acc: 0.9244
Epoch 192/500
 - 0s - loss: 0.1752 - acc: 0.9269
Epoch 193/500
 - 0s - loss: 0.1720 - acc: 0.9311
Epoch 194/500
 - 0s - loss: 0.1726 - acc: 0.9256
Epoch 195/500
 - 0s - loss: 0.1689 - acc: 0.9282
Epoch 196/500
 - 0s - loss: 0.1744 - acc: 0.9303
Epoch 197/500
 - 0s - loss: 0.1750 - acc: 0.9290
Epoch 198/500
 - 0s - loss: 0.1715 - acc: 0.9307
Epoch 199/500
 - 0s - loss: 0.1718 - acc: 0.9320
Epoch 200/500
 - 0s - loss: 0.1708 - acc: 0.9316
Epoch 201/500
 - 0s - loss: 0.1700 - acc: 0.9328
Epoch 202/500
 - 0s - loss: 0.1649 - acc: 0.9320
Epoch 203/500
 - 0s - loss: 0.1693 - acc: 0.9328
Epoch 204/500
 - 0s - loss: 0.1643 - acc: 0.9332
Epoch 205/500
 - 0s - loss: 0.1738 - acc: 0.9235
Epoch 206/500
 - 0s - loss: 0.1720 - acc: 0.9320
Epoch 207/500
 - 0s - loss: 0.1704 - acc: 0.9328
Epoch 208/500
 - 0s - loss: 0.1731 - acc: 0.9252
Epoch 209/500
 - 0s - loss: 0.1651 - acc: 0.9299
Epoch 210/500
 - 0s - loss: 0.1748 - acc: 0.9282
Epoch 211/500
 - 0s - loss: 0.1672 - acc: 0.9294
Epoch 212/500
 - 0s - loss: 0.1685 - acc: 0.9328
Epoch 213/500
 - 0s - loss: 0.1654 - acc: 0.9345
Epoch 214/500
 - 0s - loss: 0.1598 - acc: 0.9392
Epoch 215/500
 - 0s - loss: 0.1657 - acc: 0.9362
Epoch 216/500
 - 0s - loss: 0.1628 - acc: 0.9366
Epoch 217/500
 - 0s - loss: 0.1635 - acc: 0.9328
Epoch 218/500
 - 0s - loss: 0.1597 - acc: 0.9341
Epoch 219/500
 - 0s - loss: 0.1659 - acc: 0.9294
Epoch 220/500
 - 0s - loss: 0.1587 - acc: 0.9358
Epoch 221/500
 - 0s - loss: 0.1583 - acc: 0.9354
Epoch 222/500
 - 0s - loss: 0.1625 - acc: 0.9332
Epoch 223/500
 - 0s - loss: 0.1627 - acc: 0.9358
Epoch 224/500
 - 0s - loss: 0.1608 - acc: 0.9396
Epoch 225/500
 - 0s - loss: 0.1586 - acc: 0.9324
Epoch 226/500
 - 0s - loss: 0.1618 - acc: 0.9324
Epoch 227/500
 - 0s - loss: 0.1622 - acc: 0.9332
Epoch 228/500
 - 0s - loss: 0.1603 - acc: 0.9366
Epoch 229/500
 - 0s - loss: 0.1647 - acc: 0.9299
Epoch 230/500
 - 0s - loss: 0.1571 - acc: 0.9375
Epoch 231/500
 - 0s - loss: 0.1566 - acc: 0.9362
Epoch 232/500
 - 0s - loss: 0.1593 - acc: 0.9383
Epoch 233/500
 - 0s - loss: 0.1566 - acc: 0.9316
Epoch 234/500
 - 0s - loss: 0.1584 - acc: 0.9383
Epoch 235/500
 - 0s - loss: 0.1543 - acc: 0.9337
Epoch 236/500
 - 0s - loss: 0.1530 - acc: 0.9409
Epoch 237/500
 - 0s - loss: 0.1614 - acc: 0.9290
Epoch 238/500
 - 0s - loss: 0.1499 - acc: 0.9400
Epoch 239/500
 - 0s - loss: 0.1492 - acc: 0.9421
Epoch 240/500
 - 0s - loss: 0.1514 - acc: 0.9392
Epoch 241/500
 - 0s - loss: 0.1517 - acc: 0.9447
Epoch 242/500
 - 0s - loss: 0.1564 - acc: 0.9349
Epoch 243/500
 - 0s - loss: 0.1514 - acc: 0.9430
Epoch 244/500
 - 0s - loss: 0.1488 - acc: 0.9421
Epoch 245/500
 - 0s - loss: 0.1505 - acc: 0.9400
Epoch 246/500
 - 0s - loss: 0.1464 - acc: 0.9451
Epoch 247/500
 - 0s - loss: 0.1450 - acc: 0.9413
Epoch 248/500
 - 0s - loss: 0.1531 - acc: 0.9362
Epoch 249/500
 - 0s - loss: 0.1462 - acc: 0.9430
Epoch 250/500
 - 0s - loss: 0.1519 - acc: 0.9375
Epoch 251/500
 - 0s - loss: 0.1555 - acc: 0.9366
Epoch 252/500
 - 0s - loss: 0.1438 - acc: 0.9430
Epoch 253/500
 - 0s - loss: 0.1460 - acc: 0.9459
Epoch 254/500
 - 0s - loss: 0.1579 - acc: 0.9316
Epoch 255/500
 - 0s - loss: 0.1459 - acc: 0.9409
Epoch 256/500
 - 0s - loss: 0.1456 - acc: 0.9409
Epoch 257/500
 - 0s - loss: 0.1439 - acc: 0.9425
Epoch 258/500
 - 0s - loss: 0.1510 - acc: 0.9341
Epoch 259/500
 - 0s - loss: 0.1461 - acc: 0.9438
Epoch 260/500
 - 0s - loss: 0.1475 - acc: 0.9337
Epoch 261/500
 - 0s - loss: 0.1433 - acc: 0.9421
Epoch 262/500
 - 0s - loss: 0.1437 - acc: 0.9371
Epoch 263/500
 - 0s - loss: 0.1437 - acc: 0.9451
Epoch 264/500
 - 0s - loss: 0.1407 - acc: 0.9425
Epoch 265/500
 - 0s - loss: 0.1394 - acc: 0.9409
Epoch 266/500
 - 0s - loss: 0.1404 - acc: 0.9459
Epoch 267/500
 - 0s - loss: 0.1381 - acc: 0.9442
Epoch 268/500
 - 0s - loss: 0.1454 - acc: 0.9366
Epoch 269/500
 - 0s - loss: 0.1407 - acc: 0.9459
Epoch 270/500
 - 0s - loss: 0.1420 - acc: 0.9451
Epoch 271/500
 - 0s - loss: 0.1355 - acc: 0.9501
Epoch 272/500
 - 0s - loss: 0.1439 - acc: 0.9417
Epoch 273/500
 - 0s - loss: 0.1434 - acc: 0.9425
Epoch 274/500
 - 0s - loss: 0.1489 - acc: 0.9413
Epoch 275/500
 - 0s - loss: 0.1375 - acc: 0.9510
Epoch 276/500
 - 0s - loss: 0.1409 - acc: 0.9468
Epoch 277/500
 - 0s - loss: 0.1417 - acc: 0.9442
Epoch 278/500
 - 0s - loss: 0.1310 - acc: 0.9459
Epoch 279/500
 - 0s - loss: 0.1392 - acc: 0.9451
Epoch 280/500
 - 0s - loss: 0.1375 - acc: 0.9472
Epoch 281/500
 - 0s - loss: 0.1344 - acc: 0.9472
Epoch 282/500
 - 0s - loss: 0.1410 - acc: 0.9404
Epoch 283/500
 - 0s - loss: 0.1333 - acc: 0.9476
Epoch 284/500
 - 0s - loss: 0.1384 - acc: 0.9425
Epoch 285/500
 - 0s - loss: 0.1374 - acc: 0.9485
Epoch 286/500
 - 0s - loss: 0.1382 - acc: 0.9447
Epoch 287/500
 - 0s - loss: 0.1309 - acc: 0.9485
Epoch 288/500
 - 0s - loss: 0.1308 - acc: 0.9438
Epoch 289/500
 - 0s - loss: 0.1389 - acc: 0.9455
Epoch 290/500
 - 0s - loss: 0.1367 - acc: 0.9425
Epoch 291/500
 - 0s - loss: 0.1275 - acc: 0.9514
Epoch 292/500
 - 0s - loss: 0.1315 - acc: 0.9459
Epoch 293/500
 - 0s - loss: 0.1287 - acc: 0.9497
Epoch 294/500
 - 0s - loss: 0.1407 - acc: 0.9387
Epoch 295/500
 - 0s - loss: 0.1254 - acc: 0.9501
Epoch 296/500
 - 0s - loss: 0.1300 - acc: 0.9485
Epoch 297/500
 - 0s - loss: 0.1291 - acc: 0.9451
Epoch 298/500
 - 0s - loss: 0.1318 - acc: 0.9447
Epoch 299/500
 - 0s - loss: 0.1331 - acc: 0.9480
Epoch 300/500
 - 0s - loss: 0.1305 - acc: 0.9468
Epoch 301/500
 - 0s - loss: 0.1338 - acc: 0.9455
Epoch 302/500
 - 0s - loss: 0.1348 - acc: 0.9451
Epoch 303/500
 - 0s - loss: 0.1219 - acc: 0.9514
Epoch 304/500
 - 0s - loss: 0.1328 - acc: 0.9463
Epoch 305/500
 - 0s - loss: 0.1257 - acc: 0.9493
Epoch 306/500
 - 0s - loss: 0.1325 - acc: 0.9425
Epoch 307/500
 - 0s - loss: 0.1288 - acc: 0.9497
Epoch 308/500
 - 0s - loss: 0.1276 - acc: 0.9523
Epoch 309/500
 - 0s - loss: 0.1337 - acc: 0.9463
Epoch 310/500
 - 0s - loss: 0.1249 - acc: 0.9476
Epoch 311/500
 - 0s - loss: 0.1295 - acc: 0.9451
Epoch 312/500
 - 0s - loss: 0.1234 - acc: 0.9518
Epoch 313/500
 - 0s - loss: 0.1274 - acc: 0.9493
Epoch 314/500
 - 0s - loss: 0.1351 - acc: 0.9497
Epoch 315/500
 - 0s - loss: 0.1335 - acc: 0.9438
Epoch 316/500
 - 0s - loss: 0.1205 - acc: 0.9531
Epoch 317/500
 - 0s - loss: 0.1208 - acc: 0.9518
Epoch 318/500
 - 0s - loss: 0.1197 - acc: 0.9540
Epoch 319/500
 - 0s - loss: 0.1251 - acc: 0.9501
Epoch 320/500
 - 0s - loss: 0.1281 - acc: 0.9501
Epoch 321/500
 - 0s - loss: 0.1278 - acc: 0.9463
Epoch 322/500
 - 0s - loss: 0.1234 - acc: 0.9527
Epoch 323/500
 - 0s - loss: 0.1294 - acc: 0.9497
Epoch 324/500
 - 0s - loss: 0.1277 - acc: 0.9485
Epoch 325/500
 - 0s - loss: 0.1405 - acc: 0.9447
Epoch 326/500
 - 0s - loss: 0.1258 - acc: 0.9455
Epoch 327/500
 - 0s - loss: 0.1183 - acc: 0.9544
Epoch 328/500
 - 0s - loss: 0.1274 - acc: 0.9476
Epoch 329/500
 - 0s - loss: 0.1270 - acc: 0.9493
Epoch 330/500
 - 0s - loss: 0.1264 - acc: 0.9493
Epoch 331/500
 - 0s - loss: 0.1213 - acc: 0.9510
Epoch 332/500
 - 0s - loss: 0.1271 - acc: 0.9518
Epoch 333/500
 - 0s - loss: 0.1275 - acc: 0.9476
Epoch 334/500
 - 0s - loss: 0.1201 - acc: 0.9540
Epoch 335/500
 - 0s - loss: 0.1196 - acc: 0.9485
Epoch 336/500
 - 0s - loss: 0.1249 - acc: 0.9514
Epoch 337/500
 - 0s - loss: 0.1167 - acc: 0.9540
Epoch 338/500

 - 0s - loss: 0.1162 - acc: 0.9510
Epoch 339/500
 - 0s - loss: 0.1202 - acc: 0.9518
Epoch 340/500
 - 0s - loss: 0.1154 - acc: 0.9565
Epoch 341/500
 - 0s - loss: 0.1214 - acc: 0.9506
Epoch 342/500
 - 0s - loss: 0.1168 - acc: 0.9603
Epoch 343/500
 - 0s - loss: 0.1223 - acc: 0.9510
Epoch 344/500
 - 0s - loss: 0.1224 - acc: 0.9510
Epoch 345/500
 - 0s - loss: 0.1219 - acc: 0.9510
Epoch 346/500
 - 0s - loss: 0.1213 - acc: 0.9489
Epoch 347/500
 - 0s - loss: 0.1143 - acc: 0.9565
Epoch 348/500
 - 0s - loss: 0.1223 - acc: 0.9506
Epoch 349/500
 - 0s - loss: 0.1270 - acc: 0.9506
Epoch 350/500
 - 0s - loss: 0.1168 - acc: 0.9531
Epoch 351/500
 - 0s - loss: 0.1152 - acc: 0.9561
Epoch 352/500
 - 0s - loss: 0.1200 - acc: 0.9561
Epoch 353/500
 - 0s - loss: 0.1138 - acc: 0.9535
Epoch 354/500
 - 0s - loss: 0.1128 - acc: 0.9548
Epoch 355/500
 - 0s - loss: 0.1311 - acc: 0.9472
Epoch 356/500
 - 0s - loss: 0.1144 - acc: 0.9573
Epoch 357/500
 - 0s - loss: 0.1145 - acc: 0.9531
Epoch 358/500
 - 0s - loss: 0.1174 - acc: 0.9531
Epoch 359/500
 - 0s - loss: 0.1158 - acc: 0.9544
Epoch 360/500
 - 0s - loss: 0.1185 - acc: 0.9514
Epoch 361/500
 - 0s - loss: 0.1084 - acc: 0.9578
Epoch 362/500
 - 0s - loss: 0.1177 - acc: 0.9514
Epoch 363/500
 - 0s - loss: 0.1098 - acc: 0.9531
Epoch 364/500
 - 0s - loss: 0.1118 - acc: 0.9514
Epoch 365/500
 - 0s - loss: 0.1104 - acc: 0.9561
Epoch 366/500
 - 0s - loss: 0.1151 - acc: 0.9556
Epoch 367/500
 - 0s - loss: 0.1082 - acc: 0.9561
Epoch 368/500
 - 0s - loss: 0.1088 - acc: 0.9594
Epoch 369/500
 - 0s - loss: 0.1085 - acc: 0.9561
Epoch 370/500
 - 0s - loss: 0.1129 - acc: 0.9552
Epoch 371/500
 - 0s - loss: 0.1099 - acc: 0.9556
Epoch 372/500
 - 0s - loss: 0.1079 - acc: 0.9586
Epoch 373/500
 - 0s - loss: 0.1151 - acc: 0.9561
Epoch 374/500
 - 0s - loss: 0.1181 - acc: 0.9531
Epoch 375/500
 - 0s - loss: 0.1145 - acc: 0.9531
Epoch 376/500
 - 0s - loss: 0.1145 - acc: 0.9523
Epoch 377/500
 - 0s - loss: 0.1119 - acc: 0.9544
Epoch 378/500
 - 0s - loss: 0.1100 - acc: 0.9573
Epoch 379/500
 - 0s - loss: 0.1131 - acc: 0.9556
Epoch 380/500
 - 0s - loss: 0.1068 - acc: 0.9561
Epoch 381/500
 - 0s - loss: 0.1066 - acc: 0.9611
Epoch 382/500
 - 0s - loss: 0.1075 - acc: 0.9548
Epoch 383/500
 - 0s - loss: 0.1071 - acc: 0.9586
Epoch 384/500
 - 0s - loss: 0.1043 - acc: 0.9556
Epoch 385/500
 - 0s - loss: 0.1156 - acc: 0.9552
Epoch 386/500
 - 0s - loss: 0.1087 - acc: 0.9590
Epoch 387/500
 - 0s - loss: 0.1094 - acc: 0.9535
Epoch 388/500
 - 0s - loss: 0.1034 - acc: 0.9561
Epoch 389/500
 - 0s - loss: 0.1093 - acc: 0.9540
Epoch 390/500
 - 0s - loss: 0.1117 - acc: 0.9518
Epoch 391/500
 - 0s - loss: 0.1075 - acc: 0.9569
Epoch 392/500
 - 0s - loss: 0.1108 - acc: 0.9556
Epoch 393/500
 - 0s - loss: 0.1099 - acc: 0.9556
Epoch 394/500
 - 0s - loss: 0.1077 - acc: 0.9535
Epoch 395/500
 - 0s - loss: 0.1051 - acc: 0.9569
Epoch 396/500
 - 0s - loss: 0.1075 - acc: 0.9569
Epoch 397/500
 - 0s - loss: 0.1110 - acc: 0.9514
Epoch 398/500
 - 0s - loss: 0.1025 - acc: 0.9590
Epoch 399/500
 - 0s - loss: 0.1057 - acc: 0.9573
Epoch 400/500
 - 0s - loss: 0.1104 - acc: 0.9548
Epoch 401/500
 - 0s - loss: 0.1089 - acc: 0.9552
Epoch 402/500
 - 0s - loss: 0.1039 - acc: 0.9586
Epoch 403/500
 - 0s - loss: 0.1077 - acc: 0.9578
Epoch 404/500
 - 0s - loss: 0.1099 - acc: 0.9561
Epoch 405/500
 - 0s - loss: 0.1042 - acc: 0.9603
Epoch 406/500
 - 0s - loss: 0.1041 - acc: 0.9594
Epoch 407/500
 - 0s - loss: 0.1070 - acc: 0.9548
Epoch 408/500
 - 0s - loss: 0.1095 - acc: 0.9565
Epoch 409/500
 - 0s - loss: 0.1076 - acc: 0.9578
Epoch 410/500
 - 0s - loss: 0.1232 - acc: 0.9489
Epoch 411/500
 - 0s - loss: 0.1112 - acc: 0.9569
Epoch 412/500
 - 0s - loss: 0.0991 - acc: 0.9556
Epoch 413/500
 - 0s - loss: 0.0992 - acc: 0.9586
Epoch 414/500
 - 0s - loss: 0.1015 - acc: 0.9616
Epoch 415/500
 - 0s - loss: 0.1014 - acc: 0.9573
Epoch 416/500
 - 0s - loss: 0.1026 - acc: 0.9594
Epoch 417/500
 - 0s - loss: 0.1028 - acc: 0.9586
Epoch 418/500
 - 0s - loss: 0.1036 - acc: 0.9582
Epoch 419/500
 - 0s - loss: 0.1073 - acc: 0.9548
Epoch 420/500
 - 0s - loss: 0.1036 - acc: 0.9586
Epoch 421/500
 - 0s - loss: 0.1100 - acc: 0.9569
Epoch 422/500
 - 0s - loss: 0.1010 - acc: 0.9582
Epoch 423/500
 - 0s - loss: 0.1072 - acc: 0.9565
Epoch 424/500
 - 0s - loss: 0.1098 - acc: 0.9540
Epoch 425/500
 - 0s - loss: 0.1006 - acc: 0.9594
Epoch 426/500
 - 0s - loss: 0.1005 - acc: 0.9616
Epoch 427/500
 - 0s - loss: 0.1016 - acc: 0.9603
Epoch 428/500
 - 0s - loss: 0.1028 - acc: 0.9590
Epoch 429/500
 - 0s - loss: 0.0973 - acc: 0.9620
Epoch 430/500
 - 0s - loss: 0.1026 - acc: 0.9599
Epoch 431/500
 - 0s - loss: 0.0970 - acc: 0.9632
Epoch 432/500
 - 0s - loss: 0.0995 - acc: 0.9599
Epoch 433/500
 - 0s - loss: 0.1005 - acc: 0.9565
Epoch 434/500
 - 0s - loss: 0.0974 - acc: 0.9649
Epoch 435/500
 - 0s - loss: 0.1071 - acc: 0.9552
Epoch 436/500
 - 0s - loss: 0.1040 - acc: 0.9561
Epoch 437/500
 - 0s - loss: 0.0994 - acc: 0.9586
Epoch 438/500
 - 0s - loss: 0.1057 - acc: 0.9565
Epoch 439/500
 - 0s - loss: 0.1069 - acc: 0.9586
Epoch 440/500
 - 0s - loss: 0.1043 - acc: 0.9607
Epoch 441/500
 - 0s - loss: 0.0980 - acc: 0.9641
Epoch 442/500
 - 0s - loss: 0.1013 - acc: 0.9569
Epoch 443/500
 - 0s - loss: 0.1000 - acc: 0.9578
Epoch 444/500
 - 0s - loss: 0.0970 - acc: 0.9599
Epoch 445/500
 - 0s - loss: 0.1020 - acc: 0.9569
Epoch 446/500
 - 0s - loss: 0.1008 - acc: 0.9573
Epoch 447/500
 - 0s - loss: 0.0973 - acc: 0.9611
Epoch 448/500
 - 0s - loss: 0.0983 - acc: 0.9637
Epoch 449/500
 - 0s - loss: 0.0974 - acc: 0.9616
Epoch 450/500
 - 0s - loss: 0.1012 - acc: 0.9578
Epoch 451/500
 - 0s - loss: 0.1016 - acc: 0.9569
Epoch 452/500
 - 0s - loss: 0.1043 - acc: 0.9590
Epoch 453/500
 - 0s - loss: 0.1022 - acc: 0.9573
Epoch 454/500
 - 0s - loss: 0.1030 - acc: 0.9586
Epoch 455/500
 - 0s - loss: 0.0967 - acc: 0.9611
Epoch 456/500
 - 0s - loss: 0.0962 - acc: 0.9582
Epoch 457/500
 - 0s - loss: 0.0967 - acc: 0.9599
Epoch 458/500
 - 0s - loss: 0.1003 - acc: 0.9607
Epoch 459/500
 - 0s - loss: 0.0980 - acc: 0.9586
Epoch 460/500
 - 0s - loss: 0.1018 - acc: 0.9573
Epoch 461/500
 - 0s - loss: 0.0920 - acc: 0.9641
Epoch 462/500
 - 0s - loss: 0.1016 - acc: 0.9590
Epoch 463/500
 - 0s - loss: 0.0963 - acc: 0.9590
Epoch 464/500
 - 0s - loss: 0.0976 - acc: 0.9590
Epoch 465/500
 - 0s - loss: 0.0965 - acc: 0.9637
Epoch 466/500
 - 0s - loss: 0.0963 - acc: 0.9599
Epoch 467/500
 - 0s - loss: 0.0978 - acc: 0.9599
Epoch 468/500
 - 0s - loss: 0.1017 - acc: 0.9594
Epoch 469/500
 - 0s - loss: 0.1004 - acc: 0.9607
Epoch 470/500
 - 0s - loss: 0.1021 - acc: 0.9586
Epoch 471/500
 - 0s - loss: 0.1024 - acc: 0.9611
Epoch 472/500
 - 0s - loss: 0.0995 - acc: 0.9599
Epoch 473/500
 - 0s - loss: 0.0954 - acc: 0.9616
Epoch 474/500
 - 0s - loss: 0.0949 - acc: 0.9607
Epoch 475/500
 - 0s - loss: 0.0971 - acc: 0.9586
Epoch 476/500
 - 0s - loss: 0.0953 - acc: 0.9620
Epoch 477/500
 - 0s - loss: 0.0979 - acc: 0.9611
Epoch 478/500
 - 0s - loss: 0.0928 - acc: 0.9607
Epoch 479/500
 - 0s - loss: 0.1002 - acc: 0.9599
Epoch 480/500
 - 0s - loss: 0.0992 - acc: 0.9599
Epoch 481/500
 - 0s - loss: 0.1082 - acc: 0.9569
Epoch 482/500
 - 0s - loss: 0.0944 - acc: 0.9616
Epoch 483/500
 - 0s - loss: 0.0959 - acc: 0.9590
Epoch 484/500
 - 0s - loss: 0.0889 - acc: 0.9649
Epoch 485/500
 - 0s - loss: 0.0922 - acc: 0.9637
Epoch 486/500
 - 0s - loss: 0.0986 - acc: 0.9632
Epoch 487/500
 - 0s - loss: 0.0971 - acc: 0.9616
Epoch 488/500
 - 0s - loss: 0.0995 - acc: 0.9616
Epoch 489/500
 - 0s - loss: 0.0948 - acc: 0.9590
Epoch 490/500
 - 0s - loss: 0.0989 - acc: 0.9573
Epoch 491/500
 - 0s - loss: 0.0938 - acc: 0.9666
Epoch 492/500
 - 0s - loss: 0.0994 - acc: 0.9616
Epoch 493/500
 - 0s - loss: 0.0943 - acc: 0.9578
Epoch 494/500
 - 0s - loss: 0.0954 - acc: 0.9620
Epoch 495/500
 - 0s - loss: 0.0959 - acc: 0.9628
Epoch 496/500
 - 0s - loss: 0.0999 - acc: 0.9561
Epoch 497/500
 - 0s - loss: 0.0895 - acc: 0.9649
Epoch 498/500
 - 0s - loss: 0.0908 - acc: 0.9632
Epoch 499/500
 - 0s - loss: 0.0969 - acc: 0.9561
Epoch 500/500
 - 0s - loss: 0.0946 - acc: 0.9616

In [78]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 0.7696 - acc: 0.8340
Normal Neural Network - Loss: 0.7696029852853831, Accuracy: 0.8339670300483704

In [79]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [80]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['Certified' 'Certified' 'Certified' 'Certified' 'Certified' 'Certified'
 'Certified' 'Certified' 'Certified' 'Certified']
Actual Labels: ['Certified', 'Certified', 'Denied', 'Certified', 'Certified', 'Certified', 'Denied', 'Certified', 'Certified', 'Certified']