In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('FY_CombinedData_Clean.xlsx')

In [3]:
data['CASE_STATUS'].value_counts()

Certified            214239
Certified-Expired    177790
Denied                24227
Withdrawn             16563
Name: CASE_STATUS, dtype: int64

In [4]:
data2 = data[data.CASE_STATUS != 'Certified-Expired']

In [5]:
data3 = data2[data2.CASE_STATUS != 'Withdrawn']

In [6]:
data3['CASE_STATUS'].value_counts()

Certified    214239
Denied        24227
Name: CASE_STATUS, dtype: int64

In [7]:
data4 = data3[data3.CLASS_OF_ADMISSION == 'H-1B']

In [8]:
data4['CLASS_OF_ADMISSION'].value_counts()

H-1B    163774
Name: CLASS_OF_ADMISSION, dtype: int64

In [42]:
data4['WAGE_OFFER_UNIT_OF_PAY_9089'].value_counts()

Year         161923
Hour           1492
Week             41
Month            41
Bi-Weekly         6
Name: WAGE_OFFER_UNIT_OF_PAY_9089, dtype: int64

In [43]:
data4 = data4[data4.WAGE_OFFER_UNIT_OF_PAY_9089 == 'Year']

In [45]:
data4['WAGE_OFFER_UNIT_OF_PAY_9089'].value_counts()

Year    161923
Name: WAGE_OFFER_UNIT_OF_PAY_9089, dtype: int64

In [59]:
data4['FOREIGN_WORKER_INFO_EDUCATION'].value_counts()

Master's       81844
Bachelor's     62912
Doctorate       8494
Other           6631
None            1155
Associate's      573
High School      229
Name: FOREIGN_WORKER_INFO_EDUCATION, dtype: int64

In [60]:
data4.dtypes

Unnamed: 0                               object
Unnamed: 1                                int64
CASE_NUMBER                              object
DECISION_DATE                    datetime64[ns]
CASE_STATUS                              object
CASE_RECEIVED_DATE               datetime64[ns]
DECISION_ELAPSED_DAYS                     int64
DECISION_ELAPSED_YEARS                  float64
EMPLOYER_NAME                            object
EMPLOYER_CITY                            object
EMPLOYER_STATE                           object
EMPLOYER_POSTAL_CODE                     object
EMPLOYER_NUM_EMPLOYEES                  float64
AGENT_FIRM_NAME                          object
AGENT_CITY                               object
AGENT_STATE                              object
PW_SOC_CODE                              object
PW_SOC_TITLE                             object
PW_AMOUNT_9089                          float64
WAGE_OFFER_FROM_9089                    float64
WAGE_OFFER_UNIT_OF_PAY_9089              object
JOB_INFO_WORK_CITY                       object
JOB_INFO_WORK_STATE                      object
JOB_INFO_WORK_POSTAL_CODE                object
JOB_INFO_JOB_TITLE                       object
JOB_INFO_EDUCATION                       object
JOB_INFO_EDUCATION_OTHER                 object
FOREIGN_WORKER_INFO_CITY                 object
FOREIGN_WORKER_INFO_STATE                object
FW_INFO_POSTAL_CODE                      object
COUNTRY_OF_CITIZENSHIP                   object
FW_INFO_BIRTH_COUNTRY                    object
CLASS_OF_ADMISSION                       object
FOREIGN_WORKER_INFO_EDUCATION            object
FW_INFO_EDUCATION_OTHER                  object
DECISION_DATE_YEAR                        int64
DECISION_DATE_MONTH                       int64
CASE_RECEIVED_DATE_YEAR                 float64
CASE_RECEIVED_DATE_MONTH                float64
JOB_POSTAL_CODE                          object
dtype: object

In [61]:
data4['JOB_POSTAL_CODE'] = data4['JOB_INFO_WORK_POSTAL_CODE'].str[:5]

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
data4.dtypes

Unnamed: 0                               object
Unnamed: 1                                int64
CASE_NUMBER                              object
DECISION_DATE                    datetime64[ns]
CASE_STATUS                              object
CASE_RECEIVED_DATE               datetime64[ns]
DECISION_ELAPSED_DAYS                     int64
DECISION_ELAPSED_YEARS                  float64
EMPLOYER_NAME                            object
EMPLOYER_CITY                            object
EMPLOYER_STATE                           object
EMPLOYER_POSTAL_CODE                     object
EMPLOYER_NUM_EMPLOYEES                  float64
AGENT_FIRM_NAME                          object
AGENT_CITY                               object
AGENT_STATE                              object
PW_SOC_CODE                              object
PW_SOC_TITLE                             object
PW_AMOUNT_9089                          float64
WAGE_OFFER_FROM_9089                    float64
WAGE_OFFER_UNIT_OF_PAY_9089              object
JOB_INFO_WORK_CITY                       object
JOB_INFO_WORK_STATE                      object
JOB_INFO_WORK_POSTAL_CODE                object
JOB_INFO_JOB_TITLE                       object
JOB_INFO_EDUCATION                       object
JOB_INFO_EDUCATION_OTHER                 object
FOREIGN_WORKER_INFO_CITY                 object
FOREIGN_WORKER_INFO_STATE                object
FW_INFO_POSTAL_CODE                      object
COUNTRY_OF_CITIZENSHIP                   object
FW_INFO_BIRTH_COUNTRY                    object
CLASS_OF_ADMISSION                       object
FOREIGN_WORKER_INFO_EDUCATION            object
FW_INFO_EDUCATION_OTHER                  object
DECISION_DATE_YEAR                        int64
DECISION_DATE_MONTH                       int64
CASE_RECEIVED_DATE_YEAR                 float64
CASE_RECEIVED_DATE_MONTH                float64
JOB_POSTAL_CODE                          object
dtype: object

In [63]:
data4["JOB_POSTAL_CODE"].nunique

<bound method IndexOpsMixin.nunique of 25        33309
28        77845
35        08512
67        96913
68        77070
69        60563
70        60188
73        60196
75        94555
96        60654
98        07666
130       33134
143       10282
162       08817
168       87313
170       01581
171       98004
179       94945
191       14626
198       10017
199       60654
200       60154
201       43240
202       60606
203       21046
204       60018
205       92121
228       11788
250       08902
251       32317
          ...
432741    14606
432742    14606
432743    78753
432746    48105
432748    08831
432754    30067
432756    19406
432760    20147
432761    20147
432762    93308
432765    10504
432768    21043
432776    33534
432777    94108
432778    78746
432782    95131
432789    48104
432790    33321
432791    27101
432792    27107
432793    43613
432795    94043
432797    60611
432798    07032
432799    32822
432801    94588
432802    77086
432806    97331
432810    97227
432813    78746
Name: JOB_POSTAL_CODE, Length: 161923, dtype: object>

In [64]:
data4['JOB_POSTAL_CODE'].astype(str)

25        33309
28        77845
35        08512
67        96913
68        77070
69        60563
70        60188
73        60196
75        94555
96        60654
98        07666
130       33134
143       10282
162       08817
168       87313
170       01581
171       98004
179       94945
191       14626
198       10017
199       60654
200       60154
201       43240
202       60606
203       21046
204       60018
205       92121
228       11788
250       08902
251       32317
          ...
432741    14606
432742    14606
432743    78753
432746    48105
432748    08831
432754    30067
432756    19406
432760    20147
432761    20147
432762    93308
432765    10504
432768    21043
432776    33534
432777    94108
432778    78746
432782    95131
432789    48104
432790    33321
432791    27101
432792    27107
432793    43613
432795    94043
432797    60611
432798    07032
432799    32822
432801    94588
432802    77086
432806    97331
432810    97227
432813    78746
Name: JOB_POSTAL_CODE, Length: 161923, dtype: object

In [65]:
data4.dtypes

Unnamed: 0                               object
Unnamed: 1                                int64
CASE_NUMBER                              object
DECISION_DATE                    datetime64[ns]
CASE_STATUS                              object
CASE_RECEIVED_DATE               datetime64[ns]
DECISION_ELAPSED_DAYS                     int64
DECISION_ELAPSED_YEARS                  float64
EMPLOYER_NAME                            object
EMPLOYER_CITY                            object
EMPLOYER_STATE                           object
EMPLOYER_POSTAL_CODE                     object
EMPLOYER_NUM_EMPLOYEES                  float64
AGENT_FIRM_NAME                          object
AGENT_CITY                               object
AGENT_STATE                              object
PW_SOC_CODE                              object
PW_SOC_TITLE                             object
PW_AMOUNT_9089                          float64
WAGE_OFFER_FROM_9089                    float64
WAGE_OFFER_UNIT_OF_PAY_9089              object
JOB_INFO_WORK_CITY                       object
JOB_INFO_WORK_STATE                      object
JOB_INFO_WORK_POSTAL_CODE                object
JOB_INFO_JOB_TITLE                       object
JOB_INFO_EDUCATION                       object
JOB_INFO_EDUCATION_OTHER                 object
FOREIGN_WORKER_INFO_CITY                 object
FOREIGN_WORKER_INFO_STATE                object
FW_INFO_POSTAL_CODE                      object
COUNTRY_OF_CITIZENSHIP                   object
FW_INFO_BIRTH_COUNTRY                    object
CLASS_OF_ADMISSION                       object
FOREIGN_WORKER_INFO_EDUCATION            object
FW_INFO_EDUCATION_OTHER                  object
DECISION_DATE_YEAR                        int64
DECISION_DATE_MONTH                       int64
CASE_RECEIVED_DATE_YEAR                 float64
CASE_RECEIVED_DATE_MONTH                float64
JOB_POSTAL_CODE                          object
dtype: object

In [66]:
data5 = data4[['CASE_RECEIVED_DATE_YEAR', 
               'CASE_RECEIVED_DATE_MONTH', 
               'DECISION_DATE_YEAR', 
               'DECISION_DATE_MONTH', 
               'DECISION_ELAPSED_DAYS', 
               'JOB_POSTAL_CODE', 
               'WAGE_OFFER_FROM_9089', 
               'EMPLOYER_NUM_EMPLOYEES', 
               'FOREIGN_WORKER_INFO_EDUCATION', 
               'COUNTRY_OF_CITIZENSHIP', 
               'CASE_STATUS']]

In [67]:
data5.head()

,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH,DECISION_DATE_YEAR,DECISION_DATE_MONTH,DECISION_ELAPSED_DAYS,JOB_POSTAL_CODE,WAGE_OFFER_FROM_9089,EMPLOYER_NUM_EMPLOYEES,FOREIGN_WORKER_INFO_EDUCATION,COUNTRY_OF_CITIZENSHIP,CASE_STATUS
25,2014.0,12.0,2015,6,185,33309,82000.0,5400.0,Master's,CHINA,Certified
28,2014.0,7.0,2015,4,262,77845,72467.0,29000.0,Bachelor's,INDIA,Certified
35,2014.0,12.0,2015,6,195,08512,77500.0,8.0,Bachelor's,INDIA,Certified
67,2014.0,2.0,2015,6,501,96913,68869.0,35.0,Associate's,PHILIPPINES,Certified
68,2013.0,11.0,2015,5,537,77070,118414.0,331000.0,Master's,CHINA,Certified

In [68]:
data5.to_excel('ml_data.xlsx', index = False)

In [69]:
ml_data = pd.read_excel('ml_data.xlsx')

In [70]:
ml_data.head()

,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH,DECISION_DATE_YEAR,DECISION_DATE_MONTH,DECISION_ELAPSED_DAYS,JOB_POSTAL_CODE,WAGE_OFFER_FROM_9089,EMPLOYER_NUM_EMPLOYEES,FOREIGN_WORKER_INFO_EDUCATION,COUNTRY_OF_CITIZENSHIP,CASE_STATUS
0,2017,12,2018,4,140,99901.0,61547.0,40.0,Bachelor's,INDIA,Certified
1,2014,11,2015,5,172,99801.0,58800.0,1110.0,Bachelor's,PALESTINE,Certified
2,2015,8,2016,4,262,99801.0,74692.0,546.0,Bachelor's,PHILIPPINES,Certified
3,2016,7,2016,9,76,99801.0,76981.0,550.0,Bachelor's,PHILIPPINES,Certified
4,2015,1,2015,8,217,99776.0,105333.0,7439.0,Doctorate,INDIA,Certified

In [71]:
ml_data.dtypes

CASE_RECEIVED_DATE_YEAR            int64
CASE_RECEIVED_DATE_MONTH           int64
DECISION_DATE_YEAR                 int64
DECISION_DATE_MONTH                int64
DECISION_ELAPSED_DAYS              int64
JOB_POSTAL_CODE                  float64
WAGE_OFFER_FROM_9089             float64
EMPLOYER_NUM_EMPLOYEES           float64
FOREIGN_WORKER_INFO_EDUCATION     object
COUNTRY_OF_CITIZENSHIP            object
CASE_STATUS                       object
dtype: object

In [72]:
ml_data.count()

CASE_RECEIVED_DATE_YEAR          161910
CASE_RECEIVED_DATE_MONTH         161910
DECISION_DATE_YEAR               161910
DECISION_DATE_MONTH              161910
DECISION_ELAPSED_DAYS            161910
JOB_POSTAL_CODE                  161906
WAGE_OFFER_FROM_9089             161907
EMPLOYER_NUM_EMPLOYEES           161899
FOREIGN_WORKER_INFO_EDUCATION    161825
COUNTRY_OF_CITIZENSHIP           161908
CASE_STATUS                      161910
dtype: int64

In [74]:
ml_data.to_csv('ml_data.csv', index = False)