In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Resources/FY_CombinedData_Clean.csv')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,FY15,0,A-14220-96665,2015-02-03,Certified-Expired,2014-09-10,UNION PACIFIC RAILROAD,OMAHA,NEBRASKA,68179,...,68154,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,2,2014.0,9.0
1,FY15,1,A-14220-96720,2015-01-12,Certified-Expired,2014-08-08,VST CONSULTING INC,ISELIN,NEW JERSEY,08830,...,19702,INDIA,INDIA,H-1B,Master's,NaN,2015,1,2014.0,8.0
2,FY15,2,A-14203-91167,2014-12-18,Certified-Expired,2014-07-28,GOOGLE INC.,MOUNTAIN VIEW,CALIFORNIA,94043,...,94306,SOUTH KOREA,SOUTH KOREA,L-1,Master's,NaN,2014,12,2014.0,7.0
3,FY15,3,A-14206-92509,2015-03-10,Certified-Expired,2014-10-19,INTEL CORPORATION,SANTA CLARA,CALIFORNIA,95052,...,95670,BANGLADESH,BANGLADESH,H-1B,Master's,NaN,2015,3,2014.0,10.0
4,FY15,4,A-14202-90786,2015-01-07,Certified-Expired,2014-08-25,NET ESOLUTIONS CORPORATION,MCLEAN,VIRGINIA,22102,...,2002-02-21 00:00:00,INDIA,INDIA,H-1B,Master's,NaN,2015,1,2014.0,8.0

In [6]:
data['EMPLOYER_ZIP_CODE'] = data['EMPLOYER_POSTAL_CODE'].str[:5]

In [8]:
data['COUNTRY_OF_CITIZENSHIP'] = data['COUNTRY_OF_CITIZENSHIP'].str.upper()
data['FW_INFO_BIRTH_COUNTRY'] = data['FW_INFO_BIRTH_COUNTRY'].str.upper()
data['EMPLOYER_NAME'] = data['EMPLOYER_NAME'].str.upper()
data['EMPLOYER_CITY'] = data['EMPLOYER_CITY'].str.upper()

In [9]:
data.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,...,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH,EMPLOYER_ZIP_CODE
0,FY15,0,A-14220-96665,2015-02-03,Certified-Expired,2014-09-10,UNION PACIFIC RAILROAD,OMAHA,NEBRASKA,68179,...,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,2,2014.0,9.0,68179
1,FY15,1,A-14220-96720,2015-01-12,Certified-Expired,2014-08-08,VST CONSULTING INC,ISELIN,NEW JERSEY,08830,...,INDIA,INDIA,H-1B,Master's,NaN,2015,1,2014.0,8.0,08830
2,FY15,2,A-14203-91167,2014-12-18,Certified-Expired,2014-07-28,GOOGLE INC.,MOUNTAIN VIEW,CALIFORNIA,94043,...,SOUTH KOREA,SOUTH KOREA,L-1,Master's,NaN,2014,12,2014.0,7.0,94043
3,FY15,3,A-14206-92509,2015-03-10,Certified-Expired,2014-10-19,INTEL CORPORATION,SANTA CLARA,CALIFORNIA,95052,...,BANGLADESH,BANGLADESH,H-1B,Master's,NaN,2015,3,2014.0,10.0,95052
4,FY15,4,A-14202-90786,2015-01-07,Certified-Expired,2014-08-25,NET ESOLUTIONS CORPORATION,MCLEAN,VIRGINIA,22102,...,INDIA,INDIA,H-1B,Master's,NaN,2015,1,2014.0,8.0,22102

In [12]:
data.count()

Unnamed: 0                       432819
Unnamed: 1                       432819
CASE_NUMBER                      432819
DECISION_DATE                    432819
CASE_STATUS                      432819
CASE_RECEIVED_DATE               432817
EMPLOYER_NAME                    432811
EMPLOYER_CITY                    432808
EMPLOYER_STATE                   432779
EMPLOYER_POSTAL_CODE             432797
EMPLOYER_NUM_EMPLOYEES           432672
AGENT_FIRM_NAME                  380819
AGENT_CITY                       389337
AGENT_STATE                      381074
PW_SOC_CODE                      432305
PW_SOC_TITLE                     432305
PW_AMOUNT_9089                   432609
WAGE_OFFER_FROM_9089             432691
WAGE_OFFER_UNIT_OF_PAY_9089      431535
JOB_INFO_WORK_CITY               432728
JOB_INFO_WORK_STATE              432726
JOB_INFO_WORK_POSTAL_CODE        432690
JOB_INFO_JOB_TITLE               432716
JOB_INFO_EDUCATION               432793
JOB_INFO_EDUCATION_OTHER          13361
FOREIGN_WORKER_INFO_CITY         432452
FOREIGN_WORKER_INFO_STATE        399432
FW_INFO_POSTAL_CODE              426839
COUNTRY_OF_CITIZENSHIP           432756
FW_INFO_BIRTH_COUNTRY            432470
CLASS_OF_ADMISSION               402768
FOREIGN_WORKER_INFO_EDUCATION    432454
FW_INFO_EDUCATION_OTHER           17747
DECISION_DATE_YEAR               432819
DECISION_DATE_MONTH              432819
CASE_RECEIVED_DATE_YEAR          432817
CASE_RECEIVED_DATE_MONTH         432817
EMPLOYER_ZIP_CODE                432797
dtype: int64

In [13]:
data2 = data[['CASE_STATUS',
              'DECISION_DATE',
              'CASE_RECEIVED_DATE',
              'EMPLOYER_NAME',
              'EMPLOYER_CITY',
              'EMPLOYER_STATE',
              'EMPLOYER_ZIP_CODE',
              'EMPLOYER_NUM_EMPLOYEES',
              'PW_AMOUNT_9089',
              'WAGE_OFFER_FROM_9089',
              'WAGE_OFFER_UNIT_OF_PAY_9089',
              'JOB_INFO_WORK_CITY',
              'JOB_INFO_WORK_STATE',
              'JOB_INFO_JOB_TITLE',
              'JOB_INFO_EDUCATION',
              'FOREIGN_WORKER_INFO_CITY',
              'FOREIGN_WORKER_INFO_STATE',
              'DECISION_DATE_YEAR',
              'DECISION_DATE_MONTH',
              'CASE_RECEIVED_DATE_YEAR',
              'CASE_RECEIVED_DATE_MONTH'
              ]]

In [14]:
data2.head()

,CASE_STATUS,DECISION_DATE,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_ZIP_CODE,EMPLOYER_NUM_EMPLOYEES,PW_AMOUNT_9089,WAGE_OFFER_FROM_9089,...,JOB_INFO_WORK_CITY,JOB_INFO_WORK_STATE,JOB_INFO_JOB_TITLE,JOB_INFO_EDUCATION,FOREIGN_WORKER_INFO_CITY,FOREIGN_WORKER_INFO_STATE,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,Certified-Expired,2015-02-03,2014-09-10,UNION PACIFIC RAILROAD,OMAHA,NEBRASKA,68179,45000.0,76482.0,93000.0,...,Omaha,NEBRASKA,Associate Systems Engineer,Master's,OMAHA,NEBRASKA,2015,2,2014.0,9.0
1,Certified-Expired,2015-01-12,2014-08-08,VST CONSULTING INC,ISELIN,NEW JERSEY,08830,80.0,90459.0,90459.0,...,Iselin,NEW JERSEY,Business Analyst,Master's,NEWARK,DELAWARE,2015,1,2014.0,8.0
2,Certified-Expired,2014-12-18,2014-07-28,GOOGLE INC.,MOUNTAIN VIEW,CALIFORNIA,94043,53861.0,98675.0,140000.0,...,Mountain View,CALIFORNIA,Software Engineer,Master's,PALO ALTO,CALIFORNIA,2014,12,2014.0,7.0
3,Certified-Expired,2015-03-10,2014-10-19,INTEL CORPORATION,SANTA CLARA,CALIFORNIA,95052,46544.0,80617.0,80617.0,...,Folsom,CALIFORNIA,Graphics Hardware Engineer,Master's,RANCHO CORDOVA,CALIFORNIA,2015,3,2014.0,10.0
4,Certified-Expired,2015-01-07,2014-08-25,NET ESOLUTIONS CORPORATION,MCLEAN,VIRGINIA,22102,82.0,87422.0,94016.0,...,McLean,VIRGINIA,Computer Programmer,Bachelor's,MCLEAN,VIRGINIA,2015,1,2014.0,8.0

In [15]:
data2.to_excel('PERM_FULL.xlsx', index = False)

In [16]:
data3 = pd.read_excel('PERM_FULL.xlsx')

In [17]:
data3.head()

,CASE_STATUS,DECISION_DATE,CASE_RECEIVED_DATE,DAYS_TIL_DECISION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_ZIP_CODE,EMPLOYER_NUM_EMPLOYEES,PW_AMOUNT_9089,WAGE_OFFER_FROM_9089,WAGE_OFFER_UNIT_OF_PAY_9089,JOB_INFO_WORK_CITY,JOB_INFO_JOB_TITLE,JOB_INFO_EDUCATION,FOREIGN_WORKER_INFO_CITY,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,Certified-Expired,2017-03-01,2016-07-05,239,WRANGELL MEDICAL CENTER,WRANGELL,ALASKA,99929,72.0,72862.0,72862.0,Year,Wrangell,Medical Laboratory Technologist,Bachelor's,WRANGELL,2017,3,2016.0,7.0
1,Certified-Expired,2014-11-25,2014-06-12,166,WRANGELL MEDICAL CENTER,WRANGELL,ALASKA,99929,60.0,76690.0,40.9,NaN,WRANGELL,"MEDICAL TECHNOLOGIST, SHIFT LABORATORY MANAGER",Bachelor's,WRANGELL,2014,11,2014.0,6.0
2,Certified,2018-04-24,2017-12-05,140,SAI INVESTMENTS LLC,KETCHIKAN,ALASKA,99901,40.0,61547.0,61547.0,Year,KETCHIKAN,MANAGEMENT ANALYST,Other,KETCHIKAN,2018,4,2017.0,12.0
3,Certified-Expired,2015-01-15,2014-08-19,149,ROYAL MAJESTY INC,KETCHIKAN,ALASKA,99901,9.0,87506.0,87506.0,Year,Ketchikan,Director of Marketing,Bachelor's,JUNEAU,2015,1,2014.0,8.0
4,Certified-Expired,2016-01-20,2015-07-27,177,MICHALSEN PARTNERSHIP.LLC,KETCHIKAN,ALASKA,99901,14.0,83408.0,83408.0,Year,Ketchikan,Jewelry Department Supervisor,None,MAZATLAN,2016,1,2015.0,7.0

In [18]:
data3.count()

CASE_STATUS                    432773
DECISION_DATE                  432773
CASE_RECEIVED_DATE             432771
DAYS_TIL_DECISION              432773
EMPLOYER_NAME                  432773
EMPLOYER_CITY                  432773
EMPLOYER_STATE                 432749
EMPLOYER_ZIP_CODE              432773
EMPLOYER_NUM_EMPLOYEES         432635
PW_AMOUNT_9089                 432570
WAGE_OFFER_FROM_9089           432650
WAGE_OFFER_UNIT_OF_PAY_9089    431494
JOB_INFO_WORK_CITY             432690
JOB_INFO_JOB_TITLE             432675
JOB_INFO_EDUCATION             432749
FOREIGN_WORKER_INFO_CITY       432409
DECISION_DATE_YEAR             432773
DECISION_DATE_MONTH            432773
CASE_RECEIVED_DATE_YEAR        432771
CASE_RECEIVED_DATE_MONTH       432771
dtype: int64

In [19]:
data4 = data3.dropna(how='any')

In [20]:
data4.count()

CASE_STATUS                    430835
DECISION_DATE                  430835
CASE_RECEIVED_DATE             430835
DAYS_TIL_DECISION              430835
EMPLOYER_NAME                  430835
EMPLOYER_CITY                  430835
EMPLOYER_STATE                 430835
EMPLOYER_ZIP_CODE              430835
EMPLOYER_NUM_EMPLOYEES         430835
PW_AMOUNT_9089                 430835
WAGE_OFFER_FROM_9089           430835
WAGE_OFFER_UNIT_OF_PAY_9089    430835
JOB_INFO_WORK_CITY             430835
JOB_INFO_JOB_TITLE             430835
JOB_INFO_EDUCATION             430835
FOREIGN_WORKER_INFO_CITY       430835
DECISION_DATE_YEAR             430835
DECISION_DATE_MONTH            430835
CASE_RECEIVED_DATE_YEAR        430835
CASE_RECEIVED_DATE_MONTH       430835
dtype: int64

In [22]:
data4['JOB_INFO_WORK_CITY'] = data4['JOB_INFO_WORK_CITY'].str.upper()
data4['JOB_INFO_JOB_TITLE'] = data4['JOB_INFO_JOB_TITLE'].str.upper()
data4['CASE_STATUS'] = data4['CASE_STATUS'].str.upper()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
data4.head()

,CASE_STATUS,DECISION_DATE,CASE_RECEIVED_DATE,DAYS_TIL_DECISION,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_ZIP_CODE,EMPLOYER_NUM_EMPLOYEES,PW_AMOUNT_9089,WAGE_OFFER_FROM_9089,WAGE_OFFER_UNIT_OF_PAY_9089,JOB_INFO_WORK_CITY,JOB_INFO_JOB_TITLE,JOB_INFO_EDUCATION,FOREIGN_WORKER_INFO_CITY,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,CERTIFIED-EXPIRED,2017-03-01,2016-07-05,239,WRANGELL MEDICAL CENTER,WRANGELL,ALASKA,99929,72.0,72862.0,72862.0,Year,WRANGELL,MEDICAL LABORATORY TECHNOLOGIST,Bachelor's,WRANGELL,2017,3,2016.0,7.0
2,CERTIFIED,2018-04-24,2017-12-05,140,SAI INVESTMENTS LLC,KETCHIKAN,ALASKA,99901,40.0,61547.0,61547.0,Year,KETCHIKAN,MANAGEMENT ANALYST,Other,KETCHIKAN,2018,4,2017.0,12.0
3,CERTIFIED-EXPIRED,2015-01-15,2014-08-19,149,ROYAL MAJESTY INC,KETCHIKAN,ALASKA,99901,9.0,87506.0,87506.0,Year,KETCHIKAN,DIRECTOR OF MARKETING,Bachelor's,JUNEAU,2015,1,2014.0,8.0
4,CERTIFIED-EXPIRED,2016-01-20,2015-07-27,177,MICHALSEN PARTNERSHIP.LLC,KETCHIKAN,ALASKA,99901,14.0,83408.0,83408.0,Year,KETCHIKAN,JEWELRY DEPARTMENT SUPERVISOR,None,MAZATLAN,2016,1,2015.0,7.0
5,CERTIFIED,2016-06-02,2015-12-12,173,SKAGWAY JEWELRY CO LLC,SKAGWAY,ALASKA,99840,20.0,26686.0,48000.0,Year,ST. THOMAS,OPERATIONS MANAGER,Bachelor's,ST. THOMAS,2016,6,2015.0,12.0

In [24]:
data4.count()

CASE_STATUS                    430835
DECISION_DATE                  430835
CASE_RECEIVED_DATE             430835
DAYS_TIL_DECISION              430835
EMPLOYER_NAME                  430835
EMPLOYER_CITY                  430835
EMPLOYER_STATE                 430835
EMPLOYER_ZIP_CODE              430835
EMPLOYER_NUM_EMPLOYEES         430835
PW_AMOUNT_9089                 430835
WAGE_OFFER_FROM_9089           430835
WAGE_OFFER_UNIT_OF_PAY_9089    430835
JOB_INFO_WORK_CITY             430835
JOB_INFO_JOB_TITLE             430835
JOB_INFO_EDUCATION             430835
FOREIGN_WORKER_INFO_CITY       430835
DECISION_DATE_YEAR             430835
DECISION_DATE_MONTH            430835
CASE_RECEIVED_DATE_YEAR        430835
CASE_RECEIVED_DATE_MONTH       430835
dtype: int64

In [25]:
data4.dtypes

CASE_STATUS                     object
DECISION_DATE                   object
CASE_RECEIVED_DATE              object
DAYS_TIL_DECISION                int64
EMPLOYER_NAME                   object
EMPLOYER_CITY                   object
EMPLOYER_STATE                  object
EMPLOYER_ZIP_CODE                int64
EMPLOYER_NUM_EMPLOYEES         float64
PW_AMOUNT_9089                 float64
WAGE_OFFER_FROM_9089           float64
WAGE_OFFER_UNIT_OF_PAY_9089     object
JOB_INFO_WORK_CITY              object
JOB_INFO_JOB_TITLE              object
JOB_INFO_EDUCATION              object
FOREIGN_WORKER_INFO_CITY        object
DECISION_DATE_YEAR               int64
DECISION_DATE_MONTH              int64
CASE_RECEIVED_DATE_YEAR        float64
CASE_RECEIVED_DATE_MONTH       float64
dtype: object

In [26]:
data4.to_csv('../Resources/PERM_Data_Full_Clean.csv', index = False)